{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'create mobile banner' %}
            <small>{% trans 'create' %}</small>
        </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Forms</a></li>#}
            <li class="active">{% trans 'create mobile banner' %}</li>
          </ol>
    </section>

    <section class="content">
        <div class="row">
        {% if forms.errors %}
            <div class="col-sm-12">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                    {% for k, v in forms.errors.items %}
                        <strong>{{ k }}</strong>
                        {{ v.as_text  }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans 'create mobile banner' %}</h3>
                    </div>
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box-body">
                            {% for field in forms %}
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    <div class="col-sm-5">
                                        {{ field }}
                                    </div>
                                 </div>
                            {% endfor %}
                        </div>

                        <div class="box-footer">
                             <button type="submit" class="btn btn-primary btn-lg">{% trans 'create' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{#    {% if forms.errors %}#}
{#        <div class="row">#}
{#            <div class="alert alert-danger alert-dismissable" role="alert">#}
{#                <button type="button" class="close" data-dismiss="alert">#}
{#                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>#}
{#                </button>#}
{#                {% for k, v in forms.errors.items %}#}
{#                    <strong>{{ k }}</strong>#}
{#                    {{ v.as_text  }}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{##}
{#    <div class="row">#}
{#        <form class="well form-horizontal" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <fieldset>#}
{#                {% for field in forms %}#}
{#                    <div class="form-group">#}
{#                        <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>#}
{#                        <div class="col-sm-5">#}
{#                            {{ field }}#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </fieldset>#}
{##}
{#            <div class="form-group">#}
{#                <div class="col-sm-offset-2 col-sm-10">#}
{#                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'create' %}</button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{% endblock %}