{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'edit mobile banner' %}
            <small>{% trans 'edit' %}</small>
        </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Forms</a></li>#}
            <li class="active">{% trans 'edit mobile banner' %}</li>
          </ol>
    </section>

    <section class="content">
        <div class="row">
{#            {% for show_banner in show_banners %}#}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <img class="img-responsive img-thumbnail" alt="200x200" src="{{ banner.image_url }}">
                    </div>
                </div>
{#            {% endfor %}#}
        </div>


        <div class="row">
        {% if banner.has_show_banner %}
            <div class="col-sm-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info-circle"></i>{% trans 'note' %}!!!</h4>
                    此 Banner 在顶部显示
                </div>
            </div>
        {% endif %}
            <div class="col-sm-12">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans 'edit mobile banner' %}</h3>
                    </div>
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="box-body">
                            {% for field in forms %}
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    <div class="col-sm-5">
                                        {{ field }}
                                    </div>
                                 </div>
                            {% endfor %}
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{#    <h1 class="page-header"></h1>#}
{#    <div class="row placeholders">#}
{#        <div class="col-xs-6 col-sm-3 placeholders">#}
{#            <img class="img-responsive img-thumbnail" alt="200x200" data-src="holder.js/200x200/auto/sky"  src="{{ banner.image_url }}">#}
{#        </div>#}
{#    </div>#}
{##}
{#    {% if banner.has_show_banner %}#}
{#        <div class="alert alert-info alert-dismissable" role="alert">#}
{#                <button type="button" class="close" data-dismiss="alert">#}
{#                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>#}
{#                </button>#}
{#                <strong>{% trans 'note' %}!!!</strong>#}
{#                此 Banner 在顶部显示#}
{#        </div>#}
{#    {% endif %}#}
{##}
{#    {{ forms.errors }}#}
{#    <div class="row">#}
{#        <form class="well form-horizontal" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <fieldset>#}
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">content-type:</label>#}
{#                    <div class="col-sm-10">#}
{#                        <p class="form-control-static">{{ banner.content_type }}</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">key:</label>#}
{#                    <div class="col-sm-10">#}
{#                        <p class="form-control-static">{{ banner.key }}</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                {% for field in forms %}#}
{#                    <div class="form-group">#}
{#                        <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>#}
{#                        <div class="col-sm-5">#}
{#                            {{ field }}#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </fieldset>#}
{#            <div class="form-group">#}
{#                <div class="col-sm-offset-2 col-sm-10">#}
{#                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{% endblock %}