{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{% trans 'banner' %}</h1>

    {% include 'management/banner/show_banners.html' with show_banners=show_banners %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'image' %}</th>
                    <th>{% trans 'url' %}</th>
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for banner in banners %}
                    <tr>
                        <td>{{ banner.pk }}</td>
                        <td><img class="img-polaroid" style="max-height:150px;max-width:150px;" src="{{ banner.image_url }}"></td>
                        <td>{{ banner.url }}</td>
                        <td><a class="btn btn-default" href="#">{% trans 'edit' %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "management/paginator.html" with objects=banners url=request.path %}
{% endblock %}