{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{% trans 'banner' %}</h1>
    <div class="row placeholders">
        {% for show_banner in show_banners %}
        <div class="col-xs-6 col-sm-3 placeholders">
            <img class="img-responsive" alt="200x200" data-src="holder.js/200x200/auto/sky"  src="{{ show_banner.banner.image_url }}">
        </div>
        {% endfor %}
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'image' %}</th>
                    <th>{% trans 'url' %}</th>
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for banner in banners %}
                    <tr>
                        <td>{{ banner.pk }}</td>
                        <td><img class="img-polaroid" style="max-height:150px;max-width:150px;" src="{{ banner.image_url }}"></td>
                        <td>{{ banner.url }}</td>
                        <td><a class="btn btn-default" href="#">{% trans 'edit' %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}