{% extends 'web/base.html' %}

{% load i18n staticfiles %}

{% block meta-og %}
    <meta property="og:title" content="好生活 一篓一篓 2016果库生活节" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库将集合超过 20 个活跃在线上和线下的品牌，贩售最人气、最优质的生活良品和 lifestyle，11 月的最后一个周末我们准备好了和你一起买、看、玩、乐，玩转理想生活。2016 年 11 月 26 日至 27 日，北京朝阳大悦城。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="好生活 一篓一篓 2016果库生活节">
    <meta name="keywords" content="果库， 朝阳大悦城， 好生活， 果库market, 国棉壹厂,痣 ,Birthmark,物介 ,Goods&Media,Daily PROJECT,言YAN,幸会创品,丰町便利屋 foruler, NTMY,DAVIE SPACE,屁 picture,倔匠,Yinside ,小奥汀 Little Ondine,Suminky,ME TOO WORKSHOP,果壳网万有市集,Damage Goods,如茉,橙舍,MUMO  木墨 ,一篓一篓,拾光·旧颜">
    <meta name="description" content="果库将集合超过 20 个活跃在线上和线下的品牌，贩售最人气、最优质的生活良品和 lifestyle，11 月的最后一个周末我们准备好了和你一起买、看、玩、乐，玩转理想生活。2016 年 11 月 26 日至 27 日，北京朝阳大悦城。">
{% endblock %}

{% block title %}好生活 一篓一篓 2016果库生活节{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/market2016.css' %}">
{% endblock %}

{% block body_class %} market-body {% endblock %}

{% block weixin_share_img %}
    <div id='wx_logo' style='margin:0 auto;display:none;'>
        {#    分享入口页面时展示的图片,图片的大小300*300以上的#}
        <img src="{% static 'images/fugu2016/we_chat_share.jpg' %}"/>
    </div>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container">
        <img id="bag_01" class="animation_bg empty-opacity" src="{% static 'images/market2016/bag_01.jpg' %}">
        <img id="bag_02" class="animation_bg empty-opacity" src="{% static 'images/market2016/bag_02.jpg' %}">
        <img id="bag_03" class="animation_bg empty-opacity" src="{% static 'images/market2016/bag_03.jpg' %}">
        <img id="bag_04" class="animation_bg empty-opacity" src="{% static 'images/market2016/bag_04.jpg' %}">
        <img id="bag_05" class="animation_bg empty-opacity" src="{% static 'images/market2016/bag_05.jpg' %}">
        <img id="bag_06" class="animation_bg empty-opacity" src="{% static 'images/market2016/bag_06.jpg' %}">
        <img id="bag_07" class="animation_bg empty-opacity" src="{% static 'images/market2016/bag_07.jpg' %}">
        <img id="bag_08" class="animation_bg empty-opacity" src="{% static 'images/market2016/bag_08.jpg' %}">
        <img id="theme_poster" class="animation_bg empty-opacity" src="{% static 'images/market2016/theme_poster.jpg' %}">

        <div class="title-rect empty-opacity" id="gk_introduce">活动介绍<i class="click-signal"></i></div>
        <div class="title-rect empty-opacity" id="gk_brands">好商品<i class="click-signal"></i></div>
        <div class="title-rect empty-opacity" id="gk_play">好玩的<i class="click-signal"></i></div>
        <div class="title-rect empty-opacity" id="gk_place">地点<i class="click-signal"></i></div>
        <div class="title-rect empty-opacity" id="gk_share">呼朋唤友<i class="click-signal"></i></div>

    </div>
    <script type="text/html" id="introduce_modal_content">
        <div class="content-modal-wrapper">
            <p>
                2016 年 11 月 26 日至 27 日，果库 Market 将联手北京朝阳大悦城「悦客会」会员体验中心，将好生活装进双层集装箱空间中，
                满载各种惊喜等待你的光临。
            </p>
            <p>
                在这两天的时间里，果库将集合超过 20 个活跃在线上和线下的品牌，贩售最人气、最优质的生活良品和 lifestyle，11 月的最后一
                个周末我们准备好了和你一起买、看、玩、乐，玩转理想生活。
            </p>
            <p>
                「一篓一篓」来自日语「いろいろ」的谐音，意为「各色各样」、「各种各样」、「什么都有」、「包罗万象」……编不下去了。
                总之，这个包含一切的词汇就是「果库 Market」的态度。最关键在于，我们想让你把好东西篓起来全部带回家！
            </p>
        </div>
    </script>
    <script type="text/html" id="brands_modal_content">
        <div class="content-modal-wrapper">
            <ul>
                <li>
                    <h4>国棉壹厂</h4>
                    <p>
                        作为果库君的好朋友，国棉壹厂这次依然会亮相「好生活·一篓一篓」。创始于 2011 年的他们非常重视面料的选
                        择和洗水后的手感，并且疯狂地追求极致的细节和缝纫技术，几年里迅速成为具备超高人气的本土复古服装品牌。
                    </p>
                    <img src="{% static 'images/market2016/brands/gmyc.jpg' %}">
                </li>
                 <li>
                     <h4> 痣 Birthmark</h4>
                     <p>
                        任何一种材料都拥有自己的痣，这同时也是材料本身的秉性和特质。器型的使用样式，承载着生活方式的
                         延续。 景德镇出产的「痣 Birthmark」瓷器不张扬，强调使用本身，不秀工艺。当新鲜感过后，你还能继续去使用而不是
                         将它束之高阁。在本次果库 Market 上，「痣 Birthmark」还将首次售卖产品开发过程中的部分试验品，机会难得。
                     </p>
                      <img src="{% static 'images/market2016/brands/zhi.jpeg' %}">
                </li>
                <li>
                    <h4> 物介 Goods&Media</h4>
                    <p>
                       一个全新生活方式品牌，为你精心挑选来自世界各地的文具和设计物件。物介的网上 select shop
                        由资深买手负责选货，更有许多独家引进商品。在杨梅竹斜街，你可以找到他们的实体店铺 Book Design Shop。
                    </p>
                     <img src="{% static 'images/market2016/brands/wujie.jpg' %}">
                </li>
                <li>
                    <h4> Daily PROJECT</h4>
                    <p>
                       一个关注日常生活的项目，贩售永续设计的好货和不过时的生活。
                    </p>
                    <img src="{% static 'images/market2016/brands/daily_project.jpg' %}">
                </li>
                <li>
                    <h4>言YAN</h4>
                    <p>
                        一个以艺术、设计为主导，同时倡导多元生活方式的阅读空间。以「Books Coffee & More Ideas for Life」
                        为思路展现图书、精品咖啡和生活器物。
                    </p>
                     <img src="{% static 'images/market2016/brands/yan.jpg' %}">
                </li>
                <li>
                    <h4>幸会创品</h4>
                    <p>
                        位于北京 798 艺术区的幸会创品是以韩国设计为主的创意产品集合店，展售二十多个品牌的近千种各类原创产品
                        和各国艺术家的小件纸本绘画作品及小件雕塑作品。
                    </p>
                     <img src="{% static 'images/market2016/brands/xhcp.jpeg' %}">
                </li>
                <li>
                    <h4>丰町便利屋 foruler</h4>
                    <p>
                        丰町便利屋 foruler 只有 7 个人，是一家小小的杂货店，但他们象事知器，感恩万物。他们创作日常好用的器皿，从世界各地搜寻理想生活的经典好物，现在他们来到果库 Market，邀请你在现场亲手触摸 Zakka 的温度。
                    </p>
                     <img src="{% static 'images/market2016/brands/foruler.jpeg' %}">
                </li>
                <li>
                    <h4> NTMY</h4>
                    <p>
                       成立于 2010 年的 NTMY 凭借传统工艺与新技术的结合，创作不易过时的产品，设计与贩售包袋、服装、生活杂货等等一切秉持「 功能与实用」原则的高品质商品。
                    </p>
                     <img src="{% static 'images/market2016/brands/ntmy.jpg' %}">
                </li>
                <li>
                    <h4> DAVIE SPACE</h4>
                    <p>
                       DAVIE SPACE 工作室，以独立设计轻嬉都市风格服装为主，面料全部来自印度及日本纯植物手工雕版的印染工坊。这个被称为「濒危的纺织品」的工艺已有数千年历史。
                    </p>
                     <img src="{% static 'images/market2016/brands/davie_space.jpeg' %}">
                </li>
                <li>
                    <h4>picture</h4>
                    <p>
                        picture 是一个推广青年艺术家和新鲜艺术作品的平台。他们也会和众多艺术家一起合作有趣的产品和艺术衍生品。
                    </p>
                     <img src="{% static 'images/market2016/brands/picture.jpeg' %}">
                </li>
                <li>
                    <h4> 倔匠眼镜</h4>
                    <p>
                        位于北京鼓楼地区的眼镜买手店，奉行经典和高质的原则，由从业眼镜行业多年的店主亲手带来更适合国人的镜架产品。
                    </p>
                     <img src="{% static 'images/market2016/brands/jjyj.jpeg' %}">
                </li>
                <li>
                    <h4>Yinside</h4>
                    <p>
                        小隐于林，中隐于野，大隐于市。Yinside 挑选质量优异、历史底蕴深厚的日用品，提供大到无穷范围、小到无比细节的生活杂货。
                    </p>
                     <img src="{% static 'images/market2016/brands/yinside.jpeg' %}">
                </li>
                <li>
                    <h4>小奥汀 Little Ondine</h4>
                    <p>
                        国内最具活力的水性指彩品牌， 小奥汀的产品不添加任何额外的化学成分，以可以撕的指甲油为一大特色，曾被纽约时报报导「小奥汀有望成为明日之星。」在果库 Market 现场，你可以免费体验到来自小奥汀的指尖灵感。
                    </p>
                     <img src="{% static 'images/market2016/brands/little_pndine.jpeg' %}">
                </li>
                <li>
                    <h4>Suminky</h4>
                    <p>
                        活跃于线上的独立设计师服装品牌，中文名「墨匣」。品牌以黑白两色为基调，用更加崇尚传统东方服饰的剪裁，辅以肌理各异的面料，试图打破一些固有审美中对黑色的「误解」，将黑色的温柔和白色的硬朗重新呈现。
                    </p>
                     <img src="{% static 'images/market2016/brands/suminky.jpg' %}">
                </li>
                <li>
                    <h4>ME TOO WORKSHOP</h4>
                    <p>
                        成立于 2014 年，一直致力于深度发掘材料本身所带来的潜能和惊喜。目前他们以陶泥为主要设计材料，采用手工切割打磨的方法，赋予每件饰品独特的纹理特质。
                    </p>
                     <img src="{% static 'images/market2016/brands/me_too_workshop.jpeg' %}">
                </li>
                <li>
                    <h4>果壳网万有市集</h4>
                    <p>
                        万有市集是果壳官方主题商店，不同于普通意义上的「周边」，果壳出品的自然主题产品在「科学传播」与「实体产品」的结合上进行了全新的探索和尝试。快来 Market 体验来自果壳的 「好玩的科学」 吧。
                    </p>
                     <img src="{% static 'images/market2016/brands/guoke.jpg' %}">
                </li>
                <li>
                    <h4> Damage Goods</h4>
                    <p>
                        原创独立文化创意品牌，基于亚文化土壤创作别具一格的纸品，短时间内收获了不少拥趸。本次 Market 现场全面上架此前卖到脱销、刚刚到货的手工装订记事本。
                    </p>
                     <img src="{% static 'images/market2016/brands/damage_goods.jpg' %}">
                </li>
                <li>
                    <h4>MUMO  木墨</h4>
                    <p>
                        崇尚「简单、自然、环保」的设计师家居品牌，一直坚持小批量制作和独立生产， 每件产品的制作都被严格对待。
                    </p>
                     <img src="{% static 'images/market2016/brands/mumo.jpeg' %}">
                </li>
                <li>
                    <h4> 如茉</h4>
                    <p>
                        如茉家居是一个不断改善大家睡眠体验的独立家居设计品牌，具有十多年床品设计与研发经验的 eemmi 和其团队，会用更多元和人性的角度去设计与思考家居空间的可能性。
                    </p>
                     <img src="{% static 'images/market2016/brands/rumo.jpeg' %}">
                </li>
                <li>
                    <h4> 橙舍</h4>
                    <p>
                        本土竹品家居品牌， 融合东方禅意美学和现代极简主义，长久以来由品牌创始人之一沧泠率领团队在全球范围内寻找让传统的竹走进现代生活的可能性。此次在果库 Market 的空间里也会陈设一些橙舍打造的产品，大家有机会在现场亲自体验竹品家居的独特之处。
                    </p>
                     <img src="{% static 'images/market2016/brands/chengshe.jpeg' %}">
                </li>
            </ul>
        </div>
    </script>
    <script type="text/html" id="play_modal_content">
        <div class="content-modal-wrapper">
            <ul>
                <li>
                    <h4>
                        「坏蛋调频」直播间<br>
                         活动时间:<br>
                        11 月 26 日 14:00 至 17:00<br>
                        11 月 27 日 15:00 至 17:00<br>
                    </h4>
                    <p>
                      由王硕和伍叁伍伍联合创立的热门网络电台。两位主播将在活动当天把直播间搬进果库 Market，跟主理人们聊聊「好生活」到
                      底谁说了算？
                    </p>
                </li>
                <li>
                    <h4>
                        「拾光·旧颜」手工编织课<br>
                        活动时间: 11 月 26 日 10:30
                    </h4>
                    <p>
                        贩售 1980 年代复古情怀的手工工作室，主理人樊格格是位包里总会放着毛线团的姑娘，也是摄影师和手工创意人。她将在
                        活动现场邀请你加入「拾光·旧颜」在果库 Market 的手工编织课。
                    </p>
                </li>
                <li>
                    <h4>
                        果库专享特卖会<br>
                        活动时间: 11 月 26 日 16:00
                    </h4>
                    <p>
                        在此前的果库 Pop-Up Store 引发排队购买热潮的特卖会又来啦！用超棒的神秘折扣买下心仪好器物，没有人会空手而归。
                    </p>
                </li>
                <li>
                    <h4>
                        「魔术师苏子南」近景魔术小课<br>
                        活动时间: 11 月 27 日 10:30
                    </h4>
                    <p>
                        年轻、有趣的九零后，擅长近景魔术的非典型魔术师，这次在果库 Market 里你也有机会跟他学一手儿。
                    </p>
                </li>
                <li>
                    <h4>
                        「CofFeeL」 手冲咖啡课堂<br>
                        活动时间: 11 月 27 日 14:00 至 15:00
                    </h4>
                    <p>
                        北京首家身处美术馆内的精品咖啡馆，由欧洲精品咖啡协会 SCAE 认证的咖啡师月川亲手奉上使用100% 阿拉比卡精品咖啡豆
                        制成的饮品。CofFeeL 会在果库 Market 设下手冲咖啡课堂，想看专业咖啡师月川帅帅的手冲表演，并且成为精品咖啡的懂
                        行人？一定要来现场哦。
                    </p>
                </li>
                <li>
                    <h4>
                        「HOUSE 刺青」现场喷绘纹身<br>
                        活动时间:<br>
                        11 月 27 日 14:00 至 17:00<br>
                        11 月 27 日 14:00 至 17:00
                    </h4>
                    <p>
                        九零后主理人滕先生，开店 4 年，逗比搞笑，能说会道，自信活力，能折腾会赚钱，希望更多人能理解纹身。如果你想了解
                        刺青文化以及试试滕先生的手艺，记得来果库 Market 找他。
                    </p>
                </li>
                <li>
                    <h4>
                        「国棉壹厂」丝网印刷 T 恤体验<br>
                        活动时间: 11 月 27 日 16:00
                    </h4>
                    <p>
                        国棉壹厂把传统的丝网印刷设备搬进果库 Market 现场，大家有机会亲自上阵体验自己印 T 恤的乐趣。
                    </p>
                </li>
                <li>
                    <h4>
                        迷糊酒铺<br>
                        活动时间：11 月 26 日至 11 月 27 日全天
                    </h4>
                    <p>
                        酒铺专营葡萄酒，创始人大名谢忱，人称迷糊。一句话概括——「做不好摄影和美工的酒老板不是好段子手」。如果你来市集里
                        光是品酒，那简直亏大了。果库君亲历：和他聊聊天，比包邮还安逸！来到朝阳大悦城，别忘过来尝尝酒，说不定就遇到了迷糊。
                    </p>
                </li>
                <li>
                    <h4>
                        Hoper<br>
                        活动时间: 11 月 27 日 19:00
                    </h4>
                    <p>
                        Hoper 是一家经营原创鸡尾酒和威士忌的精品酒吧，这次品牌负责人 James 也会莅临现场，为大家展现拿手的鸡尾酒表演，
                        介绍鸡尾酒文化，同时提供试饮活动。
                    </p>
                </li>

            </ul>
        </div>
    </script>
    <script type="text/html" id="place_modal_content">
        <div class="content-modal-wrapper">
            <p>put baidu map image here!!!</p>
            <p>
                时间：2016 年 11 月 26 日至 27 日<br>
                地点：北京朝阳大悦城后广场「悦客会」——会员体验中心<br>
                参与方式：免费！！！
            </p>
        </div>
    </script>
    <script type="text/html" id="share_modal_content">
        <div class="share-modal-wrapper">
            <div class="tips-wrapper tips-control">
                <img src="{% static 'images/chunjie/share.png' %}" width="200px" height="89px"/>
            </div>
        </div>
    </script>
{% endblock %}

{% block footer %}

{% endblock %}

{% block modal %}

{% endblock %}

{% block basic_script %}
    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
{% endblock %}

{% block script %}
    <script data-main="{% static 'js/web/jsbuild/market_2016_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}

{% block ga_script %}
    <!-- Google Analytics -->
    {#    <script language="javascript">#}
    {##}
    {#    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
    {#    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
    {#    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
    {#    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}
    {##}
    {#    ga('create', 'UA-24696872-5', 'auto');#}
    {#    ga('send', 'pageview');#}
    {#    ga('set', '&uid', '412916' )#}
    {##}
    {#    </script>#}
{% endblock %}

