{% load i18n %}
{% load notifications_tags %}
{% load guoku %}
<li class="dropdown nav-user-actions">
    <a href="#" class="dropdown-toggle user-action-toggle" data-toggle="dropdown" style="padding: 10px;">
        <img class="img-responsive img-circle" style="display:inline-block;height:30px;width:30px;" src="{{ user_context.profile.avatar_url|resize:'60' }}" width="30" height="30">
        <span class="round"></span>
        <i class="fa fa-caret-down" style="padding-left:10px;font-size:20px;vertical-align: middle;color:#999;"></i>
    </a>
    <ul class="dropdown-menu user-menu" role="menu">
        {% if request.user.is_staff or request.user.is_editor %}
            <li><a href="{% url 'management_dashboard' %}" target="_blank"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp; {% trans 'Guoku Management' %}</a></li>
        {% endif %}
        {% if request.user.can_write %}
            <li><a href="{% url 'web_editor_article_create'  %}"><i class="fa fa-pencil"></i>&nbsp; {% trans 'Write Article' %}</a></li>
            <li><a href="{% url 'web_editor_article_list'  %}"><i class="fa fa-paperclip"></i>&nbsp; {% trans 'Draft' %}</a></li>
            <li class="divider"></li>
        {% endif %}
        <li><a id="user_dash_link" href="{% url 'web_user_index' user_context.pk %}"><i class="fa fa-user fa-lg"></i>&nbsp; {% trans "You" %}</a></li>
        {% notifications_unread as unread_count %}
        <li><a href="{% url 'web_messages' %}"><i class="fa fa-volume-up fa-lg"></i>&nbsp;{% trans 'Messages' %}{% if unread_count > 0 %}&nbsp;&nbsp;<span class="badge">{{ unread_count }}</span>{% endif %}</a></li>
        <li><a href="{% url 'web_user_settings' %}"><i class="fa fa-cog fa-lg"></i>&nbsp; {% trans "Settings" %}<span class="round"></span></a></li>
        <li><a href="{% url 'web_logout' %}"><i class="fa fa-power-off fa-lg"></i>&nbsp; {% trans "Sign Out" %}</a></li>
    </ul>
</li>
