{% load i18n %}

<div class="modal-header">
    <button class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">{% trans 'add selection note' %}</h4>
</div>

<div class="modal-body">
    <form class="form-horizontal" method="post" action="{% url 'management_note_create' entity.pk %}">
        {% csrf_token %}
        <fieldset>
        {% for field in forms %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
            </div>
{#            {{ field }}#}
        {% endfor %}
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-3">
                <button class="btn btn-default" data-dismiss="modal" type="button">{% trans 'close' %}</button>
                <button class="btn btn-primary" type="submit">{% trans 'send' %}</button>
            </div>
        </div>
    </form>
</div>

{#<div class="modal-footer">#}
{##}
{#</div>#}