{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ note|truncatechars:'20' }}
            <small>{% trans 'edit note' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#"><i class="fa fa-pencil"></i>{% trans 'notes' %}</a></li>
            <li class="active">{% trans 'edit note' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" alt="240x240" src="{{ entity.chief_image|resize:'240' }}" style="max-height:240px;max-width:240px;">
            </div>

            <div class="col-xs-12">
                <ul class="nav nav-pills" role="tablist">
                    <li><a href="{% url 'management_note_comment_list' note.pk %}">评论（{{ note.comment_count }}）</a></li>
                </ul>
            </div>

            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        {{ entity.title }}
                    </div>

                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{% trans 'entity_id' %}</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <a href="{% url 'management_entity_edit' entity.pk %}">{{ entity.pk }}</a>
                                    </p>
                                </div>
                            </div>
                        {% for field in forms %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                <div class="col-sm-5">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-5">
                                <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{#    <h1 class="page-header">{% trans 'entity note' %}</h1>#}
{##}
{#    <div class="row placeholders">#}
{#        <div class="col-xs-6 col-sm-3 placeholder">#}
{#            <img class="img-responsive img-thumbnail" alt="240x240" src="{{ entity.chief_image }}" style="max-height:240px;max-width:240px;">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        <ul class="nav nav-pills" role="tablist">#}
{#            <li><a href="{% url 'management_note_comment_list' note.pk %}">评论（{{ note.comment_count }}）</a></li>#}
{#        </ul>#}
{#    </div>#}
{##}
{#    <h2 class="sub-header">{{ entity.title }}</h2>#}
{#    <div class="row">#}
{#        <form class="well form-horizontal" method="post">#}
{#            {% csrf_token %}#}
{#            <fieldset>#}
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">{% trans 'entity_id' %}</label>#}
{#                        <div class="col-sm-10">#}
{#                            <p class="form-control-static">#}
{#                                <a href="{% url 'management_entity_edit' entity.pk %}">{{ entity.pk }}</a>#}
{#                            </p>#}
{#                        </div>#}
{#                </div>#}
{#            {% for field in forms %}#}
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>#}
{#                    <div class="col-sm-5">#}
{#                        {{ field }}#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#            </fieldset>#}
{#            <div class="form-group">#}
{#                <div class="col-sm-offset-2 col-sm-5">#}
{#                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{% endblock %}