{% extends "management/management_base.html" %}
{% load i18n %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'note' %}
            <small>{% trans 'note' %}</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans 'note' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-pills" role="tablist">
{#        {{ status }}#}
                            <li {% ifequal status None %}class="active"{% endifequal %}><a href="{% url 'management_note_list' %}">{% trans 'all' %}</a></li>
                            <li {% ifequal status '1' %}class="active"{% endifequal %}><a href="{% url 'management_note_list' %}?status=1">{% trans 'top' %}</a></li>
                            <li {% ifequal status '0' %}class="active"{% endifequal %}><a href="{% url 'management_note_list' %}?status=0">{% trans 'normal' %}</a></li>
                            <li {% ifequal status '-1' %}class="active"{% endifequal %}><a href="{% url 'management_note_list' %}?status=-1">{% trans 'remove' %}</a></li>
                        </ul>
                    </div>

                    <div class="box-body table-responsive">
                        {% include "management/notes/table.html" with notes=notes %}
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=notes url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <h1 class="page-header">{% trans 'note' %}</h1>#}
{##}
{#    <div class="row">#}
{#        <ul class="nav nav-pills" role="tablist">#}
{#        {{ status }}#}
{#            <li {% ifequal status None %}class="active"{% endifequal %}><a href="{% url 'management_note_list' %}">{% trans 'all' %}</a></li>#}
{#            <li {% ifequal status '1' %}class="active"{% endifequal %}><a href="{% url 'management_note_list' %}?status=1">{% trans 'top' %}</a></li>#}
{#            <li {% ifequal status '0' %}class="active"{% endifequal %}><a href="{% url 'management_note_list' %}?status=0">{% trans 'normal' %}</a></li>#}
{#            <li {% ifequal status '-1' %}class="active"{% endifequal %}><a href="{% url 'management_note_list' %}?status=-1">{% trans 'remove' %}</a></li>#}
{#        </ul>#}
{#    </div>#}
{##}
{#    {% include "management/notes/table.html" with notes=notes %}#}
{##}
{#    {% include "management/paginator.html" with objects=notes url=request.path %}#}
{% endblock %}