{% load i18n %}
{% load guoku %}


{#<div class="row">#}
{#    <div class="table-responsive">#}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'image' %}</th>
                    <th>{% trans 'creator' %}</th>
                    <th>{% trans 'content' %}</th>
                    <th>{% trans 'post_time' %}</th>
                    <th>{% trans 'status' %}</th>
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                    <tr>
                        <td>{{ note.id }}</td>
                        <td><a href="{% url 'management_entity_edit' note.entity_id %}" target="_blank"><img class="img-responsive img-thumbnail" src="{{ note.entity.chief_image|oss_resize:'310' }}" style="max-height:128px;max-width:128px;"></a></td>
                        <td><a href="{% url 'management_user_edit' note.user.pk %}" target="_blank">{{ note.user.profile.nickname }}</a></td>
                        <td width="400">{{ note.note }}</td>
                        <td>{{ note.post_time|date:'Y-m-d H:i:s' }}</td>
                        <td>
                            {% if note.status == 1 %}
                                <span class="label label-info">{{ note.get_status_display }}</span>
                            {% else %}
                                <span class="label label-default">{{ note.get_status_display }}</span>
                            {% endif %}
                        </td>
                        <td><a class="btn btn-default" href="{% url 'management_note_edit' note.pk %}">{% trans 'edit' %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{#    </div>#}
{#</div>#}