{% load i18n %}
{% load guoku %}
<table class="table table-bordered table-hover table-condensed" id="sellers-table">
    <thead>
    <tr>
        <th>#</th>
        <th>主图</th>
        <th>排名/位置</th>
        <th>网页链接</th>
        <th>APP 链接</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {#            the first line datas#}

    {% for banner in banners %}

        <tr>
            <td>{{ banner.id  }}</td>
            <td><img src="{{  banner.image_url|resize:'200' }}" ></td>
            <td>{{ banner.position  }}</td>
            <td>{{ banner.link  }}</td>
            <td>{{ banner.applink  }}</td>
            <td>{{ banner.get_status_display  }}</td>
            <td>
                <a class="btn btn-success" href="{% url 'manage_store_banners_update' banner.pk %}" target="">
                    编辑
                </a>
                <a class="btn btn-danger" href="{% url 'manage_store_banners_delete' banner.pk %}" target="">
                    删除
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>