
<div class="note-comment-list" style="display: none; border: 1px solid #eee;padding: 10px; background-color: #fafafa">
{% spaceless %}
{% for comment in comment_list %}
    {% include 'web/entity/note/comment.html'  %}
{% endfor %}
{% endspaceless %}

<form class="form-horizontal" role="form" method="POST" action="{% url 'web_entity_note_comment' note_id %}" style="margin-top: 10px;">
    {% csrf_token %}
    <fieldset>
        {% for field in forms %}
        <div class="form-group">
            <div class="col-sm-12">
                {% if request.user.is_blocked %}
                     <input class="form-control comment-content" type="text" disabled value="你已经被禁言"/>
                {% else %}
                     {{ field }}
                {% endif %}
{#            <input  type="text" name="comment_text" class="form-control" value="" />#}
            </div>
        </div>
        {% endfor %}
    </fieldset>

    <div class="comment-action" style="height: 28px; position: relative;">
        <button class="btn btn-default btn-cancel" style="right: 70px; position: absolute;" type="button">取消</button>
        {%  if not request.user.is_blocked %}
        <button class="btn btn-primary btn-comment" style="position: absolute; right: 0;" type="submit">评论</button>
        {% endif %}
    </div>

</form>
</div>


