
<div class="note-comment-list" style="display: none; border: 1px solid #eee;padding: 10px;">
{% spaceless %}
{% for comment in comment_list %}
{#    {% include 'web/entity/note/comment.html'  %}#}
{% endfor %}
{% endspaceless %}

<form class="form-horizontal" role="form" method="POST" action="{% url 'web_entity_note_comment' note_id %}" style="margin-top: 10px;">
    {% csrf_token %}
    <fieldset>
        {% for field in forms %}
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                {{ field }}
{#            <input  type="text" name="comment_text" class="form-control" value="" />#}
            </div>
        </div>
        {% endfor %}
    </fieldset>

    <div class="comment-action" style="height: 28px; position: relative;">
        <button class="btn btn-default btn-cancel" style="border: 1px solid #ccc; right: 70px; position: absolute;" type="button">取消</button>
        <button class="btn btn-primary btn-comment" style="position: absolute; right: 10px;" type="submit">评论</button>
    </div>
</form>
</div>


