{#{% load user %}#}

    <div class="media">
        <a class="pull-left" href="{% url 'web_user_index' comment.user.pk %}">
            <img class="media-object  img-circle" src="{{ comment.user.profile.avatar_url }}" width="50" height="50">
        </a>
        <div class="media-body">
            <p class="media-heading ">
                <span class="nickname">{{ comment.user.profile.nickname }}</span>
                {% if request.user == comment.user %}
                    <a href="javascript:;" class="close" data-comment="{{ comment.id }}" style="margin-right: 40px">&times;</a>
                {% endif %}
            </p>
            <p class="with-tag comment-content" data-creator="{{ comment.user_id }}" data-comment="{{ comment.id }}" style="color: #999;">
                {% if comment.replied_user_id != None %}回复{{ comment.replied_user_nick }}:&nbsp;{% endif %}{{ comment.content }}
                <a  href="javascript:;" class="reply pull-right" style="margin-right: 40px">回复</a>
            </p>
        </div>
        <hr style="margin: 10px 0 5px 0;" />
    </div>