{% extends 'web/base.html' %}
{% load i18n static %}
{% block title %}开小差了{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3">
                <img class="img-responsive" src="{% static 'images/500.png' %}">
            </div>
            <h3 class="col-sm-offset-4">服务器开小差了，稍后回来</h3>
            <br />
            <p class="col-sm-offset-3">The Master said: “The Way is not practiced. I shall go ride a raft on the ocean</p>
            <p class="col-sm-offset-4">— and I imagine You would go with me.” </p>
            <br />
            <p class="col-sm-offset-4">子曰：“道不行，乘桴浮于海。从我者，其由与？”</p>
            <p class="col-sm-offset-5">-- 《论语·公冶长》</p>
            <br /><br />
            <p class="col-sm-offset-4">返回 <a href="{% url 'web_selection' %}">首页</a>，或报告问题到 hi@guoku.com</p>
        </div>
    </div>
{% endblock %}