{% extends "web/static_base.html" %}


 {% block meta-og %}
    <meta property="og:title" content="果库 - Guoku - 官网介绍 | 关于果库网站 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="欢迎访问「果库」网站（隶属于北京果库科技有限公司http://www.guoku.com）。我们旨在帮助你发现互联网上最有趣、最人气、最实用的好商品，恪守选品标准和美学格调，开拓精英视野与生活想象。「果库」每日为你精选秉持理想生活哲学的消费图文、推荐国内外最优质的商品信息，涵盖女装、男装、配饰、母婴、美容、居家、科技、户外、保健、文化、美食、玩乐等类别。围绕精英消费指南的定位，品质消费的理念，果库为追求生活质量的消费者提供更高效的消费决策。我们不变的宗旨是帮助消费者更容易地买到好商品。 淘宝，这样逛才够直接！在互联网的浩瀚商品海洋中，好物很多，但发现很难。「果库」精选，每天向你推荐互联网上最有趣、最人气的商品，快速、简单、直接地呈现给你。方便你尽快留意和寻找到最好的商品，并且轻松便捷地购买得到。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="网站介绍 | 精英消费指南 | 果库">
    <meta name="keywords" content="关于,网站介绍,Guoku,官网介绍,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库是理想消费者的商品推荐引擎，精英消费指南，同时也是集媒体、导购、社区、工具属性为一体的品质消费决策平台，因其专业、中立而在众多网友中树立了良好口碑。每天通过网站本身、RSS、各手机客户端及各浏览器插件推送精选的图文、商品信息。">
{% endblock %}

{% block title %}
    网站介绍 | 精英消费指南 | 果库
{% endblock %}

{% block main %}
<h3>欢迎加入果库</h3>
<hr />
<p>欢迎访问「果库」网站（隶属于北京果库科技有限公司<a href="http://www.guoku.com">http://www.guoku.com</a>）。我们旨在帮助你发现互联网上最有趣、最人气、最实用的好商品，恪守选品标准和美学格调，开拓精英视野与生活想象。</p>
    <p>「果库」每日为你精选秉持理想生活哲学的消费图文、推荐国内外最优质的商品信息，涵盖女装、男装、配饰、母婴、美容、居家、科技、户外、保健、文化、美食、玩乐等类别。围绕精英消费指南的定位，品质消费的理念，果库为追求生活质量的消费者提供更高效的消费决策。</p>
<p><br></p>
<p>我们不变的宗旨是帮助消费者更容易地买到好商品。
淘宝，这样逛才够直接！</p>
<p>在互联网的浩瀚商品海洋中，好物很多，但发现很难。「果库」精选，每天向你推荐互联网上最有趣、最人气的商品，快速、简单、直接地呈现给你。方便你尽快留意和寻找到最好的商品，并且轻松便捷地购买得到。</p>
    <p><br></p>
<P></P>

<p>随时随地刷果库：访问 <a href="/">guoku.com</a>，或者安装
    <a href="/download/">
    iPhone、
    iPad、
    Android 客户端
    </a>。
</p>
    <p><br></p>
    <div class="contact-intro-head">
    若有任何问题，请通过以下途径联系我们：
    </div>

      <div class="guoku-social contact-list">
        <div class="links">
           <span class="social-name"> 商务合作 </span>
            <a class="social-link" href="http://weibo.com/guoku" target="_blank">
                <span>bd@guoku.com</span>
            </a>
        </div>
         <div class="links">
           <span class="social-name"> 改进建议 </span>
            <a  class="social-link" href="" target="_blank">
                <span>hi@guoku.com</span>
            </a>
        </div>
{#        <div class="links">#}
{#           <span class="social-name"> 客服热线 </span>#}
{#            <a  class="social-link" href="" target="_blank">#}
{#                <span>010 8449 1039</span>#}
{#            </a>#}
{#        </div>#}
    </div>

    <div class="guoku-social">
        <div class="links">
           <span class="social-name"> 官方微博 </span>
            <a class="social-link" href="http://weibo.com/guoku" target="_blank">
                <span>weibo.com/guoku</span>
            </a>
        </div>
         <div class="links">
           <span class="social-name"> 官方微信 </span>
            <a  class="social-link" href="" target="_blank">
                <span>guokuapp</span>
            </a>
        </div>
    </div>
    <div class="guoku-social"></div>
    <h3 class="media-header">媒体报道</h3>
<hr />
<ul class="media-cover-list">

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.wandoujia.com/campaign/applaunch/?pn=com.guoku"
            target="_blank">
             <span class="article-title">编辑精选导购应用「果库」发布 Android 4.0 版本 </span>
             <span class="article-source">小众软件</span></a>
         <span class="media-cover-time">2015年5月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.wandoujia.com/campaign/applaunch/?pn=com.guoku"
            target="_blank">
             <span class="article-title">果库 4.0 独家首发</span>
             <span class="article-source">豌豆荚应用发布会</span></a>
         <span class="media-cover-time">2015年5月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.geekpark.net/topics/212650"
            target="_blank">
             <span class="article-title">轻装上阵的果库，未来会更像一本杂志</span>
             <span class="article-source">极客公园</span></a>
         <span class="media-cover-time">2015年5月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://36kr.com/p/532755.html"
            target="_blank">
             <span class="article-title">4.0版本做完减法后，“果库”要进行由数据辅助的媒体化尝试</span>
             <span class="article-source">36氪</span></a>
         <span class="media-cover-time">2015年5月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.dgtle.com/article-10128-1.html"
            target="_blank">
             <span class="article-title">不仅仅是消费指南，「果库」4.0 版本体验推荐</span>
             <span class="article-source">数字尾巴</span></a>
         <span class="media-cover-time">2015年4月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://sspai.com/28872"
            target="_blank">
             <span class="article-title">用更简洁的样子，寻获更多好物：果库 4.0 新版</span>
             <span class="article-source">少数派</span></a>
         <span class="media-cover-time">2015年4月</span>
        </div>
    </li>
  <li class="blank-row"></li>
    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://sspai.com/24860"
            target="_blank">
             <span class="article-title">尽收世上好物：果库</span>
             <span class="article-source">少数派</span></a>
         <span class="media-cover-time">2014年3月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.pingwest.com/demo/guoku/"
            target="_blank">
             <span class="article-title">让用户和卖家联动起来：新版果库如何留住用户？</span>
             <span class="article-source">PingWest品玩 </span></a>
         <span class="media-cover-time">2014年2月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://36kr.com/p/209932.html"
            target="_blank">
             <span class="article-title">让好商品的发现更直观自动，专注生活消费类商品的买手社区“果库”上线3.0版本</span>
             <span class="article-source">36氪 </span></a>
         <span class="media-cover-time">2014年2月</span>
        </div>
    </li>

     <li class="blank-row"></li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.ebrun.com/20130418/71587.shtml"
            target="_blank">
             <span class="article-title">移动电商反攻PC端，果库口袋购物路径分化</span>
             <span class="article-source">亿邦动力网 </span></a>
         <span class="media-cover-time">2013年4月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.pingwest.com/demo/guoku-online-content-strategy/"
            target="_blank">
             <span class="article-title">从果库网页版上线，看移动电商产品的跨平台内容战略布局</span>
             <span class="article-source">PingWest品玩 </span></a>
         <span class="media-cover-time">2013年3月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://36kr.com/p/201713.html"
            target="_blank">
             <span class="article-title">发展用户UGC力量，让那些收录但被时间沉淀的好物翻滚起来 </span>
             <span class="article-source">36氪</span></a>
         <span class="media-cover-time">2013年3月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.gq.com.cn/celebrity/news_16g4a047e8e0f91d.html"
            target="_blank">
             <span class="article-title">网络轻购物，一种生活方式的选择 </span>
             <span class="article-source">GQ男士网</span></a>
         <span class="media-cover-time">2013年1月</span>
        </div>
    </li>


     <li class="blank-row"></li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.yicai.com/news/2012/11/2282796.html"
            target="_blank">
             <span class="article-title">蘑菇街、美丽说还是果库——谁来帮你“淘宝”？ </span>
             <span class="article-source">好运MONEY</span></a>
         <span class="media-cover-time">2012年11月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.yicai.com/news/2012/09/2099578.html"
            target="_blank">
             <span class="article-title">果库：用编辑的眼光来帮你“淘宝” </span>
             <span class="article-source">第一财经周刊</span></a>
         <span class="media-cover-time">2012年9月</span>
        </div>
    </li>


    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://sspai.com/13153"
            target="_blank">
             <span class="article-title">让淘宝一目了然：果库</span>
             <span class="article-source">少数派</span></a>
         <span class="media-cover-time">2012年8月</span>
        </div>
    </li>


    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.geekpark.net/topics/158378"
            target="_blank">
             <span class="article-title">以杂志思维做导购</span>
             <span class="article-source">极客公园</span></a>
         <span class="media-cover-time">2012年5月</span>
        </div>
    </li>


    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://newspaper.jfdaily.com/sjfwdb/html/2012-04/04/content_778002.htm"
            target="_blank">
             <span class="article-title">购物分享有魔力，点开需谨慎</span>
             <span class="article-source">申江服务导报</span></a>
         <span class="media-cover-time">2012年4月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.eeo.com.cn/2012/0427/225617.shtml"
            target="_blank">
             <span class="article-title">果库：淘宝“买手店”</span>
             <span class="article-source">经济观察报</span></a>
         <span class="media-cover-time">2012年4月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://tech.163.com/12/0212/21/7Q3FIK9R00094M2L.html"
            target="_blank">
             <span class="article-title">果库的品味</span>
             <span class="article-source">网易科技</span></a>
         <span class="media-cover-time">2012年2月</span>
        </div>
    </li>

    <li class="blank-row"></li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.bundpic.com/link.php?linkid=16677"
            target="_blank">
             <span class="article-title">淘宝猎人外滩画报</span>
             <span class="article-source">外滩画报</span></a>
         <span class="media-cover-time">2011年12月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.csdn.net/article/2011-08-15/303095"
            target="_blank">
             <span class="article-title">iPad应用果库：淘宝上的精品购物指南</span>
             <span class="article-source">CSDN</span></a>
         <span class="media-cover-time">2011年8月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link"
            href="http://www.leiphone.com/news/201406/guoku.html"
            target="_blank">
             <span class="article-title">果库：你的淘宝指南针</span>
             <span class="article-source">雷锋网</span></a>
         <span class="media-cover-time">2011年8月</span>
        </div>
    </li>

    <li class="media-item">
        <div class="media-wrapper">
         <a class="media-link" href="http://36kr.com/p/35338.html" target="_blank">
             <span class="article-title">果库：精选淘宝商品的iPad应用，看杂志一样看商品</span>
             <span class="article-source">36氪</span></a>
         <span class="media-cover-time">2011年7月</span>
        </div>
    </li>




    <li class="blank-row"></li>

</ul>



{% endblock %}