{% extends 'web/static_base.html' %}

 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="常见问题 | 精英消费指南 | 果库">
    <meta name="keywords" content="常见问题,使用指南,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="
「果库」帮助你发现互联网上最有趣、最人气的好商品，并且方便你轻松、便捷地买到这些好商品。目前，果库拥有自己的网站和 iPhone、iPad、Android 客户端。
如何喜爱商品？
点击 ♥ 标记喜爱的商品，避免错过精彩的推荐及适时的优惠信息。你喜爱过的商品，可以在「我的果库」查看。
如何为商品贴标签？
在撰写点评的输入框，便可以为商品贴标签。其书写形式是「＃+ 关键词」，输入完成，以空格、标点符号与之后的内容区隔开。贴标签的商品更容易被发现。养成贴标签的习惯，也更容易收获志同道合的朋友。你贴过的标签，可以在「我的果库」查看。
如何添加商品入库？
在网站顶部导航栏，可以透过「+」按钮，添加一件商品。进入添加商品页面，复制淘宝的商品链接至输入框，载入商品信息。编辑商品名称，选择无水印、质素高的商品图片，撰写有价值的点评文字，完成添加。你添加过的商品，可以在「我的果库」查看。
什么样的商品会出现在「精选」？
商品是货真价实，有用、有趣、有价值的好商品；图片无任何遮挡，突出商品本身，兼具美感；点评有帮助，包含有价值的信息，描述清楚，语言通顺，无错别字。最后通过审核就会出现在果库网站及客户端的「精选」。
如何注册果库？
你可以通过邮箱直接注册，也可以通过新浪微博、淘宝网授权达成注册。在注册完成以后，确认帐号绑定新浪微博，便可以将你喜爱的商品分享到微博。
如何绑定第三方帐号？
当你的果库帐号为已登录状态，建议通过该帐号去绑定你的新浪微博、微信、淘宝网等其他第三方帐号。绑定操作，可以在设置页的绑定设置完成。 绑定成功以后，在绑定设置页，会显示出你的新浪微博、微信、淘宝网的用户名。注意，如在登录时，你选择第三方帐号授权登录，则该帐号默认已绑定授权登录的第三方帐号。
为何无法绑定第三方帐号？
可能从前你通过新浪微博、微信、淘宝网等其他第三方帐号，授权登录果库，生成过别的果库帐号。因为你的新浪微博、微信或者淘宝网帐号，已经绑定了别的果库帐号，所以无法进行第三方帐号的绑定操作。
为何无法解绑第三方帐号？
当你的帐号绑定多个第三方帐号时，可以任意解绑、再绑定；当你的帐号仅绑定唯一的第三方帐号时，你需要通过填写注册邮箱等详细资料，完成注册以后，才能解除绑定该第三方帐号。
如何与果库合作？

果库一直在寻找合作伙伴，请将你的淘宝店网址、品牌介绍、联系方式等，邮件至 bd@guoku.com，我们会尽快与你取得联系。

如何参加「新品发布会」？

果库新品发布会规则及流程：

果库「新品发布会」是果库图文栏目之一，旨在帮助品牌、设计师们推广并发布最新产品。

这是一个完全免费的推广计划。你需要的是仔细阅读以下信息。

申请流程：
申请者发送申请邮件——果库审核资质——果库回复申请邮件——申请者与果库「新品发布会」执行编辑对接——活动上线

审核标准：
1.该商品或该系列商品，符合果库精选入选标准；
2.商品为新上市产品，未在任何渠道长期售卖，未在其他导购推广平台提前露出；
3.不涉及抄袭、雷同、情色、暴力等问题；
4.该商品，或该系列商品适合进行「新品发布会」类型的图文发布。

流程时间：
申请者需要在新品发布日的 5 个工作日（或提前更多）前发送邮件至 bd@guoku.com，我们的工作人员会在 2 个工作日内回复邮件，确认是否可以合作以及后续的具体合作方式。同一个品牌 1 个自然月内、只可申请 1 次新品发布，无论成功与否。同时隔月的两次申请时间需间隔 10 天以上。

邮件内容标准：
1.邮件标题：XXX 申请 果库 新品发布会；
2.店铺介绍：名称，链接；
3.新品介绍：新品视觉图，新品详细说明；
4.作者介绍：如果有设计师，附上设计师信息；
4.发布时间确认；
5.联系方式：QQ、微信、手机。

果库在内容制作完毕之后，会与申请者确认信息准确性。
最终解释权归果库「新品发布会」栏目所有。">
{% endblock %}

{% block title %}常见问题 | 精英消费指南 | 果库{% endblock %}
{% block main %}
<h3>常见问题</h3>
<hr>

<p>「果库」帮助你发现互联网上最有趣、最人气的好商品，并且方便你轻松、便捷地买到这些好商品。目前，果库拥有自己的网站和 iPhone、iPad、Android 客户端。</p>

<h4>如何喜爱商品？</h4>
<p>点击 ♥ 标记喜爱的商品，避免错过精彩的推荐及适时的优惠信息。你喜爱过的商品，可以在「我的果库」查看。</p>

<h4>如何为商品贴标签？</h4>
<p>在撰写点评的输入框，便可以为商品贴标签。其书写形式是「＃+ 关键词」，输入完成，以空格、标点符号与之后的内容区隔开。贴标签的商品更容易被发现。养成贴标签的习惯，也更容易收获志同道合的朋友。你贴过的标签，可以在「我的果库」查看。</p>

<h4>如何添加商品入库？</h4>
<p>在网站顶部导航栏，可以透过「+」按钮，添加一件商品。进入添加商品页面，复制淘宝的商品链接至输入框，载入商品信息。编辑商品名称，选择无水印、质素高的商品图片，撰写有价值的点评文字，完成添加。你添加过的商品，可以在「我的果库」查看。</p>

<h4>什么样的商品会出现在「精选」？</h4>
<p>商品是货真价实，有用、有趣、有价值的好商品；图片无任何遮挡，突出商品本身，兼具美感；点评有帮助，包含有价值的信息，描述清楚，语言通顺，无错别字。最后通过审核就会出现在果库网站及客户端的「精选」。</p>

<h4>如何注册果库？</h4>
<p>你可以通过邮箱直接注册，也可以通过新浪微博、淘宝网授权达成注册。在注册完成以后，确认帐号绑定新浪微博，便可以将你喜爱的商品分享到微博。</p>

<a name="account_bind"><h4>如何绑定第三方帐号？</h4></a>
<p>
当你的果库帐号为已登录状态，建议通过该帐号去绑定你的新浪微博、微信、淘宝网等其他第三方帐号。绑定操作，可以在设置页的<a href="/u/bind/sns/">绑定设置</a>完成。
    绑定成功以后，在绑定设置页，会显示出你的新浪微博、微信、淘宝网的用户名。注意，如在登录时，你选择第三方帐号授权登录，则该帐号默认已绑定授权登录的第三方帐号。
</p>

<h4>为何无法绑定第三方帐号？</h4>
<p>
可能从前你通过新浪微博、微信、淘宝网等其他第三方帐号，授权登录果库，生成过别的果库帐号。因为你的新浪微博、微信或者淘宝网帐号，已经绑定了别的果库帐号，所以无法进行第三方帐号的绑定操作。
</p>

<h4>为何无法解绑第三方帐号？</h4>
<p>
当你的帐号绑定多个第三方帐号时，可以任意解绑、再绑定；当你的帐号仅绑定唯一的第三方帐号时，你需要通过填写注册邮箱等详细资料，完成注册以后，才能解除绑定该第三方帐号。
</p>
<h4>
    如何与果库合作？
</h4>
<p>
    果库一直在寻找合作伙伴，请将你的淘宝店网址、品牌介绍、联系方式等，邮件至 bd@guoku.com，我们会尽快与你取得联系。
</p>
<h4>
    如何参加「新品发布会」？
</h4>
<p>
    果库新品发布会规则及流程：
</p>
<p>
    果库「新品发布会」是果库图文栏目之一，旨在帮助品牌、设计师们推广并发布最新产品。
</p>
<p>
    这是一个完全免费的推广计划。你需要的是仔细阅读以下信息。
</p>
<p>
    申请流程：
</p>
<p>
    申请者发送申请邮件——果库审核资质——果库回复申请邮件——申请者与果库「新品发布会」执行编辑对接——活动上线
</p>
<div>
    <p>审核标准：</p>
    <ul>
        <li>
           1.该商品或该系列商品，符合果库精选入选标准；
        </li>
        <li>
            2.商品为新上市产品，未在任何渠道长期售卖，未在其他导购推广平台提前露出；
        </li>
        <li>
            3.不涉及抄袭、雷同、情色、暴力等问题；
        </li>
        <li>
             4.该商品，或该系列商品适合进行「新品发布会」类型的图文发布。
        </li>
    </ul>
</div>
<p>
    流程时间：
</p>
<p>
    申请者需要在新品发布日的 5 个工作日（或提前更多）前发送邮件至 bd@guoku.com，我们的工作人员会在 2 个工作日内回复邮件，确认是否可以合作以及后续的具体合作方式。同一个品牌 1 个自然月内、只可申请 1 次新品发布，无论成功与否。同时隔月的两次申请时间需间隔 10 天以上。
</p>
<div>
    <p>邮件内容标准：</p>
    <ul>
        <li>
            1.邮件标题：XXX 申请 果库 新品发布会；
        </li>
        <li>
            2.店铺介绍：名称，链接；
        </li>
        <li>
            3.新品介绍：新品视觉图，新品详细说明；
        </li>
        <li>
            4.作者介绍：如果有设计师，附上设计师信息；
        </li>
        <li>
            5.发布时间确认；
        </li>
        <li>
            6.联系方式：QQ、微信、手机。
        </li>
    </ul>
    <p>
        果库在内容制作完毕之后，会与申请者确认信息准确性。
    </p>
    <p>
        最终解释权归果库「新品发布会」栏目所有。
    </p>
</div>
<h4>
    另外：友情链接目前超过 10 个不能修改
</h4>
{% endblock %}