{% extends 'web/static_base.html' %}

 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="果库合作 | 精英消费指南 | 果库">
    <meta name="keywords" content="果库合作,使用指南,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="
「果库」帮助你发现互联网上最有趣、最人气的好商品，并且方便你轻松、便捷地买到这些好商品。目前，果库拥有自己的网站和 iPhone、iPad、Android 客户端。
如何喜爱商品？

果库一直在寻找合作伙伴，请将你的淘宝店网址、品牌介绍、联系方式等，邮件至 bd@guoku.com，我们会尽快与你取得联系。

如何参加「新品发布会」？

果库新品发布会规则及流程：

果库「新品发布会」是果库图文栏目之一，旨在帮助品牌、设计师们推广并发布最新产品。

这是一个完全免费的推广计划。你需要的是仔细阅读以下信息。

申请流程：
申请者发送申请邮件——果库审核资质——果库回复申请邮件——申请者与果库「新品发布会」执行编辑对接——活动上线

审核标准：
1.该商品或该系列商品，符合果库精选入选标准；
2.商品为新上市产品，未在任何渠道长期售卖，未在其他导购推广平台提前露出；
3.不涉及抄袭、雷同、情色、暴力等问题；
4.该商品，或该系列商品适合进行「新品发布会」类型的图文发布。

流程时间：
申请者需要在新品发布日的 5 个工作日（或提前更多）前发送邮件至 bd@guoku.com，我们的工作人员会在 2 个工作日内回复邮件，确认是否可以合作以及后续的具体合作方式。同一个品牌 1 个自然月内、只可申请 1 次新品发布，无论成功与否。同时隔月的两次申请时间需间隔 10 天以上。

邮件内容标准：
1.邮件标题：XXX 申请 果库 新品发布会；
2.店铺介绍：名称，链接；
3.新品介绍：新品视觉图，新品详细说明；
4.作者介绍：如果有设计师，附上设计师信息；
4.发布时间确认；
5.联系方式：QQ、微信、手机。

果库在内容制作完毕之后，会与申请者确认信息准确性。
最终解释权归果库「新品发布会」栏目所有。">
{% endblock %}

{% block title %}果库合作 | 精英消费指南 | 果库{% endblock %}
{% block main %}
<h3>果库合作</h3>
<hr>

<p>「果库」帮助你发现互联网上最有趣、最人气的好商品，并且方便你轻松、便捷地买到这些好商品。目前，果库拥有自己的网站和 iPhone、iPad、Android 客户端。</p>

<h4>
    如何与果库合作？
</h4>
<p>
    果库一直在寻找合作伙伴，请将你的淘宝店网址、品牌介绍、联系方式等，邮件至 bd@guoku.com，我们会尽快与你取得联系。
</p>
<h4>
    如何参加「新品发布会」？
</h4>
<p>
    果库新品发布会规则及流程：
</p>
<p>
    果库「新品发布会」是果库图文栏目之一，旨在帮助品牌、设计师们推广并发布最新产品。
</p>
<p>
    这是一个完全免费的推广计划。你需要的是仔细阅读以下信息。
</p>
<p>
    申请流程：
</p>
<p>
    申请者发送申请邮件——果库审核资质——果库回复申请邮件——申请者与果库「新品发布会」执行编辑对接——活动上线
</p>
<div>
    <p>审核标准：</p>
    <ul>
        <li>
           1.该商品或该系列商品，符合果库精选入选标准；
        </li>
        <li>
            2.商品为新上市产品，未在任何渠道长期售卖，未在其他导购推广平台提前露出；
        </li>
        <li>
            3.不涉及抄袭、雷同、情色、暴力等问题；
        </li>
        <li>
             4.该商品，或该系列商品适合进行「新品发布会」类型的图文发布。
        </li>
    </ul>
</div>
<p>
    流程时间：
</p>
<p>
    申请者需要在新品发布日的 5 个工作日（或提前更多）前发送邮件至 bd@guoku.com，我们的工作人员会在 2 个工作日内回复邮件，确认是否可以合作以及后续的具体合作方式。同一个品牌 1 个自然月内、只可申请 1 次新品发布，无论成功与否。同时隔月的两次申请时间需间隔 10 天以上。
</p>
<div>
    <p>邮件内容标准：</p>
    <ul>
        <li>
            1.邮件标题：XXX 申请 果库 新品发布会；
        </li>
        <li>
            2.店铺介绍：名称，链接；
        </li>
        <li>
            3.新品介绍：新品视觉图，新品详细说明；
        </li>
        <li>
            4.作者介绍：如果有设计师，附上设计师信息；
        </li>
        <li>
            5.发布时间确认；
        </li>
        <li>
            6.联系方式：QQ、微信、手机。
        </li>
    </ul>
    <p>
        果库在内容制作完毕之后，会与申请者确认信息准确性。
    </p>
    <p>
        最终解释权归果库「新品发布会」栏目所有。
    </p>
</div>

{% endblock %}