{% extends "web/base.html" %}
{% load i18n staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
{% endblock %}


 {% block meta-og %}
    <meta property="og:title" content="客户端 - 移动端 | 关于果库应用 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库的应用下载页，包括针对iPhone及iPad的iTunes App Store下载地址，和各大Android安卓应用市场，如豌豆荚、应用汇、腾讯应用宝、百度手机助手、91、小米、华为、联想、魅族、锤子、OPPO等及官方下载地址。方便你第一时间更新果库应用">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="应用下载 | 精英消费指南 | 果库 ">
    <meta name="keywords" content="果库客户端,移动应用,应用程序,App,iOS,iPhone，iPad,Android,Chrome,Firefox,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库应用下载，涵盖iPhone客户端、iPad客户端、安卓客户端、浏览器插件等。各终端应用客户端下载链接，如豌豆荚、应用汇、腾讯应用宝、百度手机助手、91、小米、华为、联想、魅族、锤子、OPPO等及官方下载地址。">
{% endblock %}


{% block title %}
    应用下载 | 精英消费指南 | 果库
{#    <meta name="keywords" content="果库,Guoku,iOS,iPhone,iPad,app,下载">#}
{% endblock %}

{% block body_class %}
    gray-body download-body
{% endblock %}

{#{% block css %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'styles/other.css' %}">#}
{#{% endblock %}#}

{% block content %}
{#    <div class="download_bg"></div>#}
		<div class="container download_area">
			<div class="download_bg"></div>
            <div class="row">
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                   <div class="xs-app-intro">
                    {% include 'web/partial/download_intro.html' %}
                   </div>
                   <div class="xs-app-download-img">
                     {% include 'web/partial/download_pic.html' %}
                   </div>
                   <div class="xs-app-download-link">
                       {% include 'web/partial/download_links.html' %}
                   </div>
                   <div class="xs-app-download-intro-table">
                       {% include 'web/partial/download_intro_table.html' %}
                   </div>
                </div>
                <div class="hidden-xs col-sm-12 col-md-12 col-lg-12 download-middle container-fluid">
                        <div class="md-app-download-img col-sm-6">
                             {% include 'web/partial/download_pic.html' %}
                        </div>
                        <div class="md-app-download-intro col-sm-6">
                            {% include 'web/partial/download_intro.html' %}
                            {% include 'web/partial/download_links.html' %}
                        </div>
                        <div class="md-app-download-intro-table col-sm-12">
                            {% include 'web/partial/download_intro_table.html' %}
                        </div>

                </div>
            </div>
		</div>
{#    </div>#}
{% endblock %}
