{% extends "web/base.html" %}
{% load i18n staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
{% endblock %}
{% block title %}
    果库客户端
{#    <meta name="keywords" content="果库,Guoku,iOS,iPhone,iPad,app,下载">#}
{% endblock %}

{#{% block css %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'styles/other.css' %}">#}
{#{% endblock %}#}

{% block content %}
{#    <div class="download_bg"></div>#}
		<div class="container download_area">
			<div class="download_bg"></div>
            <div class="row">
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                   <div class="xs-app-intro">
                    {% include 'web/partial/download_intro.html' %}
                   </div>
                   <div class="xs-app-download-img">
                     {% include 'web/partial/download_pic.html' %}
                   </div>
                   <div class="xs-app-download-link">
                       {% include 'web/partial/download_links.html' %}
                   </div>
                   <div class="xs-app-download-intro-table">
                       {% include 'web/partial/download_intro_table.html' %}
                   </div>
                </div>
                <div class="hidden-xs col-sm-12 col-md-12 col-lg-12 download-middle container-fluid">
                        <div class="md-app-download-img col-sm-6">
                             {% include 'web/partial/download_pic.html' %}
                        </div>
                        <div class="md-app-download-intro col-sm-6">
                            {% include 'web/partial/download_intro.html' %}
                            {% include 'web/partial/download_links.html' %}
                        </div>
                        <div class="md-app-download-intro-table col-sm-12">
                            {% include 'web/partial/download_intro_table.html' %}
                        </div>

                </div>
            </div>
		</div>
{#    </div>#}
{% endblock %}
