{% extends 'web/base.html' %}
{% load i18n static %}
{% load guoku %}
{% block meta-og %}
    <meta property="og:title" content="果库首页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库的首页，追踪当日、当周最具人气的热门商品、消费图文，以及参与热议的人气标签，按照推荐品类细分浏览，搜索商品，寻找好物不再盲目。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="首页 | 精英消费指南 | 果库">
    <meta name="keywords" content="首页,热门商品,热门图文,推荐品牌,推荐用户,热门标签,搜索,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐,精选商品,精选图文,热门商品,推荐品类,消费专题">
    <meta name="description" content="果库旨在帮助你发现互联网上最有趣、最人气、最实用的好商品，恪守选品标准和美学格调，开拓精英视野与生活想象。每日精选秉持理想生活哲学的消费图文、推荐国内外最优质的商品信息，涵盖女装、男装、配饰、母婴、美容、居家、科技、户外、保健、文化、美食、玩乐等类别，为追求生活质量的消费者提供更高效的消费决策。">
{% endblock %}


{% block title %}首页 | 精英消费指南 | 果库{% endblock %}

 {% block css %}
   <link rel="stylesheet" type="text/css" href="{% static 'thirdparty/slick/slick/slick.css' %}"/>
   <link rel="stylesheet" type="text/css" href="{% static 'thirdparty/slick/slick/slick-theme.css' %}"/>
 {% endblock %}
{#set body class here to disable body padding-top#}
{% block body_class %} gray-body compact-body {% endblock %}


{% block content %}


<div class="banner-wrapper" id="index-banners">
    {% for banner in banners %}
    <div class="banner-image-cell">
          <div class="banner-image-wrapper" style="background-image: url('{{ banner.img }}')">
{#              <img class="img-responsive" src="{{ banner.img }}"/>#}
          </div>
    </div>
    {% endfor %}
</div>
<div class="guoku-content index-page container">

    <div class="row">
        <div class="container-fluid content-panel">
            <div class="row panel-header">
                <div class="panel-name">
                    {% trans 'Trending Entities' %}
                </div>
                <div class="more-link">
                    <a href="{% url 'web_selection' %}">{% trans 'more' %}<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="row panel-content-wrapper">
                {% for sle in selection_entities %}
                    <a href="{{ sle.entity.absolute_url  }}" class="hover-light">
                    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 cell entity-cell cell">
                        <div class="guoku-bg-image-wrapper" style="background-image:url('{{ sle.entity.chief_image|resize:'310' }}')">

                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid content-panel">
            <div class="row panel-header">
                <div class="panel-name">
                    {% trans 'Trending Article' %}
                </div>
                 <div class="more-link">
                    <a href="{% url 'web_selection_articles' %}">{% trans 'more' %}<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="row panel-content-wrapper">
                {% for sla in selection_articles %}
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cell article-cell cell">
                        <div class="article-intro">
                            <div class="article-title">
                                 <a href="{{ sla.article.url }}">{{ sla.article.title }}</a>
                            </div>
                            <div class="article-digest">
                                 {{ sla.article.digest|striptags|truncatechars:60 }}<a href="sla.article.url">阅读全文</a>
                            </div>

                        </div>
                        <div class="article-cover">
                            <a href="{{ sla.article.url }}" >
                            <div class="guoku-bg-image-wrapper hover-light" style="background-image:url('{{ sla.article.cover_url|resize:'450' }}')">

                            </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid content-panel">
            <div class="row panel-header">
                <div class="panel-name">
                    {% trans 'Trending Sub Category' %}
                </div>
                 <div class="more-link">
                    <a>{% trans 'more' %}<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="row panel-content-wrapper">
                {% for cate in categories  %}
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 cell category-cell  {% if forloop.counter > 11 %}late-category{% endif %} hover-light">
                        <a href="{% url 'web_category_detail' cate.id %}">
                        <div class="cate-wrapper">
                            <img  class="img-responsive cate-icon" src="{{ cate.icon_large_url }}">
                            <div class="category-title">
                                {{ cate.title }}
                            </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}
                     <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 cell category-cell hover-light">
                         <a href="{% url 'web_category_list' %}" >
                         <div class="cate-wrapper">
                             <img  class="img-responsive cate-icon" src="{% static 'images/more.png' %}">
                            <div class="category-title">
                               查看全部
                            </div>
                         </div>
                         </a>
                     </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{#{% block script %}#}
{##}
{#    <script type="text/javascript" src="{% static 'thirdparty/slick/slick/slick.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/web/index_slider.js' %}"></script>#}
{#{% endblock %}#}

{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/index_page_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}