{% extends 'web/base.html' %}
{% load i18n static %}
{% load guoku %}
{% block meta-og %}
    <meta property="og:title" content="果库首页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库的首页，追踪当日、当周最具人气的热门商品、消费图文，以及参与热议的人气标签，按照推荐品类细分浏览，搜索商品，寻找好物不再盲目。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="首页 | 精英消费指南 | 果库">
    <meta name="keywords" content="首页,热门商品,热门图文分享,推荐品牌,推荐用户,热门标签,搜索,果库、guoku、果库官网、果库应用、精英消费指南、消费指南、精品导购指南、导购、精品购物指南、购物经验分享、淘宝网购物、淘宝网每日精选、精品推荐,淘宝精选商品,图文精选,推荐品类,消费专题,生活与消费">
    <meta name="description" content="果库旨在帮助你发现互联网上最有趣、最人气、最实用的好商品，恪守选品标准和美学格调，开拓精英视野与生活想象。每日精选秉持理想生活哲学的消费图文、推荐国内外最优质的商品信息，涵盖女装、男装、配饰、母婴、美容、居家、科技、户外、保健、文化、美食、玩乐等类别，为追求生活质量的消费者提供更高效的消费决策。">
{% endblock %}


{% block title %}首页 | 精英消费指南 | 果库{% endblock %}

 {% block css %}
   <link rel="stylesheet" type="text/css" href="{{ global_static_url_prefix }}thirdparty/slick/slick/slick.css"/>
   <link rel="stylesheet" type="text/css" href="{{ global_static_url_prefix }}thirdparty/slick/slick/slick-theme.css"/>
 {% endblock %}
{#set body class here to disable body padding-top#}
{% block body_class %} compact-body new-index-body{% endblock %}

{% block header %}
    {% include "web/partial/index_header_new.html" %}
{% endblock %}

{% block content %}

<div class="guoku-content index-page new-index-page container">
    <div class="row">
        <div class="col-sm-12 new-banner-container">
            <div class="banner-wrapper new-banner-wrapper" id="index-banners">
                {% for banner in banners %}
                    <div class="banner-image-cell banner-image-cell-control {% if forloop.counter0 == 0 %}gk-slide-current {% endif %}gk-slide-{{ forloop.counter0 }}">
                        <a href="{{ banner.link }}" target="_blank" title="{{ banner.banner_title }}">
                            <b class="banner-image-wrapper" style="display:block;background-image: url('{{ banner.image_url|resize:'1024' }}')">
                                 <div class="banner-image-cell-scrim">
                                 </div>
                            </b>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row" id="category-container">
        {% for category in categories %}
            <div class="col-xs-2 col-sm-1 guoku-middle-col category-item-wrapper">
                <a href="{% url 'web_category_group' category.id %}" target="_blank" title="{{ category.title_cn }}">
                    <div class="category-item-pic" style="background-image: url('{{ static_url }}images/category-icon/{{ category.id }}.png')">
                    </div>
                    <div class="category-name">
                        {{ category.title_cn }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row new-section-title-wrapper selection-title-wrapper">
        <div class="col-sm-12">
            <h2 class="section-title pull-left">
                <a href="{{ web_selection_url }}" target="_blank">
                    精选商品
                </a>
            </h2>
            <ul class="hidden-xs pull-left category-list" id="entity_category_container">
                <li class="category-list-item" data-value="all_entity">
                    全部
                </li>
                {% for category in categories %}
                    <li class="category-list-item" data-value="{{ category.id }}">
                       <a href="{% url 'web_category_group' category.id %}" target="_blank"> {{ category.title_cn }}</a>
                    </li>
                {% endfor %}
            </ul>
             <span class="pull-right">
                 <a class="more-link new-black-link" href="{{ web_selection_url }}" target="_blank">
                     查看更多&nbsp;
                     <i class="fa fa-caret-right"></i>
                 </a>
             </span>
        </div>

    </div>
    <div class="row latest-entity-wrapper">
        {% for sle in selection_entity %}
            {% include 'web/main/partial/new_selection_item_list.html' %}
        {% endfor %}
    </div>
    {% url 'web_selection_articles' as web_article_list_url %}
    <div class="row new-section-title-wrapper">
        <div class="col-sm-12">
            <h2 class="section-title pull-left">
                <a href="{{ web_article_list_url }}" target="_blank">
                    最新图文
                </a>
            </h2>
             <ul class="hidden-xs pull-left category-list" id="article_category_wrapper">
                <li class="category-list-item" data-value="all_article">
                    全部
                </li>
                {% for top_tag in article_tags %}
                    <li class="category-list-item" data-value="{{ top_tag.id }}">
                        {{ top_tag.name }}
                    </li>
                {% endfor %}
            </ul>
              <span class="pull-right">
                  <a class="more-link new-black-link" href="{{ web_article_list_url }}" target="_blank">
                      查看更多&nbsp;
                      <i class="fa fa-caret-right"></i>
                  </a>
              </span>
        </div>
    </div>
    <div class="row" id="new_selection_article_list">
        {% for article_item in articles %}
            {% with article_item.article as article %}
{#                {% include 'web/events/partial/new_event_article_item.html' %}#}
                 {% include 'web/tags/partial/new_tag_article_item.html' %}
            {% endwith %}
        {% endfor %}
    </div>
    <div class="row new-section-title-wrapper">
            <div class="col-sm-12">
                <h2 class="section-title pull-left">
                    推荐用户
                </h2>
            </div>
    </div>
    <div class="hidden-sm hidden-md hidden-lg  row recommend-user-wrapper">
        <div class="col-sm-12">
            <ul class="user-icon-list recommend-user-list">
                {% for user in recommand_users %}
                    <li>
                        <a href="{{ user.absolute_url }}" target="_blank" title="{{ user.nickname }}">
                            <div class="img-responsive img-frame img-circle" style="background-image: url({{ user.avatar_url|resize:'128' }});margin-bottom:18px;">
                            </div>
{#                            <img class="img-responsive img-frame" alt="" style="background-image: url({{ user.avatar_url|resize:'128' }})"/>#}
{#                            <img class="img-responsive img-circle" src="{{ user.avatar_url|resize:'128' }}" alt="{{ user.nickname }}"/>#}
                            <h3 class="user-name">{{ user.nickname }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="hidden-xs row recommend-user-wrapper user-panel-container">
         {% for user in recommand_users %}
            <div class="col-sm-4 col-md-2 guoku-middle-col recommend-user-item">
              <div class="recommend-user-panel">
                  <div class="user-icon-wrapper">
                      <a href="{{ user.absolute_url }}" target="_blank" title="{{ user.nickname }}">
                          <img class="img-circle" src="{{ user.avatar_url|resize:'128' }}" alt="{{ user.nickname }}"/>
                      </a>
                  </div>
                  <div class="user-info-wrapper">
                      <h3 class="user-name">
                          <a href="{{ user.absolute_url }}" target="_blank">
                              {{ user.nickname }}
                          </a>
                      </h3>
                      <p class="user-intro">{{ user.profile.bio|truncatechars:'50' }}</p>
                      <div class="action-wrapper">
                          {% if user.is_blocked %}
                          <a  class="guoku-button button-disabled" href="#"><i class="fa fa-exclamation-triangle"></i>&nbsp;{% trans 'Blocked User' %} </a>
                          {% elif user == request.user %}
                          <a class="guoku-button new-guoku-button button-blue newest-button-blue" rel="nofollow" href="{% url 'web_user_settings' %}">
                              <i class="fa fa-cog fa-lg"></i>&nbsp;{% trans _('Edit Profile') %}</a>
                          {% elif request.user.id in user.concren %}
                          <a class="follow guoku-button new-guoku-button btn-cancel new-btn-cancel" rel="nofollow" data-status="1" data-user-id="{{ user.id }}" href="javascript:;"><i class="fa fa-exchange fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
                          {% elif request.user.id in user.fans_list %}
                          <a class="follow guoku-button new-guoku-button btn-cancel new-btn-cancel" rel="nofollow" data-status="1" data-user-id="{{ user.id }}" href="javascript:;"><i class="fa fa-check fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
                      {% else %}
                          <a class="follow guoku-button new-guoku-button button-blue newest-button-blue" rel="nofollow" data-status="0" data-user-id="{{ user.id }}" href="javascript:;"><i class="fa fa-plus" ></i>&nbsp; {% trans 'Follow' %}</a>
                      {% endif %}
                      </div>
                  </div>
              </div>
            </div>
        {% endfor %}
    </div>

    {% if offline_shops %}
        <div class="row new-section-title-wrapper offline-shop-title-swrapper">
            <div class="col-sm-12">
                <h2 class="section-title pull-left">
                    果库 Shops
                </h2>
            </div>
        </div>
        <div class="row dark-section-wrapper offline-shop-wrapper">
            <div class="col-sm-12">
                <ul id="offline_shop_container">
                    {% for shop in offline_shops %}
                        <li class="dark-section-item shop-item">
                            <a href="{% url 'web_offline_shop_detail' shop.pk %}" target="_blank" title="{{ shop.shop_name }}">
                                <div class="section-panel">
                                    <div class="shop-cover" style="background-image: url('{{ shop.cover_url|resize:'200' }}')">
                                    </div>
                                    <div class="bg-layer"></div>
                                    <h3 class="section-name shop-name">
                                        {{ shop.shop_name }}
                                    </h3>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12 new-banner-container">
            <div class="banner-wrapper new-banner-wrapper" id="middle-page-banner">
                {% for banner in middle_banners %}
                    <div class="banner-image-cell banner-image-cell-control {% if forloop.counter0 == 0 %}gk-slide-current {% endif %}gk-slide-{{ forloop.counter0 }}">
                        <a href="{{ banner.link }}" target="_blank" title="{{ banner.banner_title }}">
                            <b class="banner-image-wrapper" style="display:block;background-image: url('{{ banner.image_url|resize:'1024' }}')">
                                <div class="banner-image-cell-scrim">

                                </div>
                            </b>

                            <div class="article-intro-wrapper">
                                <div class="article-title-wrapper">
                                    <h2 class="article-title">
                                        <a href="{{ banner.link }}" target="_blank">
                                            {{ banner.banner_title }}
                                        </a>
                                    </h2>
                                    <p class="article-desc">
                                        {{ banner.banner_desc }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    <div class="row new-section-title-wrapper">
        <div class="col-sm-12">
            <h2 class="section-title pull-left">
                热门商品
            </h2>
        </div>
    </div>
    <div class="row" id="hot-entity-list">
        {% for entity in entities %}
            {% include 'web/main/partial/new_entity.html' with entity=entity%}
        {% endfor %}
    </div>
    <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <div class="gotop-wrapper">
                    <ul>
                        <li>
                            <a class="new-btn-top" href="javascript:;"  title="回到顶部" target="_self">
                                <i class="fa fa-angle-up fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a class="gk-download">
                                <i class="fa fa-mobile fa-lg" style="font-size:28px;"></i>
                                <div class="qrcode-wrapper download-qrcode-wrapper display-toggle">
                                    <img src="{%  static 'images/article/DL_guoku.jpg' %}" title="下载果库应用" alt="下载果库应用" class="qrcode-img">
                                    <div class="qr-text">应用下载</div>
                                    <span class="bottom-bot"></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="gk-wechat-share">
                                <i class="fa fa-wechat"></i>
                                <div class="qrcode-wrapper wechat-qrcode-wrapper display-toggle">
                                    <img src="{%  static 'images/footer/QR-code.jpg' %}" title="关注果库微信公众平台" alt="关注果库微信公众平台" class="qrcode-img">
                                    <div class="qr-text">微信公众平台</div>
                                    <span class="bottom-bot"></span>
                                </div>
                            </a>

                        </li>
                    </ul>

                </div>

            </div>
        </div>
</div>
{% endblock %}

{% block basic_script %}
    <script data-main="{{ global_static_url_prefix }}js/web/jsbuild/index_page_app_build.js" src="{{ global_static_url_prefix }}js/web/app/require.js"></script>
{% endblock %}