{% extends 'web/static_base.html' %}

{% block title %}工作{% endblock %}

{% block main %}
    <h3>工作</h3>
    <hr>
    <h4>Web 前端工程师</h4>
    <p>北京 / 全职 / 一年以上相关工作经验</p>
    <ol>
        <li>熟悉 html, css, javascript 等;</li>
        <li>熟悉 jQuery, Bootstrap 前端开发框架;</li>
        <li>熟悉 Chrome 插件开发及其优化;</li>
        <li>熟悉 SEO 相关技巧;</li>
        <li>基本功扎实、学习能力强、具备良好的代码规范，和团队协作能力。</li>
    </ol>

    <hr />
    <h4>Python 工程师</h4>
    <p>北京 / 全职 / 一年以上相关工作经验</p>
    <ol><li>熟悉 MVC 基础支持；</li>
       <li>熟悉 Django, Celery, Fabric 相关开发框架;</li>
       <li>熟悉 Linux, Nginx, MySql, Redis 等；</li>
       <li>基本功扎实、学习能力强，具备良好的代码规范，和团队协作能力。</li>
    </ol>
    <hr />

{#    <h4>设计师：</h4>#}
{#    <p>北京 / 全职 / 一年以上相关工作经验</p>#}
{#    <ol><li>熟悉 Photoshop, Illustrator, Flash 等图形软件；</li>#}
{#        <li>熟悉 html 及 Dreamweaver 等网页制作工具，能够独立完成界面设计；</li>#}
{#        <li>对互联网应用产品交互，包括 html, css, javascript 等，有充分理解与认识；</li>#}
{#        <li>具备良好的审美能力、深厚的美术功底，较强的色彩把握及平面和网页设计能力。</li>#}
{#        <li>具备敏锐的用户体验观察力，学习能力强，富有创新精神和团队协作能力。</li>#}
{#    </ol>#}
{#    <hr />#}
{##}
{#    <h4>市场专员：</h4>#}
{#    <p>北京 / 全职 / 一年以上相关工作经验</p>#}
{#    <ol><li>熟悉互联网、电子商务等推广渠道；</li>#}
{#       <li>熟悉 SEO 相关技巧，了解应用分发渠道；</li>#}
{#       <li>具备较强的项目管理能力，极佳的商务谈判能力；</li>#}
{#       <li>具备公关活动策划、统筹、执行能力；</li>#}
{#       <li>具备敏锐的市场观察力，学习能力强，富有开拓精神和团队协作能力。</li>#}
{#    </ol>#}

    <h4>Android 工程师</h4>
    <p>北京 / 全职 / 一年以上相关工作经验</p>
    <ol><li>熟悉 Android SDK，精通内存优化、多线程使用，SQLite, ORM 等操作；</li>
       <li>扎实的 Java 编程基础，可独立开发客户端应用；</li>
       <li>理解并掌握 Android 体系结构、数据存储，熟悉 Socket、TCP/IP、HTTP 等协议；</li>
       <li>基本功扎实、学习能力强、具备良好的代码规范，和团队协作能力。</li>
       <li class="job-sub-info">注：对安卓开发经验不足但抱有兴趣的同学，可提供学习机会。 </li>
    </ol>

       <hr />
    <h4>内容运营实习生</h4>
    <p>北京 / 实习 / 经验不限</p>
    <ol><li>北京在校大学生；</li>
       <li>有基础的文字功底、良好的图片审美，热爱并擅长逛淘宝；</li>
       <li>责任心强、认真细致、乐于沟通。</li>
    </ol>
    <hr />


{% endblock %}