{% extends 'web/static_base.html' %}
{% load i18n staticfiles %}
{% load notifications_tags %}

 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="友情链接 | 精英消费指南 | 果库">
    <meta name="keywords" content="友情链接,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库友情链接，想去，理想生活实验室，素铺，暖岛，稀品网，我爱搜罗网，奶酪">
{% endblock %}

{% block title %}
友情链接 | 精英消费指南 | 果库
{% endblock %}

{% block  main %}
{#    <blockquote>#}
        <h3>友情链接</h3>
{#    </blockquote>#}
    <hr />
    <div class="links container-fluid">
       <div class="link-row row">
           {% for flink in flinks %}
            <div class="link-item col-xs-6 col-sm-3 col-md-3 col-lg-3">
               <a target="_blank" href="{{ flink.link }}">
               {{ flink.name }}
               </a>
           </div>

           {% endfor %}

{##}
{#           <div class="link-item col-xs-4 col-sm-3 col-md-2 col-lg-2">#}
{#               <a target="_blank" href="http://www.nuandao.com/">#}
{#                   <img class="img-responsive image-bordered"#}
{#                        src="{% static 'images/links/006-0.png' %}"#}
{#                        alter-img="{% static 'images/links/006.png'%}">#}
{#               </a>#}
{#           </div>#}
{#           #}
{#           <div class="link-item col-xs-4 col-sm-3 col-md-2 col-lg-2">#}
{#               <a target="_blank" href="http://xipin.com/">#}
{#                   <img class="img-responsive image-bordered"#}
{#                        src="{% static 'images/links/005-0.png' %}"#}
{#                        alter-img="{% static 'images/links/005.png'%}">#}
{#               </a>#}
{#           </div>#}
{#           <div class="link-item col-xs-4 col-sm-3 col-md-2 col-lg-2">#}
{#               <a target="_blank" href="http://www.52souluo.com/">#}
{#                   <img class="img-responsive image-bordered"#}
{#                        src="{% static 'images/links/002-0.png' %}"#}
{#                        alter-img="{% static 'images/links/002.png'%}">#}
{#               </a>#}
{#           </div>#}
{#           <div class="link-item col-xs-4 col-sm-3 col-md-2 col-lg-2">#}
{#               <a target="_blank" href="http://nailao.org/">#}
{#                   <img class="img-responsive image-bordered"#}
{#                        src="{% static 'images/links/007-0.png' %}"#}
{#                        alter-img="{% static 'images/links/007.png'%}">#}
{#               </a>#}
{#           </div>#}

       </div>


{#					<ul class="friendly_link">#}
{#						<li><a href="http://www.xiangqu.com/" target="_blank"><img src="{% static 'images/ad_1.png' %}" alter-image="{% static %}" alt=""></a></li>#}
{#						<li><a href="http://www.toodaylab.com/"  target="_blank"><img src="{% static 'images/ad_2.png' %}" alt=""></a></li>#}
{#						<li><a href="http://www.sopool.com/"  target="_blank"><img src="{% static 'images/ad_3.png' %}" alt=""></a></li>#}
{#						<li><a href="http://www.nuandao.com/" target="_blank"><img src="{% static 'images/ad_4.png' %}" alt=""></a></li>#}
{#						<li><a href="http://xipin.com/" target="_blank"><img src="{% static 'images/ad_5.png' %}" alt=""></a></li>#}
{#						<li><a href="http://www.52souluo.com/" target="_blank"><img src="{% static 'images/ad_6.png' %}" alt=""></a></li>#}
{#					</ul>#}
{#        <div class="col-sm-2"><a class="btn btn-default" href="http://www.yokamen.cn/" target="_blank">YOKA男士论坛</a></div>#}
    </div>

{% endblock %}