{% extends 'web/static_base.html' %}
{% load i18n staticfiles %}
{% load notifications_tags %}

{% block title %}
友情链接
{% endblock %}

{% block  main %}
{#    <blockquote>#}
        <h3>友情链接：</h3>
{#    </blockquote>#}
    <hr />
    <div class="links">
       <p class="fs_32 fc_2">友情链接</p>
					<ul class="friendly_link">
						<li><a href="http://www.xiangqu.com/" target="_blank"><img src="{% static 'images/ad_1.png' %}" alt=""></a></li>
						<li><a href="http://www.toodaylab.com/"  target="_blank"><img src="{% static 'images/ad_2.png' %}" alt=""></a></li>
						<li><a href="http://www.sopool.com/"  target="_blank"><img src="{% static 'images/ad_3.png' %}" alt=""></a></li>
						<li><a href="http://www.nuandao.com/" target="_blank"><img src="{% static 'images/ad_4.png' %}" alt=""></a></li>
						<li><a href="http://xipin.com/" target="_blank"><img src="{% static 'images/ad_5.png' %}" alt=""></a></li>
						<li><a href="http://www.52souluo.com/" target="_blank"><img src="{% static 'images/ad_6.png' %}" alt=""></a></li>
					</ul>
{#        <div class="col-sm-2"><a class="btn btn-default" href="http://www.yokamen.cn/" target="_blank">YOKA男士论坛</a></div>#}
    </div>

{% endblock %}