{% extends 'web/static_base.html' %}

{% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="选品服务计划 | 精英消费指南 | 果库">
    <meta name="keywords" content="选品服务计划，果库选品服务计划，果库选品商店，果库线下店，线下店，选品服务计划，果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="「果库选品商店」服务计划，为活跃于线上的国内原创设计品牌与线下生活方式店们牵线。由果库提出与众不同的理想生活选品组合方案，去同质化的消费场景，营造更具情怀与体验感的复合式主题店，向消费者提供独特的购物体验，为线下零售业带去惊喜变化，同时为原创设计品牌扩展销售渠道。
                                       目前，果库选品商店服务已经开启，合作商店列表，详见图文报道 http://www.guoku.com/articles/134060/。希望各位能在逛店的同时，感受由果库营造的种种惊喜与不同以往的环境氛围。
                                       如果你在打造自己的特色原创设计品牌，或者开设了追求生活品质的复合式实体店铺，都可以通过 bd@guoku.com 联系我们。">
{% endblock %}

{% block title %}选品服务计划 | 精英消费指南 | 果库{% endblock %}
{% block main %}
    <h3>选品服务计划</h3>
    <hr>
    <h4>
        加入果库选品服务计划
    </h4>
    <p>
        「果库选品商店」服务计划，为活跃于线上的国内原创设计品牌与线下生活方式店们牵线。由果库提出与众不同的理想生活选品组合方案，去同质化的消费场景，营造更具情怀与体验感的复合式主题店，向消费者提供独特的购物体验，为线下零售业带去惊喜变化，同时为原创设计品牌扩展销售渠道。
    </p>
    <p>
        目前，果库选品商店服务已经开启，合作商店列表，详见<a class="new-blue-link" href="http://www.guoku.com/articles/134060/" target="_blank">图文报道</a>。希望各位能在逛店的同时，感受由果库营造的种种惊喜与不同以往的环境氛围。
    </p>
    <p>
        如果你在打造自己的特色原创设计品牌，或者开设了追求生活品质的复合式实体店铺，都可以通过 bd@guoku.com 联系我们。
    </p>
    <br>
    <h4>
        如何加入计划？
    </h4>
    <br>
    <p>
        如果你是原创设计品牌，或者线上商家，
    </p>
    <p class="subtitle">
        申请流程：
    </p>
    <p>
        申请者发送申请邮件 → 果库审核资质 → 果库回复申请邮件 → 申请者与果库工作人员对接 → 选品确定及订货下单
    </p>
    <p class="subtitle">申请邮件内容：</p>
    <ul>
        <li>
            1、邮件标题：&lt;品牌名称&gt;&nbsp;申请加入果库选品服务计划；
        </li>
        <li>
            2、店铺介绍：名称、背景资料，以及必要的店址链接；
        </li>
        <li>
            3、设计师介绍：品牌主理人及设计师信息；
        </li>
        <li>
            4、商品介绍：申请加入贩售的商品清单，以及必要的商品信息、设计理念、材质说明等，愿闻其详；
        </li>
        <li>
            5、联系方式：QQ、微信号、手机号等。

        </li>
    </ul>
    <div>
        <p class="subtitle">审核标准：</p>
        <ul>
            <li>
                1、品牌符合果库精选商品之标准；
            </li>
            <li>
                2、品牌或某系列商品适合在现有线下店铺进行贩售；
            </li>
            <li>
                3、原创设计商品，不涉及抄袭、雷同、情色、暴力等问题。
            </li>
        </ul>
    </div>
    <br>
    <p>
        如果你是线下店主，
    </p>
    <p class="subtitle">
        申请流程：
    </p>
    <p>
        申请者发送申请邮件 → 果库审核资质 → 果库回复申请邮件 → 申请者与果库工作人员对接 → 沟通选品需求及陈列面积等事宜 → 果库选品提案 → 沟通及确定 → 下单及进货 → 陈列完成开始售卖
    </p>
    <p class="subtitle">申请邮件内容：</p>
    <ul>
        <li>
            1、邮件标题：&lt;店名&gt;&nbsp;申请加入果库选品服务计划；
        </li>
        <li>
            2、店铺介绍：名称、地址、背景资料，含主营业务、风格介绍等；
        </li>
        <li>
            3、期望贩售商品之需求：风格、品类及品牌等；
        </li>
        <li>
            4、联系方式：QQ、微信号、手机号等。
        </li>
    </ul>
    <div>
        <p class="subtitle">审核标准：</p>
        <ul>
            <li>
                1、拥有营业执照等证件的合法商家；
            </li>
            <li>
                2、拥有独特的店铺风格，以及通过选品丰富消费体验的意愿。
            </li>
        </ul>
    </div>
    <p>
        最终解释权归果库所有。
    </p>
{% endblock %}