{% extends 'web/base.html' %}

{% load i18n staticfiles %}
{% load common guoku %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
{% endblock %}

{% block body_class %}
    gray-body static-body
{% endblock %}

{% block content %}
    <div class="container main_static">
        <div class="row">
            <div class="col-sm-3 col-md-3 slide hidden-xs">
            {% url 'web_about' as web_about_url %}
            {% url 'web_jobs' as web_jobs_url %}
            {% url 'web_sitemap_url' as web_sitemap_url %}
            {% url 'web_links' as web_links_url %}
            {% url 'web_agreement' as web_agreement_url %}
            {% url 'web_faq' as web_faq_url %}
            {% url 'web_cooperate' as web_cooperate_url %}
            {% block sidebar %}
                <ul class="nav-sidebar fs_14 fc_2">

                <li class="fc_5 {% if web_about_url in request.path %}check{% endif %}">
                    <a href="{{ web_about_url }}">
                         <i class="fa fa-arrow-circle-right"></i>
                        <span>ABOUT {% trans 'about' %}</span>
                    </a>
                </li>
                <li class="fc_5 {% if web_faq_url in request.path %}check{% endif %}">
                    <a href="{{ web_faq_url }}">
                         <i class="fa fa-arrow-circle-right"></i>
                        <span>FAQ {% trans 'faq' %}</span>
                    </a>
                </li>
                <li class="fc_5 {% if web_jobs_url in request.path %}check{% endif %}">
                    <a href="{{ web_jobs_url }}">
                         <i class="fa fa-arrow-circle-right"></i>
                        <span>JOBS {% trans 'jobs' %}</span>
                    </a>
                </li>
                <li class="fc_5 {% if web_jobs_url in request.path %}check{% endif %}">
                    <a href="{{ web_sitemap_url }}">
                         <i class="fa fa-arrow-circle-right"></i>
                        <span>SITEMAP {% trans 'sitemap' %}</span>
                    </a>
                </li>
                <li class="fc_5 {% if web_links_url in request.path %}check{% endif %}">
                    <a href="{{ web_links_url }}">
                         <i class="fa fa-arrow-circle-right"></i>
                        <span>LINKS {% trans 'links' %}</span>
                    </a>
                </li>
                <li class="fc_5 {% if web_cooperate_url in request.path %}check{% endif %}">
                    <a href="{{ web_cooperate_url }}">
                         <i class="fa fa-arrow-circle-right"></i>
                        <span>LINKS {% trans '果库合作' %}</span>
                    </a>
                </li>
                <li class="fc_5 {% if web_agreement_url in request.path %}check{% endif %}">
                    <a href="{{ web_agreement_url }}">
                         <i class="fa fa-arrow-circle-right"></i>
                        <span>AGREEMENT {% trans 'agreement' %}</span>
                    </a>
                </li>
                </ul>

{#                <div class="contact-info-wrapper">#}
{#                    <div class="contact-line">客服邮箱：hi@guoku.com</div>#}
{#                    <div class="contact-line">客服热线：010 8449 1039</div>#}
{#                </div>#}
            {% endblock %}
            </div>
            <div class="col-sm-9 col-md-9 static-page">
                {% block main %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}