{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <section class="content-header">
        <h1>{% trans 'edit launch image' %}</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#">{% trans 'launch image' %}</a></li>
            <li class="active">{% trans 'edit launch image' %}</li>
        </ol>
    </section>

    <section class="content">

    </section>
{% endblock %}
