{% extends 'base.html' %}
{% load i18n static survey_extras %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div style="height: 100px;background: #fffde8;">
                <div class="row">
                    <div class="col-sm-9 hidden-xs">
                        <h3 class="" style="padding-left: 20px;padding-top:20px;">果库 2014 年度用户调查</h3>
                    </div>
                    <div class="col-xs-6 hidden-sm hidden-md hidden-lg">
                        <h3 class="" style="padding-left: 20px;padding-top: 5px;">果库 2014 <br>年度用户调查</h3>
                    </div>
                    <div class="col-sm-3 col-xs-6" style="text-align:right;">
                        <img class="" style="height: 100px;" src="{% static '/media/img/header-question.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}

            <h3><span class="label label-default">3/4</span> {{ category }} </h3>
            <hr>
            <fieldset>
                {% for field in wizard.form %}
                    <div class="{% if field.errors %}has-error{% endif %}">
                    <label>{{ forloop.counter }}. {{ field.label }}</label>
                    {% if field.field.widget|klass == 'RadioSelect' %}
                        <div class="radio">
                            {{ field }}
                        </div>
                    {% elif field.field.widget|klass == 'CheckboxSelectMultiple' %}
                        <div class="checkbox">
                            {% for radio in field %}
                                <label class="checkbox-inline">
                                    {{ radio.tag }}
                                    {{ radio.choice_label }}
                                </label>
                            {% endfor %}
                        </div>
                    {% elif field.field.widget|klass == 'Select' %}
                        <div class="col-sm-12">
                            {{ field }}
                        </div>
                    {% else %}
					    <div class="col-sm-12">
                            {{ field }}
					    </div>
					{% endif %}

                    </div>
                {% endfor %}
            </fieldset>
            <div class="">
                <button type="submit" class="btn btn-primary btn-lg" style="border:none;border-radius:0px;background-color:#343434;color:#fff;margin-top:40px;">最后一步</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}