{% extends 'base.html' %}
{% load i18n static survey_extras %}


{% block body %}
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="{% static '/media/img/header.jpg' %}">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}

            <h3>{{ category }}</h3>
            <hr>
            <fieldset>
                {% for field in wizard.form %}
                    <div class="{% if field.errors %}has-error{% endif %}">
                    <label>{{ forloop.counter }}. {{ field.label }}</label>
                    {% if field.field.widget|klass == 'RadioSelect' %}
                        <div class="radio">
                            {{ field }}
                        </div>
                    {% elif field.field.widget|klass == 'CheckboxSelectMultiple' %}
                        <div class="checkbox">
                            {% for radio in field %}
                                <label class="checkbox-inline">
                                    {{ radio.tag }}
                                    {{ radio.choice_label }}
                                </label>
                            {% endfor %}
                        </div>
                    {% elif field.field.widget|klass == 'Select' %}
                        <div class="col-sm-12">
                            {{ field }}
                        </div>
                    {% else %}
					    <div class="col-sm-12">
                            {{ field }}
					    </div>
					{% endif %}

                    </div>
                {% endfor %}
            </fieldset>
            <div class="">
                <button type="submit" class="btn btn-primary btn-lg" style="border:none;border-radius:0px;background-color:#343434;color:#fff;margin-top:40px;">最后一步</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}