{% extends 'base.html' %}
{% load i18n static survey_extras %}


{% block body %}
<div class="row">
    <div class="col-md-12">
        <div style="height: 100px;background: #fffde8;">
            <div class="row">
                <div class="col-sm-9 hidden-xs">
                    <h3 class="" style="font-size:20px;padding-left: 20px;padding-top:20px;">果库 2014 年度用户调查</h3>
                </div>
                <div class="col-xs-7 hidden-sm hidden-md hidden-lg">
                    <h3 class="" style="font-size:20px;padding-left: 20px;padding-top: 5px;">果库 2014 <br>年度用户调查</h3>
                </div>
                <div class="col-sm-3 col-xs-5" style="text-align:right;">
                    <div style="overflow:hidden;">
                    <img class="" style="height: 100px;" src="{% static '/media/img/header-question.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}
            <h3><span class="label label-default">4/4</span> 联系方式 </h3>
            <hr />
            <fieldset>
{#                    {% for field in wizard.form %}#}
{#                        {% if field.field.widget.attrs.category == category %}#}
{#                            <div class="{% if field.errors %}has-error{% endif %}">#}
{#                                <label>{{ field.label }}</label>#}
{#                            {% if field.field.widget|klass == 'RadioSelect' %}#}
{#                                <div class="radio">#}
{#                                    {{ field }}#}
{#                                </div>#}
{#                            {% elif field.field.widget|klass == 'CheckboxSelectMultiple' %}#}
{#                                <div class="checkbox">#}
{#                                    {% for radio in field %}#}
{#                                        <label class="checkbox-inline">#}
{#                                            {{ radio.tag }}#}
{#                                            {{ radio.choice_label }}#}
{#                                        </label>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            {% elif field.field.widget|klass == 'Select' %}#}
{#                                <div class="col-sm-12">#}
{#                                    {{ field }}#}
{#                                </div>#}
{#                            {% else %}#}
{#    						    <div>#}
{#                                    {{ field }}#}
{#    						    </div>#}
{#    						{% endif %}#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div style="margin-top:20px;padding:20px;border: 1px solid #ddd;">
                        {% for field in wizard.form %}
{#                            {% if field.field.widget.attrs.category == category %}#}
                            <div>
                                <div class="{% if field.errors %}has-error{% endif %}">
                                    <label class="control-label">{{ field.label_tag }}</label>
                                    <div class="">
                                        {{ field }}
                                    </div>
                                    {% if field.errors %}
                                        {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                                    {% else %}
                                        <span class="help-block">(如：{{ field.help_text }})</span>
                                    {% endif %}
                                </div>
                            </div>
{#                            {% endif %}#}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <div>
                <button type="submit" class="btn btn-primary btn-lg" style="border:none;border-radius:0px;background-color:#343434;color:#fff;margin-top:40px;">完成</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}