{% extends 'base.html' %}

{% load survey_extras i18n static %}

{% block wrapper %}
{{ wizard.form.media }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div style="height: 100px;background: #fffde8;">
            <div class="row">
                <div class="col-sm-9 hidden-xs">
                    <h3 class="" style="font-size:20px;padding-left: 20px;padding-top:20px;">果库 2014 年度用户调查</h3>
                </div>
                <div class="col-xs-7 hidden-sm hidden-md hidden-lg">
                    <h3 class="" style="font-size:20px;padding-left: 20px;padding-top: 5px;">果库 2014 <br>年度用户调查</h3>
                </div>
                <div class="col-sm-3 col-xs-5" style="text-align:right;">
                    <div style="overflow:hidden;">
                    <img class="" style="height: 100px;" src="{% static '/media/img/header-question.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" action="" method="post">{% csrf_token %}

                {{ wizard.management_form }}
                <fieldset>
                {% if wizard.form.forms %}

                    {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            <div class="">
                                {{ form }}
                            </div>
                        {% endfor %}
                {% else %}
                    <h3><span class="label label-default">1/4</span> {{ category }} </h3>
                    <hr>
                    {% for field in wizard.form %}
                        {% if field.field.widget.attrs.category == category %}
                            <div class="{% if field.errors %}has-error{% endif %}">
                                <label>{{ forloop.counter}}. {{ field.label }}</label>
                                {% if field.field.widget|klass == 'RadioSelect' %}
                                    <div class="radio">
                                        {{ field }}
                                    </div>
                                {% elif field.field.widget|klass == 'CheckboxSelectMultiple' %}
                                    <div class="checkbox">
                                        {% for radio in field %}
                                            <label class="checkbox-inline">
                                                {{ radio.tag }}
                                                {{ radio.choice_label }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                {% elif field.field.widget|klass == 'Select' %}
                                    <div class="col-sm-12">
                                        {{ field }}
                                    </div>
                                {% else %}
        						    <div>
                                        {{ field }}
        						    </div>
        						{% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </fieldset>

                <div>
                    <button type="submit" class="btn btn-primary btn-lg" style="border:none;border-radius:0px;background-color:#343434;color:#fff;margin-top:40px;">下一步</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}