{% extends 'base.html' %}

{% load survey_extras i18n static %}

{% block wrapper %}
{{ wizard.form.media }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="{% static '/media/img/header.jpg' %}">
            <h2>{{survey.name|title}}</h2>
            <div class="survey-description">
    	        {{survey.description|safe}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" action="" method="post">{% csrf_token %}

                {{ wizard.management_form }}
                <fieldset>
                {% if wizard.form.forms %}

                    {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            <div class="">
                                {{ form }}
                            </div>
                        {% endfor %}
                {% else %}
                    <h5 style="font-size:24px;font-weight:600;">{{ category }}</h5>
                    <hr>
                    {% for field in wizard.form %}
                        {% if field.field.widget.attrs.category == category %}
                            <div class="{% if field.errors %}has-error{% endif %}">
                                <label>{{ forloop.counter}}. {{ field.label }}</label>
                                {% if field.field.widget|klass == 'RadioSelect' %}
                                    <div class="radio">
                                        {{ field }}
                                    </div>
                                {% elif field.field.widget|klass == 'CheckboxSelectMultiple' %}
                                    <div class="checkbox">
                                        {% for radio in field %}
                                            <label class="checkbox-inline">
                                                {{ radio.tag }}
                                                {{ radio.choice_label }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                {% elif field.field.widget|klass == 'Select' %}
                                    <div class="col-sm-12">
                                        {{ field }}
                                    </div>
                                {% else %}
        						    <div>
                                        {{ field }}
        						    </div>
        						{% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </fieldset>

                <div>
                    <button type="submit" class="btn btn-primary btn-lg" style="border:none;border-radius:0px;background-color:#343434;color:#fff;margin-top:40px;">下一步</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}