DATABASE_URL=mysql://guoku:guoku!%40%23@10.0.2.90:3306/core?charset=utf8mb4&init_command=SET storage_engine=INNODB
REDIS_CACHE_URL=rediscache://10.0.2.46:6379,10.0.2.120:6379,10.0.2.115:6379/1?client_class=django_redis.client.ShardClient&pickle_version=-1&socket_connect_timeout=5&socket_timeout=5&compress_min_len=10&parser_class=redis.connection.HiredisParser
SEARCH_URL=solr://10.0.2.115:8983/solr
OSS_REGION=oss-cn-zhangjiakou
OSS_ACCESS_KEY_ID=LTAIrQsoAg4SkguC
OSS_ACCESS_KEY_SECRET=bzOC6Jkyi2bozT467RWr8dpiCa7VIQ
OSS_BUCKET=initstack-docker
OSS_ENDPOINT=oss-cn-zhangjiakou.aliyuncs.com

MYSQL_ROOT_PASSWORD=my-secret-pwd
MYSQL_DATABASE=core
MYSQL_USER=guoku
MYSQL_PASSWORD=guoku_pwd123
CHECK_BUY_LINK_URL=http://10.0.2.49:6800/schedule.json