{% load common guoku %}
{% for seller in section_sellers %}
    <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">


        <a href="{{ seller.related_article.url }}" target="_blank">
            <img class="img-responsive sellers-logo" src="{{ seller.logo_url}}">
        </a>

        <div class="sellers-desc">
            <p>{{ seller.shop_desc }}</p>

        </div>
        <div class="score score-hidden">
            <ol>
                {% for star in star_range %}
                    <li>
                    {% if forloop.counter >  seller.gk_stars %}
                         <i class="fa fa-star-o"></i>
                    {% else %}
                        <i class="fa fa-star"></i>
                    {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="sellers-share sellers-share-visible">
            <ul>
                <li>
                    <a><i class="fa fa-wechat wechat-hover"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-weibo weibo-hover"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-qq qq-hover"></i></a>
                </li>
            </ul>

        </div>

    </div>
{% endfor %}