{% load guoku common %}
{#  https://css-tricks.com/fighting-the-space-between-inline-block-elements/ #}
{% for entity in section_entities %}
    {% if forloop.counter < 31 %}
        <li>
            {% if isFromMobile %}
                 <a href="{{ entity.mobile_url }}" class="recommendation-item seller-entity-link">
                    <img src="{{ entity.chief_image|resize:'128' }}" alt="{{ entity.title }}" title="{{ entity.title }}" class="img-responsive">
                </a>
            {% else %}
                 <a href="{{ entity.absolute_url }}" target="_blank" class="recommendation-item">
                    <img src="{{ entity.chief_image|resize:'128' }}" alt="{{ entity.title }}" title="{{ entity.title }}" class="img-responsive">
                </a>
            {% endif %}

{#        </li>#}
    {% endif %}
{% endfor %}