{% load i18n staticfiles %}
{#{% load notifications_tags %}#}
{% load common %}

<header id="seller_2016_nav" role="navigation">
    <div class="container">
        <div class="logo-wrapper hidden-xs">
            <img src="{% static 'images/year-seller-2016/logo.png' %}" style="height:32px;">
        </div>
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a class="section-title" href="{% url 'year_store_2016' %}">Top</a>
                </li>
                <li>
                    <a class="section-title" href="{% url 'year_store_2016_shops' %}">好店<span class="hidden-xs hidden-sm"> SHOPS</span></a>
                </li>
                <li>
                    <a class="section-title" href="{% url 'year_store_2016_opinions' %}">作者<span class="hidden-xs hidden-sm"> OPINIONS</span></a>
                </li>
                <li>
                    <a class="section-title" href="{% url 'year_store_2016_topics' %}">话题<span class="hidden-xs hidden-sm"> TOPICS</span></a>
                </li>
                <li>
                    <a class="section-title" href="{% url 'year_store_2016_columns' %}">专栏<span class="hidden-xs hidden-sm"> COLUMNS</span></a>
                </li>
            </ul>
        </div>
    </div>
</header>

