{% load i18n staticfiles %}
{#{% load notifications_tags %}#}
{% load common %}

<header id="seller_2016_nav" role="navigation">
    <div class="container">
        <div class="logo-wrapper hidden-xs">
            <img src="{% static 'images/year-seller-2016/logo.png' %}" style="height:32px;">
        </div>
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a class="section-title" href="">Top</a>
                </li>
                <li>
                    <a class="section-title" href="">好店<span class="hidden-xs"> SHOPS</span></a>
                </li>
                <li>
                    <a class="section-title" href="">作者<span class="hidden-xs"> OPINIONS</span></a>
                </li>
                <li>
                    <a class="section-title" href="">话题<span class="hidden-xs"> TOPICS</span></a>
                </li>
                <li>
                    <a class="section-title" href="">专栏<span class="hidden-xs"> COLUMNS</span></a>
                </li>
            </ul>
        </div>
    </div>
</header>

