{% extends 'web/base.html' %}
{% load i18n staticfiles %}
{% load guoku %}


 {% block meta-og %}
    <meta property="og:title" content="果库品类 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库的品类页，按时间、按喜爱进行索引浏览商品排行榜，更便捷查找品类下人气最高的商品。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="{{ sub_category.title }} - {{ sub_category.group }} | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ sub_category.title }},{{ sub_category.group }},果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="{{ sub_category.title }},{{ sub_category.group }},果库品类，按照类目细分商品，聚合单一品类的商品排行榜，寻找好物不再盲目。发现更好商品，一目了然。">
{% endblock %}
{% block title %}{{ sub_category.title }} - {{ sub_category.group }} | 精英消费指南 | 果库{% endblock %}


{% block content %}
    {% url 'web_category_detail' cid as sort_url %}

    <div class="container">
        <div class="row">
             <div class="col-md-12">
                <div class="category-header">
                    <span class="category-name"> {{ sub_category.title|show_category }}</span>
                    <span class="dropdown-toggle category-action pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           aria-haspopup="false" role="button" aria-expanded="false">
                            {% if sort_method == 'pub_time' %}
                                时间
                            {% else %}
                                喜爱
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul  id="sort_dropdown" class="dropdown-menu" role="menu"  >
                            <li ><a href="{{ sort_url }}">时间</a></li>
                            <li  class="divider"></li>
                            <li ><a href="{{ sort_url }}olike/">喜爱</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="row selection_article_container" id="selection_article_list">
            {% for article in related_articles %}
             {% include 'web/main/partial/article.html' %}
            {% endfor %}
        </div>
        <div class="row" id="category-entity-list" data-refresh="{{ refresh_datetime }}">

            {% for entity in entities %}
                {% include 'web/main/partial/entity.html' with entity=entity %}
            {% endfor %}
        </div>
        {% if entities.has_next %}
            <div class="row" >
                <div class="col-xs-12 loading-icon">
                    <img src="{% static 'images/widgets/loading.gif' %}" height="32px" width="32px">
                </div>
            </div>
        {% endif %}

        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>
        {% include "web/main/partial/paginator.html" with objects=entities url=request.path %}
    </div>
{% endblock %}
{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/category_entity_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}

{% block script %}
{% endblock %}
