{% load i18n %}
{% load common %}
{% load guoku %}
{#{% load entity web_common %}#}

{#{% for entity in entities %}#}
 <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 selection-item event-entity-item">
        <div class="thumbnail entity-selection">
            <div class="img-box">
                {% if isFromMobile %}
                    <a  href="{{ entity.mobile_url }}" >
                       <img class="img-responsive" alt=" {{ entity.title }}" title="{{ entity.selection_hover_word }}" src="{{ entity.chief_image|resize:'310' }}">
                   </a>
                {% else %}
                    <a  href="{% url 'web_entity_detail' entity.entity_hash %}" >
                        <img class="img-responsive" alt=" {{ entity.title }}" title="{{ entity.selection_hover_word }}" src="{{ entity.chief_image|resize:'310' }}">
                    </a>
                {% endif %}
            </div>

            <div class="section-info">
                <div class="entity-brand">{{ entity.brand }}</div>

                <div class="entity-title">{{ entity.title }}</div>
                <div class="entity-price">￥{{ entity.price }}</div>
                <div class="button-wrapper">
                </div>
            </div>
            <div class="section-buy">
              {% with row=entity.default_buy_link %}
                  {% if row.origin_source == "taobao.com" or row.origin_source == "tmail.com" %}
    {#                 <a href="http://detail.tmall.com/item.htm?id={{ entity.default_buy_link.origin_id }}">#}
                      <a  rel="nofollow" href="http://detail.tmall.com/item.htm?id={{ entity.default_buy_link.origin_id }}" target="_blank" biz-itemid="{{ row.origin_id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-taobao', '{{ entity.title }}-taobao'])">
                  {% else %}
                      <a  rel="nofollow" href="{% url 'web_entity_buy_url' row.id %}" target="_blank" _hover-ignore="1"  onclick="_hmt.push(['_trackEvent', 'entity', 'buy', '{{ entity.title }}-{{ row.origin_souce }}'])">
                   {% endif %}
                         <div class="guoku-button button-blue">去购买</div>
                     </a>
             {% endwith %}
            </div>
{#            <div class="caption">#}
{#                <p class="note">{{ entity.top_note|truncatechars:70 }}</p>#}
{#            </div>#}
{#            <div class="info for-browser">#}
{#                {% if entity.id in user_entity_likes %}#}
{#                    <a class="btn btn-like pull-left" href="javascript:;" data-entity="{{ entity.id }}" rel="nofollow" onclick="_hmt.push(['_trackEvent', 'entity', 'unlike', '{{ entity.title }}']);">#}
{#                    <i class="fa fa-heart"></i>#}
{#                {% else %}#}
{#                    <a class="btn btn-like pull-left" href="javascript:;" data-entity="{{ entity.id }}" rel="nofollow" onclick="_hmt.push(['_trackEvent', 'entity', 'like', '{{ entity.title }}']);">#}
{#                    <i class="fa fa-heart-o"></i>#}
{#                {% endif %}#}
{#                        {% trans 'Like' %} #}
{#                <span class="like-count"> {{ entity.like_count | format_like_num }}</span>#}
{#                    <div class="bubble like-count">{{ entity.like_count | format_like_num }}</div>#}
{#                    </a>#}
{#                    <div class="pull-right posttime">#}
{#                        <i class="fa fa-clock-o"></i>#}
{#                        <span class="timestr">#}
{#                            {{ entity.selection_entity.pub_time|format_time|cut:" " }}#}
{#                        </span>#}
{##}
{#                    </div>#}
{#            </div>#}
        </div>
    </div>
{#{% endfor %}#}