{% extends 'management/management_base.html' %}
{% load staticfiles i18n %}



{% block title %}{% trans 'dashboard' %}{% endblock %}
{#{% block css %}#}

{#{% endblock %}#}

{% block content %}
    <h1 class="page-header">{% trans 'dashboard' %}</h1>

    {% include 'management/banner/show_banners.html' with show_banners=show_banners %}
    <div class="row">
        <strong>一周精选发布状况</strong>
        <canvas id="selectionChart" class="col-sm-12" width="767" height="400"></canvas>
    </div>
{#    <h2 class="sub-header">{% trans 'selection' %}</h2>#}

{#    {% include "management/entities/table.html" with entities=selection_entities %}#}

{% endblock %}

{% block js %}
    <script src="{% static 'thirdparty/chart/chart.min.js' %}"></script>
{% endblock %}