{% extends 'management/management_base.html' %}
{% load staticfiles i18n %}



{% block title %}{% trans 'dashboard' %}{% endblock %}
{#{% block css %}#}

{#{% endblock %}#}

{% block content %}
    <h1 class="page-header">{% trans 'dashboard' %}</h1>

    {% include 'management/banner/show_banners.html' with show_banners=show_banners %}

    <div class="row">
        <strong>一周精选发布状况</strong>
        <div class="col-sm-12">
            <canvas id="selectionChart"  width="767" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <strong>一周分布精选分类</strong>
        <div class="col-sm-12">
            <canvas id="categoryChart"  width="767" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <strong>一周喜欢状况</strong>
        <div class="col-sm-12">
            <canvas id="likeChart"  width="767" height="400"></canvas>
        </div>
    </div>

{% endblock %}

{% block user_script %}
    <script src="{% static 'thirdparty/chart/chart.min.js' %}"></script>
{% endblock %}