{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" maximum-scale=1, user-scalable=no">

    <title>{% block  title %}管理后台{% endblock %}</title>

{#    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'thirdparty/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'thirdparty/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{#    <link href="{% static 'css/management/rwd-table.min.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/management/main.css' %}" rel="stylesheet">

    {% block css %}{% endblock %}
</head>
<body class="guoku-management">
    {% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">导航条</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">果库</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{% trans 'dashboard' %}</a></li>
                        <li><a href="#">{% trans 'settings' %}</a></li>
                        <li><a href="javascript:window.open('http://admin.guoku.com/management/entity/new/?url=' +encodeURIComponent(location.href), '_blank');">果库+</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input class="form-control" type="text" placeholder="{% trans "search" %}">
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% block sidebar %}
                    <ul class="nav nav-sidebar">
                        {% url 'management_dashboard' as management_dashboard_url %}
                        <li {% if management_dashboard_url == request.path %}class="active"{% endif %}>
                            <a href="{{ management_dashboard_url }}"><i class="fa fa-dashboard"></i>&nbsp;{% trans 'dashboard' %}</a>
                        </li>
                        {% url 'management_report_list' as management_report_list_url %}
                        <li {% if management_report_list_url == request.path %}class="active"{% endif %}>
                            <a href="{{ management_report_list_url }}"><i class="fa fa-eraser"></i>&nbsp;{% trans 'report' %}</a>
                        </li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        {% url 'management_selection_list' as management_selection_url %}
                        <li {% if management_selection_url in request.path %} class="active" {% endif %}>
                            <a href="{{ management_selection_url }}"><i class="fa fa-star"></i>&nbsp;{% trans 'selection' %}</a>
                        </li>

                        {% url 'management_event' as management_event_url %}
                        <li {% if management_event_url in request.path %}class="active"{% endif %}>
                            <a href="{{ management_event_url }}"><i class="fa fa-eye"></i>&nbsp;{% trans 'event' %}</a>
                        </li>
                        {% url 'management_banner_list' as management_banner_list_url %}
                        <li {% if management_banner_list_url in request.path %} class="active" {% endif %}>
                            <a href="{{ management_banner_list_url }}"><i class="fa fa-photo"></i> {% trans 'banner' %}</a>
                        </li>

                        {% url 'management_entity_list' as management_entity_list_url %}
                        <li {% if management_entity_list_url in request.path %}class="active"{% endif %}>
                            <a href="{{ management_entity_list_url }}"><i class="fa fa-gift"></i> {% trans 'entity' %}</a>
                        </li>

                        {% url 'management_note_list' as management_note_list_url %}
                        <li {% if management_note_list_url in request.path %}class="active" {% endif %}>
                            <a href="{{ management_note_list_url }}"><i class="fa fa-pencil"></i> {% trans 'note' %}</a>
                        </li>

                        {% url 'management_comment_list' as management_comment_list_url %}
                        <li {% if management_comment_list_url in request.path %}class="active"{% endif %}>
                            <a href="{{ management_comment_list_url }}"><i class="fa fa-comment-o"></i> {% trans 'comment' %}</a>
                        </li>
                    </ul>

                    <ul class="nav nav-sidebar">
                        {% url 'management_article_list' as management_article_list_url  %}
                        <li {% if management_article_list_url in request.path %}class="active"{% endif %}>
                            <a href="{{ management_article_list_url }}"><i class="fa fa-file-text"></i>&nbsp;{% trans 'article' %}</a>
                        </li>

                        {% url 'management_media_list' as management_meida_list_url %}
                        <li {% if management_meida_list_url in request.path %}class="active"{% endif %}>
                            <a href="{{ management_meida_list_url }}"><i class="fa fa-folder-open-o"></i>&nbsp;{% trans 'media' %}</a>
                        </li>
                    </ul>

                    <ul class="nav nav-sidebar">
                    {% url 'management_category_list' as management_category_list_url %}
{#                    {{ request.path }}#}
                        <li {% if management_category_list_url in request.path %}class="active" {% endif %}><a href="{{ management_category_list_url }}"><i class="fa fa-sitemap"></i> {% trans 'category' %}</a></li>

                        {% url 'management_tag_list' as management_tag_list_url %}
                        <li {% if management_tag_list_url in request.path %}class="active" {% endif %}>
                            <a href="{{ management_tag_list_url }}"><i class="fa fa-tag"></i> {% trans 'tag' %}</a>
                        </li>
                    </ul>

                    {% if request.user.is_staff %}
                    <ul class="nav nav-sidebar">
                        {% url 'management_user_list' as management_user_list_url %}
                        <li {% if management_user_list_url in request.path %}class="active"{% endif %}><a href="{{ management_user_list_url }}"><i class="fa fa-user"></i> {% trans 'user' %}</a></li>
                    </ul>
                    {% endif %}

{#                    <ul class="nav nav-sidebar">#}
{#                        {% url 'management_wechat_robots' as management_wechat_robots_url %}#}
{#                        <li {% if management_wechat_robots_url in request.path %}class="active"{% endif %}><a href="{{ management_wechat_robots_url }}"><i class="fa fa-weixin"></i> {% trans 'wechat robots' %}</a></li>#}
{#                    </ul>#}
                {% endblock %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{#    <script src="{% static 'thirdparty/chart/chart.min.js' %}"></script>#}
    <script src="{% static 'js/management/main.js' %}"></script>
{#    <script src="{% static 'js/management/category.js' %}"></script>#}
    {% block js %}{% endblock %}
</body>
</html>