{% extends 'management/management_base.html' %}
{% load i18n static %}
{% load guoku %}
{% block content %}

  <section class="content-header">
        <h1>
            {% trans '每日推送' %}
            <small>{% trans '已经发送 消息列表' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'management_dashboard' %}"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans '已经发送 消息列表' %}</li>
        </ol>
    </section>


     <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-info">
                     <a class="pull-right" href="{% url 'management_push_list' %}">
                               <button class="btn btn-primary">未发送推送</button>
                     </a>
{#                    <div class="box-header">#}
{#                        <ul class="nav nav-pills" role="tablist">#}
{#                            <li class="active"><a href="">所有</a></li>#}
{#                            <li><a href="">正常卖家</a></li>#}
{#                        </ul>#}
{#                    </div>#}
                    <div class="box-body table-responsive">

                        {% include "management/notifications/partial/table_sent.html"%}

                    </div>

                    <div class="box-footer">
                         {% include "management/paginator.html" with objects=page_obj url=request.path %}

                    </div>

                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block user_script %}
    <script language="javascript" src="{% static 'js/management/notification/push_management.js' %}"></script>
{% endblock %}