{% extends "web/base.html" %}
{% load i18n %}

{% block title %}绑定果库帐号{% endblock %}

{% block content %}
    <div class="container">
        {% if form.errors %}
        <div class="row">
            <div class="alert alert-danger col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6" role="alert" style="margin-top: 20px;">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>{% trans 'error' %}!</strong>&nbsp; 邮箱或密码错误
            </div>
        </div>
        {% endif %}
        <div class="row">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <fieldset>
                {% for field in form %}
                    <div class="form-group">
                        <label class="sr-only" id="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-sm-offset-3">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                </fieldset>
                <div class="form-group">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'bind' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}