.guoku-btn {
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  border: none;
}
.guoku-btn:focus,
.guoku-btn:active {
  border: none;
}
.guoku-btn-blue {
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  border: none;
  background-color: #357ebd;
  color: #fff;
}
.guoku-btn-blue:focus,
.guoku-btn-blue:active {
  border: none;
}
.guoku-btn-normal {
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #357ebd;
  display: inline-block;
  width: 100%;
  color: #fff;
  padding: 2px 5px;
  margin: 5px;
  cursor: pointer;
  border: none;
}
.guoku-btn-normal:focus,
.guoku-btn-normal:active {
  border: none;
}
.v-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0px;
}
.little-gray-font {
  font-size: 13px;
  color: #9d9d9d;
}
.guoku-btn-normal {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #357ebd;
  display: inline-block;
  width: 100%;
  height: 40px;
  color: #fff;
  padding: 2px 5px;
  margin: 5px;
  cursor: pointer;
}
.guoku-button {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #357ebd;
  display: inline-block;
  color: #fff;
  padding: 0px 6px;
  cursor: pointer;
  text-decoration: none;
  min-width: 110px;
}
.guoku-button:hover,
.guoku-button:focus {
  text-decoration: none!important;
}
.button-blue {
  background-color: #357ebd;
  color: #fff;
}
.button-blue:hover,
.button-blue:focus {
  color: #fff;
  background-color: #357ebd;
}
.button-white {
  background-color: #fff;
  color: #9d9e9f;
}
.button-white .fa {
  color: #9d9e9f;
}
.button-white:hover {
  color: #9d9e9f;
}
.blue-button {
  font-size: 14px;
  height: 32px;
  border-radius: 4px;
  line-height: 32px;
  text-align: center;
  background: #357ebd;
  color: #fff;
  margin-top: 20px;
}
.button-gray {
  background-color: #9d9e9f;
}
.seller-button {
  margin-top: 10px;
}
.gray-button {
  background-color: #9d9d9d;
  color: #fff;
}
.btn-cancel,
.button-cancel {
  background-color: #f8f8f8;
  color: #999;
  border: 1px solid #eee;
}
.btn-cancel:hover,
.button-cancel:hover,
.btn-cancel:focus,
.button-cancel:focus {
  background-color: #f8f8f8;
  color: #999;
  border: 1px solid #eee;
}
.btn-cancel i,
.button-cancel i {
  color: #9d9e9f;
}
.disabled-button {
  cursor: default;
}
.button-disabled {
  background-color: #9d9e9f;
  color: #f8f8f8;
}
.button-disabled:hover,
.button-disabled:focus {
  background-color: #9d9e9f;
  color: #f8f8f8;
}
.entity-report-button {
  width: 120px;
  background-color: #357ebd;
  color: #fff;
}
.entity-report-button:hover,
.entity-report-button:focus {
  opacity: 0.8!important;
  color: #fff!important;
}
.primary-button {
  width: 100px;
}
.nav-user-actions .round {
  position: relative;
  left: 5px;
}
.common-bordered {
  border: 1px solid #e6e6e6;
}
.panel {
  background-color: #ffffff;
  padding: 18px 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #dddddd;
  -moz-box-shadow: 0px 0px 2px #dddddd;
  box-shadow: 0px 0px 2px #dddddd;
}
.panel-no-padding {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #dddddd;
  -moz-box-shadow: 0px 0px 2px #dddddd;
  box-shadow: 0px 0px 2px #dddddd;
  overflow: hidden;
}
.img-box {
  height: 0;
  padding-bottom: 99%;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e6e6e6;
  display: block;
}
.img-box a {
  display: inline-block;
  position: relative;
}
.img-box a img {
  background-color: #f6f6f6;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}
.entity-four .img-box img,
.entity-selection .img-box img,
.guoku-button,
#detail_content_right .section-list .section-banner img,
.guess_img .img-box img,
.article-wrapper .cover-wrapper a img,
.more-article-wrapper .cover-wrapper a img,
.guess-wrapper .recommend-img,
.user-page .img-box img,
.img-holder a,
.selection-article-item .img-holder,
.thumbnail.category img,
.hover-light {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
}
.entity-four .img-box img:hover,
.entity-selection .img-box img:hover,
.guoku-button:hover,
#detail_content_right .section-list .section-banner img:hover,
.guess_img .img-box img:hover,
.article-wrapper .cover-wrapper a img:hover,
.more-article-wrapper .cover-wrapper a img:hover,
.guess-wrapper .recommend-img:hover,
.user-page .img-box img:hover,
.img-holder a:hover,
.selection-article-item .img-holder:hover,
.thumbnail.category img:hover,
.hover-light:hover {
  opacity: 0.7;
}
.hover-light a:hover,
.hover-light a:focus,
.hover-light a:active,
.hover-light a:visited {
  text-decoration: none;
}
.little-round-tag {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 10px;
  height: 21px;
  line-height: 21px;
  display: inline-block;
  text-align: center;
  border: 1px solid #e6e6e6;
  color: #424242;
  font-size: 13px;
  margin: 4px 4px 0 0;
}
.little-round-tag a {
  color: #424242;
}
.bottom-bordered {
  border-bottom: 1px solid #e6e6e6;
}
.setting-list .round {
  position: relative;
  left: 5px;
  top: 8px;
}
.round {
  width: 6px;
  height: 6px;
  display: none;
  font-size: 6px;
  vertical-align: top;
  border-radius: 3px;
  /*text-align:center;*/
  /*color:#ff1f77;*/
  background-color: #ff1f77;
  text-decoration: none;
}
.ancillary {
  color: #9d9e9f;
}
.entity-four.thumbnail {
  border: none;
  margin-bottom: 60px;
  padding: 0px 0px 16px 0px;
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #dddddd;
  -moz-box-shadow: 0px 0px 2px #dddddd;
  box-shadow: 0px 0px 2px #dddddd;
  overflow: hidden;
}
.entity-four.thumbnail .img-box {
  border: none;
}
.entity-four.thumbnail .btn-like {
  padding: 0px;
  line-height: 14px;
  font-size: 14px;
  height: 14px;
  color: #9d9e9f;
}
.entity-four.thumbnail .caption {
  padding: 0px;
  margin-top: 12px;
  border: none;
}
.btn-top {
  display: none;
  float: right;
  background-color: #eee;
  border: 1px solid#cccccc;
  position: fixed;
  /*right: 10px;*/
  opacity: 0.8;
  bottom: 120px;
  width: 30px;
  height: 30px;
  z-index: 1000000;
  text-align: center;
  line-height: 28px;
  /*vertical-align: middle;*/
}
.btn-top:hover {
  background-color: #e0e0e0;
}
.bubble {
  display: block;
  position: relative;
  height: 25px;
  padding: 0px 10px;
  background: #FFFFFF;
  border: #e6e6e6 solid 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  bottom: 3px;
  left: 39px;
  top: -23px;
  line-height: 25px;
}
.bubble:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  border-style: solid;
  border-width: 6px 6px 6px 0px;
  border-color: transparent #e6e6e6 transparent transparent;
  display: block;
  width: 0;
  z-index: 0;
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: -9px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent #fff transparent transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.change_password,
.binding_page,
.edit_profile,
.main_static {
  min-height: 570px;
}
.load-more-button,
.next-button,
.prev-button {
  display: inline-block;
  padding: 5px 14px;
  background: #fff;
  color: #898989;
  font-weight: 700;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-right: 10px;
}
.load-more-button:hover,
.next-button:hover,
.prev-button:hover,
.load-more-button:active,
.next-button:active,
.prev-button:active,
.load-more-buttonfocus,
.next-buttonfocus,
.prev-buttonfocus {
  background: #eee;
}
.nav-button-holder {
  background: none;
  margin: 0 auto ;
  display: inline-block;
}
.nav-button-holder li {
  float: left;
}
.button-row {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.like-action {
  text-decoration: none;
}
.like-action:hover,
.like-action:focus,
.like-action:active {
  text-decoration: none;
}
.guoku-bg-image-wrapper {
  height: 0 ;
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center;
  border: 1px solid #e6e6e6;
}
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
body {
  padding: 50px;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.sub-header {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}
.navbar-fixed-top {
  border: 0 none;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #ffffff;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  /*border-radius: 50%;*/
  display: inline-block;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*add by An Chen */
/*for boolean style*/
.bool_yes {
  background-color: #22b24c!important;
}
.bool_no {
  background-color: #953b39!important;
}
.guoku-management .product-table th {
  background-color: #cdcdcd;
  text-align: center;
}
.guoku-management .product-table .product-thumb-img {
  min-width: 180px;
}
.guoku-management .product-table .product-id,
.guoku-management .product-table .product-brand,
.guoku-management .product-table .product-created-time,
.guoku-management .product-table .product-price,
.guoku-management .product-table .creator,
.guoku-management .product-table .product-category {
  font-size: 12px;
}
.guoku-management .product-table .product-status {
  min-width: 100px;
}
.guoku-management .product-table .product-actions {
  min-width: 80px;
}
.guoku-management .product-table .creator {
  min-width: 80px;
  text-wrap: none;
}
.guoku-management .product-table .product-title {
  width: 120px;
  text-wrap: avoid;
}
.guoku-management .product-table .info {
  font-size: 9px;
  color: #666666;
}
.batch-selection-modal .modal-dialog {
  width: 90%;
}
.batch-selection-modal .modal-dialog .modal-content {
  overflow-y: scroll;
  background-color: #f8f8f8;
}
.batch-selection-modal .modal-dialog .modal-content .content-list {
  list-style: none;
}
.batch-selection-modal .modal-dialog .modal-content .content-list li {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #dddddd;
  -moz-box-shadow: 0px 0px 2px #dddddd;
  box-shadow: 0px 0px 2px #dddddd;
  overflow: hidden;
  margin: 10px;
}
.batch-selection-modal .modal-dialog .modal-content .content-list li .entity-img img {
  max-height: 60px;
}
.batch-selection-modal .modal-dialog .modal-content .content-list li .entity-info-wrapper .entity-name {
  font-size: 16px;
  font-width: 700;
}
.batch-selection-modal .modal-dialog .modal-content .content-list li .entity-info-wrapper .entity-note {
  font-size: 12px;
  color: #9d9d9d;
}
.batch-selection-modal .modal-dialog .modal-content .content-list li .entity-action-wrapper {
  padding-top: 10px;
}
.batch-selection-modal .modal-dialog .modal-content .content-list li .gap-wrapper {
  padding-right: 30px;
  font-size: 18px;
  text-align: right;
}
.batch-selection-modal .modal-dialog .modal-content .content-list .last_published {
  background-color: #9d9d9d;
}
.manage-section {
  background-color: #ffffff;
  padding: 18px 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #dddddd;
  -moz-box-shadow: 0px 0px 2px #dddddd;
  box-shadow: 0px 0px 2px #dddddd;
  margin: 0px 0px 30px 0px ;
}
.manage-section .section-header {
  font-size: 22px;
  border-bottom: 1px solid #9d9e9f;
}
.manage-section .section-content {
  margin-top: 10px;
}
.manage-section .section-content .content-left {
  border-right: 1px solid #f8f8f8;
}
.manage-section .section-content .content-left .article-cover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.manage-section .section-content .content-left .edit-button-wrapper {
  text-align: center;
  margin-top: 20px;
}
.manage-section .section-content .status-table .status-row {
  height: 40px;
}
.manage-section .section-content .status-table .status-row .status-title {
  width: 100px;
  text-align: right;
}
.manage-section .section-content .status-table .status-row .status {
  width: 100px;
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
}
.manage-section .section-content .action-table .action-row {
  margin: 10px 0px;
  min-height: 50px;
  height: 50px;
  border-bottom: 1px solid #f8f8f8;
}
.manage-section .section-content .action-table .action-row:last-child {
  border-bottom: none;
}
.manage-section .section-content .action-table .action-row .action-title {
  text-align: right;
  padding-right: 20px;
  max-width: 200px;
  width: 200px;
  height: 60px;
  font-size: 18px;
}
.manage-section .section-content .action-table .action-row .action-input {
  width: 468px;
}
.manage-section .section-content .action-table .action-row .action-input select {
  background: #f8f8f8;
  width: 90%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 34px;
}
.manage-section .section-content .action-table .action-row .action-input input {
  background: #f8f8f8;
  width: 90%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  height: 34px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.manage-section .section-content .action-table .action-row .action-input textarea {
  background: #f8f8f8;
  width: 90%;
  padding: 5px;
  margin: 20px 0px;
  font-size: 16px;
  line-height: 1;
  border: 0;
}
.manage-section .section-content .content-right .article-status-wrapper .article-title {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f8f8f8;
}
.manage-section .section-content .content-right .article-status-wrapper .article-status .status-list {
  list-style: none;
}
.manage-section .section-content .content-right .article-status-wrapper .article-status .status-list li {
  width: 60px;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  border: none;
  background-color: #357ebd;
  color: #fff;
}
.manage-section .section-content .content-right .article-status-wrapper .article-status .status-list li:focus,
.manage-section .section-content .content-right .article-status-wrapper .article-status .status-list li:active {
  border: none;
}
.article-management {
  display: none;
}
.entity-table .formatted-time {
  width: 100px;
  color: #9d9e9f;
}
.entity-table .pub-time {
  width: 180px;
  color: black;
}
.entity-table .entity-image {
  min-width: 100px;
}
#event_banner_info .banner-background-image {
  max-height: 250px;
}
.color-sample-box {
  width: 150px;
  height: 150px;
}
.test {
  color: white;
}
/*# sourceMappingURL=main.less.css.map */