@import "mixin.less";

@light-gray:#9d9d9d;
@link-color:#357ebd;
@like-color:#FF1F77;
@common-gray: #9D9E9F;
@common-text-color: #424242;
@very-light-gray:#F8F8F8;
@panel-background-color: #fff;
@default-background:#fff;

@light-blue:#5ba4cf;
@dark-red:rgb(140, 58, 58);

@star-color:#FF9500;

@primary-size : 16px ;
@title-size:22px;
@subtitle-size:18px;

@mini-size: 13px;

@hover-opacity:0.7;

@global-box-radius:4px;

@bottom-border-color:#d5d5d5;
@guoku-editor-width : 600px;
@common-shadow: 0px 2px 3px #ddd;

.guoku-btn-normal{
            font-size:@primary-size;
            height: 35px;
            border-radius: @global-box-radius;
            line-height: 35px;
            text-align: center;
            .border-radius(4px);
            background-color:@link-color;
            display: inline-block;
            width:100%;
            height:40px;
            color: #fff;
            padding: 2px 5px;
            margin:5px;
            cursor: pointer;
      }

.little-round-tag{
                .border-radius(40px);
                padding: 0 10px;
                height: 21px;
                line-height: 21px;
                display: inline-block;
                text-align: center;
//                background: @very-light-gray;
                border: 1px solid @very-light-gray;
                color: @common-text-color;
                font-size: @mini-size;
                margin: 4px 4px 0 0;
                a{
                   color: @common-text-color;
                 }
}
//mixins
.little-gray-font{
  font-size: 12px;
  color: @light-gray
}

.common-bordered{
  border: 1px solid #e6e6e6;
}

.bottom-bordered{
  border-bottom: 1px solid #e6e6e6;
}


.panel{
     background-color: @panel-background-color;
     padding: 18px 18px;
     .border-radius(@global-box-radius);
     .box-shadow(0px 0px 3px #ddd);
}

.panel-no-padding{

      background-color: @panel-background-color;
     .border-radius(@global-box-radius);
     .box-shadow(0px 0px 3px #ddd);
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

body {
    padding: 50px;
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}

.sub-header {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #ffffff;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
    padding: 20px;
}
@media (min-width: 768px) {
.main {
    padding-left: 40px;
    padding-right: 40px;
}
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    /*border-radius: 50%;*/
    display: inline-block;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*add by An Chen */
/*for boolean style*/
.bool_yes{
    background-color: #22b24c!important;
}

.bool_no{
    background-color:#953b39!important;
}

.guoku-management{

  .product-table{
      th{
         background-color: #cdcdcd;
         text-align:center;
      }
      .product-thumb-img{
            min-width: 180px
      }
      .product-id,
      .product-brand,
      .product-created-time,
      .product-price,
      .creator,
      .product-category
      {
           font-size: 12px;
      }
      .product-status
      {
        min-width: 100px;
      }
      .product-actions{
        min-width: 80px;
      }
      .creator{
        min-width: 80px;
        text-wrap: none;
      }
      .product-title{
          width: 120px;
          text-wrap: avoid;
      }

      .info{
         font-size: 9px;
         color: #666666;
      }

  }
}


.batch-selection-modal{
    .modal-dialog{
      width: 90%;
      .modal-content{
        overflow-y: scroll;
        background-color: @very-light-gray;
        .content-list{
           list-style: none;
           li{
               .panel-no-padding;
               margin: 10px;
               .entity-img{
                 img{
                   max-height: 60px;
                 }
               }
               .entity-info-wrapper{
                  .entity-name{
                    font-size: 16px;
                    font-width: 700;
                  }
                  .entity-note{
                    font-size: 12px;
                    color:#9d9d9d;
                  }
               }
               .entity-action-wrapper{
                 padding-top: 10px;
               }
               .gap-wrapper{
                  padding-right: 30px;
                  font-size: @subtitle-size;
                  text-align: right;
               }
           }
           .last_published{
              background-color:@light-gray;
           }
        }
      }
    }
}

.article-management{
  display: none;
}