.content-full-height {
  float: none;
}
.table-image {
  max-width: 150px;
  min-width: 150px;
}
.table .form-control {
  height: auto;
}
.table-dynamic .data-holder td {
  position: relative;
}
.table-dynamic .data-holder td.editing .btn-edit {
  display: none;
}
.table-dynamic .data-holder td.editing .btn-save {
  display: block;
}
.table-dynamic .data-holder td .btn-edit {
  display: block;
}
.table-dynamic .data-holder td .btn-save {
  display: none;
}
.table-dynamic .data-holder td.value .value-content {
  display: block;
}
.table-dynamic .data-holder td.value .form-widget {
  display: none;
}
.table-dynamic .data-holder td .value-content {
  display: none;
}
.table-dynamic .data-holder td .form-widget {
  display: block;
}
.table-dynamic .data-holder td .image-file-input {
  position: absolute;
  height: 100%;
  min-height: 20px;
  width: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
}
#SBBanner-management #sbbanner .banner-image {
  max-width: 250px;
  width: 250px;
}
#SBBanner-management #sbbanner .banner-position input {
  width: 60px;
}
#SBBanner-management #sbbanner .banner-link input {
  width: 250px;
  font-size: 12px;
}
#Article-management table .title {
  max-width: 250px;
  font-weight: 600;
  font-size: 16px;
}
#Article-management table .author {
  color: darkblue;
}
#Article-management table .read {
  color: darkred;
}
#Article-management .box-footer div,
#Article-management .box-header div {
  display: inline-block;
}
#Article-management .box-footer input,
#Article-management .box-header input {
  margin-left: 20px;
}
#Article-management .box-footer .page-action,
#Article-management .box-header .page-action {
  cursor: pointer;
}
#article_form_wrapper .input-title {
  text-align: right;
  margin-righ: 30px;
}
.test {
  color: black;
}
