@import "../lib/mixin.less";
@import "../lib/var.less";
@import '../lib/component.less';
@import '../lib/widgets.less';

.seller-management{
  .main-header{
    a.logo{
      img{
        width:66px;
        height:23px;
        opacity: 0.54;
      }
      &:hover{
        img{
          opacity: 1;
        }
      }
    }
  }
}