{% extends 'web/base.html' %}
{% load i18n %}

{% block title %}{% trans 'forget password' %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1>重新设置密码</h1>
            <hr />
        </div>
        <div class="row">
            <form class="form-horizontal" method="post" action="{% url 'web_forget_password' %}">
                {% csrf_token %}
                <fieldset>
                    {% for field in forms %}
{#                        <div class="form-group">#}
{#                            <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>#}
{#                        </div>#}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <p><label class="control-label" for="{{ field.id_for_label }}" style="font-size: 18px; margin-left: 165px;">通过登录/注册邮箱重设密码</label></p>
                            <div class="col-sm-offset-2 col-sm-5">
{#                            <div style="margin-left: 165px; margin-top: 20px; margin-right: 265px;">#}
                            {{ field }}
                            </div>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% else %}
{#                                <span class="help-block">{{ field.help_text }}</span>#}
                            {% endif %}
                        </div>
                    {% endfor %}
{#                    {{ forms }}#}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="col-sm-offset-2 btn btn-primary btn-lg">发送邮件</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}