{% extends 'web/base.html' %}
{% load i18n %}

{% block title %}{% trans 'forget password' %}{% endblock %}
{% block content %}
    <div class="container password-fields">
        <div class="row">
            <h3>重新设置密码</h3>
            <hr />
        </div>
        <div class="row">

            <form class="form-horizontal " method="post" action="{% url 'web_forget_password' %}">
                {% csrf_token %}
                <fieldset>
                    {% for field in forms %}
{#                        <div class="form-group">#}
{#                            <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>#}
{#                        </div>#}
                        <div class=" {% if field.errors %}has-error{% endif %}">
                            <p><label class="control-label" for="{{ field.id_for_label }}" >
                                {%  trans field.label %}
                              </label>
                            </p>
                            <div class="">
                            {{ field }}
                            </div>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% else %}
{#                                <span class="help-block">{{ field.help_text }}</span>#}
                            {% endif %}
                        </div>
                    {% endfor %}
{#                    {{ forms }}#}
                </fieldset>
                <div class="send-button">
                    <button type="submit" class="btn btn-primary ">发送邮件</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}