.guoku-button {
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #357ebd;
  display: inline-block;
  color: #fff;
  padding: 2px 10px;
  margin: 5px;
  cursor: pointer;
}
.button-blue {
  background-color: #357ebd;
}
.button-gray {
  background-color: #9d9e9f;
}
.button-white {
  background-color: #fff;
  color: #424242;
  border: 1px solid darker(#f8f8f8);
}
.common-bordered {
  border: 1px solid #e6e6e6;
}
.panel {
  background-color: #ffffff;
  padding: 18px 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 3px #dddddd;
  -moz-box-shadow: 0px 0px 3px #dddddd;
  box-shadow: 0px 0px 3px #dddddd;
}
.panel-no-padding {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 3px #dddddd;
  -moz-box-shadow: 0px 0px 3px #dddddd;
  box-shadow: 0px 0px 3px #dddddd;
}
.cell .img-box {
  display: block;
  height: 0;
  padding-bottom: 95%;
  overflow: hidden;
  text-align: center;
}
.cell .img-box a {
  display: inline-block;
  position: relative;
}
.cell .img-box a img {
  background-color: #f6f6f6;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}
.entity-four .img-box img:hover,
.entity-selection .img-box img:hover,
.guoku-button:hover,
#detail_content_right .section-list .section-banner img:hover,
.guess_img .img-box img:hover,
.article-wrapper .cover-wrapper a img:hover,
.more-article-wrapper .cover-wrapper a img:hover,
.guess-wrapper .recommend-img:hover {
  opacity: 0.7;
}
.little-round-tag {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 10px;
  height: 21px;
  line-height: 21px;
  display: inline-block;
  text-align: center;
  border: 1px solid #e6e6e6;
  color: #424242;
  font-size: 13px;
  margin: 4px 4px 0 0;
}
.little-round-tag a {
  color: #424242;
}
@media (max-width: 767px) {
  #guoku_main_nav {
    background-color: #333333;
  }
  #guoku_main_nav .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  #guoku_main_nav .search .search-input {
    color: #f8f8f8;
  }
  #guoku_main_nav .user-menu li a:hover,
  #guoku_main_nav .user-menu li a:focus {
    background: none;
    color: #f8f8f8;
  }
  #guoku_main_nav .main-list li a:hover,
  #guoku_main_nav .main-list li a:focus {
    color: #fff;
  }
  #guoku_footer .footer-columns {
    width: 120px ;
    margin: 0 auto ;
  }
  #guoku_footer .footer-buttons {
    width: 204px;
    float: none;
    margin: 0 auto;
    margin-top: 30px;
  }
  #guoku_footer .footer-buttons ul {
    padding: 0;
  }
  #guoku_footer .footer-bottom .footer-bottom-left,
  #guoku_footer .footer-bottom .footer-bottom-right {
    float: none;
    margin: 0 auto;
  }
  #guoku_footer .footer-bottom .footer-bottom-left {
    width: 400px;
  }
  #guoku_footer .footer-bottom .footer-bottom-right {
    width: 200px;
  }
  .guoku-content.user-page .user-info {
    max-width: 400px;
  }
  .guoku-content.user-page .user-info .user-nick-block {
    margin: 0 auto ;
  }
  .guoku-content.user-page .user-info .center-wrapper {
    margin: 0 auto ;
    width: 240px;
  }
  .guoku-content.user-page .user-info .center-wrapper .action {
    display: block;
    margin-top: 20px;
  }
  .guoku-content.user-page .user-info .center-wrapper .nick {
    margin-top: 20px;
    display: block;
    text-align: center;
  }
  .guoku-content.user-page .user-info .user-bio {
    margin: 0 auto ;
    margin-top: 20px!important;
  }
  .guoku-content.user-page .content-panel .note-cell {
    margin-bottom: 10px;
  }
  .more-article-wrapper .title-wrapper {
    padding-top: 5px;
  }
  .more-article-wrapper .title-wrapper .title {
    padding: 10px 13px 0px 13px;
    font-size: 15px;
    font-weight: 800;
  }
  .more-article-wrapper .title-wrapper .article-digest {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .more-article-wrapper .cover-wrapper a {
    display: block;
    padding: 8px;
  }
  .more-article-wrapper .title-wrapper {
    padding-top: 10px;
  }
  .more-article-wrapper .title-wrapper a {
    color: #424242;
  }
  .more-article-wrapper .title-wrapper a:hover,
  .more-article-wrapper .title-wrapper a:focus {
    color: #424242;
    text-decoration: underline;
  }
  .more-article-wrapper .title-wrapper .title {
    padding: 5px 15px;
    font-size: 22px;
  }
  .more-article-wrapper .article-digest {
    padding: 10px 15px 15px 15px;
    font-size: 13px;
    color: #9d9e9f;
  }
}
