@import "../../lib/mixin.less";
@import "../../lib/var.less";
@import "../../lib/widgets.less";
//for xs screen , and all screen NOT sx
@media(max-width: 767px){
    #guoku_main_nav{
      background-color: @nav-xs-background-color;
      .navbar-toggle{
        .icon-bar{
          background-color: @common-gray;
        }
      }
        .search{
          .search-input{
              color:@very-light-gray;
          }
        }

      .user-menu{
         li a{
           &:hover, &:focus{
           background: none;
           color: @very-light-gray;
            }

         }
      }

      .main-list{
        li{
          a{
            &:hover, &:focus{
               color: @common-text-color;
            }
          }
        }

      }
    }

    #guoku_footer{
      .footer-columns{
         width: 120px ;
         margin: 0 auto ;
      }
      .footer-buttons{

         width: 204px;
         float: none;
         margin: 0 auto;
         margin-top: 30px;
         ul{
           padding:0;
         }
      }
      .footer-bottom{
        .footer-bottom-left, .footer-bottom-right{
             float:none;
             margin:0 auto;
        }
        .footer-bottom-left{
          width: 400px;
        }
        .footer-bottom-right{
          width: 200px;
        }
      }
    }

    .guoku-content{
       &.user-page{
         .user-info{
           .user-nick-block{
              margin: 0 auto ;
           }
           .center-wrapper{
              margin: 0 auto ;
              width: 142px;
              .action{
                display: block;
                margin-top: 20px;
              }
              .nick{
                margin-top: 20px;
                display: block;
                text-align: center;
              }
           }
           .user-bio{
             text-align: center;
             margin: 0 auto ;
             margin-top: 20px!important;
           }
           .user-binding{
              width: 20px;
              margin: 0 auto;
           }
           .user-social-info{
              text-align: center;
           }
         }
         .content-panel{
           .note-cell{
              margin-bottom: 10px;
           }
         }
       }
    }

//    reuse parts
  .more-article-wrapper{
     .title-wrapper{
         padding-top:5px;
         .title{
            padding: 10px 13px 0px 13px;
            font-size: 15px;
            font-weight: 800;
         }
         .article-digest{
            display:none;
         }
     }
  }
}


@media(min-width: 768px) and (max-width: 990px) {
  .container{
    width: 100%;
  }

  .guoku-content{
    &.user-page{
      .user-info{
        max-width:450px;
      }
    }
  }
}

@media(min-width: 768px)  {
  // reuse parts
  .more-article-wrapper{
    .cover-wrapper{
     a{
       display:block;
       padding: 8px;
     }
    }
//    .panel-no-padding;
    .title-wrapper{
         padding-top:10px;
         a{
           color:@common-text-color;
           &:hover, &:focus{
             color:@common-text-color;
             text-decoration: underline;
           }
         }
         .title{
            padding: 5px 15px;
            font-size: @title-size;
         }
     }
    .article-digest{
       padding: 10px 15px 15px 15px;
       font-size: @mini-size;
       color: @common-gray;
    }
  }

  .user-page{
    .user-info-wrapper{
      .user-icon{
        max-width: 150px;
      }
    }
  }


}