@import "../../lib/mixin.less";
@import "../../lib/var.less";
@import "../../lib/widgets.less";
//for xs screen , and all screen NOT sx

//add 580px style for authorized seller
@media (max-width:580px){
.authorized-seller-body{
  .entity-four.new-thumbnail{
    .entity-four-info{
      .caption{
        width:100%;
      }
      .action{
        float: left;
      }
    }
  }

}
}
@media(max-width: 767px){


.entity-selection-body{
  background-color: @very-light-gray;
  .selection-item{
     padding:0px 2px;
  }
  .entity-selection{
     margin-bottom:4px!important;
     .posttime{
       display:none;
     }
  }
}
// for setting page

  #settings{
    .edit_info{
        .input-element{
          max-width: 300px;
        }
    }
  }

//  for event detail page
  .event-wrapper{
    .event-item{
      padding:5px 5px 5px 5px;
    }
    .recommendation-wrapper{
        padding-left:4px;
       padding-right:4px;
    }
    .event-entity-item{
       padding-left:4px;
       padding-right:4px;
    }
  }

   .social-list{
      .social-cell{
        .entity-list{
           .entity-item{
             display:none;
           }
        }
      }
   }

  .user-page{

        .section.user-following,
        .section.user-fans,
        .section.section-download{
            display:none;
        }
        .section.user-tag-list{
            border-bottom: none!important;
            margin-bottom: 0px!important;
            padding-bottom: 0px!important;
        }

  }

}

@media(max-width: 767px){

    #selection_article_list{
      .selection-article-item{
        .article-title{
           min-height:0px!important;
        }
        .article-intro{
          min-height: 0px!important;
        }
      }
    }
    .guoku-card{
      .entity-image-wrapper{
        padding:0px!important;
        padding-top:10px!important;
      }
    }
    #index-banners{
        .slick-list{
          overflow:hidden!important;
        }
        .banner-image-cell {
          padding: 0 0!important;
        }
    }
    #guoku_main_nav{
      .navbar-form{
        padding: 0px 0px;
        input{
          padding-left: 10px;
        }
      }
      background-color: @nav-xs-background-color;
      .navbar-toggle{
        .icon-bar{
          background-color: @common-gray;
        }
      }
        .search{
          .search-input{
              color:@very-light-gray;
          }
        }

      .user-menu{
         li a{
           &:hover, &:focus{
           background: none;
           color: @very-light-gray;
            }

         }
      }

      .main-list{
        li{
          a{
            &:hover, &:focus{
               color: @common-text-color;
            }
          }
        }

      }
    }

    #guoku_footer{

//     hide  footer link
      .footer-line,.qr-container,.footer-bottom-left{
        display:none;
      }
      .footer-part{

        .list-wrapper{
           text-align: center;
           margin-bottom:20px;
          &.list-wrapper-align-center{
            margin-bottom: 0;
          }

           ul{
             display:inline-block;
           }
        }
        .qr-wrapper{
          float:none!important;
          margin:0 auto ;
        }
      }

      .footer-buttons{
         display:none;
         width: 204px;
         float: none;
         margin: 0 auto;
         margin-top: 30px;
         ul{
           padding:0;
         }
      }
      .footer-line{
        .list-wrapper{
          text-align: center;
        }
      }
      .footer-bottom{
        .footer-bottom-left, .footer-bottom-right{
             float:none;
             margin:0 auto;
             padding-top:20px;
          &.footer-bottom-left-show{
            padding-top:6px;
          }
          &.footer-bottom-right-control{
            padding-top:0;
          }
          .font-logo-link{

              &.logo-weibo{
                padding-left: 2px!important;
              }
              &.logo-twitter{
                padding-left:2px!important;
              }
              &.logo-facebook{
                padding-left:2px!important;
              }
              &.logo-instagram{
                padding-left:2px!important;
              }

          }
        }
        .footer-bottom-left{
          text-align: center;
        }
        .footer-bottom-right{
          text-align:center;
        }
      }
    }

    .guoku-content{
       &.user-page{
         .user-info{
           .user-nick-block{
              margin: 0 auto ;
           }
           .center-wrapper{
              margin: 0 auto ;
              width: 142px;
              .action{
                display: block;
                margin-top: 20px;
              }
              .nick{
                margin-top: 20px;
                display: block;
                text-align: center;
              }
           }
           .user-bio{
             text-align: center;
             margin: 0 auto ;
             margin-top: 20px!important;
           }
           .user-binding{
              width: 20px;
              margin: 0 auto;
           }
           .user-social-info{
              text-align: center;
           }
         }
         .content-panel{
           .note-cell{
              margin-bottom: 10px;
           }
         }
       }
    }
// for mobile article

  #main_article{
    .article-wrapper{
      .content-wrapper img{
        max-width:110%;
        width:110%;
        position: relative;
        left : -5%;
        display: block;

      }
      .guoku-card img, {
        max-width:100%;
        width:100%;
        left:0;
        position:relative;

      }
      .title-wrapper{
        h2{
          font-size: @mobile-title-size;
        }
      }
    }
    .divider{
      margin-top: 20px;
    }
    .writer-wrapper{
      padding-top: 30px;
      .writer-avatar{
      }
      .writer-intro{
        padding-left:28px;
        .writer-name{
        }
        .writer-bio{
          margin-top:0px;
        }

      }
    }
  }


//    reuse parts
  .more-article-wrapper{
     .title-wrapper{
         padding-top:5px;
         .title{
            padding: 10px 13px 0px 13px;
            font-size: 15px;
            font-weight: 800;
         }
         .article-digest{
            display:none;
         }
     }
  }
}


@media(min-width: 768px) and (max-width: 991px) {

  #guoku_main_nav {

    .main-list.left-list li>a{
      padding: 15px 9px!important;
    }
    .search-form{
      padding-left: 0px;
    }
    .search .search-input{
      width: 100px;
    }

  }

  .container{
    width: 100%;
  }
  li.section{
      .text-holder, .article-title,.entity-name{
        font-size:@mini-size!important;
    }
  }
  .guoku-content{
    &.user-page{
      .user-info{
        max-width:450px;
      }
      .note-cell{
              .note-text{
                font-size:@smaller-primary!important;
                font-color: @common-gray!important;
              }
           }
    }
  }

  #selection_article_list{
    .selection-article-item{
      .article-title{
         min-height:66px!important;
      }
    }
  }
}

@media(min-width: 768px)  {


//  for setting page
  #settings{
    .edit_info{
        .input-title{
           max-width: 80px;
        }
      
        .input-element{
          max-width: 360px;
        }
    }
  }


//-----------

  // reuse parts
  #detail_content_left{
    .detail-pic-left{
      max-width: 360px;
    }
  }

  #detail_content_right{
    max-width:  330px;
  }

  .more-article-wrapper{
    .cover-wrapper{
     a{
       display:block;
       padding: 8px;
     }
    }
//    .panel-no-padding;
    .title-wrapper{
         padding-top:10px;
         a{
           color:@common-text-color;
           &:hover, &:focus{
             color:@common-text-color;
             text-decoration: underline;
           }
         }
         .title{
            padding: 5px 15px;
            font-size: @title-size;
         }
     }
    .article-digest{
       padding: 10px 15px 15px 15px;
       font-size: @mini-size;
       color: @common-gray;
       .created-date{
                padding:10px 0;
                text-align: right;
       }
    }
  }

  .user-page{
    .user-info-wrapper{
      .user-icon{
        max-width: 200px;
      }
    }
  }

}

