{% extends 'management/management_base.html' %}
{% load i18n %}
{% load staticfiles i18n %}
  {% block css %} <link rel="stylesheet" type="text/css" href="{% static 'css/management/seller_management.css' %}">{% endblock %}
{% block body_class %}seller-management{% endblock %}
{% block content %}
    <section class="content-header">
        <div class="order-search-wrapper">
             <input style="border:1px solid #1e347b" class="guoku_search_input" data-search-field="number" type="text" placeholder="订单号搜索">
             <i class="fa fa-search"></i>
        </div>

        <span style="margin-left:25px;margin-right:16px;">订单状态:</span>
        <span class="dropdown-toggle order-status-dropdown-wrapper">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               aria-haspopup="false" role="button" aria-expanded="false">
                {% if status == None %}
                    全部
                {% elif status == 'all' %}
                    全部
                {% elif status == "waiting_for_payment" %}
                    待付款
                {% elif status == "paid" %}
                    已完成
                {% endif %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu order-status-dropdown-menu" role="menu">
                <li><a href="{{ current_path }}?status=all">全部</a></li>
                <li class="divider"></li>
                <li><a href="{{ current_path }}?status=waiting_for_payment">待付款</a></li>
                <li class="divider"></li>
                <li><a href="{{ current_path }}?status=paid">已完成</a></li>
            </ul>
        </span>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="new-box">
                    <div class="new-box-body">
                        {% include 'management/management_order_list_table.html' %}
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block user_script %}
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>
    <script src="{% static 'js/management/moment.js' %}"></script>

{#     <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>#}
    <script src="{% static 'js/management/manage_search.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/seller_management/entity_save.js' %}" type="application/javascript"></script>
{% endblock %}
