{% extends 'web/base.html' %}
{% load i18n static %}
{% load  common guoku %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
{% endblock %}

{% block title %}果库图文－编辑列表 {% endblock %}

{% block keyword %}果库, 图文关键字{% endblock %}
{% block description %}果库, 图文列表， 描述{% endblock %}
{% block content %}
    <div class="container goods_detail">
     <h2 class="hidden">图文列表</h2>
     <div class="row" id="editor-articles" >
           <div class="article_container col-sm-10 col-sm-offset-1">
               <div class="editor-action-list container">
                    <a class="action-right" href="{% url 'web_editor_article_create' %}">
                        <div class="editor-action">
                            <i class="fa fa-plus"></i>新建
                        </div>
                    </a>
               </div>
               <div id="editor-article-list">

                   {% for article in articles %}

                    <div class="article-item" article_id="{{ article.pk }}">
                        <div class="title">
                            {% if article.is_draft %}
                                <a  href="{% url 'web_editor_article_edit' article.pk  %}" >
                                {{ article.title }}
                                </a>
                            {% endif %}
                            {% if article.is_published %}

                                 <a  href="{% url 'web_article_page' article.pk  %}" >
                                        {{ article.title }}
                                 </a>
                            {% endif %}
                            {% if article.is_removed %}
                                        {{ article.title }}
                            {% endif %}

                            <span class="status article-status-{{ article.publish }} ">
                                {{ article.get_publish_display }}
                            </span>
                            {% if article.once_selection %}
                            <span class="status article-selection">
                                <i class="fa fa-star"></i>
                            </span>

                            {% endif %}

                        </div>
                        <div class="info-list">
                            <div class="editor">
                                <i class="fa fa-pencil"></i>&nbsp;{{ article.creator.profile.nickname }}
                            </div>
                            <div class="create-time">
                               <i class="fa fa-clock-o"></i> {{ article.updated_datetime|format_time }}
                            </div>
{#                            <div class="article-state">{{ article.get_publish_display }}</div>#}
                            {% if not article.is_selection %}
                                <div class="action edit">
                                    <a class="btn" href="{% url 'web_editor_article_edit' article.pk %}">
                                        编辑
                                    </a>
                                </div>
    {#                            <div class="action preview"><a class="btn" href="{% url 'web_article_page' article.pk  %}" >预览</a></div>#}
                                <div class="action delete">
                                    <a class="delete_link" target_url="{% url 'web_article_delete' article.pk %}"  >
                                    删除
                                     </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="content-digest">
                        {% autoescape off %}
                            {{ article.content|striptags|truncatechars:150 }}
                        {% endautoescape %}

                        </div>
                    </div>
                   {% endfor %}

               </div>
               {% include 'web/article/paginator.html' %}

           </div>

     </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'js/web/bootbox.js' %}"></script>
    <script language="javascript">
            $(function () {
                bootbox.setDefaults({
                    className: 'guoku-dialog',
                    closeButton: false,
                    locale:'zh_CN'
                });

                $('.delete_link').click(function(){
                    var that = this ;
                    bootbox.confirm({
                        size: 'small',
                        message: '你确定要删除此文章吗？',
                        callback: function(result){
                            if (!!!result){
                                return ;
                            }else{
                                var host = window.location.host;
                                var pathName = $(that).attr('target_url');
                                var url = 'http://'+host+pathName;
                                window.location = url ;
                            }
                        }
                    });
{#                    if (window.confirm('您确定要删除此文章吗？')){#}
{#                        var host = window.location.host;#}
{#                        var pathName = $(this).attr('target_url');#}
{#                        var url = 'http://'+host+pathName;#}
{#                        window.location = url ;#}
{#                        console.log("delete");#}
{#                    }else{#}
{#                        return ;#}
{#                    }#}
                });
            });

    </script>

{% endblock %}