{% extends 'web/base.html' %}
{% load i18n static %}
{% load  common guoku %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
    <link href="{% static 'summernote/summernote.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} 果库图文－编辑文章 {% endblock %}

{% block keyword %}果库, 图文关键字{% endblock %}
{% block description %}果库, 编辑图文， 描述{% endblock %}

{% block body_class %}
    white-body
{% endblock  %}

{% block content %}

    <div class="container" id="editor-container">
        <div class="row">
            {% if not is_chief_editor %}
                <div class="editor_wrap article-wrapper common-editor">
            {% else  %}
                 <div class="editor_wrap article-wrapper chief-editor ">
            {% endif %}
                <form id="article_form" method="post">
                    <div class="fix-operate">
                        <span  id="return-list" class="guoku-btn-normal btn-cancel">返回草稿箱</span>
                       <span   id="save-draft"  class="guoku-btn-normal">保存草稿</span>
                       <span   id="save-publish" class="guoku-btn-normal">发布文章</span>
                    </div>


                    <div class="cover article-cover" >
                        <span  id="toggle-intro"> ?</span>
                        <div class="icon-wrapper">
                            <i class="fa fa-file-image-o img-icon"></i>
                        </div>
                        <input type="file" accept="image/*" name="upload-file" id="cover-upload-button">
                    </div>
{#                    {% if request.user.is_chief_editor %}#}
{#                        <div class="author-wrapper">#}
{#                            作者 :#}
{#                            <select>#}
{#                                <option value="0" selected>不变</option>#}
{#                                <option value="1">anchen</option>#}
{#                                <option value="2">李刚</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    {% endif %}#}
                    <div class="cover-info">

                         <input type="checkbox" id="showcover">
                         <span> 封面图显示在正文中 </span>
                         <span class="cover-size-info">
                             封面图建议尺寸 900×500 像素，jpg 格式
                         </span>
                        <span class="cover-size-info">

                         </span>
                    </div>
                    <div class="guoku_editor "></div>
                </form>
            </div>
            <div class="article-form-wrapper">
                       <form id="real_article_form" method="post">
                           <div class="">
                            <input type="text" id="artile_id" value="{{ pk }}">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field }}{{ field.error }}
                            {% endfor %}
                           </div>
                           <input type="text" id="article_full_cover" value="{{ cover_url }}">
                        </form>
            </div>

        </div>
    </div>
        <div class="tag-app-wrapper">
            <div class="tag-input-wrapper">
                <input id="tag-input" type="text" size="50">
                <div class="add-tag-button">添加</div>
            </div>
            <div class="standard-tag-lists-wrapper">
                <div class="standard-tag-list">
                    <div class="tag-list-name">各种具</div>
                    <ul class="tag-list">
                        <li class="tag">雨具</li>
                        <li class="tag">餐具</li>
                        <li class="tag">马具</li>
                        <li class="tag">面具</li>
                    </ul>
                </div>
                <div class="standard-tag-list">
                    <div class="tag-list-name">各种具</div>
                    <ul class="tag-list">
                        <li class="tag">雨具</li>
                        <li class="tag">餐具</li>
                        <li class="tag">马具</li>
                        <li class="tag">面具</li>
                    </ul>
                </div>
                <div class="standard-tag-list">
                    <div class="tag-list-name">各种具</div>
                    <ul class="tag-list">
                        <li class="tag">雨具</li>
                        <li class="tag">餐具</li>
                        <li class="tag">马具</li>
                        <li class="tag">面具</li>
                    </ul>
                </div>

            </div>
            <div class="tag-list-wrapper">
                <ul class="tag-list">
                    <li class="tag">太好吃了</li>
                    <li class="tag">死去</li>
                    <li class="tag">承认</li>
                    <li class="tag">大炼钢铁</li>
                </ul>
            </div>

        </div>
        <div class="editor-intro screen-cover hidden" >
            <div class="screen-cover-bk"></div>
            <div class="intro-wrapper">
                <div class="title">
                    使用说明
                </div>
                <div class="intro-content">
                    <ul>
                        <li>1. 点击封面区域（上传／更换）封面图 </li>
                    </ul>
                </div>
                <div class="action-wrapper">
                    <div class="guoku-button"> 我知道了～ </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'summernote/summernote.js' %}"></script>
    <script src="{% static 'js/web/bootbox.js' %}"></script>
    <script src="{% static 'js/web/jsbeautifier.js' %}"></script>
    <script src="{% static 'js/web/editor.js' %}"></script>

{% endblock %}