{% load i18n static %}
{% load  common guoku %}

<ul class="mobile-remark-list">
    {% for remark in remarks %}
        <li class="remark-list-item-wrapper">
            <div class="remark-item">
                <a class="pull-left" href="{{ remark.user.mobile_url  }}" target="_blank">
                    <img class="media-object img-circle" src="{{ remark.user.avatar_url }}" alt="{{ remark.user.nickname }}" style="width:40px;height:40px;">
                </a>

                <div class="remark-detail">
                    <div class="remark-user" user_id="{{ remark.user.pk }}" user_name="{{ remark.user.nickname }}" remark_id="{{ remark.id }}">
                        <a class="new-blue-link" href="{{ remark.user.mobile_url }}" target="_blank">
                            {{ remark.user.nickname }}
                        </a>
                        {% if remark.reply_to.user.nickname %}
                            <span>
                                回复
                                <a class="new-blue-link" href="{{ remark.reply_to.user.mobile_url }}" target="_blank">
                                    {{ remark.reply_to.user.nickname }}
                                </a>
                                <span>:</span>
                            </span>
                        {% endif %}

                    </div>
                    <div class="remark-content">
                        <p>
                            {{ remark.content }}
                        </p>
                    </div>
                    <div class="remark-operate">
                        <div class="pull-left remark-time">
                            <i class="fa fa-clock-o"></i>&nbsp;{{ remark.create_time|date:"Y-m-d" }}
                        </div>
{#                         {% if remark.user != request.user %}#}
{#                             <div class="pull-left remark-reply">#}
{#                                 <span class="reply-icon">#}
{#                                     <img src="{% static 'images/article/reply.png' %}" style="width:16px;height:16px;">#}
{#                                 </span>#}
{#                                 回复#}
{#                             </div>#}
{#                         {% endif %}#}
{#                        {% if remark.user == request.user %}#}
{#                             <div class="pull-left remark-delete">#}
{#                                 <i class="fa fa-trash-o"></i>&nbsp;删除#}
{#                             </div>#}
{#                         {% endif %}#}
{#                        {% if remark.user == request.user %}#}
{#                            <span class="pull-right my-note">我的点评</span>#}
{#                        {% endif %}#}
                    </div>
                </div>

            </div>
        </li>
        <div class="divider article-divider divider-control"></div>
    {% endfor %}
</ul>


























































