{% extends 'web/base.html' %}
{% load i18n static %}
{% load  common guoku %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block keyword %}{{ article.title }},{{ article.creator.nickname }}{% endblock %}

{% block body_class %}
    gray-body  {% if from_app %} guoku-app{% endif %}
{% endblock %}{% block description %}{{ article.content|striptags|truncatechars:150 }}{% endblock %}

{% block h1 %}{{ article.title }}{% endblock %}
{% block content %}
    <div class="container goods_detail">
        <h2 class="sr-only">{{ article.content|striptags|truncatewords:150 }}</h2>
{#     <div class="row" id="detail_breadcrumb">#}
{#         {% include "web/article/partial/article_breadcrumb.html" %}#}
{#     </div>#}
        <div class="row" id="detail_content" >


            <div class="container-fluid col-lg-8 col-md-8 col-sm-12  col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
                <div class="main-article" id="main_article">
                    <div class="article-wrapper">

                        <div class="title-wrapper">
                            <H2 itemprop="headline">{{ article.title }}</H2>
                        </div>
                        <div class="info-wrapper">
                            <span class="editor">
                                <i class="fa fa-pencil"></i>
                                {{ article.creator.profile.nickname }}
                            </span>
                            <span class="create-time">
                                <meta itemprop="datePublished" content="{{article.created_datetime|date:'Y-m-d H:i:s'}}"/>
                                <i class="fa fa-clock-o"></i>{{article.created_datetime|format_time}}
                            </span>
                            <span class="read">
                                <i class="fa fa-eye"></i>
                                <span id="read_counter">

                                </span>
                            </span>
                            {% if is_article_creator %}
                            <span class="edit-article">
                                <i class="fa fa-edit"></i><a class="guoku-link" href="{% url 'web_editor_article_edit' article.pk %}">编辑文章</a>
                            </span>
                            {% endif %}
                        </div>
                       {% if article.showcover %}
                        <div class="cover-wrapper">
                            <img class="article-cover img-responsive" itemprop="image" src="{{ article.cover }}" alt="{{ article.title }}" />
                        </div>
                       {% endif %}
                        <div class="content-wrapper" itemprop="articleBody">
                            {% autoescape off %}
                            {{ article.content }}
                            {% endautoescape %}
                        </div>
                        <div class="share-wrapper">
                            <!-- JiaThis Button BEGIN -->
                            <div class="share-intro">分享到</div>
                            <div class="jiathis_style">
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_tieba"></a>
                                <a href="http://www.jiathis.com/share?uid=2038803" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            </div>
                            <!-- JiaThis Button END -->
                        </div>
                        <div class="divider"></div>
                        <div class="writer-wrapper">
{#                            <div class="row">#}
{#                                <div class="write-pre col-xs-12 col-sm-12">#}
{#                                </div>#}
{#                            </div>#}
                            <div class="row">
                                <div class="writer-avatar col-xs-2 col-sm-2">
                                    <div class="avatar-wrapper">
                                        <a href="{% url 'web_user_article' article.creator.pk %}">
                                            <img class="user-avatar" src="{{ article.creator.profile.avatar_url }}" />
                                        </a>
                                    </div>
                                </div>
                                <div class="writer-intro col-xs-10 col-sm-10">
                                    <div class="writer-name">
                                        <a href="{% url 'web_user_article' article.creator.pk %}">
                                         {{ article.creator.profile.nickname }}
                                        </a>
                                    </div>
                                    <div class="writer-bio">{{ article.creator.profile.bio|truncatechars:200 }}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="article-section-title">
                    <div class="info-text">大家都在看</div>

                </div>


                {% for sla in article.related_articles %}
                    {% with sla.article as r_article %}
                      {% include 'web/article/partial/article_recommend_item.html' %}
                    {% endwith %}
                {% endfor %}


            </div>
            <div id="detail_content_right" class="hidden-print col-lg-4 col-md-4 hidden-sm  hidden-xs" >
                   {% include "web/entity/partial/detail_side.html" %}
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var jiathis_config = {
            url: "http://www.guoku.com{{ request.path }}",
            title: "【{{ article.title }}】:",
            appkey:{
                "tsina":'2830558576',
            },
            imageWidth:150,
            marginTop:150,
            pic:"{{ article.cover  }}",
            summary:"{{ article.digest|striptags|truncatechars:50}} （分享自 @果库）",
            data_track_clickback:'true',

        };
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2038803" charset="utf-8"></script>
    <script src="{% static 'js/counter/counter.js' %}"></script>
    {#    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>#}
    {#    <script>#}
    {#        wx.config({#}
    {#            debug: false,#}
    {#            jsApiList: []#}
    {#        });#}
    {#    </script>#}
    <script language="javascript">
        $(window).scroll(function () {
            if($(this).scrollTop()>100) {
                $(".btn-top").fadeIn();
            } else {
                $(".btn-top").fadeOut();
            }
        });
    </script>

{% endblock %}