{% load i18n static %}
{% load  common guoku %}

<li>
    {% for remark in remarks %}#}
        <div class="remark-item">
            <span class="remark-user btn" user_name="{{ remark.user.nickname }}" remark_id="{{ remark.id }}">{{ remark.user.nickname }}</span>: <span class="remark-content">{{ remark.content }}</span>
        </div>
    {% endfor %}
</li>


<div id="login_user_remark">
{#    {% if request.user.is_blocked %}#}
{#    <div class="media" style="padding: 15px" class="blocked-user-notice">#}
{#        <div class="pull-left ">#}
{#            <i class="fa fa-exclamation-triangle"></i>#}
{#        </div>#}
{#        <div class="media-body post-note">#}
{#            <p>果库倡导友好、宽容和理性的对待不同的看法和意见，尊重他人。</p>#}
{#            <p>你的帐号因多次违规，已被禁言。可通过 hi@guoku.com 联系管理员。</p>#}
{#        </div>#}
{#    </div>#}
{#{% elif%}#}
        <div class="media" >
{#            <div class="pull-left">#}
{#                <img class="media-object img-circle" src="{{ user.profile.avatar_url }}" alt="{{ user.profile.nickname }}" width="50" height="50">#}
{#            </div>#}
            <div class="media-body post-note">
                <form id='article_remark_form' class="form-horizontal" action="" method="POST" role="form">
                    {% csrf_token %}
                    <fieldset>
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                    </fieldset>
                    <div class="action pull-right" style="margin-top:10px;">
                        <button id="submit_button" class="btn btn-primary btn-post" type="submit" value="Submit">点评</button>
                    </div>
                </form>
            </div>
        </div>

{#{% elif  not request.user.is_authenticated %}#}
{#    <div class="media">#}
{#        <div class="visitor-note-wrapper">#}
{#            <div id="visitor_note" class="visitor-note-button blue-button guoku-button">#}
{#                我来点评#}
{#                <i class="fa fa-angle-right"></i>#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endif %}#}
</div>










{#old codes#}

<head>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.js' %}"></script>
{#    <script type="text/javascript" src="path/to/form.js"></script>#}
{##}
{#    <script type="text/javascript">#}
{#        // wait for the DOM to be loaded#}
{#        $(document).ready(function() {#}
{#            // bind 'myForm' and provide a simple callback function#}
{#            $('#article_remark_form').ajaxForm(function() {#}
{#                alert("Thank you for your comment!");#}
{#            });#}
{#        });#}
{#    </script>#}
</head>


{#<div class="more-article-wrapper for-browser">#}
{##}
{#     <div class="remark-article">#}
{#         {% for remark in remarks %}#}
{#          <div class="remark-item">#}
{#              <span class="remark-user btn" user_name="{{ remark.user.nickname }}" remark_id="{{ remark.id }}">{{ remark.user.nickname }}</span>: <span class="remark-content">{{ remark.content }}</span>#}
{#          </div>#}
{#        {% endfor %}#}
{#     </div>#}
{##}
{#    <div class="form-group">#}
{##}
{#        <form id='article_remark_form' action="" method="POST">{% csrf_token %}#}
{#            <table>#}
{#                {{ form.as_table }}#}
{#            </table>#}
{#            <p><input id="submit_button" type="button" value="Submit"></p>#}
{#        </form>#}
{##}
{#    </div>#}
{##}
{##}
{#</div>#}
{##}
{##}
{#<style type="text/css">#}
{#    .remark-item{#}
{#        padding: 10px;#}
{#    }#}
{##}
{#</style>#}
{##}
{##}
{##}
{##}
<script>

    $("#submit_button").click(function () {

        $.ajax({
            cache: true,
            type: "POST",
            url: "/articles/{{ article.id }}/remark/",
            data: $('#article_remark_form').serialize(),
            async: false,
            error: function(res) {
                alert(res[error]);
            },
            success: function(res) {
                alert(res['user']);
                alert(res['content']);
                if(res['error'] == 0){

                    $(".remark-article").append(
                      '<div class="remark-item">' +
                          '<span class="remark-user btn" user_name="'+ res['user'] +'">'+ res['user'] +'</span>: ' +
                          '<span class="remark-content">'+res['content'] +'</span>' +
                      '</div>'
                    )
                }

            }
        });
    });

    $('.remark-user').click(function(){

        alert($(this).attr("user_name"));
        var remark_on = $(this).attr("user_name");
        var remark_id = $(this).attr("remark_id");

        alert(remark_on);

        $('#id_content').text('回复 '+ remark_on + ":\n");
        $('#id_reply_to').val(remark_id);

    })



</script>































































