{% extends 'web/base.html' %}
{% load i18n static %}
{% load  common guoku %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
{% endblock %}
 {% block meta-og %}
    <meta property="og:title" content="果库精选图文 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库的精选图文页，消费版的今日头条，在筛选优质商品之外，延伸出的消费文章推荐栏目，包含果库专访、潮流资讯、品牌报道等，开拓精英视野与生活想象。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="精选图文 | 精英消费指南 | 果库">
    <meta name="keywords" content="精选图文,专访,果库专访,消费版今日头条,消费文章,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库消费图文汇集全网秉持理想生活哲学的消费类文章，开拓精英视野与生活想象，涵盖品牌相关报道、卖家创业者专访、潮流资讯、消费见解主张、生活场景清单、购物经验心得分享等。">
{% endblock %}

{% block title %}精选图文 | 精英消费指南 | 果库{% endblock %}

{% block body_class %}
    gray-body
{% endblock %}

{#{% block keyword %}精选图文,专访,果库专访,消费版今日头条,消费文章,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐{% endblock %}#}
{#{% block description %}果库消费图文汇集全网秉持理想生活哲学的消费类文章，开拓精英视野与生活想象，涵盖品牌相关报道、卖家创业者专访、潮流资讯、消费见解主张、生活场景清单、购物经验心得分享等。{% endblock %}#}
{% block content %}
    <div class="container main-content" >
        <h2 class="sr-only">精选图文,专访,果库专访,消费版今日头条,消费文章,果库</h2>
        <div class="row" id="selection_article_list" refresh-time="{{ refresh_time }}" >
                {% for sla in selection_articles %}
                    {% include 'web/article/partial/article_item_new.html' %}
                {% endfor %}
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script language="javascript">
        $(window).scroll(function () {
            if($(this).scrollTop()>100) {
                $(".btn-top").fadeIn();
            } else {
                $(".btn-top").fadeOut();
            }
        });
    </script>

{% endblock %}