{% extends 'management/users/user_edit_base.html' %}
{% load i18n static %}
{% block user_edit_block %}
    <div class="box box-info">
    <div class="box-header">
         {% trans 'Seller Shop List'  %}

    </div>
    <div class="box-body">
        <div class="btn-group">
            <a class="btn btn-success" href="{% url 'management_user_shop_create' current_user.pk %} ">{% trans 'Add Shop' %}</a>
            <a class="btn btn-primary" href="{% url 'management_user_edit'  current_user.pk %}">{% trans 'Back User Info Edit' %}</a>
        </div>
        <div class="box-pane">&nbsp;</div>
        <table class="table table-responsive table-bordered">
            <tr>
                <th>{% trans 'Shop Owner' %}</th>
                <th>{% trans 'Shop Title' %}</th>
                <th>{% trans 'Shop Link' %}</th>
                <th>{% trans 'Shop STYLE' %}</th>
                <th>{% trans 'Shop TYPE' %}</th>
                <th>{% trans 'Shop Action' %}</th>
            </tr>
            {% for shop in shops  %}
            <tr>
                <td>{{ shop.owner.nickname }}</td>
                <td>{{ shop.shop_title }}</td>
                <td>{{ shop.shop_link|truncatechars:'30' }}</td>
                <td>{{ shop.get_shop_style_display }}</td>
                <td>{{ shop.get_shop_type_display }}</td>

                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'management_user_shop_update' current_user.pk shop.pk %}">{% trans 'Edit' %}</a>
                        <a class="btn btn-danger" href="{% url 'management_user_shop_delete' current_user.pk shop.pk %}">{% trans 'Delete' %}</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}