{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{{ brand.name }}</h1>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholders">
            <img class="img-responsive img-thumbnail" alt="200x200"  src="{{ brand.icon_url }}">
        </div>
    </div>

    <div class="row" style="padding-bottom: 24px;">
        <a class="btn btn-success" href="{% url 'management_brand_entity_list' brand.name %}" target="_blank">{% trans 'entity' %}</a>
    </div>
    
    <div class="row">
        <form class="well form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
            {% for field in form %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    <div class="col-sm-6">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}