{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ brand }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#">{{ brand }}</a></li>
            <li class="active">{% trans 'entity' %}</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">

                    </div>

                    <div class="box-body">
                         {% include 'management/entities/table.html' with entities=entities %}
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=entities url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}