{% extends 'management/management_base.html' %}
{% load i18n static %}
{% load guoku %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ brand }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#">{{ brand }}</a></li>
            <li class="active">{% trans 'entity' %}</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                           <a class="btn btn-success" href="{% url 'web_brand_detail' brand_id %}" target="_blank">品牌页</a>
                            <button class="btn btn-primary pull-right" id="mng_brand_entity_btn">管理显示排序</button>
                    </div>

                    <div class="box-body">
{#                         {% include 'management/entities/table.html' with entities=entities %}#}
                        <table class="table table-small-font table-hover table-bordered">
                            <thead>
                                <tr>
                {#                    <th>#</th>#}
                                    <th>
                                        {% trans 'brand' %}
                                        <input class="guoku_search_input" data-search-field="brand" type="text" >
                                    </th>
                                    <th>
                                        {% trans 'title' %}
                                        <input class="guoku_search_input" data-search-field="title" type="text">
                                    </th>
{#                                    <th>{% trans 'creator' %}</th>#}
                                    <th>{% trans 'category' %}</th>
                                    <th>{% trans 'created_time' %}</th>
                                    <th>{% trans 'price' %}</th>
                                    <th>{% trans 'image' %} <span class="info">点击图片看详情</span></th>
                                    <th>{% trans 'status' %} </th>
                                    <th>{% trans '入选品牌商品' %} </th>
                                    <th>{% trans 'operation' %}</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>

                {#                        <td class="product-id">{{ entity.id }}</td>#}
                                        <td class="product-brand">
                                            {{ entity.brand }}
                                        </td>
                                        <td class="product-title">
                                            {{ entity.title }}
                                        </td>
{#                                        <td class="creator">#}
{#                                            <a href="{% url 'management_user_edit' entity.object.user_id %}" target="_blank">#}
{#                                                {{ entity.object.user.profile.nickname }}#}
{#                                            </a>#}
{#                                        </td>#}
                                        <td class="product-category">
                                            <a href="#">{{ entity.object.category }}
                                            </a>
                                        </td>
                                        <td class="product-created-time">
                                            {{ entity.created_time|date:'Y-m-d H:i:s' }}</td>
                                        <td class="product-price">
                                            {{ entity.price }}</td>
                                        <td class="product-thumb-img">
{#                                            {{ entity.entity_hash }}#}
                                            <a href="{% url 'web_entity_detail' entity.entity_hash %}" target="_blank">
                                                <img class="img-thumbnail img-responsive" src="{{ entity.object.chief_image|resize:'310' }}" width="128" height="128">
                                            </a>
                                        </td>
                                        <td class="product-status">
                                            {{ entity.object.get_status_display }}</td>

                                        <td class="switch-holder">
                                            <input type="checkbox" data-id="{{ entity.pk }}" class="js-switch"  {% if entity.object.brand_link %}checked{% endif %} />
{#                                            <input type="checkbox" data-id="{{ entity.pk }}" class="js-switch"  {% if entity.is_belong %}checked{% endif %} />#}
                                        </td>
                                        <td class="product-actions">
                                            <div class="btn-group">
                                                <a class="btn btn-default" href="{% url 'management_entity_edit' entity.pk %}" target="_blank">{% trans 'edit' %}</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=entities url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block user_script %}
    <style>
        .brand_entity_wrapper:after{
             content: " ";
             display: block;
             height: 0;
             clear: both;
        }
        .brand_entity_wrapper ul{
            list-style: none;
        }
        .brand_entity_wrapper li{
            width: 100px;
            height: 120px;
            float: left;
            margin: 5px 5px;
            padding: 1px;
            text-align: center;
            border: 1px solid #333;
        }

    </style>
    <script type="text/html" id="mng_brand_entity_sort_item">
         <div class="brand_entity_wrapper">
             <ul id="entity_sort">
                 <% for (i=0 ; i<entities.length ; i++){ %>
                    <li class="" data-id="<%=entities[i].entity_id%>">
                        <img src="<%=entities[i]['cover']%>" width="100px" height="100px">
                        <div>
                            <span><%=entities[i]['title']%></span>
                        </div>
                    </li>
                 <% } %>
             </ul>
         </div>
    </script>
    <script language="javascript">
         var brand_id  = {{ brand_id }};
    </script>

     <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}" type="application/javascript"></script>
     <script src="{% static 'js/management/util.js' %}" type="application/javascript"></script>
     <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>
     <script src="{% static 'js/management/brand/brand.js' %}" type="application/javascript"></script>
{% endblock %}