{% extends 'management/management_base.html' %}
{% load i18n static guoku %}


{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'brand' %}
            <small>{% trans 'brand' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans 'brand' %}</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-pills" role="tablist">
                            <li><a class="btn btn-primary" href="{% url 'management_brand_stat' %}" target="_blank">{% trans 'brand stat' %}</a></li>
                            <li><a class="btn btn-primary" href="{% url 'management_brand_create' %}" target="_blank">{% trans 'add' %}</a></li>
                            <li><a class="btn {% if not status %}btn-success{% else %}btn-primary{% endif %}" href="{% url 'management_brand_list' %}" target="_blank">{% trans 'All brands' %}</a></li>
                            <li><a class="btn {% if status == '1' %}btn-success{% else %}btn-primary{% endif %}" href="{% url 'management_brand_list' %}?status=1" target="_blank">{% trans 'published brands' %}</a></li>
                            <li><a class="btn {% if status == '2' %}btn-success{% else %}btn-primary{% endif %}" href="{% url 'management_brand_list' %}?status=2" target="_blank">{% trans 'promotion brands' %}</a></li>
                        </ul>

                    </div>

                    <div class="box-body table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'icon' %}</th>
                                    <th>{% trans 'name' %}<input class="guoku_search_input" data-search-field="brand_name" type="text"></th>
                                    <th>{% trans 'company' %}/{% trans 'national' %}/{% trans 'website' %}</th>
                                    <th>{% trans 'tmall' %}</th>
                                    <th class="status">{% trans 'status' %}</th>
                                    <th>{% trans 'score' %}</th>
                                    <th>{% trans 'operation' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for brand in brands %}
                                    <tr>
                                        <td>{{ brand.pk }}</td>
                                        <td><img class="img-polaroid" style="max-height:150px;max-width:150px;"  src="{{ brand.icon_url|resize:100 }}"></td>
                                        <td>{{ brand.name }}</td>
                                        <td>
                                            <ul>
                                                <li>{% trans 'company' %}: {{ brand.company }} </li>
                                                <li>{% trans 'national' %} : {{ brand.national }}</li>
                                                {% if brand.website %}
                                                <li>{% trans 'website' %} :
                                                    <a href="{{ brand.website }}">{{ brand.website|truncatechars:'30' }}</a></li>
                                                {% endif %}
                                            </ul>

                                        </td>
                                        <td><a href="{{ brand.tmall_link }}">{{ brand.tmall_link }}</a></td>
                                        <td>{{ brand.get_status_display }}</td>
                                        <td>{{ brand.score }}</td>
                                        <td>
                                            <div class="btn-group">
{#                                                <a class="btn btn-save" href="{% url 'web_brand_detail' brand.pk %}" target="_blank">{% trans 'GOTO' %}</a>#}
                                                <a class="btn btn-success" href="{% url 'management_brand_entity_list' brand.name %}" target="_blank">{% trans 'entity' %}</a>
                                                <a class="btn btn-default" href="{% url 'management_brand_edit' brand.pk %}" target="_blank">{% trans 'edit' %}</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <div class="row">#}
{#        <h1 class="page-header">{% trans 'brand' %}</h1>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        <ul class="nav nav-pills" role="tablist">#}
{#            <li><a class="btn btn-primary" href="{% url 'management_brand_stat' %}" target="_blank">{% trans 'brand stat' %}</a></li>#}
{#            <li><a class="btn btn-primary" href="{% url 'management_brand_create' %}" target="_blank">{% trans 'add' %}</a></li>#}
{#        </ul>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#    <div class="table-responsive">#}
{#        <table class="table table-striped">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>#</th>#}
{#                    <th>{% trans 'icon' %}</th>#}
{#                    <th>{% trans 'name' %}</th>#}
{#                    <th>{% trans 'company' %}</th>#}
{#                    <th>{% trans 'national' %}</th>#}
{#                    <th>{% trans 'website' %}</th>#}
{#                    <th>{% trans 'tmall' %}</th>#}
{#                    <th>{% trans 'operation' %}</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for brand in brands %}#}
{#                    <tr>#}
{#                        <td>{{ brand.pk }}</td>#}
{#                        <td><img class="img-polaroid" style="max-height:150px;max-width:150px;"  src="{{ brand.icon_url }}"></td>#}
{#                        <td>{{ brand.name }}</td>#}
{#                        <td>{{ brand.company }}</td>#}
{#                        <td>{{ brand.national }}</td>#}
{#                        <td>{{ brand.website }}</td>#}
{#                        <td><a href="{{ brand.tmall_link }}">{{ brand.tmall_link }}</a></td>#}
{#                        <td>#}
{#                            <div class="btn-group">#}
{#                                <a class="btn btn-success" href="{% url 'management_brand_entity_list' brand.name %}" target="_blank">{% trans 'entity' %}</a>#}
{#                                <a class="btn btn-default" href="{% url 'management_brand_edit' brand.pk %}" target="_blank">{% trans 'edit' %}</a>#}
{#                            </div>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    </div>#}
{#    {% include "management/paginator.html" with objects=brands url=request.path %}#}
{% endblock %}
{% block user_script %}
        <script src="{% static 'js/management/manage_search.js' %}" type="application/javascript"></script>
{% endblock %}
