{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{% trans 'brand stat' %}</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
{#                    <th>#</th>#}
                    <th>{% trans 'brand' %}</th>
                    <th>{% trans 'entity count' %}</th>
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in brand_stat %}
                    <tr>
                        <td>{{ stat.brand }}</td>
                        <td>{{ stat.b }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-success" href="{% url 'management_brand_entity_list' stat.brand %}" target="_blank">{% trans 'entity' %}</a>
                                <a class="btn btn-default" href="{% url 'management_brand_name_edit' stat.brand %}" target="_blank">{% trans 'edit' %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "management/paginator.html" with objects=brand_stat url=request.path %}
{% endblock %}