{% load i18n staticfiles %}

<div class="bottom-ad hidden-sm showing hidden-md hidden-lg ">
     <div class="ad-wrapper bottom-ad-wrapper">
         <img src="{% static 'images/bottom-ad-layer/guoku.png' %}" class="guoku-logo" alt="果库,精英消费指南" title="果库,精英消费指南">
         <div class="download-wrapper">
            <img src="{% static 'images/bottom-ad-layer/DL_guoku.jpg' %}" style="width:120px;height:120px" alt="应用下载" title="应用下载">
             <p>下载APP</p>
         </div>
         <div class="wechat-wrapper">
            <img src="{% static 'images/footer/QR-code.jpg' %}" style="width:120px;height:120px" title="关注果库微信公众平台" alt="关注果库微信公众平台" >
             <p>关注微信公众平台</p>
         </div>
         <a href="http://www.guoku.com/download/" target="_blank" class="new-guoku-blue-btn download-btn-control hidden-sm hidden-md hidden-lg">下载</a>
     </div>
            <div class="close-button close-button-control">
                <i class="fa fa-times-circle"></i>
            </div>
</div>