{% load i18n staticfiles %}

<div class="top-ad bottom-ad">
     <div class="ad-wrapper bottom-ad-wrapper">
         <img src="{% static 'images/bottom-ad-layer/guoku.png' %}" class="guoku-logo">
         <div class="download-wrapper">
            <img src="{% static 'images/bottom-ad-layer/DL_guoku.jpg' %}" style="width:120px;height:120px">
             <p>下载APP</p>
         </div>
         <div class="wechat-wrapper">
            <img src="{% static 'images/footer/QR-code.jpg' %}" style="width:120px;height:120px">
             <p>关注微信公众平台</p>
         </div>
         <a href="http://www.guoku.com/download/" class="new-guoku-blue-btn download-btn-control hidden-sm">下载</a>
     </div>
            <div class="close-button close-button-control">
                <i class="fa fa-times-circle"></i>
            </div>
</div>