{% load i18n staticfiles %}
                <ul class="download-intro-table ">
						  <li>
							<p class="intro_title"><i class="fs_24 fa fa-star star_c"></i>&nbsp;&nbsp;每日精选</p>
							<p class="intro">
								只收录最优质商品，最精彩点评， 轻松发现，省去筛选烦恼。
							</p>
						</li>
						  <li>
							<p class="intro_title"><img src="{% static 'images/download/discvr_icon.png' %}">&nbsp;&nbsp;全新发现</p>
							<p class="intro">
								按品类细分商品、寻找好物不在盲目， 关爱生活、更关心你。
							</p>
						</li>
						<li>
							<p class="intro_title"><i class="fa fa-tags tags_c"></i>&nbsp;&nbsp;话题标签</p>
							<p class="intro">
								实用、有趣的个人化标签、晒出独特品味，换一种方式去探索发现。
							</p>
						</li>
					</ul>