{% load i18n staticfiles %}
{% load notifications_tags %}
<footer class="footer" id="guoku_footer">
        <div class="container">
            <div class="row footer-main">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <div class="footer-content">
                        <img class="main-logo" src="{% static 'images/logo_bottom.png' %}"/>
                        <img class="word-logo" src="{% static 'images/word.png' %}" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="container-fluid footer-columns">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                 <div class="footer-content column-header">
                                        About | 关于
                                </div>
                                <div class="column-content">
                                    <ul >
                                        <li><a href="{% url 'web_about' %}" target="_blank">关于果库</a></li>
                                        <li><a href="{% url 'web_faq' %}" target="_blank">常见问题</a></li>
                                        <li><a href="{% url 'web_jobs' %}" target="_blank">工作机会</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                  <div class="footer-content column-header">
                                    Contact | 联系
                                  </div>
                                  <div class="column-content">
                                        <ul>
                                            <li><a href="mailto:hi@guoku.com">邮箱</a></li>
                                            <li><a href="mailto:hi@guoku.com">意见反馈</a></li>
                                        </ul>
                                    </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="footer-content column-header">
                                    Follow | 关注
                                </div>
                                <div class="column-content">
                                    <ul>
                                        <li><a href="http://www.weibo.com/guoku" target="_blank">新浪微博</a></li>
                                        <li><a href="#">微信订阅</a></li>
                                        <li><a href="http://site.douban.com/130280/" target="_blank">豆瓣小站</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="footer-buttons">
                        <ul><li>
                                <a href="http://www.weibo.com/guoku" target="_blank">
                                    <i class="fa fa-weibo"></i>
                                </a>
                            </li>
{#                            <li><i class="fa fa-wechat"></i></li>#}
{#                            <li><i class="fa fa-qq"></i></li>#}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom">
                <div class="footer-bottom-left">
                    <ul>
                      <li>@ 果库 2015</li>
                      <li><a target="_blank" href="http://www.miibeian.gov.cn/">京ICP备14054029号</a></li>
                      <li>京公网安备11010502019958</li>
                    </ul>
                </div>
                <div class="footer-bottom-right">
                    <ul>
                        <li><a href="{% url 'web_agreement' %}" target="_blank">用户协议</a></li>
                        <li><a href="{% url 'web_download' %}" target="_blank">果库APP</a></li>
                        <li><a href="{% url 'web_links' %}" target="_blank" >友情链接</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>