{% load i18n staticfiles %}
{#{% load notifications_tags %}#}
{% load common %}

{#add notification css here#}

<header id="guoku_main_nav" class="navbar navbar-fixed-top" role="navigation">

       {% include 'web/partial/top_ad.html' %}

        <div class="container">
            <div class="nav-header">
                <button  id="guoku-nav-trigger" class="navbar-toggle collapsed" data-target=".collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="notification-bell-wrapper">
                    <i class="fa fa-bell" style="color: #9D9E9F;font-size:18px;"></i>
                    <span class="round" style="display: inline-block"></span>
                </a>


                <a class="navbar-brand" href="{% url 'web_selection' %}">
{#                    <img alt="{% trans 'guoku' %}" class="visible-xs"  src="{% static 'images/logo2.png' %}" width="46"  style="margin-top: 2px">#}
{#                    <img alt="{% trans 'guoku' %}" class="guoku-logo" src="{% static 'images/xmas_logo.png' %}" width="52" >#}
                      <img alt="{% trans 'guoku' %}" class="" src="{% static 'images/gklogo2015.png' %}" width="42" >
{#                    <img src="{% static 'images/wap_logo.png' %}" style="height:30px;padding-left:5px;">#}
                </a>

                <div class="notification-list-wrapper">
                      <ul class="notification-list">
                             <li class="notification-list-item">

                                 <div class="notification-user-logo-wrapper">
                                        <img src="{% static 'images/avatar/woman.png'%}" class="img-responsive img-circle">
                                 </div>

                                 <div class="main-notification">

                                     <div class="main-notification-title">
                                         <a class="notification-user-name">Nothing</a>
                                         开始关注你了
                                         <span class="notification-time">3小时前</span>
                                     </div>
                                 </div>

                             </li>

                             <li class="notification-list-item">

                                 <div class="notification-user-logo-wrapper">
                                     <img src="{% static 'images/avatar/woman.png'%}" class="img-responsive img-circle">
                                 </div>

                                 <div class="main-notification">
                                     <div class="main-notification-title">
                                         <a class="notification-user-name">Nothing</a>
                                         点评了你的商品
                                         <span class="notification-time">1天前</span>
                                     </div>

                                     <div class="main-notification-intro">
                                         <a class="notification-user-mark">
                                             <p>
                                               <i class="fa fa-quote-left"></i>
                                               可以模仿的鸟音，类型有云雀、鹡鸰、绿头鸭、小猫头鹰、杜鹃、画眉、花园莺、
                                               鸫、黑水鸡、斑鸠…… 好的，从明天起你就是一个职业鸟人。
                                               <i class="fa fa-quote-right"></i>
                                         </p>
                                         </a>

                                     </div>

                                 </div>

                                 <div class="notification-goods-wrapper">
                                     <img src="{% static 'images/event/cal.jpg'%}" class="img-responsive img-circle">
                                 </div>

                             </li>

                             <li class="notification-list-item">

                                 <div class="notification-user-logo-wrapper">
                                     <img src="{% static 'images/avatar/woman.png'%}" class="img-responsive img-circle">
                                 </div>

                                 <div class="main-notification">
                                     <div class="main-notification-title">
                                         <a class="notification-user-name">AzureRay</a>
                                        喜爱了你添加的商品
                                         <span class="notification-time">1天前</span>
                                     </div>
                                 </div>

                                 <div class="notification-goods-wrapper">
                                     <img src="{% static 'images/event/cal.jpg'%}" class="img-responsive img-circle">
                                 </div>

                             </li>

                             <li class="notification-list-item">

                                 <div class="notification-user-logo-wrapper">
                                     <img src="{% static 'images/avatar/woman.png'%}" class="img-responsive img-circle">
                                 </div>

                                 <div class="main-notification">
                                     <div class="main-notification-title">
                                         <a class="notification-user-name">Nothing</a>
                                         点评了你的商品
                                         <span class="notification-time">1天前</span>
                                     </div>

                                     <div class="main-notification-intro">
                                         <a class="notification-user-mark">
                                             <p>
                                               <i class="fa fa-quote-left"></i>
                                               可以模仿的鸟音，类型有云雀、鹡鸰、绿头鸭、小猫头鹰、杜鹃、画眉、花园莺、
                                               鸫、黑水鸡、斑鸠…… 好的，从明天起你就是一个职业鸟人。
                                               <i class="fa fa-quote-right"></i>
                                         </p>
                                         </a>

                                     </div>

                                 </div>

                                 <div class="notification-goods-wrapper">
                                     <img src="{% static 'images/event/cal.jpg'%}" class="img-responsive img-circle">
                                 </div>

                             </li>

                             <li class="notification-list-item">

                                 <div class="notification-user-logo-wrapper">
                                     <img src="{% static 'images/avatar/woman.png'%}" class="img-responsive img-circle">
                                 </div>

                                 <div class="main-notification">
                                     <div class="main-notification-title">
                                         <a class="notification-user-name">AzureRay</a>
                                        喜爱了你添加的商品
                                         <span class="notification-time">1天前</span>
                                     </div>
                                 </div>

                                 <div class="notification-goods-wrapper">
                                     <img src="{% static 'images/event/cal.jpg'%}" class="img-responsive img-circle">
                                 </div>

                             </li>

                     </ul>
                 </div>


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav main-list">
{#                    {% url 'web_selection' as web_selection_url %}#}
                     <li {% if web_selection_url in request.path %}class="active"{% endif %}>
{#                        <a href="{{ web_selection_url }}">{% trans 'Selected' %}</a>#}
                        <a href="{{ web_selection_url }}">{% trans 'Selected' %}</a>
                    </li>

                    {% url 'web_selection_articles' as web_article_list_url %}
                     <li {% if web_article_list_url in request.path %}class="active"{% endif %}>
                        <a href="{{ web_article_list_url }}">{% trans 'Articles' %}</a>
                    </li>

                    {% url 'web_discover' as web_discover_url %}
                    <li {% if web_discover_url in request.path %}class="active"{% endif %}>
                        <a href="{{ web_discover_url }}">{% trans 'Discover' %}</a>
                    </li>
                    {% url 'web_event_home' as web_event_home_url %}
                    <li {% if web_event_home_url in request.path %}class="active" {% endif %}>
                        <a href="{{ web_event_home_url }}">{% trans 'Event' %}&nbsp;<span class="round"></span></a>
{#                        <a href="{{ web_event_home_url }}">{% trans 'Event' %}&nbsp;<span class="b_day"><img src="{% static 'images/event/1111.gif' %}"></span></a>#}
                    </li>

                    {% url 'year_store_2015' as store_2015_url %}
                    <li {% if store_2015_url in request.path %}class="active" {% endif %}>
                        <a href="{{ store_2015_url }}" class="">{% trans 'Store Of The Year' %}<span class="b_day"><img src="{% static 'images/year-seller/2015.gif' %}" width="25px"></span></a>
                    </li>

                </ul>

                {% url 'web_login' as web_login_url %}
                {% url 'web_register' as web_register_url %}
                {% if web_login_url not in request.path and web_register_url not in request.path %}
                    <ul class="nav navbar-nav navbar-right main-list">
                        {% if request.user.is_authenticated  %}
                            {% include 'web/account/partial/auth.html' with user_context=request.user %}
                        {% else %}
                            <li><a href="{{ web_login_url }}" data-toggle="modal" data-target="#SignInModal">{% trans 'Sign In' %}</a></li>
                            <li><a href="{{ web_register_url }}">{% trans 'Sign Up' %}</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

            {% if web_login_url not in request.path and web_register_url not in request.path %}
                <ul class="nav navbar-nav nav-add-product navbar-right hidden-sm hidden-xs">
                    <li>
                        <a href="{% url 'web_entity_create' %}" class="add_icon">
                            <i class="fa fa-plus" style="color: #9D9E9F;font-size:18px;"></i>
                        <p class="add_goods"><span class="tip"></span>{% trans "Add Product"  %}</p>
                        </a>
                    </li>

                </ul>
                {% endif %}

                <form class="navbar-form navbar-right" action="{% url 'web_search' %}" method="get" role="form" style="margin-top: 11px;">
                    <div class="input-group search">
                        <input class="form-control search-input" name="q" type="search" placeholder="&nbsp;{% trans 'Search' %}" value="{{ keyword }}" >
                        <i class="fa fa-search"></i>
                    </div>
                </form>

            </div>
        </div>
    </header>

