{% load i18n staticfiles %}

<div class="top-ad">
     <div class="ad-wrapper" style="background-image:url('{% static 'images/fugu2016/fgdh_entrance.jpg' %}')">
           <a href="/articles/134058/" target="_blank" >
               <div class="top-ad-title-wrapper">
                   <img src="{% static 'images/fugu2016/title_fgdh.png' %}" alt="" class="top-ad-title-control">
               </div>
           </a>
     </div>
            <div class="close-button">
                <i class="fa fa-times-circle"></i>
            </div>
</div>