{% extends 'management/management_base.html' %}
{% load guoku %}

{% block content %}
    <div class="container">
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholders">
                <img class="img-responsive img-thumbnail" alt="200x200" data-src="holder.js/200x200/auto/sky"  src="{{ category.cover_url }}">
            </div>
        </div>
        <div class="row">
            {% include 'management/lib/forms.html' with forms=forms url=request.path %}
        </div>
    </div>
{% endblock %}