{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'edit category' %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#">{% trans 'categories' %}</a></li>
            <li class="active">{% trans 'edit category' %}]</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="col-xs-6 col-sm-3 col-xs-offset-3">
                            <img class="img-responsive img-thumbnail" alt="200x200"  src="{{ category.cover_url }}">
                        </div>
                    </div>

                    {% include 'management/lib/forms.html' with forms=forms url=request.path %}
                </div>
            </div>
        </div>
    </section>

{#    <div class="container">#}
{#        <div class="row placeholders">#}
{#            <div class="col-xs-6 col-sm-3 placeholders">#}
{#                <img class="img-responsive img-thumbnail" alt="200x200" data-src="holder.js/200x200/auto/sky"  src="{{ category.cover_url }}">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            {% include 'management/lib/forms.html' with forms=forms url=request.path %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}