{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}

{% block content %}
    <h1 class="page-header">{% trans 'category' %}</h1>

    <div class="row">
        <ul class="nav nav-pills" role="tablist">
            <li><a class="btn btn-primary" href="{% url 'management_category_create' %}" target="_blank">{% trans 'add' %}</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'cover' %}</th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'status' %}</th>
                        <th>{% trans 'operation' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in category_list %}
                        <tr>
                            <td>{{ category.pk }}</td>

                            <td><img src="{{ category.cover_url|resize:'150' }}"></td>
                            <td><a href="{% url 'management_sub_category_list' category.pk %}">{{ category.title }}</a></td>
                            <td>{{ category.status|yesno }}</td>
                            <td>
                                <a class="btn btn-default" href="{% url 'management_category_edit' category.pk %}" target="_blank">{% trans 'edit' %}</a>
                                <a class="btn btn-primary" href="{% url 'management_sub_category_list' category.pk %}" target="_blank">{% trans 'detail' %}</a>
                                <a class="btn btn-success" href="{% url 'management_category_entities' category.pk %}" target="_blank">{% trans 'entity' %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "management/paginator.html" with objects=category_list url=request.path %}

{% endblock %}