{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{{ category }}</h1>

    <div class="row">
        <ul class="nav nav-pills" role="tablist">
            <li><a class="btn btn-primary" href="{% url 'management_sub_categoy_create' category.pk %}" target="_blank">{% trans 'add' %}</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'icon' %}</th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'status' %}</th>
                        <th>{% trans 'operation' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sub_category in category_list %}
                        <tr>
                            <td>{{ sub_category.pk }}</td>
                            <td><img class="img-responsive" src="{{ sub_category.icon_large_url }}" width="100" height="100"></td>
                            <td>{{ sub_category.title }}</td>
                            <td>{{ sub_category.status|yesno }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-success" href="{% url 'management_sub_category_entities' sub_category.pk %}" target="_blank">{% trans 'detail' %}</a>
                                    <a class="btn btn-default" href="{% url 'management_sub_category_edit' sub_category.pk %}" target="_blank">{% trans 'edit' %}</a>
                                </div>
{#                                <a class="btn btn-primary" href="{% url 'management_sub_category_list' category.pk %}" target="_blank">{% trans 'detail' %}</a>#}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "management/paginator.html" with objects=category_list url=request.path %}
{% endblock %}