{% extends "management/management_base.html" %}

{% block content %}
    <h1 class="page-header">{{ user.profile.nickname }}</h1>
       <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholders">
                <img class="img-responsive img-thumbnail" alt="180x180" src="{{ user.profile.avatar_url }}" style="max-height:180px;max-width:180px;">
            </div>
        </div>
    <div class="row">
        <form class="well form-horizontal" method="post">

        </form>
    </div>
{% endblock %}