{% extends "management/management_base.html" %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{{ user.profile.nickname }}</h1>
    <div class="row placeholders well">
        <div class="col-xs-6 col-sm-4 placeholder">
            <img class="img-responsive img-thumbnail" alt="180x180" src="{{ user.profile.avatar_url }}" style="max-height:180px;max-width:180px;">
        </div>
        <div class="col-xs-6 col-sm-4 placeholder">
            <a href="{% url 'management_user_reset_password' user.pk %}" class="btn btn-primary">{% trans 'reset password' %}</a>
            <a href="{% url 'management_user_upload_avatar' user.pk %}" class="btn btn-primary">{% trans 'upload avatar' %}</a>
{#                <span class="label label-default">添加 {{ user.create_entity_count }}</span>#}
{#                <span class="label label-default">喜欢</span>#}
{#                <span class="label label-default">点评 {{ user.post_note_count }}</span>#}
        </div>
    </div>
    {% if forms.errors %}
    <div class="row">
        <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                {% for k, v in forms.errors.items %}
                    <strong>{{ k }}</strong>
                    {{ v.as_text  }}
                {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation">
                <a href="{% url 'management_user_post' user.pk %}">添加 <span class="badge">{{ user.create_entity_count }}</span></a>
            </li>
            <li role="presentation"><a href="">喜欢&nbsp;<span class="badge">{{ user.like_count }}</span></a></li>
            <li role="presentation">
                <a href="{% url 'management_user_notes' user.pk %}">点评 <span class="badge">{{ user.post_note_count }}</span></a>
            </li>
        </ul>
    </div>

    <div class="row">
        <form class="well form-horizontal" method="post">
            {% csrf_token %}
            <fieldset>
            {% for field in forms %}
                {% if field.html_name == 'is_admin' %}
                     <div class="checkbox">
                        <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                     </div>
                {% elif field.html_name == 'gender' %}
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{ field.id_for_label  }}">{{ field.label  }}</label>
                        <div class="col-xs-8 col-sm-4">
{#                            {{ profile_form.gender }}#}
                            {% for radio in field %}
                            <label class="checkbox-inline">{{ radio.choice_label }} {{ radio.tag }}&nbsp; </label>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}