{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{% trans 'user' %}</h1>
    <div class="row">
        <ul class="nav nav-pills" role="tablist">
            <li {% if admin == None and active == None %}class="active" {% endif %}><a href="{% url 'management_user_list' %}">{% trans 'all' %}</a></li>
            <li {% if active == '2' %}class="active" {% endif %}><a href="{% url 'management_user_list' %}?active=2">{% trans 'editor' %}</a></li>
            <li {% if active == '1' %}class="active" {% endif %}><a href="{% url 'management_user_list' %}?active=1">{% trans 'active' %}</a></li>
            <li {% if active == '0' %}class="active" {% endif %}><a href="{% url 'management_user_list' %}?active=0">{% trans 'blocked' %}</a></li>
            <li {% if active == '-1' %}class="active" {% endif %}><a href="{% url 'management_user_list' %}?active=-1">{% trans 'remove' %}</a></li>
            <li {% if admin %}class="active" {% endif %}><a href="{% url 'management_user_list' %}?admin=1">{% trans 'admin' %}</a></li>
        </ul>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'avatar' %}</th>
                    <th>{% trans 'email' %}</th>
                    <th>{% trans 'nickname' %}</th>
                    <th>{% trans 'gender' %}</th>
{#                    <th>{% trans 'is_admin' %}</th>#}
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.pk }}</td>
                        <td><img src="{{ user.profile.avatar_url }}" width="50" height="50"></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.profile.nickname }}</td>
                        <td>{{ user.profile.get_gender_display }}</td>
{#                        <td>{{ user.is_staff|yesno }}</td>#}
                        <td>
                            <a class="btn btn-primary" href="#">{% trans 'post message' %}</a>
                            <a class="btn btn-default" href="{% url 'management_user_edit' user.pk %}" target="_blank">{% trans 'edit' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "management/paginator.html" with objects=users url=request.path %}
{% endblock %}