{% extends 'management/management_base.html' %}
{% load i18n static %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'user' %}
            <small>{% trans 'entity' %}</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans 'user' %}</li>
        </ol>
    </section>

    <section class="content">
{#    <h1 class="page-header">{% trans 'user' %}</h1>#}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-pills" role="tablist">
{#            <li {% if admin == None and active == None %}class="active" {% endif %}><a href="{% url 'management_user_list' %}">{% trans 'all' %}</a></li>#}
                            <li {% if active == '3' %}class="active" {% endif %}><a href="{% url 'management_user_list_status' '3' %}">{% trans 'writer' %}</a></li>
                            <li {% if active == '2' %}class="active" {% endif %}><a href="{% url 'management_user_list_status' '2' %}">{% trans 'editor' %}</a></li>
                            <li {% if active == '1' %}class="active" {% endif %}><a href="{% url 'management_user_list_status' '1' %}">{% trans 'active' %}</a></li>
                            <li {% if active == '0' %}class="active" {% endif %}><a href="{% url 'management_user_list_status' '0' %}">{% trans 'blocked' %}</a></li>
                            <li {% if active == '999' %}class="active" {% endif %}><a href="{% url 'management_user_list_status' '999' %}">{% trans 'remove' %}</a></li>
                            <li {% if active == '888' %}class="active" {% endif %}><a href="{% url 'management_user_list_status' '888' %}">{% trans 'Authorized Author' %}</a></li>
                            <li {% if active == '666' %}class="active" {% endif %}><a href="{% url 'management_user_list_status' '666' %}">{% trans 'Authorized Seller' %}</a></li>
                            <li {% if active == '789' %}class="active" {% endif %}><a href="{% url 'management_user_list_status' '789' %}">{% trans '所有授权用户' %}</a></li>
                            <li {% if active == '777' %}class="active" {% endif %}><a href="{% url 'management_user_list_status' '777' %}">{% trans 'admin' %}</a></li>
{#                            <li {% if admin %}class="active" {% endif %}><a href="{% url 'management_user_list' %}?admin=1">{% trans 'admin' %}</a></li>#}
                        </ul>
                    </div>
                    <div class="box-body">
                        {% include 'management/users/table.html' with users=users %}
                    </div>

                    <div  class="box-footer">
                        {% include "management/entities/paginator_new.html"  with objects=users url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block user_script %}

    <script type="application/javascript" src="{% static 'js/management/manage_search.js' %}"></script>
{% endblock %}