{% extends 'management/management_base.html' %}
{% load i18n static %}
{% load guoku %}


{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'media' %}
            <small>素材</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#"><i class="fa fa-users"></i>{% trans 'users' %}</a></li>
            <li class="active"><i class="fa fa-medium"></i>素材</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-sm-3">

            </div>

            <div class="col-sm-9">
                <div class="box box-info">
                    <div class="box-header">
                        <h3>素材</h3>
                    </div>

                    <div class="box-body table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
{#                                    <th>#</th>#}
                                    <th>{% trans 'file' %}</th>
                                    <th>{% trans 'content type' %}</th>
                                    <th>{% trans 'operation' %}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for row in object_list %}
                                    <tr>
{#                                        <td>{{ row.id }}</td>#}
                                        <td><img class="img-polaroid img-responsive" style="max-height:150px;max-width:150px;"  src="{{ row.file_url|resize:"600" }}"></td>
                                        <td>{{ row.content_type }}</td>
                                        <td>{{ row.upload_datetime|date:'Y-m-d H:i:s' }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-default" href="#">{% trans 'copy link' %}</a>
                                                <a class="btn btn-danger btn-delete" medium-id="{{ medium.pk }}">{% trans 'delete' %}</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div  class="box-footer">
                        {% include "management/paginator.html" with objects=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
