{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{{ user.profile.nickname }}</h1>

    <div class="row placeholders well">
        <div class="col-xs-6 col-sm-4 placeholder">
            <img class="img-responsive img-thumbnail" alt="180x180" src="{{ user.profile.avatar_url }}" style="max-height:180px;max-width:180px;">
        </div>
    </div>

   <div class="row">
        <ul class="nav nav-pills" role="tablist">
{#        {{ status }}#}
            {% url 'management_user_notes' user.id as management_user_notes_url %}
            <li {% ifequal status None %}class="active"{% endifequal %}><a href="{{ management_user_notes_url }}">{% trans 'all' %}</a></li>
            <li {% ifequal status '1' %}class="active"{% endifequal %}><a href="{{ management_user_notes_url }}?status=1">{% trans 'top' %}</a></li>
            <li {% ifequal status '0' %}class="active"{% endifequal %}><a href="{{ management_user_notes_url }}?status=0">{% trans 'normal' %}</a></li>
            <li {% ifequal status '-1' %}class="active"{% endifequal %}><a href="{{ management_user_notes_url }}?status=-1">{% trans 'remove' %}</a></li>
        </ul>
    </div>

    {% include 'management/notes/table.html' with notes=notes %}

    {% include "management/paginator.html" with objects=notes url=request.path %}
{% endblock %}