{% load i18n %}

<div class="box-body table-responsive">
        <table class="table table-bordered table-hover" id="user">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'avatar' %}</th>
                    <th>
                        {% trans 'email' %}
                        <input class="guoku_search_input"
                               data-search-field="email"
                               type="text">

                    </th>
                    <th>{% trans 'nickname' %}
                        <input class="guoku_search_input"
                               data-search-field="nickname"
                               type="text">
                    </th>
                    <th>{% trans 'gender' %}</th>
                    <th>{% trans 'join datetime' %}</th>
                    <th>{% trans 'is_active' %}</th>
                    <th>{% trans 'sns' %}</th>
                    <th>{% trans 'operation' %}</th>

                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.pk }}</td>
                        <td><a href="{% url 'web_user_index' user.pk %}" target="_blank"><img src="{{ user.profile.avatar_url }}" width="50" height="50"></a></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.profile.nick }}</td>
                        <td>{{ user.profile.get_gender_display }}</td>
                        <td>{{ user.date_joined|date:'Y-m-d H:i:s' }}</td>
                        <td {% if user.is_active == -1 %}class="bool_no"{% endif %}>{{ user.get_is_active_display }}</td>
                        <td>
                            {% if user.taobao %}
                                <span class="label label-warning">taobao</span>
                            {% endif %}
                            {% if user.weixin %}
                                <span class="label label-success">weixin</span>
                            {% endif %}
                            {% if user.weibo %}
                               <span class="label label-danger">weibo</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="#">{% trans 'post message' %}</a>
                            <a class="btn btn-default" href="{% url 'management_user_edit' user.pk %}" target="_blank">{% trans 'edit' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>