{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{{ user.profile.nickname }}</h1>
    <div class="row placeholders well">
        <div class="col-xs-6 col-sm-4 placeholder">
            <img class="img-responsive img-thumbnail" alt="180x180" src="{{ user.profile.avatar_url }}" style="max-height:180px;max-width:180px;">
        </div>
    </div>
    <div class="row">
        {{ forms.errors }}
    </div>
    <div class="row">
        <form class="well form-horizontal" method="post">
            {% csrf_token %}
            <fieldset>
                {% for field in forms %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        <div class="col-sm-5">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}