{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}


{% block content %}
    <section class="content-header">
        <h1>
            {{ query }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li class="active">{{ query }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-pills" role="tablist">
                            <li {% ifequal type 'e' %}class="active"{% endifequal %}><a href="{% url 'management_search' %}?q={{ query }}&t=e">{% trans 'entity' %} ({{ entity_count }})</a></li>
                            <li {% ifequal type 't' %}class="active"{% endifequal %}><a href="{% url 'management_search' %}?q={{ query }}&t=t">{% trans 'tags' %} ({{ tag_count }})</a></li>
                            <li {% ifequal type 'a' %}class="active"{% endifequal %}><a href="{% url 'management_search' %}?q={{ query }}&t=a">{% trans 'articles' %} ({{ article_count }})</a></li>
                            <li {% ifequal type 'u' %}class="active"{% endifequal %}><a href="{% url 'management_search' %}?q={{ query }}&t=u">{% trans 'users' %} ({{ user_count }})</a></li>
                        </ul>
                    </div>

                    <div class="box-body table-responsive">
                        {% if type == 't' %}
                            {% include 'management/search/partial/tags.html' with object_list=object_list %}
                        {% elif type == 'u' %}
                            {% include 'management/search/partial/users.html' with object_list=object_list %}
                        {% elif type == 'a' %}
                            {% include 'management/search/partial/articles.html' with object_list=object_list %}
                        {% else %}
                            {% include "management/search/partial/entities.html" with object_list=object_list %}
                        {% endif %}
                    </div>

                    <div class="box-footer">
                        {% include 'management/search/search_paginator.html' with objects=page_obj keyword=query status=type %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <div class="row">#}
{#        <h1 class="page-header">{{ query }}</h1>#}
{#    <h2 class="sub-header">{% trans 'all' %}</h2>#}
{##}
{#    </div>#}
{#    <div class="row" style="padding-bottom: 24px;">#}
{#        <ul class="nav nav-pills" role="tablist">#}
{#            <li {% ifequal type 'e' %}class="active"{% endifequal %}><a href="{% url 'management_search' %}?q={{ query }}&t=e">{% trans 'entity' %} ({{ entity_count }})</a></li>#}
{#            <li {% ifequal type 't' %}class="active"{% endifequal %}><a href="{% url 'management_search' %}?q={{ query }}&t=t">{% trans 'tags' %} ({{ tag_count }})</a></li>#}
{#            <li {% ifequal type 'a' %}class="active"{% endifequal %}><a href="{% url 'management_search' %}?q={{ query }}&t=a">{% trans 'articles' %} ({{ article_count }})</a></li>#}
{#            <li {% ifequal type 'u' %}class="active"{% endifequal %}><a href="{% url 'management_search' %}?q={{ query }}&t=u">{% trans 'users' %} ({{ user_count }})</a></li>#}
{#        </ul>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#    {% if type == 't' %}#}
{#        {% include 'management/search/partial/tags.html' with object_list=object_list %}#}
{#    {% elif type == 'u' %}#}
{#        {% include 'management/search/partial/users.html' with object_list=object_list %}#}
{#    {% elif type == 'a' %}#}
{#        {% include 'management/search/partial/articles.html' with object_list=object_list %}#}
{#    {% else %}#}
{#        {% include "management/search/partial/entities.html" with object_list=object_list %}#}
{#    {% endif %}#}
{##}
{#    {% include 'management/search/search_paginator.html' with objects=page_obj keyword=query status=type %}#}
{#    </div>#}
{% endblock %}