{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ event.title }}
            <small>{% trans 'edit' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#"><i class="fa fa-eye"></i>{% trans 'event' %}</a></li>
            <li class="active">{{ event.title }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                        <div class="box-body">
                            {% for field in forms %}
                                <div class="form-group {% if field.label == 'is_on_top' %} hidden {% endif %}  {% if field.errors %}has-error{% endif %}">
                                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    <div class="col-sm-5">
                                        {{ field }}
                                    </div>
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{#    <div class="container">#}
{#        <div class="row">#}
{#            <form class="form-horizontal well" action="" method="post">#}
{#            {% csrf_token %}#}
{#                <fieldset>#}
{#                    {% for field in forms %}#}
{#                        <div class="form-group {% if field.label == 'is_on_top' %} hidden {% endif %}  {% if field.errors %}has-error{% endif %}">#}
{#                            <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>#}
{#                            <div class="col-sm-5">#}
{#                                {{ field }}#}
{#                            </div>#}
{#                            {% if field.errors %}#}
{#                                {% for error in field.errors %}#}
{#                                    <span class="help-block">{{ error }}</span>#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </fieldset>#}
{#                <div class="form-group">#}
{#                    <div class="col-sm-offset-2 col-sm-10">#}
{#                        <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
