{% extends 'management/management_base.html' %}
{% load i18n %}
{% load common %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'event' %}
            <small>{% trans 'event' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans 'event' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <a target="_blank" class="btn btn-primary" href="{% url 'management_event_create' %}">{% trans 'add' %}</a>
                    </div>

                    <div class="box-body table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                            <th>#</th>
                            <th class="event-title-column">{% trans 'event title' %}</th>

                            <th class="event-tag-column">{% trans 'tag' %}</th>
                            <th>{% trans 'slug' %}</th>
{#                            <th>{% trans 'event_is_on_top' %}</th>#}
                            <th>{% trans 'published' %}</th>
                            <th>{% trans '置顶' %}</th>
{##}
{#                            <th>{% trans '新状态－置顶' %}</th>#}
                            <th>{% trans 'has banner' %}</th>
                            <th>{% trans 'banners' %}</th>
{#                            <th>{% trans 'has recommendation' %}</th>#}
                            <th>{% trans 'recommendations' %}</th>
                            <th>{% trans 'operation' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td><a target="_blank" href="{{ event.slug_url }}">{{ event.title }}</a></td>

                                <td><a target="_blank" href="{{ event.tag_url }}">{{ event.tag }}</a></td>
                                <td><a target="_blank" href="{{ event.slug_url }}">{{ event.slug }}</a></td>
{#                                     the following row is hidding by an chen#}
{#                                <td class="{{ event.status|format_boolean_class }}">{{ event.status|format_boolean }}</td>#}
                                <td class="{{ event.event_status.is_published|format_boolean_class }}">{{ event.event_status.is_published|format_boolean|safe }}</td>
                                <td class="{{ event.event_status.is_top|format_boolean_class }}">{{ event.event_status.is_top|format_boolean|safe }}</td>
{#                                <td>{{ event.event_status.is_top }}</td>#}
                                <td>{{ event.has_banner|format_boolean|safe }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'management_event_show_banner' event.pk %}" target="_blank">{{ event.banners }}</a>
                                </td>
{#                                <td>{{ event.has_recommendation|format_boolean }}</td>#}
                                <td><a class="btn btn-primary" href="{% url 'management_event_show_recommendation' event.pk %}" target="_blank">{{ event.recommendations }}</a></td>
                                <td>
                                    <div class="btn-group">
{#                                        <a href="#" class="btn btn-default" target="_blank" >{% trans 'preview' %}</a>#}
                                        <a href="{% url 'management_event_edit' event.pk %}" class="btn btn-default" target="_blank" >{% trans 'edit' %}</a>
                                        <a href="#" class="btn btn-danger">{% trans 'del' %}</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <div class="container">#}
{##}
{#        <div class="row" style="margin-top: 20px;">#}
{#            <ul class="nav nav-pills" role="tablist">#}
{#                <li><a target="_blank" class="btn btn-primary" href="{% url 'management_event_create' %}">{% trans 'add' %}</a></li>#}
{#            </ul>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div class="table-responsive" style="margin: 20px 0 20px 0;">#}
{#                <table class="table table-striped">#}
{#                    <thead>#}
{#                        <tr>#}
{##}
{#                            <th>{% trans 'event title' %}</th>#}
{#                            <th>#</th>#}
{#                            <th>{% trans 'tag' %}</th>#}
{#                            <th>{% trans 'slug' %}</th>#}
{#                               the following row is hide by anchen  , #}
{#                            event_status will always be same value as event__event_status _ is_top                       #}
{#                            <th>{% trans 'event_is_on_top' %}</th>#}
{#                            <th>{% trans 'event_is_published' %}</th>#}
{#                            <th>{% trans 'event_is_top' %}</th>#}
{##}
{#                            <th>{% trans '新状态－置顶' %}</th>#}
{#                            <th>{% trans 'has banner' %}</th>#}
{#                            <th>{% trans 'banners' %}</th>#}
{#                            <th>{% trans 'has recommendation' %}</th>#}
{#                            <th>{% trans 'recommendations' %}</th>#}
{#                            <th>{% trans 'operation' %}</th>#}
{#                        </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                        {% for event in events %}#}
{#                            <tr>#}
{#                                <td><a target="_blank" href="{{ event.slug_url }}">{{ event.title }}</a></td>#}
{#                                <td>{{ event.id }}</td>#}
{#                                <td><a target="_blank" href="{{ event.tag_url }}">{{ event.tag }}</a></td>#}
{#                                <td><a target="_blank" href="{{ event.slug_url }}">{{ event.slug }}</a></td>#}
{#                                     the following row is hidding by an chen       #}
{#                                <td class="{{ event.status|format_boolean_class }}">{{ event.status|format_boolean }}</td>#}
{#                                <td class="{{ event.event_status.is_published|format_boolean_class }}">{{ event.event_status.is_published|format_boolean }}</td>#}
{#                                <td class="{{ event.event_status.is_top|format_boolean_class }}">{{ event.event_status.is_top|format_boolean }}</td>#}
{#                                <td>{{ event.event_status.is_top }}</td>#}
{#                                <td>{{ event.has_banner|format_boolean }}</td>#}
{#                                <td>#}
{#                                    <a class="btn btn-primary" href="{% url 'management_event_show_banner' event.pk %}" target="_blank">{{ event.banners }}</a>#}
{#                                </td>#}
{#                                <td>{{ event.has_recommendation|format_boolean }}</td>#}
{#                                <td><a class="btn btn-primary" href="{% url 'management_event_show_recommendation' event.pk %}" target="_blank">{{ event.recommendations }}</a></td>#}
{#                                <td>#}
{#                                    <div class="btn-group">#}
{#                                        <a href="#" class="btn btn-default" target="_blank" >{% trans 'preview' %}</a>#}
{#                                        <a href="{% url 'management_event_edit' event.pk %}" class="btn btn-default" target="_blank" >{% trans 'edit' %}</a>#}
{#                                        <a href="#" class="btn btn-danger">{% trans 'del' %}</a>#}
{#                                    </div>#}
{#                                </td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}