{% extends 'web/base.html' %}
{% load i18n %}

{% block title %}{% trans 'forget password' %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form class="form-horizontal" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    {% for field in forms %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            <div class="col-sm-5">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                <span class="help-block">{{ field.help_text }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
{#                    {{ forms }}#}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'submmit' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}