{% extends 'web/base.html' %}
{% load i18n staticfiles %}

 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="帐号登录 | 精英消费指南 | 果库">
    <meta name="keywords" content="帐号,登录,精英消费指南,果库">
    <meta name="description" content="{{ user.profile.nick }},在果库喜爱过的所有商品，果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。">
{% endblock %}

{% block title %}帐号登录 | 精英消费指南 | 果库{% endblock %}


{% block title %}{% trans "sign in" %} - 【精英消费指南】{% endblock %}{% block suffix %} - 果库{% endblock %}

{% block content %}
    <div class="container">
        {% include "web/account/partial/ajax_login.html" with forms=forms %}
    </div>

{% endblock %}

{% block modal %} {% endblock %}