{% extends 'web/base.html' %}
{% load i18n %}

{% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="找回密码 | 精英消费指南 | 果库">
    <meta name="keywords" content="找回密码,精英消费指南,果库">
    <meta name="description" content="找回密码,精英消费指南,果库">
{% endblock %}
{% block title %}找回密码 | 精英消费指南 | 果库{% endblock %}

{% block content %}
    <div class="container">
      {% if form %}
        <div class="row form-title">
            <div class="col-sm-12">
                <h3>找回密码</h3>
            </div>
        </div>
      {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal" method="post">{% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ field.label }}</label>
                            <div class="col-sm-5 input-control">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    {% if form %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <button type="submit" class="btn btn-primary">{% trans 'submit' %}</button>
                            </div>
                        </div>
                    {% endif %}
                    {% if not form %}
                        <div class="row check-icon-wrapper">
                            <div class="col-sm-12">
                                <i class="fa fa-times-circle check-wrong-icon big-check-icon"></i>
                                <p class="message">链接已失效</p>
                                <p class="more-message">烦请重新发送一封验证邮件</p>
                                <a class="new-guoku-button newest-btn-primary" href="guoku.com">
                                    去发送
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}