{% extends 'web/base.html' %}
{% load i18n %}

 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="找回密码 | 精英消费指南 | 果库">
    <meta name="keywords" content="找回密码,精英消费指南,果库">
    <meta name="description" content="找回密码,精英消费指南,果库">
{% endblock %}
{% block title %}找回密码 | 精英消费指南 | 果库{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>找回密码</h3>
        </div>
        <div class="row">
            <form class="form-horizontal" method="post">{% csrf_token %}
                <fieldset>
                    {% for field in form %}
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ field.label }}:</label>
                            <div class="col-sm-5">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'submit' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}