{% extends 'web/base.html' %}
{% load i18n %}

{% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="找回密码 | 精英消费指南 | 果库">
    <meta name="keywords" content="找回密码,精英消费指南,果库">
    <meta name="description" content="找回密码,精英消费指南,果库">
{% endblock %}
{% block title %}找回密码 | 精英消费指南 | 果库{% endblock %}

{% block content %}
    <div class="container">
        <div class="row form-title">
            <div class="col-sm-12">
                <h3>找回密码</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal" method="post">{% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ field.label }}</label>
                            <div class="col-sm-5 input-control">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-5">
                            <button type="submit" class="btn btn-primary">{% trans 'submit' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}