{% extends 'web/base.html' %}
{% load i18n staticfiles %}


 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="帐号注册 | 精英消费指南 | 果库">
    <meta name="keywords" content="帐号,注册,精英消费指南,果库">
    <meta name="description" content="用户注册">
{% endblock %}

{% block title %}帐号注册 | 精英消费指南 | 果库{% endblock %}


{% block content %}
<div class="container">

    <div class="row">
        <div class="col-xs-offset-1 col-xs-8 col-sm-offset-3 col-sm-4" >
            <p style="padding: 6px 0 6px 0;">{% trans 'Sign Up' %} | {% trans 'Have an Account?' %}</p>
{#            <p>第{{ wizard.steps.step1 }}步，共{{ wizard.steps.count }}步</p>#}
        </div>
        <div class="col-xs-2 col-sm-2">
            <a class="pull-right btn btn-link" href="{% url 'web_login' %}">{% trans 'Sign In Now' %}&nbsp;>></a>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" role="form" method="post"  id="reg_form" >
            {% csrf_token %}
            {{ wizard.management_form }}
            <fieldset>
                {% for field in wizard.form %}
                    {% if field.name != "agree_tos" %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                            <span class="help-block col-sm-2" style="background-color: #ffffcc; border: 1px solid #ccc;">{{ error|escape }}</span>
                            {% endfor %}
                        {% else %}
{#                            <span class="help-block hidden-xs">{{ field.help_text }}</span>#}
                        {% endif %}
                    </div>
                    {% else %}
{#                        <div class="form-group {% if field.errors %}has-error{% endif %}">#}
                        <div class="checkbox">
                            <label class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
                                {{ field }}我已阅读并同意&nbsp;<a class="pull-right" href="{% url 'web_agreement' %}">果库使用协议</a>
                            </label>

{#                            使用协议</a>#}
                            {% if wizard.form.agree_tos.errors %}
                                <span>
                                {% for error in wizard.form.agree_tos.errors %}{{ error|escape }}{% endfor %}
                                </span>
                            {% endif %}
                        </div>
{#                        </div>#}
                    {% endif %}

                {% endfor %}
            </fieldset>
            <div class="form-group" style="margin-top: 20px;">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'next' %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <!--[if lt IE 9]>
        <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
        <script language='javascript'>
            $(document).ready(function(){
                $('input, textarea').placeholder();
            });
        </script>
    <![endif]-->
{% endblock %}