{% extends 'web/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if not verified %}
                哎呀，大概等太久，验证已失效，重新 <a href="{% url 'web_user_settings' %}">发送一封激活邮件</a> 吧。
            {% else %}
                {% ifequal verified 2 %}
                    激活邮件已发送，请到你的注册邮箱检查邮件。
                {% else %}
                    {% ifequal verified 1 %}
                        验证完成。

                    {% endifequal %}
                {% endifequal %}
            {% endif %}
        </div>
    </div>

    <script language="javascript">
        var      host = location.host;
        var      path = '/u/settings/';

        setTimeout(function(){
            window.location = 'http://'+host + path;
        }, 1000);


    </script>
{% endblock %}

