{% load i18n %}
{% load guoku %}

{% for index, image in entity.images|enumerate_list %}
    <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="img-box">
                     <img class="img-responsive" alt="{{ entity.title }}" src="{{ image|oss_resize:'320' }}">
                </div>
{#                {% if index != 0 %}#}
                <div class="caption">
                    <h3>{{ index|add:1 }}</h3>
                    <a class="btn btn-danger" href="{% url 'seller_remove_entity_image' entity.id %}" data-image="{{ image }}">{% trans 'remove' %}</a>
{#                </span>#}
                </div>
{#                {% endif %}#}
            </div>
    </div>
{% endfor %}