{% load i18n %}
{% load guoku %}

 {% for image in entity.images %}
    <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <img class="img-responsive img-thumbnail" alt="{{ entity.title }}" src="{{ image|resize:'640' }}" width="240" height="240">
{#                {% if index != 0 %}#}
                <div class="caption">
                    <h3>{{ index|add:1 }}</h3>
                     <a class="btn btn-danger" href="{% url 'management_remove_entity_image' entity.id %}" data-image="{{ image }}">{% trans 'remove' %}</a>
                </div>
{#                {% endif %}#}
            </div>
    </div>
{% endfor %}