@charset "utf-8";

body, p{
  padding: 0;
  margin: 0;
  font-family: sans-serif;

}

ul{
  list-style: none;
}
ul#tag_list{
  font-size:16px;
  overflow: auto;
  &>li{
    //border:1px solid red;
    height:100px;
    width:400px;
    margin: 10px 10px;
    padding: 30px;
    //background: #fff;

    float:left;
    .tag-container{
      position: relative;
      width: 100%;
      height:100%;
      //border:1px solid blue;
       .cut-dot-left-top{
         position: absolute;
         left:-30px;
         top:-30px;
       }
       .cut-dot-left-bottom{
         position: absolute;
         left:-30px;
        bottom:-40px;
       }
      .cut-dot-right-top{
         position: absolute;
         right:-30px;
         top:-30px;
       }
       .cut-dot-right-bottom{
           position: absolute;
           right:-30px;
           bottom:-40px;
         }
    }
    .store{
      font-size: 16px;
      margin-bottom:10px;
    }
    .qr-code{
      float: right;
      width:  100px;
      height: 100px;
      padding-left:1em;
      img{
        height: 100px;
        width: 100px;
      }
    }
    .info{
      .title{
        font-size:22px;
        font-weight: 600;

      }

      .price-wrapper{
        padding:10px 0 0 0 ;
        .price{
          .dollar-sign{
            font-size:22px;
            position: relative;
            top:1px;
          }
          .price-number{
            //          &:before{
            //            content:'￥';
            //          }
            font-family:Georgia,serif;
            font-size:22px;
            letter-spacing: 1px;
            position:relative;
            left:-5px;
          }
        }
        .origin_price{

        }

      }


    }

  }
}

// print margin 0.1 inch top 1.47 bottom 0 0 0
@media print{
  ul#tag_list{
     font-size:0.3cm;
     &>li{
        //border:1px solid #000;
       position:relative;
      height:2.5cm;
      width:6cm;
      margin: 0.2cm;
      padding: 0.5cm;
      background: #fff;

      float:left;
       .tag-container{
          //border:1px solid #000;
         position: relative;
         width: 100%;
         height:100%;

      .cut-dot-right-top{
         position: absolute;
         right:-0.5cm;
         top:-0.5cm;
       }
         .cut-dot-right-bottom{
           position: absolute;
           right:-0.5cm;
           bottom:-0.8cm;
         }
         .cut-dot-left-top{
         position: absolute;
         left:-0.5cm;
         top:-0.5cm;
       }
         .cut-dot-left-bottom{
           position: absolute;
           left:-0.5cm;
           bottom:-0.8cm;
         }
    }

      .store{
        font-size: 0.6em;
        margin-bottom:0.1cm;
      }
      .qr-code{
        float: right;
        width:  2.4cm;
        height: 2.4cm;
        padding-left:1em;
        img{
          height: 2.4cm;
          width: 2.4cm;
        }
      }
      .info{
        .title{
          font-size:1em;
          font-weight: 600;

        }

        .price-wrapper{
          padding: 0.1cm 0 0 0 ;
          .price{
            .dollar-sign{
              font-size:1em;
              position: relative;
              top:1px;
            }
            .price-number{
              //          &:before{
              //            content:'￥';
              //          }
              font-family:Georgia,serif;
              font-size: 1em;
              letter-spacing:0;
              position:relative;
              left:-0.4em;
            }
          }
          .origin_price{

          }

        }


      }

    }
  }
  #input_container{
    display:none;
  }
}

#input_container{
  li{
    margin-top:20px;
  }
  input{
      with: 400px;
  }
}