{% extends 'management/management_base.html' %}
{% load i18n %}


{% block content %}
    <h1 class="page-header">{% trans 'comment' %}</h1>
    <div class="row" id="comment">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'note' %}</th>
                    <th>{% trans 'user' %}</th>
                    <th>{% trans 'content' %}</th>
                    <th>{% trans 'post_time' %}</th>
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td><a href="{% url 'management_note_edit' comment.note.pk %}">{{ comment.note }}</a></td>
                        <td><a href="{% url 'management_user_edit' comment.user.pk %}">{{ comment.user.profile.nickname }}</a></td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.post_time|date:'Y-m-d' }}</td>
                        <td><a class="btn btn-default" href="javascript:;" comment-id="{{ comment.pk }}">{% trans 'delete' %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}

