{% load i18n %}
{% load common %}

{#<div class="row">#}
{#    <div class="table-responsive action-table">#}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="id">#</th>
                    <th class="title">{% trans 'title' %}</th>
                    <th class="person-link" >{% trans 'author' %}</th>
                    <th class="cell-boolean" >文章状态</th>
                    <th class="date-time">最后修改时间</th>
                    <th class="read-count">阅读</th>
                    <th class="edit-operation">{% trans 'operation' %}</th>
                    <th class="cell-number">加入精选次数</th>
                    <th class="date-time" >上次精选发布时间</th>

                    <th class="edit-operation">精选操作</th>
                </tr>
            </thead>
            <tbody>
                {% for row in object_list %}
                    <tr>
                        <td>{{ row.object.id }}</td>
                        <td>{{ row.title }}</td>
                        <td><a href="{% url 'management_user_edit' row.object.creator.id %}" target="_blank">{{ row.object.creator.profile.nickname }}</a></td>
                        <td>{{ row.object.get_publish_display  }}</td>
                        <td>{{ row.object.updated_datetime|format_time}}</td>
                        <td>{{ row.object.read_count }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="{% url 'management_article_edit' row.object.id %}" target="_blank">{% trans 'edit' %}</a>
                                <a class="btn btn-success" href="{% url 'web_article_page' row.object.id %}" target="_blank">{% trans 'goto' %}</a>
                            </div>
                        </td>
                        <td>{{ row.obejct.selection_count}}</td>
                        <td>{{ row.object.last_selection_time|date:'Y-m-d H:i:s' }}</td>
                        <td>
                            <div class="btn-group">
                                {% if row.object.selections.count %}
                                    <a class="btn btn-default disabled" href="javascript:;">
                                        已加入精选
                                    </a>
                                {% else %}
                                    <a class="btn btn-primary add-selection" href="javascript:;"
                                    url = "{% url 'management_create_selection_article' row.object.pk %}"
                                    article_id="{{  row.object.pk  }}">

                                    加入精选
                                    </a>
                                {% endif %}
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{#    </div>#}
{#</div>#}