{% load i18n %}

<div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'avatar' %}</th>
                    <th>{% trans 'email' %}</th>
                    <th>{% trans 'nickname' %}</th>
                    <th>{% trans 'gender' %}</th>
                    <th>{% trans 'join datetime' %}</th>
                    <th>{% trans 'is_active' %}</th>
                    <th>{% trans 'sns' %}</th>
                    <th>{% trans 'operation' %}</th>

                </tr>
            </thead>
            <tbody>
                {% for row in object_list %}
                    <tr>
                        <td>{{ row.object.id }}</td>
                        <td><a href="{% url 'web_user_index' row.object.id %}" target="_blank"><img src="{{ row.object.profile.avatar_url }}" width="50" height="50"></a></td>
                        <td>{{ row.object.email }}</td>
                        <td>{{ row.object.profile.nick }}</td>
                        <td>{{ row.object.profile.get_gender_display }}</td>
                        <td>{{ row.object.date_joined|date:'Y-m-d H:i:s' }}</td>
                        <td {% if row.object.is_active == -1 %}class="bool_no"{% endif %}>{{ row.object.get_is_active_display }}</td>
                        <td>
                            {% if row.object.taobao %}
                                <span class="label label-warning">taobao</span>
                            {% endif %}
                            {% if row.object.weixin %}
                                <span class="label label-success">weixin</span>
                            {% endif %}
                            {% if row.object.weibo %}
                               <span class="label label-danger">weibo</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="#">{% trans 'post message' %}</a>
                            <a class="btn btn-default" href="{% url 'management_user_edit' row.object.id %}" target="_blank">{% trans 'edit' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>