{% load i18n %}
{% load guoku %}

{# {% for index, image in images|enumerate_list %} #}
{#    <div class="col-xs-6 col-sm-3">#}
{#            <div class="thumbnail">#}
                <img alt="{{ entity.title }}" src="{{ image|oss_resize:'240' }}" width="180" height="180">
{#                {% if index != 0 %}#}
{#                <div class="caption">#}
{#                    <h3>{{ index|add:1 }}</h3>#}
                    {# <a class="btn btn-danger" href="{% url 'management_remove_entity_image' entity.id %}" data-image="{{ image }}">{% trans 'remove' %}</a> #}
                    {# <a class="btn btn-danger">{% trans 'edit' %}</a> #}
{#                </span>#}
{#                </div>#}
{#                {% endif %}#}
{#            </div>#}
{#    </div>#}
{# {% endfor %} #}