{% load i18n static %}

<table class="new-table new-custom-table-bordered new-table-hover" >
    <thead>
        <tr>
            <th>
                {% trans '属性' %}
            </th>

            <th>
                {% trans '价格' %}
            </th>

            <th>{% if sort_by == 'dstock' %}
                    <a class="new-blue-link" href="{% url  'sku_list_management' entity.id %}?sort_by=ustock">
                {% else %}
                    <a class="new-blue-link" href="{% url  'sku_list_management' entity.id %}?sort_by=dstock">
                {% endif %}
                    {% trans '库存' %}
                {%  if sort_by == 'dstock' %}<i class="fa fa-arrow-down"></i>
                {% elif sort_by == 'ustock' %}<i class="fa fa-arrow-up"></i>
                {% endif %}</a>
            </th>

             <th>
                {% if sort_by == 'dstatus' %}
                    <a class="new-blue-link" href="{% url  'sku_list_management' entity.id %}?sort_by=ustatus">
                {% else %}
                    <a class="new-blue-link" href="{% url  'sku_list_management' entity.id %}?sort_by=dstatus">
                {% endif %}
                    {% trans '激活' %}
                {%  if sort_by == 'dstatus' %}<i class="fa fa-arrow-down"></i>
                {% elif sort_by == 'ustatus' %}<i class="fa fa-arrow-up"></i>
                {% endif %}</a>
            </th>

{#             <th>#}
{##}
{#                {% if sort_by == 'dorigin_price' %}#}
{#                    <a href="{% url  'sku_list_management' entity.id %}?sort_by=uorigin_price">#}
{#                {% else %}#}
{#                    <a href="{% url  'sku_list_management' entity.id %}?sort_by=dorigin_price">#}
{#                {% endif %}#}
{#                    {% trans 'origin_price' %}#}
{#                {%  if sort_by == 'dorigin_price' %}<i class="fa fa-arrow-circle-down"></i>#}
{#                {% elif sort_by == 'uorigin_price' %}<i class="fa fa-arrow-circle-up"></i>#}
{#                {% endif %}</a>#}
{#             </th>#}
{#             <th>#}
{#                {% if sort_by == 'dpromotion_price' %}#}
{#                    <a href="{% url  'sku_list_management' entity.id %}?sort_by=upromotion_price">#}
{#                {% else %}#}
{#                    <a href="{% url  'sku_list_management' entity.id %}?sort_by=dpromotion_price">#}
{#                {% endif %}#}
{#                    {% trans 'promotion_price' %}#}
{#                {%  if sort_by == 'dpromotion_price' %}<i class="fa fa-arrow-circle-down"></i>#}
{#                {% elif sort_by == 'upromotion_price' %}<i class="fa fa-arrow-circle-up"></i>#}
{#                {% endif %}</a>#}
{#            </th>#}

            <th>
                {% trans '操作' %}
            </th>
        </tr>
    </thead>
    <tbody>
     {% for sku in object_list %}
        <tr>
{#            <td>{{ sku.id }}</td>#}
            <td>{{ sku.attrs_display }}</td>
            <td>
                <div class="original-price">
                     &yen;{{ sku.origin_price }}
                </div>
                <div>
                    &yen;{{ sku.promo_price }}
                </div>
            </td>
            <td>{{ sku.stock }}</td>
            <td>
                <input type="checkbox" data-id="{{ sku.id }}" data-group="seller" class="js-switch" {% if sku.status %}checked{% endif %} />
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn newest-btn-primary" href="{% url 'sku_update_management' entity.pk sku.pk %}" >编辑SKU属性</a>
                    <a class="btn btn-danger" href="{% url 'sku_delete_management' entity.pk sku.pk %}">删除</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>