{% extends 'web/user/user_base_new.html' %}
{% load i18n staticfiles%}
{% load common guoku %}
{% load static %}

{% block meta-og %}
    <meta property="og:title" content="{{ offline_shop.shop_name }}果库页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="{{ offline_shop.shop_name }}">
{% endblock %}
{% block meta-common %}
    <meta name="title"  content="{{ offline_shop.shop_name }} | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ offline_shop.shop_name }},精英消费指南,果库">
    <meta name="description" content="{{ offline_shop.shop_name }},{{ offline_shop.shop_desc|truncatechars:'50' }}">
{% endblock %}
{% block title %}{{ offline_shop.shop_name }} | 精英消费指南 | 果库{% endblock %}
        {% block user_header %}
                <div class='authorized_author_info'>
                    <div class="user-icon">
                        <img src="{{ current_user.avatar_url|resize:'180' }}"/>
                    </div>
                    <div class="user-nick">
                         <span class="nick">{{ offline_shop.shop_name }}</span>
                         <img src="{% static 'images/author/official_media.png' %}" width="16px" height="16px" class="official-media"/>
                    </div>
                    <div class="user-action">
                          {% if current_user.is_blocked %}
                                <a  class="guoku-button button-disabled" href="#"><i class="fa fa-exclamation-triangle"></i>&nbsp;{% trans 'Blocked User' %} </a>
                            {% elif current_user == request.user %}
                                <a class="guoku-button new-guoku-button button-blue newest-button-blue" href="{% url 'web_user_settings' %}">
                                    <i class="fa fa-cog fa-lg"></i>&nbsp;{% trans _('Edit Profile') %}</a>
                            {% elif request.user.id in current_user.concren %}
                                <a class="follow guoku-button new-guoku-button btn-cancel new-btn-cancel" data-status="1" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-exchange fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
                            {% elif request.user.id in current_user.fans_list %}
                                <a class="follow guoku-button new-guoku-button btn-cancel new-btn-cancel" data-status="1" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-check fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
                            {% else %}
                                <a class="follow guoku-button new-guoku-button button-blue newest-button-blue" data-status="0" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-plus" ></i>&nbsp; {% trans 'Follow' %}</a>
                            {% endif %}
                    </div>
{#                    <div class="user-bio-wrapper">#}
{#                        <span class="user-bio">#}
{#                            {{ current_user.bio|truncatechars:200 }}#}
{#                        </span>#}
{#                    </div>#}
            </div>
       {% endblock %}

{% block user_content_detail %}
     {{ offline_shop.shop_tel}}
    {{ offline_shop.shop_opentime }}
    {{ offline_shop.shop_address }}
    {{ offline_shop.address_lng }}
     {{ offline_shop.address_lat }}


{% endblock %}