{% extends 'web/base.html' %}
{% load i18n staticfiles %}

 {% block meta-og %}
    <meta property="og:title" content="果库精选商品 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="精选商品 | 精英消费指南 | 果库">
    <meta name="keywords" content="精选商品,精选,尽收世上好物,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% load i18n %}

{% block title %}Seller Page{% endblock %}

{% block h1 %}果库,精选,精英消费指南{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/web-seller-style.css' %}">
{% endblock %}

{% block content %}

    <div class="event-cross-screen">
      <div class="row event-banner-wrapper">
{#      sections-navbar ----fix#}
          <div class="col-xs-12 col-sm-12 col-md-12 sections-titles-wrapper">
              <div class="sections-titles-nav">
                  <ul>
{# 需要添加超链接锚点#}
                    <li><a class="btn btn-primary section-title">生活</a></li>
                    <li><a class="btn btn-primary section-title">文化</a></li>
                    <li><a class="btn btn-primary section-title">服饰</a></li>
                    <li><a class="btn btn-primary section-title">美食</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-md-12 banner-img" style="background-image: url(http://imgcdn.guoku.com/images/a224419ee8c8832a65a3695a1b052e6f.jpeg)">
{#              <img src="http://imgcdn.guoku.com/images/a224419ee8c8832a65a3695a1b052e6f.jpeg" alt="web-seller-banner" title="web-seller-banner" class="img-response">#}
          </div>

      </div>
    </div>

    <div class="row share-btn-wrapper">
      <div class="col-md-12">
          <button class="btn btn-primary">分享</button>
      </div>
    </div>

    <div class="container">

        <div class="row section-floor-wrapper">

          <div class="col-xs-12 col-sm-3 col-md-3">
              <div class="section-desc-wrapper">
                  <div class="section-floor-title">01/生活 LIVING</div>
                  <div class="section-floor-desc">
                      <p>
                          2015,果库生活不一样.我最想做一个示范,就是在传统的空间内现代生活.正如KARIMOKU NEW STANDARD一样,
                      有传统的技术,却是当代年轻设计师设计.我们证实了一件事,就是摒弃国籍与年代,好的设计总可以完美融合.
                          2015,果库生活不一样.我最想做一个示范,就是在传统的空间内现代生活.正如KARIMOKU NEW STANDARD一样,
                      有传统的技术,却是当代年轻设计师设计.我们证实了一件事,就是摒弃国籍与年代,好的设计总可以完美融合.
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-xs-12 col-sm-9 md-col-9">
              <div class="section-item-wrapper">
                  <ul>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>

                       <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>

                       <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>

                       <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>

                       <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>

                       <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>

                       <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>

                       <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>

                       <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="http://imgcdn.guoku.com/images/310/046c3f4986c915c5d46179380ce78882.jpg" class="img-responsive">
                          </a>
                      </li>

                  </ul>
              </div>
           </div>
        </div>

        <div class="row section-title-wrapper">
            <div class="col-md-12">
                <p>专访回顾</p>
            </div>
        </div>

        <div class="row review-items-wrapper">
             <div class="col-xs-12 col-sm-3 col-md-3 review-item-wrapper">
                 <div class="review-item-pannel">
                     <a>
                         <div class="review-item-pic" style="background-image: url(http://imgcdn.guoku.com/images/750/71800cbc935cd685be41f6348bcc597e.jpg);">
                         </div>
                     </a>

                     <div class="review-item-desc">
                         <p>木质工坊设计工作室成立于2010年,由曾经在建筑事务所里忙碌
                         的设计师赵雪创立.</p>
                     </div>

                     <div class="review-item-date" style="text-align: center;">
                         <span>- Feb 09 -</span>
                     </div>
                     <div class="item-operations" style="display: none" >
                         <ul>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
            <div class="col-xs-12 col-sm-3 col-md-3 review-item-wrapper">
                 <div class="review-item-pannel">
                     <a>
                         <div class="review-item-pic" style="background-image: url(http://imgcdn.guoku.com/images/750/3053d51b649d0afbf280c8182991c487.jpg);">
                         </div>
                     </a>

                     <div class="review-item-desc">
                         <p>木质工坊设计工作室成立于2010年,由曾经在建筑事务所里忙碌
                         的设计师赵雪创立,不想当掌柜的建筑师不是好...</p>
                     </div>

                     <div class="review-item-date" style="text-align: center;">
                         <span>- Feb 09 -</span>
                     </div>
                     <div class="item-operations" style="display: none" >
                         <ul>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
            <div class="col-xs-12 col-sm-3 col-md-3 review-item-wrapper">
                 <div class="review-item-pannel">
                     <a>
                         <div class="review-item-pic" style="background-image: url(http://imgcdn.guoku.com/images/750/f43f4ec01a926fd1bbad1895b2cf99d8.jpg);">
                         </div>
                     </a>

                     <div class="review-item-desc">
                         <p>木质工坊设计工作室成立于2010年,由曾经在建筑事务所里忙碌
                         的设计师赵雪创立,不想当掌柜的建筑师不是好...</p>
                     </div>

                     <div class="review-item-date" style="text-align: center;">
                         <span>- Feb 09 -</span>
                     </div>
                     <div class="item-operations" style="display: none" >
                         <ul>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
            <div class="col-xs-12 col-sm-3 col-md-3 review-item-wrapper">
                 <div class="review-item-pannel">
                     <a>
                         <div class="review-item-pic" style="background-image: url(http://imgcdn.guoku.com/images/750/71800cbc935cd685be41f6348bcc597e.jpg);">
                         </div>
                     </a>

                     <div class="review-item-desc">
                         <p>木质工坊设计工作室成立于2010年,由曾经在建筑事务所里忙碌
                         的设计师赵雪创立,不想当掌柜的建筑师不是好...</p>
                     </div>

                     <div class="review-item-date" style="text-align: center;">
                         <span>- Feb 09 -</span>
                     </div>
                     <div class="item-operations" style="display: none" >
                         <ul>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
            <div class="col-xs-12 col-sm-6 col-md-6 review-item-wrapper">
                 <div class="review-item-pannel">
                     <a>
                         <div class="review-item-pic" style="background-image: url(http://imgcdn.guoku.com/images/750/71800cbc935cd685be41f6348bcc597e.jpg);">
                         </div>
                     </a>

                     <div class="review-item-desc">
                         <p>木质工坊设计工作室成立于2010年,由曾经在建筑事务所里忙碌
                         的设计师赵雪创立,不想当掌柜的建筑师不是好...</p>
                     </div>

                     <div class="review-item-date" style="text-align: center;">
                         <span>- Feb 09 -</span>
                     </div>
                     <div class="item-operations" style="display: none" >
                         <ul>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
            <div class="col-xs-12 col-sm-3 col-md-3 review-item-wrapper">
                 <div class="review-item-pannel">
                     <a>
                         <div class="review-item-pic" style="background-image: url(http://imgcdn.guoku.com/images/750/71800cbc935cd685be41f6348bcc597e.jpg);">
                         </div>
                     </a>

                     <div class="review-item-desc">
                         <p>木质工坊设计工作室成立于2010年,由曾经在建筑事务所里忙碌
                         的设计师赵雪创立,不想当掌柜的建筑师不是好...</p>
                     </div>

                     <div class="review-item-date" style="text-align: center;">
                         <span>- Feb 09 -</span>
                     </div>
                     <div class="item-operations" style="display: none" >
                         <ul>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
            <div class="col-xs-12 col-sm-3 col-md-3 review-item-wrapper">
                 <div class="review-item-pannel">
                     <a>
                         <div class="review-item-pic" style="background-image: url(http://imgcdn.guoku.com/images/750/71800cbc935cd685be41f6348bcc597e.jpg);">
                         </div>
                     </a>

                     <div class="review-item-desc">
                         <p>木质工坊设计工作室成立于2010年,由曾经在建筑事务所里忙碌
                         的设计师赵雪创立,不想当掌柜的建筑师不是好...</p>
                     </div>

                     <div class="review-item-date" style="text-align: center;">
                         <span>- Feb 09 -</span>
                     </div>
                     <div class="item-operations" style="display: none" >
                         <ul>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                             <li>
                                 <a>weixin</a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>


        </div>


        <div class="row section-title-wrapper">
            <div class="col-md-12">
                <p>人物点评</p>
            </div>
        </div>
    </div>

{% endblock %}
