{% extends 'web/base.html' %}
 {% block meta-og %}
    <meta property="og:title" content="果库精选商品 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="精选商品 | 精英消费指南 | 果库">
    <meta name="keywords" content="精选商品,精选,尽收世上好物,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% load i18n %}

{% block title %}Seller Page{% endblock %}

{% block h1 %}果库,精选,精英消费指南{% endblock %}

{#import web-seller-style.css#}
{#{% block css %}#}
{#    <link rel="stylesheet" type="text/css" href="css/web/web-seller-style.css">#}
{#{% endblock %}#}

{% block content %}
{#big banner#}
    <div class="event-cross-screen">
      <div class="row event-banner-wrapper">
          <div class="col-xs-12 col-sm-12 col-md-12 banner-bgpic-wrapper">
              <img src="/static/images/event/year-seller-title.png">
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 share-btn-wrapper">
              <a class="share-btn">点击分享</a>
            </div>

          <div class="col-xs-12 col-sm-12 col-md-12 sections-titles-wrapper">
              <div class="sections-titles-nav">
                  <ul>
                    <li>
                        <a class="section-title section-first-title">美味佳肴</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a class="section-title section-second-title">文艺漫游</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a class="section-title section-third-title">衣衫配饰</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a class="section-title section-forth-title">生活榜样</a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>


{#    main-content#}

    <div class="container seller-page-container">

      <div class=" row sections-item-wrapper">
          <div class="col-xs-12 col-sm-12 col-md-12 sections-item-title">
              <h3>美味佳肴 DELICACY</h3>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 sections-item-desc">
              <p>
                  果库「大赏」2015，旨在帮助买家发现最新上架、最值得买的单品，同时也给卖家展示自己新作的平台。
                  第三期。我们邀请到设计品牌 PaperPlay。为即将到来的、礼物将频繁传递的年末季，PaperPlay 推出了以
                  Brighten your gift 为主题的新款系列包装。为你的心意，它们已整装待发。
              </p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 goods-wrapper">
              <div class="goods-container">
                  <ul>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/d4b82f78431862542c9adc45f20184a3.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/d4b82f78431862542c9adc45f20184a3.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/d4b82f78431862542c9adc45f20184a3.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/d4b82f78431862542c9adc45f20184a3.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/d4b82f78431862542c9adc45f20184a3.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/d4b82f78431862542c9adc45f20184a3.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="http://imgcdn.guoku.com/images/310/df810208677fbc4a4295fa402fcb8186.jpg" class="img-responsive">
                      </a>
                  </li>




              </ul>

              </div>

          </div>


          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
              <div class="sellers-logo">

              </div>
              <div class="sellers-desc">
                  <p></p>

              </div>
              <div class="score">

              </div>
              <div class="sellers-share"></div>

          </div>




      </div>



      </div>





    </div>

{% endblock %}
