{% extends 'web/base.html' %}

{% load i18n staticfiles %}

 {% block meta-og %}
    <meta property="og:title" content="果库精选商品 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="精选商品 | 精英消费指南 | 果库">
    <meta name="keywords" content="精选商品,精选,尽收世上好物,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% load i18n %}

{% block title %}Seller Page{% endblock %}

{% block h1 %}果库,精选,精英消费指南{% endblock %}

{#import web-seller-style.css#}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/web-seller-style.css' %}">
{% endblock %}

{% block content %}
{#big banner#}
    <div class="event-cross-screen">
      <div class="row event-banner-wrapper">
          <div class="col-xs-12 col-sm-12 col-md-12 banner-bgpic-wrapper">
              <img src="/static/images/event/year-seller-title.png" class="img-responsive img-control">
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 share-btn-wrapper">
              <a class="share-btn">点击分享</a>
            </div>

          <div class="col-xs-12 col-sm-12 col-md-12 sections-titles-wrapper">
              <div class="sections-titles-nav">
                  <ul>
                    <li>
                        <a class="section-title section-first-title" href="#delicacy">美味佳肴</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a class="section-title section-second-title" href="#culture">文艺漫游</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a class="section-title section-third-title">衣衫配饰</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a class="section-title section-forth-title">生活榜样</a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>

{#    fixed share sidebar#}
    <div class="seller-sidebar-wrapper seller-sidebar-hidden">
      <div class="seller-sidebar">
          <ul>
              <li class="list-item-google">
                  <a>
                      <i class="fa fa-google-plus"></i>
                      <span>1.1K</span>
                  </a>

              </li>

              <li class="list-item-twitter">
                  <a>
                      <i class="fa fa-twitter"></i>
                      <span>1.7K</span>
                  </a>

              </li>

              <li class="list-item-facebook">
                  <a>
                      <i class="fa fa-facebook"></i>
                      <span>1.6K</span>
                  </a>

              </li>

              <li class="list-item-weibo">
                  <a>
                      <i class="fa fa-tencent-weibo"></i>
                      <span>4.2K</span>
                  </a>

              </li>

              <li class="list-item-instagram">
                  <a>
                     <i class="fa fa-instagram"></i>
                     <span>1.0K</span>
                  </a>

              </li>
          </ul>




      </div>


    </div>


{#    main-content#}

    <div class="container seller-page-container">

      <div class=" row sections-item-wrapper" id="delicacy">
          <div class="col-xs-12 col-sm-12 col-md-12 sections-item-title">
              <h3>美味佳肴 DELICACY</h3>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 sections-item-desc">
              <p>
                  果库「大赏」2015，旨在帮助买家发现最新上架、最值得买的单品，同时也给卖家展示自己新作的平台。
                  第三期。我们邀请到设计品牌 PaperPlay。为即将到来的、礼物将频繁传递的年末季，PaperPlay 推出了以
                  Brighten your gift 为主题的新款系列包装。为你的心意，它们已整装待发。
              </p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 goods-wrapper">
              <div class="goods-container">
                <ul>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                </ul>

              </div>

          </div>


          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star-o"></i>
                         </li>
                         <li>
                             <i class="fa fa-star-o"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                    <img class="img-responsive sellers-logo" src="/static/images/year-seller/neuf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立.</p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/neuf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                    <img class="img-responsive sellers-logo" src="/static/images/year-seller/play-with-me.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/little-ondine.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                    <img class="img-responsive sellers-logo" src="/static/images/year-seller/ysbh.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>


      </div>

       <div class=" row sections-item-wrapper second-sections-item" id="culture">
          <div class="col-xs-12 col-sm-12 col-md-12 sections-item-title">
              <h3>文艺漫游 CULTURE</h3>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 sections-item-desc">
              <p>
                  果库「大赏」2015，旨在帮助买家发现最新上架、最值得买的单品，同时也给卖家展示自己新作的平台。
                  第三期。我们邀请到设计品牌 PaperPlay。
              </p>
          </div>

           <div class="col-xs-12 col-sm-12 col-md-12 goods-wrapper">
              <div class="goods-container">
                <ul>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                         <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                         <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                  <li>
                      <a>
                          <img src="/static/images/event/cal.jpg" class="img-responsive">
                      </a>
                  </li>
                </ul>

              </div>

          </div>




          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star-o"></i>
                         </li>
                         <li>
                             <i class="fa fa-star-o"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                    <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                     <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>

          <div class="col-xs-6 col-sm-6 col-md-3 sellers-wrapper">
                <a>
                    <img class="img-responsive sellers-logo" src="/static/images/year-seller/mzgf.png">
                </a>

              <div class="sellers-desc">
                  <p>木智工坊设计工作室成立于 2010 年，由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.由曾经在建筑事务所里忙碌的设计师赵雷创立。不想当掌柜的建筑师不是好.  </p>

              </div>
              <div class="score score-hidden">
                 <ul>
                     <ol>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                         <li>
                             <i class="fa fa-star"></i>
                         </li>
                     </ol>
                 </ul>
              </div>
              <div class="sellers-share sellers-share-visible">
                  <ul>
                      <li>
                          <a><i class="fa fa-wechat wechat-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-weibo weibo-hover"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-qq qq-hover"></i></a>
                      </li>
                  </ul>

              </div>

          </div>






      </div>





    </div>


{% endblock %}
