{% extends 'web/base.html' %}
{% load i18n staticfiles %}
{% load common guoku %}

{% block meta-og %}
    <meta property="og:title" content="果库 2016 最受欢迎淘宝店铺 100 家 | 年度消费报告 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库用户最喜爱的淘宝店铺100家，果库精心进行了店主访问，精选了他们的产品列表。这里荟萃了中国最优秀的零售创新力量，带你了解他们的经营理念，人生哲学，让我们一起欣赏他们给世界带来的便利和美好。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="果库 2016 最受欢迎淘宝店铺 100 家 | 年度消费报告">
    <meta name="keywords" content="淘宝店铺精选, 最值得逛淘宝店铺,top , TOP 100, 精选商品,精选,尽收世上好物,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库用户最喜爱的淘宝店铺100家，果库精心进行了店主访问，精选了他们的产品列表。这里荟萃了中国最优秀的零售创新力量，带你了解他们的经营理念，人生哲学，让我们一起欣赏他们给世界带来的便利和美好。">
{% endblock %}

{% load i18n %}

{% block title %}果库 2016 最受欢迎淘宝店铺 100 家 | 年度消费报告{% endblock %}

{% block h1 %}果库 2016 最受欢迎淘宝店铺 100 家 | 年度消费报告{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'thirdparty/slick/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'thirdparty/slick/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/web-seller-style.css' %}">
{% endblock %}
{#give body element a more class:seller-body#}
{% block body_class %} gray-body seller-body new-seller-body {% endblock %}

{% block weixin_share_img %}
{#    must be first img in body #}
    <div id='wx_logo' style='margin:0 auto;display:none;'>
        <img src="{% static 'images/year-seller/weibo_share_300.jpg' %}" />
    </div>

{% endblock %}

{#    remove the header from the base template#}
{% block header %}

{% endblock %}

{% block content %}
    {#big banner#}
    <div id="top" class="seller-cross-screen" style="background-image: url({% static 'images/year-seller-2016/banner_bg.png' %})">
        <div class="row seller-banner-wrapper">
            <div class="col-xs-12 banner-bgpic-wrapper">
                <img src="{% static 'images/year-seller-2016/banner_title.png' %}" class="img-responsive img-control" title="果库2016年度消费报告" alt="果库2016年度消费报告">
            </div>

{#            <div class="col-xs-12 share-btn-wrapper">#}
{#                <a class="share-btn">点击分享</a>#}
{#            </div>#}

            <div class="col-xs-12 sections-titles-wrapper detach_nav hidden_nav detach">
                <div class="sections-titles-nav">
                    <ul>
                        {% url 'year_store_2016' as store_2016_url %}
                        <li {% if store_2016_url == request.path %}class="active"{% endif %}>
                            <a class="section-title" href="{% url 'year_store_2016' %}">TOP</a>
                        </li>
                        <li>
                            <a class="section-title" href="{% url 'year_store_2016_shops' %}" target="_blank">好店<span class="hidden-xs"> SHOPS</span></a>

                        </li>
                        <li>
                            <a class="section-title" href="{% url 'year_store_2016_opinions' %}" target="_blank">作者<span class="hidden-xs"> OPINIONS</span></a>

                        </li>
                        <li>
                            <a class="section-title" href="{% url 'year_store_2016_topics' %}" target="_blank">话题<span class="hidden-xs"> TOPICS</span></a>
                        </li>
                         <li>
                            <a class="section-title" href="{% url 'year_store_2016_columns' %}" target="_blank">专栏<span class="hidden-xs"> COLUMNS</span></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 sections-titles-wrapper">
                <div class="sections-titles-nav">
                    <ul>
                        <li {% if store_2016_url == request.path %}class="active"{% endif %}>
                            <a class="section-title" href="{% url 'year_store_2016' %}">TOP</a>
                        </li>
                        <li>
                            <a class="section-title" href="{% url 'year_store_2016_shops' %}" target="_blank">好店<span class="hidden-xs"> SHOPS</span></a>

                        </li>
                        <li>
                            <a class="section-title" href="{% url 'year_store_2016_opinions' %}" target="_blank">作者<span class="hidden-xs"> OPINIONS</span></a>

                        </li>
                        <li>
                            <a class="section-title" href="{% url 'year_store_2016_topics' %}" target="_blank">话题<span class="hidden-xs"> TOPICS</span></a>
                        </li>
                         <li>
                            <a class="section-title" href="{% url 'year_store_2016_columns' %}" target="_blank">专栏<span class="hidden-xs"> COLUMNS</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {#    fixed share sidebar#}
    <div class="seller-sidebar-wrapper seller-sidebar-hidden">
        <div class="seller-sidebar">
            <ul>
                <li class="list-item list-item-weixin">
                    <a class="sidebar_weixin_share_btn">
                        <i class="fa fa-wechat"></i>
                    </a>
                </li>

                <li class="list-item list-item-weibo">
                    <a class="sidebar_weibo_share_btn" target="_blank">
                        <i class="fa fa-weibo"></i>
                    </a>
                </li>

                <li class="list-item list-item-qq">
                    <a class="sidebar_qq_share_btn" target="_blank">
                        <i class="fa fa-qq"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {#    fixed share sidebar end --- #}

    {#    main-content#}

    <div class="container seller-page-container">

        <div class="sections-item-wrapper" id="shops">
            <div class="row sections-item-intro-wrapper shops-section-bg-wrapper">

                <div class="section-intro-bg-layer" style="background-image: url({% static 'images/year-seller-2016/shops_section_bg.jpg' %})">
                </div>
                <div class="dark-bg-layer"></div>
                <div class="col-xs-12 sections-item-title">
                    <div class="title">
                        <img src="{% static 'images/year-seller-2016/shops_logo.png' %}" title="果库 2016 最受欢迎淘宝店铺" alt="果库 2016 最受欢迎淘宝店铺">
                    </div>
                    <div class="see-all">
                        <a href="{% url 'year_store_2016_shops' %}" target="_blank">
                            <img src="{% static 'images/year-seller-2016/see_all_rect.png' %}" title="果库 2016 最受欢迎淘宝店铺 100 家" alt="果库 2016 最受欢迎淘宝店铺 100 家">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row shops-intro-wrapper">
                <div class="col-xs-12">
                    <p>
                        他们是生活家，贩售着关于「生活」的一切，从硬装到软装，从杯碗盘碟到绿植多肉，甚至是骑车跑步装备、亦或零碎至极的生活日杂。
                        他们各有坚持，借物标明态度，并用优选的商品支持着我们构创更理想的生活场景。在曾经的采访里，我们不止一次听到这样的创店史：
                        首先是为了满足自己购买好物的欲望，然后结识了对味的设计师，甚至自己也开始设计，接下来就是水到渠成的分享。爱分享的这群人最
                        爱讲「有趣」，因为妆扮本身就是人人都会还百玩不腻的游戏。
                    </p>
                </div>
            </div>

            <div class="row sections-item-sellers-wrapper shops-slick-wrapper">
                {% with section_sellers=sellers  %}
                    {% include 'web/seller/partial/new_section_seller_item.html' %}
                {% endwith  %}

            </div>
        </div>

        <div class="sections-item-wrapper" id="opinions">

            <div class="row new-sections-item-intro-wrapper">
                <div class="col-xs-12 sections-item-title">
                    <a href="{% url 'year_store_2016_opinions' %}" target="_blank">
                        <img class="subtitle-pic hidden-subtitle" src="{% static 'images/year-seller-2016/opinions_logo.png' %}" alt="作者 OPINIONS" title="作者 OPINIONS">
{#                        <img class="subtitle-pic see-all-visible" src="{% static 'images/year-seller-2016/see_all.png' %}" alt="查看全部" title="查看全部">#}
                    </a>
                </div>
            </div>

            <div class="row opinions-wrapper">
                <div class="col-sm-2">
                    <div class="opinion-cell">
                        <a class="new-black-link" href="" target="_blank">
                            <div class="logo-wrapper">
                                <img src="{% static 'images/year-seller-2016/avatar_1.jpg' %}">
                            </div>
                            <p class="name">FAKESHIONFAKESHIONFAKESHION</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="opinion-cell">
                        <a class="new-black-link" href="" target="_blank">
                            <div class="logo-wrapper">
                                <img src="{% static 'images/year-seller-2016/avatar_2.jpg' %}">
                            </div>
                            <p class="name">FAKESHION</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="opinion-cell">
                        <a class="new-black-link" href="" target="_blank">
                            <div class="logo-wrapper">
                                <img src="{% static 'images/year-seller-2016/avatar_1.jpg' %}">
                            </div>
                            <p class="name">FAKESHIONFAKESHIONFAKESHION</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="opinion-cell">
                        <a class="new-black-link" href="" target="_blank">
                            <div class="logo-wrapper">
                                <img src="{% static 'images/year-seller-2016/avatar_2.jpg' %}">
                            </div>
                            <p class="name">FAKESHION</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="opinion-cell">
                        <a class="new-black-link" href="" target="_blank">
                            <div class="logo-wrapper">
                                <img src="{% static 'images/year-seller-2016/avatar_1.jpg' %}">
                            </div>
                            <p class="name">FAKESHIONFAKESHIONFAKESHION</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="opinion-cell">
                        <a class="new-black-link" href="" target="_blank">
                            <div class="logo-wrapper">
                                <img src="{% static 'images/year-seller-2016/avatar_2.jpg' %}">
                            </div>
                            <p class="name">FAKESHION</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="opinion-cell">
                        <a class="new-black-link" href="" target="_blank">
                            <div class="logo-wrapper">
                                <img src="{% static 'images/year-seller-2016/avatar_1.jpg' %}">
                            </div>
                            <p class="name">FAKESHIONFAKESHIONFAKESHION</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="opinion-cell">
                        <a class="new-black-link" href="" target="_blank">
                            <div class="logo-wrapper">
                                <img src="{% static 'images/year-seller-2016/avatar_2.jpg' %}">
                            </div>
                            <p class="name">FAKESHION</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sections-item-wrapper" id="topics">

            <div class="row new-sections-item-intro-wrapper">
                <div class="col-xs-12 sections-item-title">
                    <a href="{% url 'year_store_2016_topics' %}" target="_blank">
                        <img class="subtitle-pic" src="{% static 'images/year-seller-2016/topics_logo.png' %}">
                    </a>
                </div>
            </div>

            <div class="row hidden-xs" id="top_article_tags_container">
                <div class="top-article-tag" data-value="all_article">
                    <a href="/articles/">
                        <div class="tag-element">
                            全部
                        </div>
                    </a>
                </div>
                {% for top_tag in top_article_tags %}
                    <div class="top-article-tag" data-value="{{ top_tag.id }}">
                        <a href="{% url 'topic_articles_url' top_tag.quoted_tag_name %}">
                            <div class="tag-element {% if tag.name == top_tag.name %}tag-current{% endif %}">
                                {{ top_tag.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row" id="new_selection_article_list">
                {#                {% for article_item in articles %}#}
                {#                    {% with article_item.article as article %}#}
                {#                        {% include 'web/tags/partial/new_tag_article_item.html' %}#}
                {#                    {% endwith %}#}
                {#                {% endfor %}#}

                <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 guoku-middle-col new-selection-article-item new-event-article-item" >
                    <div class="article-panel">
                        <a class="img-link" href="">
                            <div class="img-holder" style="background-image: url('{% static 'images/year-seller-2016/article_cover.png' %}')"></div>
                        </a>

                        <div class="article-info-wrapper">
                            <div class="article-title">
                                <a  href="">
                                    了解荞麦面的这些门道，才是真正的日本美食达人
                                </a>
                            </div>
                            <div class="article-intro">
                                {% autoescape off %}
                                日本最有代表性的面？看着我们周围日式餐厅的招牌，很多人会不假思索地回答「拉面」。然而对日本人民来说，荞麦面才是最有国民性...
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg xs-selection-article-item">
                    <div class="more-article-wrapper">
                        <div class="title-wrapper">
                            <a href="">
                                <div class="title">了解荞麦面的这些门道，才是真正的日本美食达人</div>
                            </a>
                            <div class="article-digest">
                                 日本最有代表性的面？看着我们周围日式餐厅的招牌，很多人会不假思索地回答「拉面」。然而对日本人民来说，荞麦面才是最有国民性...
                            </div>
                        </div>
                        <div class="cover-wrapper">
                            <a href="">
                                <div class="img-holder img-holder-control" style="background-image: url('{% static 'images/year-seller-2016/article_cover.png' %}')"></div>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 guoku-middle-col new-selection-article-item new-event-article-item" >
                    <div class="article-panel">
                        <a class="img-link" href="">
                            <div class="img-holder" style="background-image: url('{% static 'images/year-seller-2016/article_cover.png' %}')"></div>
                        </a>

                        <div class="article-info-wrapper">
                            <div class="article-title">
                                <a  href="">
                                    了解荞麦面的这些门道，才是真正的日本美食达人
                                </a>
                            </div>
                            <div class="article-intro">
                                {% autoescape off %}
                                日本最有代表性的面？看着我们周围日式餐厅的招牌，很多人会不假思索地回答「拉面」。然而对日本人民来说，荞麦面才是最有国民性...
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg xs-selection-article-item">
                    <div class="more-article-wrapper">
                        <div class="title-wrapper">
                            <a href="">
                                <div class="title">了解荞麦面的这些门道，才是真正的日本美食达人</div>
                            </a>
                            <div class="article-digest">
                                 日本最有代表性的面？看着我们周围日式餐厅的招牌，很多人会不假思索地回答「拉面」。然而对日本人民来说，荞麦面才是最有国民性...
                            </div>
                        </div>
                        <div class="cover-wrapper">
                            <a href="">
                                <div class="img-holder img-holder-control" style="background-image: url('{% static 'images/year-seller-2016/article_cover.png' %}')"></div>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 guoku-middle-col new-selection-article-item new-event-article-item" >
                    <div class="article-panel">
                        <a class="img-link" href="">
                            <div class="img-holder" style="background-image: url('{% static 'images/year-seller-2016/article_cover.png' %}')"></div>
                        </a>

                        <div class="article-info-wrapper">
                            <div class="article-title">
                                <a  href="">
                                    了解荞麦面的这些门道，才是真正的日本美食达人
                                </a>
                            </div>
                            <div class="article-intro">
                                {% autoescape off %}
                                日本最有代表性的面？看着我们周围日式餐厅的招牌，很多人会不假思索地回答「拉面」。然而对日本人民来说，荞麦面才是最有国民性...
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg xs-selection-article-item">
                    <div class="more-article-wrapper">
                        <div class="title-wrapper">
                            <a href="">
                                <div class="title">了解荞麦面的这些门道，才是真正的日本美食达人</div>
                            </a>
                            <div class="article-digest">
                                 日本最有代表性的面？看着我们周围日式餐厅的招牌，很多人会不假思索地回答「拉面」。然而对日本人民来说，荞麦面才是最有国民性...
                            </div>
                        </div>
                        <div class="cover-wrapper">
                            <a href="">
                                <div class="img-holder img-holder-control" style="background-image: url('{% static 'images/year-seller-2016/article_cover.png' %}')"></div>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sections-item-wrapper" id="columns">

            <div class="row new-sections-item-intro-wrapper">

                <div class="col-xs-12 sections-item-title">
                    <a href="{% url 'year_store_2016_columns' %}" target="_blank">
                        <img class="subtitle-pic" src="{% static 'images/year-seller-2016/columns_logo.png' %}">
                    </a>
                </div>
            </div>
            <div class="row columns-wrapper">
                <div class="col-xs-12 column-cell-wrapper">
                    <div class="column-cell">
                       <div class="column-main-content">
                           <div class="article-introduce-wrapper">
                               <div class="article-title-wrapper">
                                   <a class="article-title new-black-link" href="" target="_blank">
                                       日本最好的企业文化志《花椿》遗憾停刊
                                   </a>
                               </div>
                               <div class="article-summary-wrapper hidden-xs">
                                   <p class="article-summary">
                                       面世将近 80 个年头的资生堂内刊《花椿》，最近宣布将在 2016 年停止纸本出版，转而将重心移至网络平台上。那些习惯在每月 5 日前往资生堂门店免费索取当...
                                   </p>
                               </div>
                           </div>
                           <div class="article-cover-wrapper">
                               <a href="" target="_blank">
                                   <div class="article-cover" style="background-image: url('{% static 'images/year-seller-2016/article_cover.png' %}')"></div>
                               </a>

                           </div>
                       </div>
                        <div class="more-info-wrapper">
                            <a class="new-blue-link" href="" target="_blank">
                                <img class="author-logo" src="{% static 'images/year-seller-2016/avatar_1.jpg' %}">
                                <span>Hoooray</span>
                            </a>
                            <span class="time">发表于 2016.06.14</span>
                        </div>

                    </div>

                </div>
                <div class="col-xs-12 column-cell-wrapper">
                    <div class="column-cell">
                       <div class="column-main-content">
                           <div class="article-introduce-wrapper">
                               <div class="article-title-wrapper">
                                   <a class="article-title new-black-link" href="" target="_blank">
                                       title
                                   </a>
                               </div>
                               <div class="article-summary-wrapper hidden-xs">
                                   <p class="article-summary">
                                       面世将近 80 个年头的资生堂内刊《花椿》，最近宣布将在 2016 年停止纸本出版，转而将重心移至网络平台上。那些习惯在每月 5 日前往资生堂门店免费索取当...
                                   </p>
                               </div>
                           </div>
                           <div class="article-cover-wrapper">
                               <a href="" target="_blank">
                                   <div class="article-cover" style="background-image: url('{% static 'images/year-seller-2016/article_cover.png' %}')"></div>
                               </a>

                           </div>
                       </div>
                        <div class="more-info-wrapper">
                            <a class="new-blue-link" href="" target="_blank">
                                <img class="author-logo" src="{% static 'images/year-seller-2016/avatar_1.jpg' %}">
                                <span>Hoooray</span>
                            </a>
                            <span class="time">发表于 2016.06.14</span>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="row bottom-info-container">
            <div class="col-xs-12 download-intro-wrapper">
                <div class="download-intro">
                    <p>2016，感谢有你陪伴！ 2017，果库更多精彩!</p>
                </div>
            </div>
            <div class="col-xs-12 download-guoku-qrcode-wrapper">
                <img src="{% static 'images/year-seller/DL_guoku.jpg' %}" class="download-guoku-qrcode">
            </div>
            <div class="col-xs-12 download-app-intro-wrapper">
                <p class="download-app-intro">免费下载「果库」客户端，生活不一样</p>
            </div>
            <div class="col-xs-12 download-app-addr-wrapper">
                <div class="download-app-addr">
                    <ul>
                        <li>
                            <a class="new-download-link" href="http://itunes.apple.com/cn/app/id477652209?mt=8">
                                iPhone
                            </a>
                            <span>·</span>
                        </li>

                        <li>
                            <a class="new-download-link" href="http://itunes.apple.com/cn/app/id450507565?mt=8">
                                iPad
                            </a>
                            <span>·</span>
                        </li>

                        <li>
                            <a class="new-download-link" href="http://app.guoku.com/download/android/guoku-release.apk">
                                Android
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 cooperate-media-wrapper">
                <div class="cooperate-media-title">协办方</div>
                <div>
                    <img class="media-logo" src={% static 'images/year-seller-2016/media_1.png' %}>
                    <img class="media-logo" src="{% static 'images/year-seller-2016/media_2.png' %}">
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="share_modal_content">
        <div class="share-modal-wrapper share-modal-wrapper-control" style="background-image:url({% static 'images/year-seller/share_bg.jpg' %})">

            <div class="qr-code-wrapper qr-code-control">
                <img src="{% static 'images/year-seller/store2015_QRcode.jpg' %}" width="200px" height="200px"/>
            </div>

            <div class="share-btn-wrapper weibo-share-btn-wrapper-control">

                <a class="pg-weibo-share-btn pg-weibo-share-btn-bgc year-seller-modal-share-btn" target="_blank">分享到微博</a>
            </div>

            <div class="share-btn-wrapper qq-share-btn-wrapper-control">
                <a class="pg-qq-share-btn pg-qq-share-btn-bgc year-seller-modal-share-btn" target="_blank">分享到QQ</a>
            </div>

        </div>
    </script>

    <script type="text/html" id="share_weixin_modal_content">
        <div class="share-modal-wrapper share-modal-wrapper-control">
            <div class="qr-code-wrapper qr-code-control">
                <img src="{% static 'images/year-seller/store2015_QRcode.jpg' %}" width="200px" height="200px"/>
            </div>
        </div>
    </script>


{% endblock %}
{% block basic_script %}
    <script type="text/javascript">
        (function(win,doc){
            var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
            if (!win.alimamatk_show) {
                s.charset = "gbk";
                s.async = true;
                s.src = "http://a.alimama.cn/tkapi.js";
                h.insertBefore(s, h.firstChild);
            }
            var o = {
                pid: "mm_28514026_4132785_24810648",/*推广单元ID，用于区分不同的推广渠道*/
                appkey: "12313170",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
                unid: "", /*自定义统计字段*/
                {#            type:"click"#}
            };
            win.alimamatk_onload = win.alimamatk_onload || [];
            win.alimamatk_onload.push(o);
        })(window,document);
    </script>

    <script language="javascript">
        var share_pic = '{% static 'images/year-seller/share_weibo.jpg' %}';
    </script>
    <script data-main="{% static 'js/web/jsbuild/seller_2016_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>

{% endblock %}

{% block ga_script %}
    <!-- Google Analytics -->
    <!--- remove ga for load speed -->

{% endblock %}