{% extends 'management/management_base.html' %}
{% load i18n %}
{% load i18n static %}
{% load guoku %}

{% block css %}
        <link href="{% static 'js/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <section class="content-header">
        <h1>
            {% trans 'SiteBanner' %}
            <small>{% trans 'SiteBanner' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'management_dashboard' %}"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans 'event' %}</li>
        </ol>
    </section>


     <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-pills" role="tablist">
                            <li {% if request.path == '/management/sitebanner/banners/active/' or request.path == '/management/sitebanner/banners/'  %}class="active"{% endif %}>
                                <a href="{% url 'manage_sitebanners_active_list' %}?from=header">Active</a></li>
                            <li {% if request.path == '/management/sitebanner/banners/inactive/' %}class="active"{% endif %}>
                                <a href="{% url 'manage_sitebanners_inactive_list' %}">Inactive</a></li>
                        </ul>
                    </div>

                    <div class="box-body table-responsive">
                       <div class="">
                           <hr>
                           <a href="{% url 'manage_sitebanners_create' %}">
                             <button class="btn btn-primary">+ 新建bannner</button>
                           </a>

                            <a href="#"  class="btn btn-primary"  id="btn_batch_sitebanner_save" batch_url="{% url 'manage_sitebanners_save' %}">
                             保存
                           </a>
                           <hr>
                       </div>

                        {% include "management/partial/table.html"%}

                    </div>

                    <div class="box-footer">
                         {% include "management/paginator.html" with objects=page_obj url=request.path %}

                    </div>

                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block user_script %}
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>
    <script src="{% static 'js/management/moment.js' %}"></script>
    <script src="{% static 'js/management/sitebanner_save.js' %}"></script>
{% endblock %}