{% extends 'management/management_base.html' %}
{% load staticfiles i18n %}
{% load guoku %}


{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'taobao recommendation' %}
            <small>{% trans 'taobao recommendation' %}</small>
        </h1>

    </section>

    <section class="content">
        <div class="row">
           <div class="col-xs-12">
               <div class="box box-info">
                   <div class="box-header">

                   </div>

                   <div class="box-body table-responsive"">

                   </div>
               </div>
           </div>
        </div>

    </section>

{% endblock %}
