{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ tag.name }}
        </h1>

        <ol class="breadcrumb">
            <li><a href="{% url 'management_dashboard' %}"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#"><i class="fa fa-tags"></i>{% trans 'tags' %}</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                      {% if tag.image %}
                          <div class="col-xs-6 col-sm-3 col-sm-offset-3 placeholders">
                            <img class="img-responsive img-thumbnail" alt="300x300"  src="{{ image_host }}{{ tag.image }}">
                          </div>
                        {% endif %}
                   </div>

                    {% include 'management/lib/forms.html' with forms=form url=request.path %}
                </div>
            </div>
        </div>
    </section>
{#    <div class="container">#}
{#        <div class="row">#}
{#            {% include 'management/lib/forms.html' with forms=form url=request.path %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}