{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ tag.name }}
            <small>{{ tag.name }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#"><i class="fa fa-tags"></i>{% trans 'tag' %}</a></li>
            <li class="active">{% trans 'entities' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        {% include 'management/tags/entities_table.html'  with object_list=object_list %}
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <div class="row">#}
{#        <h1 class="page-header">{{ tag.name }}</h1>#}
{#    </div>#}

{#    {% include 'management/tags/entities_table.html'  with object_list=object_list %}#}
{##}
{#    {% include "management/paginator.html" with objects=page_obj url=request.path %}#}
{% endblock %}