{% extends 'management/management_base.html' %}
{% load i18n %}
{% load staticfiles i18n %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'tags' %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard">{% trans "home" %}</i></a></li>
            <li class="active">{% trans 'tags' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                    </div>
                    <div class="box-body table-responsive">
                        {% include 'management/tags/table.html' with tags=object_list %}
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <h1 class="page-header">{% trans 'tag' %}</h1>#}
{##}
{#    {% include 'management/tags/table.html' with tags=object_list %}#}
{##}
{#    {% include "management/paginator.html" with objects=page_obj url=request.path %}#}

{% endblock %}

{% block user_script %}
     <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>

     <script src="{% static 'js/management/tag/tag.js' %}" type="application/javascript"></script>
{% endblock %}