{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{% trans 'tag' %}</h1>


    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'creator' %}</th>
                        <th>{% trans 'operation' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.pk }}</td>
                            <td>{{ tag.tag }}</td>
                            <td>{{ tag.creator.profile.nickname }}</td>
                            <td><a class="btn btn-default" href="#">{% trans 'edit' %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}