{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{% trans 'tag' %}</h1>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'creator' %}</th>
                        <th>{% trans 'created datetime' %}</th>
                        <th>{% trans 'operation' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.pk }}</td>
                            <td>{{ tag.tag }}</td>
                            <td><a href="{% url 'management_user_edit' tag.creator_id %}" target="_blank">{{ tag.creator.profile.nickname }}</a></td>
                            <td>{{ tag.created_time|date:'Y-m-d H:i:s' }}</td>
                            <td><a class="btn btn-default" href="{% url 'management_tag_edit' tag.pk %}">{% trans 'edit' %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "management/paginator.html" with objects=tags url=request.path %}
{% endblock %}