{% load i18n %}

{#<div class="row">#}
{#        <div class="table-responsive">#}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><a href="{% url  'management_tag_list' %}">
                            #  {%  if sort_by == 'id' %}<i class="fa fa-arrow-circle-down"></i>{% endif %}
                            </a>
                        </th>
                        <th>{% trans 'name' %}</th>
                        <th>
                            <a href="{% url 'management_tag_list' %}?sort_by=entity">
                            {% trans 'note_count' %}{%  if sort_by == 'entity' %}<i class="fa fa-arrow-circle-down"></i>{% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="{% url 'management_tag_list' %}?sort_by=article">
                            {% trans 'article_count' %}{%  if sort_by == 'article' %}<i class="fa fa-arrow-circle-down"></i>{% endif %}
                            </a>
                         </th>
                        <th>{% trans 'status' %}</th>
{#                        <th>{% trans 'created datetime' %}</th>#}
                        <th>{% trans 'operation' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.pk }}</td>
                            <td>{{ tag.name }}</td>
                            <td>{{ tag.note_count }}</td>
                            <td>{{ tag.articlesCount }}</td>
                            <td>{{ tag.status }}</td>
{#                            <td><a href="{% url 'management_user_edit' tag.creator_id %}" target="_blank">{{ tag.creator.profile.nickname }}</a></td>#}
{#                            <td>{{ tag.created_time|date:'Y-m-d H:i:s' }}</td>#}
                            <td>
                                <div class="btn-group">
{#                                    {{ tag.name }}#}
                                    <a class="btn btn-primary" href="{% url 'management_tag_entities' tag.quoted_tag_name %}" target="_blank">{% trans 'entities' %}</a>
                                     <a class="btn btn-success" href="{% url 'management_tag_articles' tag.quoted_tag_name %}" target="_blank">{% trans 'articles' %}</a>
                                    <a class="btn btn-default" href="{% url 'management_tag_edit' tag.pk %}" target="_blank">{% trans 'edit' %}</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{#        </div>#}
{#    </div>#}