{% extends 'web/base.html' %}
{% load i18n staticfiles %}
{% load common guoku %}

{% block meta-og %}
    <meta property="og:title" content="果库 " >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="good store description">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="good store title">
    <meta name="keywords" content="good store keywords">
    <meta name="description" content="good store description">
{% endblock %}

{% load i18n %}

{% block title %}好店{% endblock %}

{% block h1 %}好店{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/web-good-store.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'thirdparty/slick/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'thirdparty/slick/slick/slick-theme.css' %}"/>
{% endblock %}

{# to avoid css pollution,I still give body element a more class temporarily#}
{% block body_class %} gray-body store-body {% endblock %}

{% block weixin_share_img %}
    {#    must be first img in body #}
    <div id='wx_logo' style='margin:0 auto;display:none;'>
        {#        <img src="{% static 'images/year-seller/weibo_share_300.jpg' %}" />#}
    </div>

{% endblock %}

{% block content %}

    {#    top banner#}
    <div class="cross-screen store-top-banner" style="background-image: url({% static 'images/year-seller/banner_bg.jpg' %})">
        <div class="row store-banner-wrapper">
            <div class="col-xs-12 banner-title-wrapper">
                好店
            </div>

            <div class="col-xs-12 banner-slogan-wrapper">
                在超过100家好店挑选好物
            </div>

        </div>
    </div>

    {#    main-content#}

    <div class="container store-page-container">

        <div class="row good-store-row latest-actions-wrapper">

            <div id="latest-actions-sidebar" class="guoku-middle-col latest-actions-sidebar-wrapper col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
                <ul class="section-list user-right latest-actions-list">
                    <li class="section user-tag-list">
                        <div class="section-title section-title-control">
                            最近更新
                        </div>
                        <div class="section-content">
                            <ul class="tag-list">
                                {% for article in recent_articles %}

                                <li>
                                    <div class="publish-time">
                                        {{ article.created_datetime|format_time }}
                                    </div>
                                    <div class="publish-info">
                                        <a href="">{{ article.creator.nickname }}</a>
                                        发表了图文
                                        <a href="">{{ article.title }}</a>
                                    </div>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="user-latest-article" class="guoku-middle-col user-latest-article-wrapper col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="user-article-panel">
                    {#                      <a>#}
                    {#                        <div class="hover-light user-article-img" style="background-image: url({% static 'images/year-seller/delicacy.jpg' %})">#}
                    {#                        </div>#}
                    <div class="banner-wrapper" id="index-banners">
                        {% for banner in banners %}
                        <div class="banner-image-cell banner-image-cell-control">
                            <a href="{{ banner.link }}" target="_blank">
                                <div class="banner-image-wrapper" style="background-image: url({{ banner.image_url }})">
                                </div>
                                 <div class="user-latest-article-intro-wrapper">
                                {#                        <div class="rect-decoration">#}
                                {#                            NEW#}
                                {#                        </div>#}

                                    <div class="user-latest-article-title-wrapper">
                                        <a class="user-latest-article-title">
                                            {{ banner.banner_title }}
                                        </a>
                                        <div class="user-info-section-title">
                                            {{ banner.banner_desc }}
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>


                        {% endfor %}
                    </div>
                    {#                    </a>#}


                </div>
            </div>
        </div>

        <div class="row section-title-wrapper">
            <div class="col-sm-12">
                <p>果库 HOT</p>
            </div>
        </div>

        <div class="row hot-section-wrapper" id="selection_article_list">
            {% for rec in recommends %}

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 guoku-middle-col selection-article-item hot-section-item">
                <a href="{{ rec.link }}" target="_blank">
                    <div class="article-panel">
                            <div class="img-holder" style="background-image: url({{ rec.image_url }})">
                            </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="row section-title-wrapper">
            <a name="sellers">
            <div class="col-sm-12">
                <p>全部好店</p>
            </div>
            </a>
        </div>

        <div class="row select-condition-wrapper">
            <div class="col-sm-12 select-condition">
                <div class="category-wrapper">
                    <div class="category-title">
                        品类
                    </div>

                    <div class="category-item" id="top_article_tags_container">
                        <div class="top-article-tag">
                            <a  href="{{ base_url }}?{{ 'shop_type'|filter_builder:current_shop_type }}&{{ 'shop_style'|filter_builder:-1 }}#sellers" data_filter="shop_style" data_value="-1">
                                <div class="tag-element {% if current_shop_style == -1 %} tag-current{% endif %}">
                                    全部
                                </div>
                            </a>
                        </div>
                        {% for style in shop_style_filters %}
                            {% if forloop.counter == 1 %}

                            {% else %}
                                <div class="top-article-tag">
                                    <a href="{{ base_url }}?{{ 'shop_type'|filter_builder:current_shop_type }}&{{ 'shop_style'|filter_builder:style.0 }}#sellers" data_filter="shop_style" data_value="{{ style.0 }}">
                                        <div class="tag-element {% if current_shop_style == style.0 %}tag-current{% endif %}">
                                            {{ style.1 }}
                                        </div>
                                    </a>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="type-wrapper">
                    <div class="type-title">
                        类型
                    </div>

                    <div class="type-item" id="top_article_tags_container">
                        <div class="top-article-tag">
                            <a  href="{{ base_url }}?{{ 'shop_type'|filter_builder:-1 }}&{{ 'shop_style'|filter_builder:current_shop_style }}#sellers" data_filter="shop_type" data_value="-1">
                                <div class="tag-element {% if current_shop_type == -1  %} tag-current {% endif %}">
                                    全部
                                </div>
                            </a>
                        </div>
                        {% for type in shop_type_filters %}
                            {% if forloop.counter == 1 %}

                            {% else %}
                                <div class="top-article-tag">
                                    <a href="{{ base_url }}?{{ 'shop_type'|filter_builder:type.0 }}&{{ 'shop_style'|filter_builder:current_shop_style }}#sellers" data_filter="shop_type" data_value="{{ type.0 }}">
                                        <div class="tag-element {% if current_shop_type == type.0 %}  tag-current {% endif %}">

                                            {{ type.1 }}
                                        </div>
                                    </a>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row good-store-row select-result-wrapper">
            {% for seller in sellers %}
                 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 guoku-middle-col">
                    <div class="result-item-wrapper">
                        <a href="{% url 'web_user_index' seller.pk %}" target="_blank">
                            {{ seller.nickname }}
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="consumption-report-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="{% url 'year_store_2015' %}" class="consumption-report-item">
                        2015年度消费报告
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/store_page_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}
