{% extends 'management/management_base.html' %}
{% load i18n %}


{% block content %}
    <h1 class="page-header">{% trans 'note_comment' %}</h1>
    <div class="row">
        <table class="table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'user' %}</th>
                    <th>{% trans 'content' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in note_comments %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}