{% extends 'management/management_base.html' %}
{% load i18n static %}


{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'Sogou Cookie' %}
            <small>{% trans 'List' %}</small>
        </h1>

        <ol class="breadcrumb">
        </ol>
    </section>

    <section class="content">
{#    <h1 class="page-header">{% trans 'user' %}</h1>#}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                    </div>
                    <div class="box-body">

                        {% include 'management/fetch/partial/table.html' %}

                    </div>

                    <div  class="box-footer">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}