{% extends 'management/category/entity/category_entity_list.html' %}
{% load i18n %}

{% block category_status %}
    <div class="row" style="padding-bottom: 24px;">
        <ul class="nav nav-pills" role="tablist">
            <li {% ifequal status '1' %}class="active"{% endifequal %}><a href="{% url 'management_sub_category_entities' category.pk %}?status=1">{% trans 'selection' %}</a></li>
            <li {% ifequal status None %}class="active"{% endifequal %}><a href="{% url 'management_sub_category_entities' category.pk %}">{% trans 'all' %}</a></li>
            <li {% ifequal status '0' %}class="active"{% endifequal %}><a href="{% url 'management_sub_category_entities' category.pk %}?status=0">{% trans 'new' %}</a></li>
            <li {% ifequal status '-1' %}class="active"{% endifequal %}><a href="{% url 'management_sub_category_entities' category.pk %}?status=-1">{% trans 'freeze' %}</a></li>
            <li {% ifequal status '-2' %}class="active"{% endifequal %}><a href="{% url 'management_sub_category_entities' category.pk %}?status=-2">{% trans 'remove' %}</a></li>
        </ul>
    </div>
{% endblock %}