{% load i18n %}
{% load guoku %}
{% load common %}

<div class="col-xs-6 col-sm-3 search-entity-item">
    <div class="entity-four new-thumbnail">
        <div class="img-box" data-entity="{{ entity.pk }}" data-entity-title="{{ entity.title }}">
            {% if entity.entity_hash %}
            <a href="{% url 'web_entity_detail' entity.entity_hash %}" target="_blank">
                <img class="img-responsive" alt="{{ entity.title }}" title="{{ entity.title }}" src="{{ entity.chief_image|resize:'310' }}">
            </a>
            {% endif %}
        </div>
        <div class="entity-four-info">
            <div class="caption">
                <div class="brand">
                    {{ entity.brand|truncatechars:12 }}&nbsp;
                </div>
                <div class="title" data-entity="{{ entity.pk }}" data-entity-title="{{ entity.title }}">
                    {% if entity.entity_hash %}
                    <a href="{% url 'web_entity_detail' entity.entity_hash %}" target="_blank">
                        {{ entity.title|truncatechars:12 }}
                    </a>
                    {% endif %}
                </div>
                <div class="price">
                    &#65509;{{ entity.price }}
                </div>
            </div>
            <div class="action">
                <div class="info">
                    {% if entity.id in user_entity_likes %}
                        <a class="btn btn-like" href="javascript:;" rel="nofollow" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'unlike', '{{ entity.title }}']);">
                        <i class="fa fa-heart"></i>
                    {% else %}
                        <a class="btn btn-like real-btn-like" href="javascript:;" rel="nofollow" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'like', '{{ entity.title }}']);">
                        <i class="fa fa-heart-o"></i>
                    {% endif %}
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>