{% load i18n staticfiles %}
{% load common guoku %}

<div class="col-xs-4 col-sm-2 guoku-middle-col new-entity-item new-entity-item-control">
    <div class="new-entity-six new-entity-six-control">
        <div class="img-box">
            {% if sle.entity.entity_hash %}
                <a class="img-link" href="{{ sle.entity.absolute_url }}?from=index_selected_entity&_position={{ forloop.counter }}" target="_blank" title="{{ sle.entity.title }}">
                    <img class="img-responsive" alt="{{ sle.entity.title }}" title="{{ sle.entity.title }}" src="{{ sle.entity.chief_image|resize:'310'|smart_scheme:is_secure }}">
                </a>
                <a href="{{ sle.entity.absolute_url }}?from=index_selected_entity&_position={{ forloop.counter }}" target="_blank" title="{{ sle.entity.title }}">
                     <div class="bg-layer"></div>
                </a>
            {% endif %}
            </a>
        </div>
        <div class="new-entity-six-info">
            <div class="caption">
                <div class="brand">
                    {{ sle.entity.brand|truncatechars:12 }}
                </div>
                <div class="title">
                    {% if sle.entity.entity_hash %}
                        <a href="{{ sle.entity.absolute_url }}?from=index_selected_entity&_position={{ forloop.counter }}" target="_blank" title="{{ sle.entity.title }}">
                            {{ sle.entity.title|truncatechars:20 }}
                        </a>
                    {% endif %}
                </div>
                <div class="price">
                    &#65509;{{ sle.entity.price }}
                </div>
            </div>
        </div>
    </div>
</div>
