   <div class="row clearfix">
        <ul class="pager">
            {% if status %}
                {% if objects.has_previous %}
                    <li><a href="{{ url }}?status={{ status }}&page={{ objects.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for num in page_range %}
                    <li {% ifequal num entities.number %}class="disabled"{% endifequal %}>
                        <a href="#">{{ num }} <span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}
                {% if objects.has_next %}
                    <li><a href="{{ url }}?status={{ status }}page={{ objects.next_page_number }}">&raquo;</a></li>
                {% endif %}
            {% else %}
                {% if objects.has_previous %}
                    <li><a href="{{ url }}?page={{ objects.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for num in objects.paginator.page_range_ext  %}
                    {% ifequal num objects.number %}
                        <li {% ifequal num objects.number %}class="disabled"{% endifequal %}>
                            <a href="#">{{ num }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url }}?page={{ num }}">{{ num }} <span class="sr-only">({{ num }})</span></a>
                        </li>
                    {% endifequal %}
{#                    <li {% ifequal num objects.number %}class="disabled"{% endifequal %}>#}
{#                        <a href="#">{{ num }} <span class="sr-only">(current)</span></a>#}
{#                    </li>#}
                {% endfor %}
                {% if objects.has_next %}
                    <li><a href="{{ url }}?page={{ objects.next_page_number }}">&raquo;</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>