{% load i18n %}
{% load common %}
{% load guoku %}
{#{% load entity web_common %}#}

{#{% for entity in entities %}#}
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="thumbnail entity-selection">
            <div class="img-box">
                <a  href="{% url 'web_entity_detail' entity.entity_hash %}">
                    <img class="img-responsive" alt="{{ entity.title }}" src="{{ entity.chief_image|resize:'310' }}" width='310' height='310'>
                </a>
            </div>

            <div class="caption">
                <p class="note">{{ entity.top_note|truncatechars:70 }}</p>
            </div>
            <div style="white-space:nowrap;overflow:hidden;">
                {% if entity.id in user_entity_likes %}
                    <a class="btn btn-like pull-left" href="javascript:;" data-entity="{{ entity.id }}" rel="nofollow" onclick="_hmt.push(['_trackEvent', 'entity', 'unlike', '{{ entity.title }}']);">
                    <i class="fa fa-heart"></i>
                {% else %}
                    <a class="btn btn-like pull-left" href="javascript:;" data-entity="{{ entity.id }}" rel="nofollow" onclick="_hmt.push(['_trackEvent', 'entity', 'like', '{{ entity.title }}']);">
                    <i class="fa fa-heart-o"></i>
                {% endif %}
                        {% trans 'likes' %} <span class="like-count">{{ entity.like_count }}</span>
                    </a>
                    <div class="pull-right posttime">
                        <i class="fa fa-clock-o"></i>
                        <span class="timestr" name="">{{ entity.selection_entity.pub_time|format_time }}</span>
                    </div>
            </div>
        </div>
    </div>
{#{% endfor %}#}