{% load i18n %}
{% load common %}
{% load guoku %}
{#{% load entity web_common %}#}

<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 selection-item">
    <div class="thumbnail entity-selection">
        <div class="img-box">
            <a class="img-entity-link" data-entity-id="{{ entity.id }}" data-entity-title="{{ entity.title }}" href="{% url 'web_entity_detail' entity.entity_hash %}"
               target="_blank">
                <img class="img-responsive" alt=" {{ entity.title }}"
                     title="{{ entity.selection_hover_word }}"
                     src="{{ entity.chief_image|resize:'310' }}">
            </a>
        </div>
        <div class="caption">
            {% if entity.top_note %}
{#                <p class="note">{{ entity.top_note|truncatechars:70 }}</p>#}
                <p class="note">{{ entity.top_note}}</p>
            {% endif %}
        </div>
        <div class="info">
            <a class="btn btn-like pull-left" href="javascript:;"
               data-entity="{{ entity.id }}" data-entity-title="{{ entity.title }}" rel="nofollow"
                    {% if entity.id in user_entity_likes %}
               onclick="_hmt.push(['_trackEvent', 'entity', 'unlike', encodeURIComponent('{{ entity.title }}')]);"
                        >
                        <i class="fa fa-heart"></i>
                    {% else %}
                        onclick="_hmt.push(['_trackEvent', 'entity', 'like', encodeURIComponent('{{ entity.title }}')]);">
                        <i class="fa fa-heart-o"></i>
                    {% endif %}
                 <div class="bubble like-count">{{ entity.like_count | format_like_num }}</div>
            </a>

            <div class="pull-right posttime">
                <i class="fa fa-clock-o"></i>
                    <span class="timestr">
                        {{ entity.selection_entity.pub_time|format_time|cut:" " }}
                    </span>
            </div>
        </div>
    </div>
</div>
