{% load guoku tags %}

<div class="col-xs-6 col-sm-3 col-md-3 search-tag-item" >
<a  href="{% if user_id == None %}{% url 'tag_entities_url' tag_context.hash %} {% else %}{% url 'web_user_tag_entity' user_id tag_context.name %}{% endif %}">
    <div class="thumbnail">
        <p style="padding:10px;margin-bottom:0;"><strong>#{{ tag_context.name|truncatechars:'10' }}</strong></p>
        <div class="img-box">
            {{ tag_context.tag_id }}
            {% display_tags_entity tag_context.id %}
        {% for entity_context in tag_context.entity_list %}
            <div class="col-xs-6 col-sm-6" style="padding:3px;">
                <div class="img-box">
                    <img class="img-responsive" src="{{ entity_context.chief_image.url|resize:"128" }}">
                </div>
            </div>
        {% endfor %}
        </div>
{#        <div class="caption">#}
{#            <p><span>{{ tag_context.entity_count }}</span>&nbsp; 件商品</p>#}
{#        </div>#}
    </div>
</a>
</div>

