<div class="col-sm-12 col-xs-12 col-md-6 search-user-item">
    <div class="thumbnail" style="padding: 10px;padding-top:20px;height: 100px;">
        <div class="media">
            <a class="pull-left" href="{% url 'web_user_index' user_context.pk %}" target="_blank" data-user="{{ user_context.pk }}" data-user-name="{{ user_context.profile.nickname }}">
                <img class="media-object img-circle" src="{{ user_context.profile.avatar_url }}" width="60" height="60">
            </a>
{#            {% if user_context.relation == 3 %}#}
{#                <a href="{% url 'web_follow' user_context.user_id 0 %}" class="follow is-fan btn btn-cancel pull-right"><i class="fa fa-exchange fa-lg" style="color: #ccc"></i>&nbsp; <b>取消关注</b></a>#}
{#            {% elif user_context.relation == 1 %}#}
{#                <a href="{% url 'web_follow' user_context.user_id 0 %}" class="follow btn btn-cancel pull-right"><i class="fa fa-check fa-lg" style="color: #ccc"></i>&nbsp; <b>取消关注</b></a>#}
{#            {% elif user_context.relation == 2 %}#}
{#                <a href="{% url 'web_follow' user_context.user_id 1 %}" class="follow is-fan btn btn-primary pull-right"><i class="fa fa-plus fa-lg" style="color: #fff"></i>&nbsp; <b>关注</b></a>#}
{#            {% else  %}#}
{#                <a href="{% url 'web_follow' user_context.user_id 1 %}" class="follow btn btn-primary pull-right"><i class="fa fa-plus fa-lg" style="color: #fff"></i>&nbsp; <b>关注</b></a>#}
{#            {% endif %}#}
            <div class="media-body" style="padding-top:5px;">
                <h4 class="media-heading">{{ user_context.profile.nickname }}</h4>
                <p>
                    <span>{{ user_context.fans_count }}</span>粉丝&nbsp;<span>{{ user_context.following_count }}</span>关注
                </p>
            </div>

        </div>
    </div>
</div>