{% extends 'web/base.html' %}

{% block title %}{{ tag }} | 精英消费指南 | 果库{% endblock %}
{% block h1 %}{{ tag.name }},精选图文,专访,果库专访,消费版今日头条,消费文章,果库{% endblock %}
{% block content %}
    <div class="container goods_detail">
        <h2 class="sr-only">{{ tag_name }},精选图文,专访,果库专访,消费版今日头条,消费文章,果库</h2>
        <div class="row" id="detail_content" >
            <div  id="article_list" refresh-time="{{ refresh_time }}"
                  class="container-fluid col-lg-8 col-md-8 col-sm-12  col-xs-12" >
                {% for obj in object_list %}
{#                    {{ obj.target }}#}
                    {% include 'tag/partial/article_item.html' with article=obj.target %}
                {% endfor %}
            </div>

            <div id="detail_content_right"
                 class="hidden-print   col-lg-4 col-md-4 hidden-sm  hidden-xs" >
                {% include "web/entity/partial/detail_side.html" %}
            </div>
        </div>
    </div>
{% endblock %}