{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ tag }}{% endblock %}

{% block content %}

    <div class="tag-intro-wrapper">

        {% if tag.image %}
            <div class="tag-bg-layer" style="background-image: url({{ image_host }}{{ tag.image }})"></div>

        {% else %}
        <div class="tag-bg-layer" style="background-image: url({% static 'images/year-seller/delicacy.jpg' %})">
            </div>
            {% endif %}
        <div class="tag-title">
            <h3>#{{ tag }}</h3>
        </div>
        <div class="tag-desc">
            <p>
                {% if tag.description %}
                {{ tag.description }}
                {% endif %}
{#                无论饮与食出现在何时何处，总能快速收获我们的关注与热爱。瑞安的纱面，芷溪的米酒，贵州的辣子，梁子庚选的生抽，大兴安岭的蓝莓，肯尼亚的咖啡豆…… 旧人感怀、新人尝鲜、熟人嗜味。#}
            </p>
        </div>
    </div>

    <div class="container">
          {% if request.user.is_staff %}
        <div class="row user-admin-link-wrapper">
            <a class="pull-right" href="" target="_blank"><i class="fa fa-edit"></i></a>
        </div>
        {% endif %}
        <div class="row" id="tag-entity-list" data-refresh="{{ refresh_time }}">
            <div class="col-md-12">
{#                <div class="category-header">#}
{#                    <p>#{{ tag }}</p>#}
{#                </div>#}
                {% include 'tag/partial/ajax_entities.html' with object_list=entities %}
            </div>
        </div>
        {% if entities.has_next %}
            <div class="row" id="main_loading_indicator">
                <div class="col-xs-12 loading-icon">
                    <img src="{% static 'images/widgets/loading.gif' %}" height="32px" width="32px">
                </div>
            </div>
        {% endif %}
        {% include "web/main/partial/paginator.html" with objects=page_obj url=request.path %}
        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/tag_entities_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}

{% block script %}
{% endblock %}
