{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ tag }}{% endblock %}

{% block content %}

{% if tag.image %}
    <div class="tag-intro-wrapper">
        <div class="tag-bg-layer" style="background-image: url({{ image_host }}{{ tag.image }})"></div>
        <div class="tag-title">
            <h3>#{{ tag }}</h3>
        </div>
        <div class="tag-desc">
            <p>
                {% if tag.description %}
                    {{ tag.description }}
                {% endif %}
            </p>
        </div>
    </div>
{% endif %}
    <div class="container">
        {% if request.user.is_staff %}
            <div class="row user-admin-link-wrapper">
                <a class="pull-right" href="{% url 'management_tag_edit' tag.id %}" target="_blank" alt="编辑标签" title="编辑标签"><i class="fa fa-edit"></i></a>
                <a class="pull-right" href="{% url 'management_tag_entities_detail' tag.id %}" target="_blank" alt="商品列表" title="商品列表" style="margin-right:15px;"><i class="fa fa-user"></i></a>
            </div>
        {% endif %}
        <div class="row" id="tag-entity-list" data-refresh="{{ refresh_time }}">
{#            <div class="col-md-12">#}
            {% if not tag.image %}
                <div class="category-header">
                    <p>#{{ tag }}</p>
                </div>
            {% endif %}
                {% include 'tag/partial/ajax_entities.html' with object_list=entities %}
{#            </div>#}
        </div>
        {% if entities.has_next %}
            <div class="row" id="main_loading_indicator">
                <div class="col-xs-12 loading-icon">
                    <img src="{% static 'images/widgets/loading.gif' %}" height="32px" width="32px">
                </div>
            </div>
        {% endif %}
        {% include "web/main/partial/paginator.html" with objects=page_obj url=request.path %}
        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/tag_entities_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}

{% block script %}
{% endblock %}
