{% extends 'web/base.html' %}
{% load i18n staticfiles %}
{% load common guoku %}

{% block content %}
    <div class="container">
        {% if published_entity_tags %}
            <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    已经发布的商品标签
                </div>
            </div>
        </div>
            <div class="row dark-section-wrapper">
            {% for entity_tag in published_entity_tags %}
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="dark-section-item">
                        <a href="{% url 'tag_entities_url' entity_tag.hash %}" target="_blank">
                            <div class="section-panel">
                                <div class="bg-pic" style="background-image: url({{ image_host }}{{ entity_tag.image }})">

                                </div>
                                <div class="bg-layer show"></div>
                                <div class="section-name">
                                    <p>#{{ entity_tag.name }}</p>
                                    <span>{{ entity_tag.description }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row">
            {% for tag in object_list %}
                <a href="{% url 'tag_entities_url' tag.hash %}"><span class="label label-info">{{ tag }}</span></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}