{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}

 <section class="content-header">
        <h1>
            Sellers
            <small>sellers</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li class="active">sellers</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="active"><a href="">所有</a></li>
                            <li><a href="">正常卖家</a></li>
                            <li><a href="">冻结卖家</a></li>
                        </ul>
                    </div>

                    <div class="box-body table-responsive">

                        {#                        {% include "management/table.html"%}#}

                        <table class="table table-bordered table-hover table-condensed" id="sellers-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>卖家名称</th>
                                <th>Logo</th>
                                <th>店铺名称</th>
                                <th>链接</th>
                                <th id="shop-desc">描述</th>
                                <th>经营品类</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {#            the first line datas#}

                            {% for seller in sellers %}

                                <tr>
                                <td>{{ seller.id  }}</td>
                                <td>{{  seller.seller_name }}</td>
                                <td>
                                    <a href="" target="_blank">
                                        <img class="img-responsive img-thumbnail" src="/static/images/avatar/woman.png" style="max-height:100px;max-width:100px;">
                                    </a>
                                </td>
                                <td>{{ seller.shop_title }}</td>
                                <td>
                                    <a href="{{ seller.shop_link }}" target="_blank">{{ seller.shop_link }}</a>
                                </td>
                                <td class="shop-desc">
                                    {{ seller.shop_desc }}
                                </td>
                                <td>{{ seller.get_business_section_display }}</td>
                                <td>
                                    {#正常状态#}
                                    <span class="label label-info">{{ seller.get_status_display }}</span>
                                </td>
                                <td><a class="btn btn-default" href="{% url 'management_seller_update' seller.pk %}">编辑</a></td>
                            </tr>
                                {{ seller.seller_name }}
                            {% endfor %}



                            {#the second line datas#}
                            <tr>
                                <td>222222</td>
                                <td>马云</td>
                                <td>
                                    <a href="" target="_blank">
                                        <img class="img-responsive img-thumbnail" src="/static/images/avatar/woman.png" style="max-height:100px;max-width:100px;">
                                    </a>
                                </td>
                                <td>淘宝店铺</td>
                                <td>
                                    <a href="" target="_blank">taobao.com</a>
                                </td>
                                <td class="shop-desc">
                                    淘宝网 - 亚洲最大、最安全的网上交易平台
                                </td>
                                <td>服饰</td>
                                <td>
                                    {#冻结状态#}
                                    <span class="label label-danger">冻结</span>
                                </td>
                                <td><a class="btn btn-default" href="">编辑</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </section>


{% endblock %}


{% block user_script %}

{% endblock %}