{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}

    <form action="" method="post">{% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Create" />
    </form>

{#    begin--------create.html #}

    <section class="content-header">
        <h1>
            Create Seller_Section
            <small>create seller_section</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li class="active">create seller_sectino</li>
        </ol>
    </section>

    <section class="content" id="create-seller">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Seller_Section Form</h3>
                    </div>
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="box-body">
                           <div class="form-group">
                                  <label for="seller-user-id" class="col-sm-2 control-label">Seller user id:</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" id="seller-user-id">
                                   </div>
                           </div>

                            <div class="form-group">
                                   <label for="seller-name" class="col-sm-2 control-label">Seller name:</label>
                                   <div class="col-sm-10">
                                       <input type="text" class="form-control" id="seller-name">
                                   </div>
                            </div>
{# upload seller-logo and show it.#}

                            <img class="profile-user-img img-responsive img-circle" src="/static/images/avatar/woman.png" alt="seller logo">

                            <div class="form-group">
                                   <label for="seller-logo-img" class="col-sm-2 control-label">Logo:</label>
                                   <div class="col-sm-10">
                                       <input type="file" id="seller-logo-img">
                                   </div>
                             </div>


                            <div class="form-group">
                                   <label for="seller-shop-title" class="col-sm-2 control-label">Shop title:</label>
                                   <div class="col-sm-10">
                                       <input type="text" class="form-control" id="seller-shop-title">
                                   </div>
                            </div>

                            <div class="form-group">
                                   <label for="shop-link" class="col-sm-2 control-label">Seller user id:</label>
                                   <div class="col-sm-10">
                                       <input type="text" class="form-control" id="shop-link">
                                   </div>
                            </div>

                            <div class="form-group">
                                   <label for="shop-desc" class="col-sm-2 control-label">Shop desc:</label>
                                   <div class="col-sm-10">
                                       <textarea class="form-control" rows="3"></textarea>
                                   </div>
                            </div>

                            <div class="form-group">
                                   <label for="shop-status" class="col-sm-2 control-label">Status:</label>
                                   <div class="col-sm-10">
                                       <select class="form-control">
                                           <option selected>正常卖家</option>
                                           <option>冻结卖家</option>
                                       </select>
                                   </div>
                            </div>

                            <div class="form-group">
                                   <label for="business-section" class="col-sm-2 control-label">Business section:</label>
                                   <div class="col-sm-10">
                                       <select class="form-control">
                                           <option selected>空白</option>
                                           <option>服饰</option>
                                           <option>文化</option>
                                           <option>美食</option>
                                           <option>生活</option>
                                       </select>
                                   </div>
                            </div>

                        </div>
                        <div class="box-footer">
                            <div class="col-xs-10 col-sm-10 col-md-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{#    end--------create.html #}

{#    start--------list.html #}
    <section class="content-header">
        <h1>
            Sellers
            <small>sellers</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li class="active">sellers</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="active"><a href="">所有</a></li>
                            <li><a href="">正常卖家</a></li>
                            <li><a href="">冻结卖家</a></li>
                        </ul>
                    </div>

                    <div class="box-body table-responsive">

{#                        {% include "management/table.html"%}#}

        <table class="table table-bordered table-hover table-condensed" id="sellers-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>卖家名称</th>
                    <th>Logo</th>
                    <th>店铺名称</th>
                    <th>链接</th>
                    <th id="shop-desc">描述</th>
                    <th>经营品类</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
{#            the first line datas#}
                    <tr>
                        <td>111111</td>
                        <td>马云</td>
                        <td>
                            <a href="" target="_blank">
                                <img class="img-responsive img-thumbnail" src="/static/images/avatar/woman.png" style="max-height:100px;max-width:100px;">
                            </a>
                        </td>
                        <td>淘宝店铺</td>
                        <td>
                            <a href="" target="_blank">taobao.com</a>
                        </td>
                        <td class="shop-desc">
                            淘宝网 - 亚洲最大、最安全的网上交易平台，提供各类服饰、美容、家居、数码、话费/点卡充值… 8亿优质特价商品，同时
                            提供担保交易(先收货后付款)、先行赔付、假一赔三、七天无理由退换货、数码免费维修等安全交易保障服务，让你全面安心享受网上购物乐趣！
                        </td>
                        <td>服饰</td>
                        <td>
{#正常状态#}
                            <span class="label label-info">正常</span>
                        </td>
                        <td><a class="btn btn-default" href="">编辑</a></td>
                    </tr>

{#the second line datas#}
                    <tr>
                        <td>222222</td>
                        <td>马云</td>
                        <td>
                            <a href="" target="_blank">
                                <img class="img-responsive img-thumbnail" src="/static/images/avatar/woman.png" style="max-height:100px;max-width:100px;">
                            </a>
                        </td>
                        <td>淘宝店铺</td>
                        <td>
                            <a href="" target="_blank">taobao.com</a>
                        </td>
                        <td class="shop-desc">
                            淘宝网 - 亚洲最大、最安全的网上交易平台
                        </td>
                        <td>服饰</td>
                        <td>
{#冻结状态#}
                            <span class="label label-danger">冻结</span>
                        </td>
                        <td><a class="btn btn-default" href="">编辑</a></td>
                    </tr>
            </tbody>
        </table>
                    </div>


{#                    <div class="box-footer">#}
{#                        {% include "management/paginator.html" with objects=notes url=request.path %}#}
{#                    </div>#}

                </div>
            </div>
        </div>
    </section>




{#    end--------list.html #}


{% endblock %}


{% block user_script %}

{% endblock %}