@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/normal.less";
@import "../lib/widgets.less";
.section{
  font-weight: 500;
}

.section2.fp-table,.section4.fp-table,.section6.fp-table,.section8.fp-table{
  display: block;
  box-sizing: border-box;
}
.section2 .fp-tableCell{
  //vertical-align: top;
}
.section2,.section4{
  border:10px solid black;
  padding:0 20px;
}
