@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/normal.less";
@import "../lib/widgets.less";

.hidden{
  display: none !important;
  visibility: hidden !important;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.section{
  font-weight: 500;
}
.section2.fp-table,.section4.fp-table,.section6.fp-table,.section8.fp-table{
  display: inline-block;
  box-sizing: border-box;
}
.section2 .fp-tableCell{
  //vertical-align: top;
}
.section2,.section4,.section6,.section8{
  border:10px solid black;
  padding:0 20px;
}
.section1,.section3,.section7{
  background-repeat: no-repeat;
  background-position: center center;
}
.section5{
  background-repeat: no-repeat;
  background-position: center 30%;
  .ad-wrapper{
    position: absolute;
    left:50%;
    .transform(translateX(-50%));
    width:200px;
    .download-wrapper,.wechat-wrapper{
      display: inline-block;
      img{
        width:80px;
        height:80px;
      }
      p{
        text-align: center;
      }
    }
    .download-wrapper{
      margin-right:30px;
    }
  }
}
.section2,.section4{
  .design-week-logo{
    position: fixed;
    right:30px;
  }
}