@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/normal.less";
@import "../lib/widgets.less";


.user-icon-responsive{
  img{
    display: block;
    margin:0 auto;
    width:30%;
    height:30%;
    border-radius:50%;

  }
}

.happy-body{
 //padding-top:0px;
  .bg-layer{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover;
  }

  .happy-layer{
    position: relative;
    text-align: center;
  }
}

#second-layer{
  display: none;
}
