@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/normal.less";
@import "../lib/widgets.less";


#theme-title{
  -webkit-animation: moveRight 0.6s ease-in-out 0.2s backwards;
  -moz-animation: moveRight 0.6s ease-in-out 0.2s backwards;
  -o-animation: moveRight 0.6s ease-in-out 0.2s backwards;
  -ms-animation: moveRight 0.6s ease-in-out 0.2s backwards;
  animation: moveRight 0.6s ease-in-out 0.2s backwards;
}
#second-layer{
  display: none;
}

//define animation keyframes
@-webkit-keyframes moveRight {
  0%{
    transform: translateX(-400px);
    opacity: 0;
  }

  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
@-moz-keyframes moveRight {
  0%{
    transform: translateX(-400px);
    opacity: 0;
  }

  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
@-o-keyframes moveRight {
  0%{
    transform: translateX(-400px);
    opacity: 0;
  }

  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
@-ms-keyframes moveRight {
  0%{
    transform: translateX(-400px);
    opacity: 0;
  }

  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes moveRight {
  0%{
    transform: translateX(-400px);
    opacity: 0;
  }

  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}