.market-body {
  padding-top: 0;
}
.market-body .top-ad,
.market-body .bottom-ad {
  display: none;
}
.market-body .dark-dialog-background {
  background-color: rgba(0, 0, 0, 0.5);
}
.market-body.modal-open .modal {
  overflow-y: hidden;
}
.market-body .modal-dialog .modal-content .modal-header {
  display: none;
}
.market-body .modal-dialog .modal-content .bootbox-close-button.close {
  width: 25px;
  height: 25px;
  background-color: gray;
  border-radius: 50%;
  float: none;
  position: fixed;
  top: 20px;
  right: 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
.market-body .modal-dialog .modal-content .content-modal-wrapper ul li {
  margin-bottom: 24px;
}
.market-body .modal-dialog .modal-content .content-modal-wrapper ul li img {
  max-width: 100%;
  margin: 0 auto;
}
.market-body .brands-dialog .modal-dialog,
.market-body .play-dialog .modal-dialog {
  height: 97%;
}
.market-body .brands-dialog .modal-dialog .modal-content,
.market-body .play-dialog .modal-dialog .modal-content {
  height: 100%;
  overflow-y: scroll;
}
.market-body .share-dialog .modal-dialog {
  width: 100%;
  height: auto;
}
.market-body .share-dialog .modal-body {
  padding: 0;
}
.market-body .share-dialog .modal-content {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.market-body .place-dialog .content-modal-wrapper .map {
  width: 100%;
  margin-bottom: 16px;
}
.animation_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.empty-opacity {
  opacity: 0;
}
#bag_01 {
  -webkit-animation: fadeInThenOut 1000ms linear 0ms forwards;
  animation: fadeInThenOut 1000ms linear 0ms forwards;
}
#bag_02 {
  -webkit-animation: fadeInThenOut 1000ms linear 1000ms forwards;
  animation: fadeInThenOut 1000ms linear 1000ms forwards;
}
#bag_03 {
  -webkit-animation: fadeInThenOut 1000ms linear 2000ms forwards;
  animation: fadeInThenOut 1000ms linear 2000ms forwards;
}
#bag_04 {
  -webkit-animation: fadeInThenOut 1000ms linear 3000ms forwards;
  animation: fadeInThenOut 1000ms linear 3000ms forwards;
}
#bag_05 {
  -webkit-animation: fadeInThenOut 1000ms linear 4000ms forwards;
  animation: fadeIn 1000ms linear 4000ms forwards;
}
#bag_06 {
  -webkit-animation: fadeInThenOut 1000ms linear 5000ms forwards;
  animation: fadeInThenOut 1000ms linear 5000ms forwards;
}
#bag_07 {
  -webkit-animation: fadeInThenOut 1000ms linear 6000ms forwards;
  animation: fadeInThenOut 1000ms linear 6000ms forwards;
}
#bag_08 {
  -webkit-animation: fadeInThenOut 1000ms linear 7000ms forwards;
  animation: fadeInThenOut 1000ms linear 7000ms forwards;
}
#theme_poster {
  -webkit-animation: fadeInThenOut 1000ms linear 8000ms forwards;
  animation: fadeInThenOut 1000ms linear 8000ms forwards;
}
.title-rect {
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.title-rect i {
  margin-left: 15px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}
#gk_introduce {
  top: 77%;
  left: 3%;
  transform-origin: left top;
  -webkit-animation: fadeInThenOut 300ms linear 9000ms forwards;
  animation: fadeInThenOut 300ms linear 9000ms forwards;
}
#gk_brands {
  top: 80%;
  left: 37%;
  transform-origin: left top;
  -webkit-animation: fadeInThenOut 300ms linear 9300ms forwards;
  animation: fadeInThenOut 300ms linear 9300ms forwards;
}
#gk_play {
  top: 77%;
  left: 68%;
  transform-origin: left top;
  -webkit-animation: fadeInThenOut 300ms linear 9600ms forwards;
  animation: fadeInThenOut 300ms linear 9600ms forwards;
}
#gk_share {
  top: 88%;
  left: 5%;
  transform-origin: left top;
  -webkit-animation: fadeInThenOut 300ms linear 9900ms forwards;
  animation: fadeInThenOut 300ms linear 9900ms forwards;
}
#gk_place {
  top: 88%;
  left: 60%;
  transform-origin: left top;
  -webkit-animation: fadeInThenOut 300ms linear 10200ms forwards;
  animation: fadeInThenOut 300ms linear 10200ms forwards;
}
.click-signal {
  -webkit-animation: signal 1000ms ease-in-out 2900ms infinite;
  animation: signal 1000ms ease-in-out 2900ms infinite;
}
@keyframes signal {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px transparent;
  }
}
@-webkit-keyframes signal {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px transparent;
  }
}
@keyframes fadeInThenOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInThenOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
