@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/widgets.less";

// user notification list
@notification-goods-border-color:#f2f2f2;
@notification-quote-color:#EBEBEB;

//common class
.notification-rect-pic{
  width:52px;
  height:52px;
}


.notification-menu{
  position:relative;
  .notification-bell-wrapper{
    &:after{
        content: "";
        position: absolute;
        top:35px;
        right: 25px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent @tag-hover-background-dark transparent;
        display: block;
        width: 0;
        z-index: 10000;

    }
  }
  .notification-list{
    position:absolute;
    top:45px;
    right:0;
    z-index:1000;
    margin-top:10px;
    padding-bottom: 25px;
    min-width:360px;
    height:auto;
    max-height:556px;
    overflow-y: auto;
    background-color: @panel-background-color;
    .panel-no-padding;

    .notification-list-item{
      position:relative;
      width:100%;
      min-height:85px;
      padding:15px 10px;
      border-bottom: @common-border;
      font-size: @smaller-primary;

      .notification-user-logo-wrapper{
        position:absolute;
        top:15px;
        left:10px;
        width:52px;
        height:52px;
          .notification-user-logo{
         .notification-rect-pic;
        }
      }
      .main-notification{
        margin-left:62px;
        margin-right:62px;
        .main-notification-title{
          .notification-user-name{
            &:hover{
              cursor: pointer;
              text-decoration: none;
            }
          }
          span{
            padding-left:5px;
            color:@common-gray;
          }

        }

        .main-notification-intro{
          margin-top:10px;
          .notification-user-mark{
            color:@common-text-color;
            &:hover{
              cursor: pointer;
              color:@link-color;
              text-decoration: none;
            }
             i{
            color:@notification-quote-color;
          }
          }

        }
      }
      .notification-goods-wrapper{
        position: absolute;
        top:15px;
        right: 10px;
        width:54px;
        height:54px;
        border:1px solid @notification-goods-border-color;
        .notification-goods{
         .notification-rect-pic;
      }
      }
    }

  }


}

@media screen and(max-width:767px){
  .notification-menu{
    float: right;
    .notification-list{

    }
  }
}

@media screen and(max-width:580px){
  .notification-menu{
    float: right;
    .notification-list{
      min-width: 290px;
      right:-50px;


    }
  }
}

.test{
  background-color: black;
}