.v-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0px;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.little-gray-font {
  font-size: 13px;
  color: #9d9d9d;
}
.new-guoku-blue-btn {
  font-size: 14px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #4188Dc;
  display: inline-block;
  color: #fff;
  padding: 0px 6px;
  cursor: pointer;
  text-decoration: none;
}
.new-guoku-blue-btn:hover,
.new-guoku-blue-btn:focus {
  text-decoration: none!important;
}
.guoku-btn-normal {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #357ebd;
  display: inline-block;
  width: 100%;
  height: 40px;
  color: #fff;
  padding: 2px 5px;
  margin: 5px;
  cursor: pointer;
}
.guoku-button {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #357ebd;
  display: inline-block;
  color: #fff;
  padding: 0px 6px;
  cursor: pointer;
  text-decoration: none;
  min-width: 110px;
}
.guoku-button:hover,
.guoku-button:focus {
  text-decoration: none!important;
}
.button-blue {
  background-color: #357ebd;
  color: #fff;
}
.button-blue:hover,
.button-blue:focus {
  color: #fff;
  background-color: #357ebd;
}
.button-white {
  background-color: #fff;
  color: #9D9E9F;
}
.button-white .fa {
  color: #9D9E9F;
}
.button-white:hover {
  color: #9D9E9F;
}
.blue-button {
  font-size: 14px;
  height: 32px;
  border-radius: 4px;
  line-height: 32px;
  text-align: center;
  background: #357ebd;
  color: #fff;
  margin-top: 20px;
}
.button-gray {
  background-color: #9D9E9F;
}
.seller-button {
  margin-top: 10px;
}
.gray-button {
  background-color: #9d9d9d;
  color: #fff;
}
.btn-cancel,
.button-cancel {
  background-color: #f8f8f8;
  color: #999;
  border: 1px solid #eee;
}
.btn-cancel:hover,
.button-cancel:hover,
.btn-cancel:focus,
.button-cancel:focus {
  background-color: #f8f8f8;
  color: #999;
  border: 1px solid #eee;
}
.btn-cancel i,
.button-cancel i {
  color: #9D9E9F;
}
.button-sharp {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.disabled-button {
  cursor: default;
}
.button-disabled {
  background-color: #BDBDBD;
  color: #F8F8F8;
}
.button-disabled:hover,
.button-disabled:focus {
  background-color: #BDBDBD;
  color: #F8F8F8;
}
.entity-report-button {
  width: 120px;
  background-color: #357ebd;
  color: #fff;
}
.entity-report-button:hover,
.entity-report-button:focus {
  opacity: 0.8!important;
  color: #fff!important;
}
.price-tag-widget {
  font-size: 22px;
  font-family: Georgia,serif;
  color: #357ebd;
  margin: 20px 0px;
}
.primary-button {
  width: 100px;
}
.nav-user-actions .round {
  position: relative;
  left: 5px;
}
.common-bordered {
  border: 1px solid #e6e6e6;
}
.panel {
  background-color: #fff;
  padding: 18px 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #ddd;
  -moz-box-shadow: 0px 0px 2px #ddd;
  box-shadow: 0px 0px 2px #ddd;
}
.panel-no-padding {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #ddd;
  -moz-box-shadow: 0px 0px 2px #ddd;
  box-shadow: 0px 0px 2px #ddd;
  overflow: hidden;
}
.img-box {
  height: 0;
  padding-bottom: 99%;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e6e6e6;
  display: block;
}
.img-box a {
  display: block;
  position: relative;
}
.img-box a img {
  background-color: #f6f6f6;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}
.event-entity-item .img-box a {
  padding: 8px;
}
.event-entity-item .section-info {
  height: 97px;
}
.event-entity-item .section-info div {
  font-size: 14px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 7px;
  margin-bottom: 0px;
  text-align: center;
}
.event-entity-item .section-info .entity-brand {
  margin-top: 15px;
}
.event-entity-item .section-info .entity-title {
  margin-bottom: 0px;
  margin-top: 0px;
}
.event-entity-item .section-info .entity-price {
  font-size: 22px;
  font-family: Georgia,serif;
  color: #357ebd;
  margin: 20px 0px;
  margin: 7px 0;
  font-size: 16px;
}
.event-entity-item .section-buy {
  text-align: center;
  height: 40px;
}
.entity-four .img-box img:hover,
.entity-selection .img-box img:hover,
#detail_content_right .section-list .section-banner img:hover,
.guess_img .img-box img:hover,
.article-wrapper .cover-wrapper a img:hover,
.more-article-wrapper .cover-wrapper a img:hover,
.guess-wrapper .recommend-img:hover,
.user-page .img-box img:hover,
.img-holder a:hover,
.selection-article-item .img-holder:hover,
.thumbnail.category img:hover,
.hover-light:hover,
.recommendation-item img:hover {
  opacity: 0.7;
}
.hover-light a:hover,
.hover-light a:focus,
.hover-light a:active,
.hover-light a:visited {
  text-decoration: none;
}
.little-round-tag {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 10px;
  height: 21px;
  line-height: 21px;
  display: inline-block;
  text-align: center;
  border: 1px solid #e6e6e6;
  color: #424242;
  font-size: 13px;
  margin: 4px 4px 0 0;
}
.little-round-tag a {
  color: #424242;
}
.little-round-tag:hover {
  background-color: #F0F0F0;
}
.normal-round-tag {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  border: 1px solid #e6e6e6;
  color: #424242;
  font-size: 14px;
  margin: 4px 4px 0 0;
}
.normal-round-tag a {
  color: #424242;
}
.normal-round-tag:hover,
.normal-round-tag.current {
  background-color: #ddd;
}
.bottom-bordered {
  border-bottom: 1px solid #e6e6e6;
}
.setting-list .round {
  position: relative;
  left: 5px;
  top: 8px;
}
.round {
  width: 6px;
  height: 6px;
  display: none;
  font-size: 6px;
  vertical-align: top;
  border-radius: 3px;
  /*text-align:center;*/
  /*color:#ff1f77;*/
  background-color: #FF1F77;
  text-decoration: none;
}
.b_day {
  position: relative;
  top: -8px;
  left: 1px;
}
p .b_day {
  top: -8px;
  left: 3px;
}
.carousel-indicators li {
  height: 8px;
  width: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.carousel-indicators li.active {
  height: 8px;
  width: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ancillary {
  color: #9d9e9f;
}
.entity-four.thumbnail {
  border: none;
  margin-bottom: 20px;
  padding: 0px 0px 16px 0px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #ddd;
  -moz-box-shadow: 0px 0px 2px #ddd;
  box-shadow: 0px 0px 2px #ddd;
  overflow: hidden;
}
.entity-four.thumbnail .img-box {
  border: none;
}
.entity-four.thumbnail .btn-like {
  padding: 0px;
  line-height: 14px;
  font-size: 14px;
  height: 14px;
  color: #9d9e9f;
}
.entity-four.thumbnail .caption {
  height: 80px;
  padding: 0px;
  margin-top: 12px;
  border: none;
}
.entity-four.thumbnail .caption .title,
.entity-four.thumbnail .caption .price,
.entity-four.thumbnail .caption .info,
.entity-four.thumbnail .caption .brand {
  color: #9D9E9F;
  text-align: center;
  font-size: 14px;
}
.entity-four.thumbnail .caption .price {
  margin-top: 10px;
}
.entity-four.thumbnail .action {
  height: 30px;
}
.entity-four.thumbnail .action .info {
  color: #9D9E9F;
  text-align: center;
  font-size: 14px;
}
.entity-four.new-thumbnail {
  padding: 16px;
  border: none;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #ddd;
  -moz-box-shadow: 0px 0px 2px #ddd;
  box-shadow: 0px 0px 2px #ddd;
  overflow: hidden;
}
.entity-four.new-thumbnail .img-box {
  border: none;
}
.entity-four.new-thumbnail .btn-like {
  padding: 0px;
  line-height: 14px;
  font-size: 14px;
  height: 14px;
  color: #9d9e9f;
}
.entity-four.new-thumbnail .entity-four-info {
  margin-top: 16px;
  overflow: hidden;
}
.entity-four.new-thumbnail .entity-four-info .caption {
  width: 60%;
  height: 80px;
  float: left;
  margin: 0;
  font-size: 14px;
}
.entity-four.new-thumbnail .entity-four-info .caption .brand,
.entity-four.new-thumbnail .entity-four-info .caption .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.entity-four.new-thumbnail .entity-four-info .caption .brand {
  color: #9D9E9F;
}
.entity-four.new-thumbnail .entity-four-info .caption .title a {
  color: #424242;
}
.entity-four.new-thumbnail .entity-four-info .caption .price {
  color: #357ebd;
}
.entity-four.new-thumbnail .entity-four-info .action {
  height: 30px;
  float: right;
}
.entity-four.new-thumbnail .entity-four-info .action .info {
  color: #9D9E9F;
  text-align: center;
  font-size: 14px;
}
.btn-top {
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  display: none;
  float: right;
  background-color: #eee;
  border: 1px solid#cccccc;
  position: fixed;
  /*right: 10px;*/
  opacity: 0.8;
  bottom: 120px;
  width: 30px;
  height: 30px;
  z-index: 1000000;
  text-align: center;
  line-height: 28px;
  /*vertical-align: middle;*/
}
.btn-top:hover {
  background-color: #e0e0e0;
}
.bubble {
  display: block;
  position: relative;
  height: 25px;
  padding: 0px 10px;
  background: #FFFFFF;
  border: #e6e6e6 solid 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  bottom: 3px;
  left: 39px;
  top: -23px;
  line-height: 25px;
}
.bubble:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  border-style: solid;
  border-width: 6px 6px 6px 0px;
  border-color: transparent #e6e6e6 transparent transparent;
  display: block;
  width: 0;
  z-index: 0;
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: -9px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent #fff transparent transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.change_password,
.binding_page,
.edit_profile,
.main_static {
  min-height: 570px;
}
.load-more-button,
.next-button,
.prev-button {
  display: inline-block;
  padding: 5px 14px;
  background: #fff;
  color: #898989;
  font-weight: 700;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-right: 10px;
}
.load-more-button:hover,
.next-button:hover,
.prev-button:hover,
.load-more-button:active,
.next-button:active,
.prev-button:active,
.load-more-buttonfocus,
.next-buttonfocus,
.prev-buttonfocus {
  background: #eee;
}
.nav-button-holder {
  background: none;
  margin: 0 auto ;
  display: inline-block;
}
.nav-button-holder li {
  float: left;
}
.button-row {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.like-action {
  text-decoration: none;
}
.like-action:hover,
.like-action:focus,
.like-action:active {
  text-decoration: none;
}
.guoku-bg-image-wrapper {
  height: 0 ;
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center;
  border: 1px solid #e6e6e6;
}
p.boolean-true {
  background: forestgreen;
  color: #fff;
  font-weight: 600;
}
p.boolean-false {
  background: darkred;
  color: #fff;
  font-weight: 600;
}
.animate-header {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}
.acc-layer {
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
#sidebar_fix {
  backface-visibility: hidden;
}
.guoku-weixin {
  z-index: 1000;
  backface-visibility: hidden;
  position: fixed;
  right: 20px;
  top: 100px;
  width: 70px;
  height: 70px;
  opacity: 100;
  filter: alpha(opacity=100);
}
.guoku-weixin:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.loading-icon {
  display: inline-block;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  margin: 30px 0px;
  text-align: center;
}
.carousel-inner .item {
  text-align: center;
}
.carousel-inner .item a,
.carousel-inner .item img {
  display: inline-block !important;
}
.transparent-holder {
  display: block;
  height: 100%;
  width: 100%;
}
.user-icon-widget {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  margin-top: 10px;
}
.user-icon-widget a {
  display: block;
}
.user-icon-widget a img {
  width: 32px;
  height: 32px;
}
.user-icon-widget img {
  border-radius: 50%;
}
.user-icon-list:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.user-icon-list li {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  margin-top: 10px;
}
.user-icon-list li a {
  display: block;
}
.user-icon-list li a img {
  width: 32px;
  height: 32px;
}
.user-icon-list li img {
  border-radius: 50%;
}
.user-icon-large img {
  display: block;
  margin: 0 auto ;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.user-icon-middle img {
  display: block;
  margin: 0 auto ;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.user-nick-large {
  font-size: 32px;
  font-weight: 500;
  margin-right: 12px;
}
.guoku-normal-col {
  padding: 0 5px;
  margin-bottom: 10px;
}
.guoku-middle-col {
  padding: 0 9px;
  margin-bottom: 18px;
}
.normal-share-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
}
.new-empty-panel-content {
  display: block;
  width: 100%;
  min-height: 180px;
  line-height: 180px;
  text-align: center;
  border: 1px solid #ebebeb;
  color: #9D9E9F;
}
.square-follow-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  background-color: #ffffff;
  padding: 0px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  text-decoration: none;
}
.square-follow-btn i.fa-plus {
  color: #6192FF;
}
.square-follow-btn:hover i.fa-plus,
.square-follow-btn:focus i.fa-plus {
  color: #3F6FF0;
}
.square-follow-btn.btn-cancel {
  background-color: #6192FF;
}
.square-follow-btn.btn-cancel i.fa-check {
  color: #ffffff;
}
.square-follow-btn.btn-cancel:hover,
.square-follow-btn.btn-cancel:focus {
  background-color: #3F6FF0;
}
.new-guoku-button {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ffffff;
  display: inline-block;
  color: #6192FF;
  padding: 0px 6px;
  cursor: pointer;
  text-decoration: none;
  min-width: 110px;
}
.new-guoku-button:hover,
.new-guoku-button:focus {
  text-decoration: none!important;
}
.new-btn-cancel,
.new-button-cancel {
  background-color: #6192FF;
  color: #ffffff;
  border: 1px solid #6192FF;
}
.new-btn-cancel:hover,
.new-button-cancel:hover {
  background-color: #3F6FF0;
  border: 1px solid #3F6FF0;
  color: #ffffff;
}
.new-btn-cancel:focus,
.new-button-cancel:focus {
  background-color: #6192FF;
  color: #ffffff;
  border: 1px solid #6192FF;
}
.new-btn-cancel i,
.new-button-cancel i,
.new-btn-cancel i.fa-plus,
.new-button-cancel i.fa-plus {
  color: #ffffff;
}
.newest-btn-primary {
  border: 1px solid #6192FF;
  background-color: #6192FF;
  color: #ffffff;
}
.newest-btn-primary:hover,
.newest-btn-primary:focus {
  border: 1px solid #3F6FF0;
  background-color: #3F6FF0;
  color: #ffffff;
}
.newest-button-blue {
  border: 1px solid #6192FF;
  background-color: #ffffff;
  color: #6192FF;
}
.newest-button-blue:hover {
  color: #3F6FF0;
  border: 1px solid #3F6FF0;
  background-color: #ffffff;
}
.newest-button-blue:hover i.fa-plus {
  color: #3F6FF0;
}
.newest-button-blue:focus {
  background: #ffffff;
  color: #6192FF;
}
.newest-button-blue i.fa-plus {
  color: #6192FF;
}
.check-icon-wrapper {
  text-align: center;
  margin-top: 40px;
}
.check-icon-wrapper .check-well-icon {
  color: #4FB832;
}
.check-icon-wrapper .check-wrong-icon {
  color: #9D9E9F;
}
.check-icon-wrapper .big-check-icon {
  font-size: 132px;
}
.check-icon-wrapper .small-check-icon {
  font-size: 80px;
}
.check-icon-wrapper .message {
  margin-top: 30px;
  font-size: 32px;
}
.check-icon-wrapper .more-message {
  font-size: 16px;
  color: #9D9E9F;
}
.dark-section-wrapper .dark-section-item a {
  color: #ffffff;
}
.dark-section-wrapper .dark-section-item ahover,
.dark-section-wrapper .dark-section-item afocus {
  color: #ffffff;
}
.dark-section-wrapper .dark-section-item a .section-panel {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #ddd;
  -moz-box-shadow: 0px 0px 2px #ddd;
  box-shadow: 0px 0px 2px #ddd;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.dark-section-wrapper .dark-section-item a .section-panel:hover .bg-layer {
  display: block;
}
.dark-section-wrapper .dark-section-item a .section-panel .bg-pic {
  width: 100%;
  height: 0;
  padding-bottom: 55%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.dark-section-wrapper .dark-section-item a .section-panel .section-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.dark-section-wrapper .dark-section-item a .section-panel .section-name p {
  margin-bottom: 0;
}
.dark-section-wrapper .dark-section-item a .section-panel .section-name span {
  font-size: 11px;
}
.dark-section-wrapper .dark-section-item a .section-panel .bg-layer {
  display: none;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.18);
}
/* 商品详情页喜爱头像列表 */
.like-user-list > div {
  padding: 0px;
  margin: 0px;
  width: 35px;
  height: 35px;
}
.like-user-list > div > .thumbnail {
  padding: 0;
  border: 0;
  margin: 0 5px 10px 5px;
}
.like-user-list > div > .thumbnail > a > img {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 25px;
  height: 25px;
}
.list-group-item {
  border-top: 0;
  border-bottom: 0;
}
.entity-detail.thumbnail {
  border: none;
  /*border-color: #e6e6e6;*/
  padding: 0;
  margin-bottom: 60px;
}
.entity-detail .caption {
  border-top: 1px solid #eee;
  margin-top: 5px;
  /*margin-left: 5px;*/
  margin-right: 5px;
}
.entity-detail > a > img {
  /*padding: 20px;*/
  border: 1px solid #e6e6e6;
  /*box-shadow: 1px 1px 5px rgba(215,215,215,.4);*/
}
.note-content .media-heading {
  font-size: 16px;
  color: #414243;
}
@media (max-width: 768px) {
  .note-avatar {
    width: 36px;
  }
  .entity-detail > a > img {
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .note-avatar {
    width: 50px;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 0px;
  }
}
/*发现页*/
#discover_container .section-title-wrapper {
  margin-bottom: 14px;
}
#discover_container .category-wrapper .section-title-wrapper,
#discover_container #selection_article_list .section-title-wrapper {
  margin-top: 10px;
}
#discover_container #discover_entity_list .section-title-wrapper {
  margin-top: -5px;
}
/*发现页-推荐用户*/
.user-icon-list.recommend-user-list:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.user-icon-list.recommend-user-list li {
  float: left;
  display: inline-block;
  width: 81px;
  height: 81px;
  margin-top: 0;
  margin-right: 18px;
  margin-bottom: 10px;
  margin-left: 0;
}
.user-icon-list.recommend-user-list li a {
  display: block;
}
.user-icon-list.recommend-user-list li a img {
  width: 81px;
  height: 81px;
}
.user-icon-list.recommend-user-list li img {
  border-radius: 50%;
}
.user-icon-list.recommend-user-list li .img-frame {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 768px) {
  .user-icon-list.recommend-user-list li {
    float: left;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .user-icon-list.recommend-user-list li a {
    display: block;
  }
  .user-icon-list.recommend-user-list li a img {
    width: 70px;
    height: 70px;
  }
  .user-icon-list.recommend-user-list li img {
    border-radius: 50%;
  }
}
/* 品类*/
@media (min-width: 992px) {
  .category-list .col-md-2 {
    width: 13%;
  }
}
@media (min-width: 768px) {
  .category-list .col-sm-3 {
    width: 14%;
  }
  .recommend-user-wrapper .col-sm-2,
  .category-wrapper .col-sm-2 {
    width: 12.5%;
  }
}
.category {
  background: #FFF ;
  border: none;
}
.category-control {
  margin-bottom: 0px;
}
.category > a {
  padding: 20px 5px 0px 5px;
  display: block;
}
.category > a > img {
  width: 56px;
  height: 56px;
  text-decoration: none;
}
.category > a:hover,
.category > a:focus,
.category > a:active {
  text-decoration: none;
}
.category > a > p {
  text-align: center;
  padding-top: 10px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  margin: 0px -10px 20px -10px;
  text-decoration: none;
}
.category > a > p:hover,
.category > a > p:focus,
.category > a > p:active {
  text-decoration: none;
}
/* 分类页面 */
.category-detail-body {
  padding-top: 51px;
}
.category-detail-container {
  margin-top: 30px;
}
.category-detail-container #top_article_tags_container a.more-link {
  font-size: 14px;
}
.category-detail-container #top_article_tags_container a.more-link:hover {
  text-decoration: none;
}
#sort_header-wrapper .category-breadcrumb-wrapper {
  overflow: hidden;
  float: left;
  font-size: 14px;
}
#sort_header-wrapper .category-breadcrumb-wrapper ul li {
  float: left;
}
#sort_header-wrapper .category-breadcrumb-wrapper ul li a:hover {
  text-decoration: none;
}
#sort_header-wrapper .category-breadcrumb-wrapper ul li .fa {
  margin-left: 10px;
  margin-right: 10px;
}
#sort_header-wrapper .category-breadcrumb-wrapper ul li:last-child,
#sort_header-wrapper .category-breadcrumb-wrapper .fa {
  color: #9D9E9F;
}
#sort_header-wrapper .select-sort-wrapper {
  font-size: 14px;
}
.category-sort-wrapper {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
}
.category-header {
  background-color: #FBFBFB;
  border: 1px solid #eee;
  height: 40px;
  margin-bottom: 30px;
}
.category-header.category-header-control {
  background-color: transparent;
  border: none;
}
.category-header.category-header-control .dropdown-menu-control {
  min-width: 120px;
}
.category-header.category-header-control .dropdown-menu-control li {
  text-align: center;
}
.category-header > p {
  padding-left: 20px;
  font-size: 16px;
  line-height: 38px;
  /*color: rgb(102, 102, 102);*/
}
.second-level-category-wrapper .second-list-wrapper .category {
  posiiton: relative;
}
.second-level-category-wrapper .second-list-wrapper .category .category-item-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* 搜索页面 */
.navbar-search {
  background-color: #F8F8F8;
  /*border-color: ;*/
  border: 1px solid #E7E7E7;
  min-height: 38px;
}
.search-header > h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 25px;
}
.search-header > h2 > span {
  color: #333;
  margin-right: 10px;
}
/* 商品详情页 */
.entity-title {
  margin-bottom: 40px;
  /*font-size: 18px;*/
}
.note-text {
  font-size: 16px;
  color: #414243;
}
.note-text .post-time {
  color: #9D9E9F;
}
.note-text .create-time {
  font-size: 14px;
  color: #9D9E9F;
}
.detail-img > div {
  padding-left: 5px;
  padding-right: 5px;
}
.detail-img > div > .thumbnail {
  border: 0px;
}
/* 商品详情页分类 */
.detail-category {
  /*border: 1px solid #fff;*/
  /*background: #fbfbfb;*/
  padding: 10px 0 10px 15px;
}
.detail-category > a {
  color: #427ec0;
}
.detail-category .category:after {
  color: #414243;
  content: " / ";
}
.detail-tag > h4 {
  font-size: 16px;
  font-weight: 400;
}
.detail-tag > p > a {
  color: #666666;
}
.detail-edit {
  padding: 15px 0 15px 15px;
}
.detail-report {
  padding: 15px 0 15px 15px;
}
.detail-download {
  padding: 15px 0 15px 15px;
}
.entity-detail {
  padding-bottom: 15px;
  margin-bottom: 0;
}
/* 精选点评*/
.selection-note {
  margin: 30px 15px 0 0px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}
.selection-note .note-user {
  /*margin-left: 15px;*/
  padding-left: 0;
}
.selection-note .note-text {
  padding-left: 0;
  padding-bottom: 10px;
}
/* 点评 */
.common-note-list {
  margin: 0;
  padding: 0px 15px;
}
.common-note-list .poke {
  text-decoration: none;
}
.common-note-list .poke:hover,
.common-note-list .poke:focus,
.common-note-list .poke:active {
  text-decoration: none;
}
.common-note-list .fa-thumbs-o-up,
.common-note-list .fa-comment-o,
.common-note-list .add-comment,
.common-note-list .add-comment span,
.common-note-list .poke .poke-count {
  color: #9D9E9F;
  text-decoration: none;
}
.common-note-list .fa-thumbs-o-up:hover,
.common-note-list .fa-comment-o:hover,
.common-note-list .add-comment:hover,
.common-note-list .add-comment span:hover,
.common-note-list .poke .poke-count:hover,
.common-note-list .fa-thumbs-o-up:focus,
.common-note-list .fa-comment-o:focus,
.common-note-list .add-comment:focus,
.common-note-list .add-comment span:focus,
.common-note-list .poke .poke-count:focus,
.common-note-list .fa-thumbs-o-up:active,
.common-note-list .fa-comment-o:active,
.common-note-list .add-comment:active,
.common-note-list .add-comment span:active,
.common-note-list .poke .poke-count:active {
  color: #9D9E9F;
  text-decoration: none;
}
.common-note-list .poke-count,
.common-note-list .comment-count,
.common-note-list .add-comment span {
  font-size: 13px;
  padding-left: 5px;
  text-decoration: none;
}
.common-note-list .poke-count:hover,
.common-note-list .comment-count:hover,
.common-note-list .add-comment span:hover,
.common-note-list .poke-count:focus,
.common-note-list .comment-count:focus,
.common-note-list .add-comment span:focus,
.common-note-list .poke-count:active,
.common-note-list .comment-count:active,
.common-note-list .add-comment span:active {
  color: #9D9E9F;
  text-decoration: none;
}
.common-note-item {
  padding: 30px 19px 5px 0;
  margin: 0;
}
.poke {
  margin: 5px 0 ;
}
.poke span {
  color: #ccc;
}
.poke.active span,
.poke.active i {
  color: #427EC0;
}
.add-comment {
  margin: 5px 0 0 38px;
}
.add-comment span {
  font-size: 13px;
  padding-left: 5px;
}
.update-note {
  margin: 5px 0;
}
.update-note:before {
  color: #eee;
  content: "|";
  padding: 0 10px;
}
.my-note {
  font-size: 14px;
  margin-right: 20px;
}
/* 发送点评表单 */
.post-note > form {
  /*padding: 5px;*/
}
.post-note > form > textarea {
  /*border: 0;*/
  resize: none;
}
.post-note > form .action {
  /*display: none;*/
  padding: 5px;
}
.post-note > form.active textarea {
  /*border: 1px solid #eee;*/
  min-height: 90px;
}
.post-note > form.active .action {
  display: block;
}
/*.post-note .action .btn-cancel {*/
/*border: 1px solid #ccc;*/
/*}*/
/*.post-note >form .action .btn-post {*/
/*border: 1px solid #ccc;*/
/*}*/
/* 用户页 */
.count {
  color: #db1f77;
}
.nav-user-index {
  border-radius: 0;
  /*border: 1px solid #eee;*/
  border-top: 0;
  margin: 0 15px 15px 15px;
  /*background-color: #FBFBFB;*/
  font-size: 16px;
  min-height: 38px;
  border-bottom: 1px solid #f0f0f0!important;
}
.nav-user-index > ul > li > a {
  border-radius: 0;
  color: #414243;
  padding: 10px 0px;
  margin-right: 40px;
  font-size: 16px;
  /*padding-bottom: 20px;*/
}
.nav-user-index .nav-pills > li:hover > a,
.nav-user-index .nav-pills > li.active > a {
  background-color: #fff;
  /*color: #427ec0;*/
  color: #414243;
  border-bottom: 2px solid #ff1f77;
  /*text-decoration: underline;*/
  /*text-underline: ;*/
}
.sns:after {
  color: #9D9E9F;
  content: " | ";
}
/*.nav-user-index .active >a {*/
/*color: #fff;*/
/*}*/
/* 添加商品页 */
.create-entity {
  background-color: #fff;
}
.entity-exist {
  margin-top: 30px;
  display: none;
}
.add-entity {
  margin-top: 30px;
  /*margin-bottom: 20px;*/
  display: none;
}
.add-entity .title {
  margin-top: 20px;
}
.add-entity-note {
  /*margin: 0;*/
  background-color: #f9f9f9;
  display: none;
}
/* 静态页 */
.sidebar {
  padding: 0 20px 0 20px;
}
@media (max-width: 767px) {
  .sidebar {
    padding: 0 15px 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .event-banner-wrapper {
    overflow-x: hidden;
  }
  /*add by ant*/
  #event_home_banner {
    /*quick implement for sm screen's banner take full screen width*/
    position: relative;
    width: 108%!important;
    left: -4% !important;
  }
  /*for xs screen , user static page,  my items , break line bug fix */
  .nav-user-index > ul > li > a {
    margin-right: 15px;
    font-size: 14px;
  }
}
/*}*/
.nav-sidebar {
  text-align: left;
  font-size: 13px;
  /*removed by An*/
  /*border: 1px solid #eee;*/
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #427ec0;
}
.static-page h4 {
  margin-top: 20px;
  /*add by An , temp for static page*/
  margin-bottom: 10px;
}
/* 下载页 */
.download_bg {
  background: #F7F7F7;
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: -100;
  top: 50px;
}
.download_container {
  margin-top: 95px;
}
.download_container .guoku_into {
  float: left;
  margin-left: 60px;
}
.download_container .download_img {
  float: left;
}
.download_container .guoku_into .title {
  font-size: 28px;
  color: #535353;
  margin-top: 28px;
}
.download_container .guoku_into .intor {
  color: #9D9E9F;
  font-size: 16px;
  margin-top: 24px;
  line-height: 30px;
}
.btn-download {
  /*position: absolute;*/
  /*float: right;*/
  /*bottom: 100px;*/
  height: 40px;
  width: 120px;
  font-size: 18px;
  text-align: center;
  margin-left: 15px;
}
/* 消息页 */
.message-icon {
  width: 25px;
  height: 25px;
  text-align: center;
  background: #427EC0;
  border-radius: 12px;
}
.message-icon > i {
  font-size: 14px;
  color: white;
  line-height: 25px;
}
.message-time {
  padding-top: 10px;
  float: right;
}
.message .message-image {
  max-width: 120px;
}
.message .media-heading {
  margin: 0 0 20px;
}
/* ADD BY An Chen*/
#url_error_msg {
  color: darkred;
}
.input_error_msg {
  color: darkred;
  font-size: 0.9em;
}
.pass_input {
  margin-left: 40px ;
}
.comment-time {
  font-size: 13px;
  color: #9D9E9F;
}
.comment-time:hover {
  color: #9D9E9F;
}
.poke .fa-thumbs-up {
  color: #427ec0;
}
.poke .fa-thumbs-up + span {
  color: #427ec0;
}
#detail_content .like-action .fa-heart {
  color: #FF1F77!important;
}
#detail_content .like-action .fa-heart-o {
  color: #9d9e9f!important;
}
#detail_content .like-action:hover {
  color: #333333!important;
}
#detail_content .like-action {
  color: #333333!important;
}
/*for detail button */
/*for static content*/
.main_static h3 {
  font-size: 22px;
  font-weight: 600;
}
.main_static h4 {
  font-size: 18px;
  font-weight: 600;
}
.main_static a h4 {
  color: #424242;
}
.main_static p a {
  padding: 0px 5px;
}
.main_static p a:after {
  margin-left: 6px;
  content: "\f08e";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 13px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: #c8c8c8;
}
.static-page hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.static-page p {
  margin: 0 0 10px;
}
.static-page ol {
  padding-left: 40px;
}
.user_profile_image {
  margin-left: 50%;
  position: relative;
  left: -66px;
  display: block;
}
.category-header .category-name {
  line-height: 40px;
  margin-left: 15px;
}
.category-header .category-action {
  line-height: 40px;
  margin-right: 15px;
}
.category-action a:hover,
.category-action a {
  color: #414243;
  text-decoration: none;
}
#sort_dropdown {
  top: 40px;
  right: 15px;
}
#sort_dropdown > li > a {
  padding: 5px 15px;
}
.event-item {
  padding: 20px;
}
/*for carousel-guoku  */
#carousel-guoku .left {
  left: -10px;
}
#carousel-guoku .right {
  right: -10px;
}
/*for event page banner border */
.event-item-banner {
  border: 1px solid #e6e6e6;
}
.media-header {
  margin-top: 30px ;
}
.media-cover-list .media-link .article-title {
  font-size: 16px;
  line-height: 24px;
}
.media-cover-list .media-link .article-source {
  font-size: 13px;
  color: #9d9d9d;
  margin-left: 10px;
}
.media-cover-list .media-cover-time {
  float: right;
  font-size: 13px;
  color: #9d9d9d;
  line-height: 24px;
}
.media-cover-list .blank-row {
  height: 20px;
}
/* Add by An Chen end*/
/*body,button,input,select,textarea{font:14px/1.125 Arial,Helvetica,sans-serif;_font-family:"SimSun";}*/
/*h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0; padding:0;}*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
q:before,
q:after {
  content: '';
}
input,
textarea {
  outline-style: none;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
address,
caption,
cite,
code,
dfn,
em,
i,
th,
var {
  font-style: normal;
  font-weight: normal;
}
legend {
  color: #000;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/*公共类 暂时放在这里*/
.fs_14 {
  font-size: 14px;
}
.fs_16 {
  font-size: 16px;
}
.fc_1 {
  color: #9D9E9F;
}
.fc_2 {
  color: #414243;
}
/*a标签的颜色*/
.fc_3 {
  color: #427EC0;
}
.fc_4 {
  color: #ffffff;
}
.bg_c_blue {
  background: #427EC0;
}
.bg_c_gray {
  background: #F7F7F7;
}
/*举报页面*/
.report {
  width: 540px;
  height: 496px;
}
.report_area {
  padding: 40px;
}
.report_area .list {
  padding: 0px;
}
.report_area .list li {
  list-style: none;
  height: 59px;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  line-height: 59px;
}
.report_area .list_detail {
  margin-left: 20px;
}
.report_area .add_other {
  margin-top: 40px;
}
.report_area .textarea {
  padding: 10px;
  height: 80px;
  border-radius: 0;
}
.report .footer {
  border-top: none;
  padding: 0px 40px 40px 0;
  margin-top: -20px;
}
.report .footer .report_submit {
  height: 40px;
  width: 100px;
  border-radius: 0;
}
.right_part {
  margin-top: 78px;
}
.right_part .right_list {
  padding: 0;
}
.right_part .download_part {
  border-top: 1px solid #E6E6E6;
  padding-top: 18px;
}
.right_part .download_link {
  margin-top: 16px;
}
.right_part .download_link img {
  float: left;
  margin-right: 12px;
}
.right_part .download_link p {
  line-height: 20px;
}
.user-main-button .disabled {
  background: #d9d9d9;
  color: #9d9e9f!important;
}
.guoku-social .links .social-link {
  margin-left: 23px;
}
.job-sub-info {
  margin-top: 12px;
  color: #9d9d9d;
}
.sub-agreement-text {
  margin-top: 12px;
  color: #9d9d9d;
}
.link-row .link-item {
  margin: 20px 0px;
  padding: 3px;
}
.link-row .link-item .image-bordered {
  border: 1px solid #dddddd;
}
#reg_form .captcha {
  float: right ;
}
#reg_form .captcha ~ input {
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eee;
  float: left;
}
.password-fields {
  padding-left: 20px;
}
.password-fields img {
  clear: both;
  position: relative;
  left: 5px;
}
.password-fields input {
  width: 200px;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eee;
}
.password-fields #id_captcha_1 {
  position: relative;
  float: left;
}
.password-fields .send-button {
  margin-top: 20px;
}
.mail-result .status,
.mail-result h3 {
  margin-left: 30px;
}
.user-block .button-action {
  color: #357ebd;
  font-weight: 900;
  font-size: 16px;
}
.user-block i {
  color: #357ebd;
}
.user-block i.fa-plus {
  color: #fff;
}
.guoku-link-button {
  display: block;
  width: 100%;
}
.user-tabs {
  padding: 0;
  margin: 0;
}
.user-tabs .active {
  border-bottom: 2px solid #FF1F77;
}
.user-tabs li {
  display: inline-block;
}
.user-tabs li .user-tab-link {
  text-decoration: none;
  text-align: center;
}
#user_article .user-article-item {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #ddd;
  -moz-box-shadow: 0px 0px 2px #ddd;
  box-shadow: 0px 0px 2px #ddd;
  overflow: hidden;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px;
  height: 120px;
}
#user_article .user-article-item .title-wrapper {
  height: 60px;
}
#user_article .user-article-item .title-wrapper .title {
  font-size: 18px;
}
#user_article .user-article-item .info-wrapper .info {
  padding-right: 20px;
  font-size: 13px;
  color: #9D9E9F;
}
#user_article .user-article-item .info-wrapper .edit-link {
  padding-right: 20px;
  color: #357ebd;
}
#user_article .user-article-item .info-wrapper .edit-link i {
  color: #357ebd;
}
@media (min-width: 768px) {
  #detail_content #article_list .article-wrapper {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 2px #ddd;
    -moz-box-shadow: 0px 0px 2px #ddd;
    box-shadow: 0px 0px 2px #ddd;
    overflow: hidden;
  }
  #detail_content #article_list .article-wrapper .title-wrapper {
    padding: 20px;
  }
  #detail_content #article_list .article-wrapper .info-wrapper {
    padding-left: 20px;
  }
  #detail_content #article_list .article-wrapper .content-digest {
    padding: 0px 20px 20px 20px;
  }
}
@media (max-width: 767px) {
  #detail_content #article_list .article-wrapper {
    border-bottom: 1px solid #d5d5d5;
  }
  #detail_content #article_list .article-wrapper .title-wrapper {
    padding: 20px 0px;
  }
  #detail_content #article_list .article-wrapper .info-wrapper {
    padding-left: 0px;
  }
  #detail_content #article_list .article-wrapper .content-digest {
    padding: 0px 0px 20px 0px;
  }
}
.comment_operate .fa {
  font-size: 13px;
}
.note-comment-list .btn-comment,
.note-comment-list .btn-cancel {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#login_user_comment .btn-post,
#login_user_comment .btn-cancel {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media (max-width: 767px) {
  body.event-body {
    background: #F8F8F8;
  }
  #detail_content_left .guess-wrapper {
    margin: 0px 0px;
  }
  #detail_content_left .guess-wrapper #guess_list {
    padding: 3px 0px;
    background-color: #F8F8F8;
  }
  #detail_content_left .guess-wrapper #guess_list .guess-img {
    padding: 3px;
  }
}
@media (min-width: 768px) {
  body.gray-body {
    background-color: #F8F8F8;
  }
  body.white-bogy {
    background-color: #fff;
  }
  #detail_content_left .entity-wrapper {
    background-color: #fff;
    padding: 18px 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 2px #ddd;
    -moz-box-shadow: 0px 0px 2px #ddd;
    box-shadow: 0px 0px 2px #ddd;
  }
  #detail_content_left .guess-wrapper {
    margin: 0px 15px;
  }
  #detail_content_left .guess-wrapper .guess-img {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 2px #ddd;
    -moz-box-shadow: 0px 0px 2px #ddd;
    box-shadow: 0px 0px 2px #ddd;
    overflow: hidden;
    padding: 10px;
  }
  #detail_content_left .related-article-wrapper {
    background-color: #fff;
    padding: 18px 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 2px #ddd;
    -moz-box-shadow: 0px 0px 2px #ddd;
    box-shadow: 0px 0px 2px #ddd;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-top: 10px;
  }
  #detail_content_left .related-article-wrapper .more-article-wrapper {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  #detail_content_left .related-article-wrapper .more-article-wrapper:last-child {
    margin-bottom: 0px;
  }
  #detail_content_left .note-wrapper {
    background-color: #fff;
    padding: 18px 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 2px #ddd;
    -moz-box-shadow: 0px 0px 2px #ddd;
    box-shadow: 0px 0px 2px #ddd;
    margin: 15px 0px;
  }
  #detail_content_left .detail-img-big {
    height: 320px;
    white-space: nowrap;
  }
  #detail_content_left .detail-img-big .main-img {
    vertical-align: middle;
    border: none;
    max-height: 320px;
    max-width: 320px;
    margin: 0 auto ;
  }
}
@media (max-width: 767px) {
  .detail-img-big .main-img {
    display: block;
    width: 100% ;
    max-width: 100%;
    height: auto;
  }
  .entity-selection .img-box a {
    width: 100%;
  }
  #main_article .writer-wrapper.writer-wrapper-control {
    padding-top: 0;
  }
}
#detail_content .share-wrapper {
  margin-top: 60px;
  height: 70px;
}
#detail_content .share-wrapper .report-wrapper {
  float: left ;
  display: inline-block;
  cursor: pointer;
}
#detail_content .share-wrapper .share-intro {
  font-size: 13px;
  margin-bottom: 10px;
  color: #9D9E9F;
}
#detail_content .share-wrapper-short {
  padding-top: 20px;
  margin-top: 10px;
  height: 45px;
}
#detail_content .share-wrapper-short .share-intro-entity {
  color: #9D9E9F;
  font-size: 13px;
  float: right;
}
#detail_content .share-wrapper-short .jiathis_style {
  float: right;
}
#detail_content .share-wrapper-short .entity-share-wrapper {
  float: right;
  font-size: 14px;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item {
  display: inline-block;
  text-decoration: none;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item a {
  color: #ffffff;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item a:hover {
  cursor: pointer;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item-weixin {
  position: relative;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item-weixin a {
  background-color: #51C332;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item-weixin a:hover .display-toggle {
  display: block;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item-weixin a .wechat-qrcode-wrapper {
  position: absolute;
  bottom: 50px;
  left: -50%;
  transform: translateX(-22%);
  padding: 10px 9px;
  background-color: #fff;
  box-shadow: 0px 0px 2px #ddd;
  display: none;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item-weixin a .wechat-qrcode-wrapper:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 46%;
  transform: translateX(-20%);
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item-weixin a .wechat-qrcode-wrapper .bottom-bot {
  position: absolute;
  bottom: -10px;
  left: 46%;
  transform: translateX(-20%);
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #ddd transparent transparent transparent;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item-weibo a {
  background-color: #E90D24;
}
#detail_content .share-wrapper-short .entity-share-wrapper ul li.list-item-qq a {
  background-color: #3199DD;
}
#detail_content .share-wrapper-control {
  margin-top: 40px;
  padding-top: 0;
}
#detail_content .divider {
  margin-bottom: 20px;
  height: 2px;
  border-bottom: 1px solid #F8F8F8;
}
#detail_content .brand-intro .brand-name {
  font-size: 18px;
  margin-bottom: 10px;
}
#detail_content .brand-intro .brand-intro-words {
  color: #9D9E9F;
  margin-bottom: 10px;
}
.main-article .writer-wrapper.writer-wrapper-control {
  position: relative;
}
.main-article .writer-wrapper.writer-wrapper-control .article-user-follow {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0;
  margin-left: 8px;
  width: auto;
  float: none;
}
.main-article .writer-wrapper.writer-wrapper-control .write-pre {
  margin-bottom: 10px;
}
.main-article .writer-wrapper.writer-wrapper-control .writer-intro .writer-name {
  font-size: 18px;
}
.main-article .writer-wrapper.writer-wrapper-control .writer-intro .writer-authorized {
  margin-left: 8px;
}
.main-article .writer-wrapper.writer-wrapper-control .writer-intro .writer-bio {
  color: #9D9E9F;
  font-size: 13px;
}
.main-article .writer-wrapper.writer-wrapper-control .writer-intro .writer-bio.writer-bio-control {
  max-width: 460px;
}
.main-article .writer-wrapper.writer-wrapper-control .writer-intro .writer-bio .weixin-id {
  line-height: 30px;
}
@media (max-width: 400px) {
  .main-article .writer-avatar {
    max-width: 45px!important;
  }
  .main-article .writer-avatar .avatar-wrapper .user-avatar {
    width: 40px!important;
    height: 40px!important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
    -moz-background-clip: padding !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
  }
}
@media (min-width: 768px) {
  .main-article {
    background-color: #fff;
    padding: 18px 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 2px #ddd;
    -moz-box-shadow: 0px 0px 2px #ddd;
    box-shadow: 0px 0px 2px #ddd;
  }
  .main-article .writer-intro {
    padding-top: 0px;
  }
  .main-article .writer-intro .writer-bio {
    padding-right: 40px;
  }
  .main-article .writer-avatar {
    max-width: 77px;
  }
  .main-article .writer-avatar .avatar-wrapper .user-avatar {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .article-onepage .more-article-wrapper {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 2px #ddd;
    -moz-box-shadow: 0px 0px 2px #ddd;
    box-shadow: 0px 0px 2px #ddd;
    overflow: hidden;
  }
  .article-onepage .more-article-wrapper .cover-wrapper a {
    display: block;
    padding: 8px;
  }
  .article-onepage .more-article-wrapper .title-wrapper {
    padding-top: 10px;
  }
  .article-onepage .more-article-wrapper .title-wrapper a {
    color: #424242;
  }
  .article-onepage .more-article-wrapper .title-wrapper a:hover,
  .article-onepage .more-article-wrapper .title-wrapper a:focus {
    color: #424242;
    text-decoration: underline;
  }
  .article-onepage .more-article-wrapper .title-wrapper .title {
    padding: 5px 15px;
    font-size: 22px;
  }
  .article-onepage .more-article-wrapper .article-digest {
    padding: 10px 15px 15px 15px;
    font-size: 13px;
    color: #9D9E9F;
  }
}
@media (max-width: 767px) {
  .main-article .writer-intro {
    padding-top: 0px;
  }
  .main-article .writer-avatar {
    max-width: 77px;
  }
  .main-article .writer-avatar .avatar-wrapper .user-avatar {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .more-article-wrapper .title-wrapper {
    padding-top: 5px;
  }
  .more-article-wrapper .title-wrapper .title {
    padding: 10px 13px 0px 13px;
    font-size: 15px;
    font-weight: 800;
  }
  .more-article-wrapper .title-wrapper .article-digest {
    display: none;
  }
  .article-section-title {
    padding-top: 30px;
  }
  .article-section-title .info-text {
    padding-left: 15px;
    border-left: 4px solid #9D9E9F;
    position: relative;
    left: -15px;
    font-size: 13px;
    color: #9D9E9F;
  }
}
.article-section-title {
  margin: 20px 0px;
  font-size: 18px;
}
.download-link a:hover {
  text-decoration: underline;
}
.screen-cover {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: none;
}
.screen-cover .screen-cover-bk {
  background-color: #555;
  opacity: 0.5;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.bind-problem {
  font-size: 13px;
  padding-left: 20px;
  font-weight: 600;
}
.main-article .info-wrapper .read {
  display: none;
}
#article_list .info-wrapper .read {
  visibility: hidden;
}
.user-page-up {
  background-repeat: repeat-x;
}
.user-page-up .user-name {
  margin: 20px 0px;
  font-size: 18px;
}
.user-page-up .user-bio {
  display: block;
  max-width: 550px;
  margin: 0 auto ;
}
.user-page-up .user-social {
  margin-top: 20px;
}
.user-page-up .user_profile_image img {
  width: 132px;
  height: 132px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tag-app-wrapper {
  display: none;
}
.contact-info-wrapper {
  margin-top: 50px;
}
.contact-info-wrapper .contact-line {
  font-size: 14px;
  margin-left: 24px;
  margin-top: 10px;
}
.contact-intro-head {
  margin: 0px 0px 10px 0px;
}
.contact-list {
  margin-bottom: 10px;
}
html {
  overflow-y: scroll;
}
.entity-selection-body .entity-selection .img-box {
  height: auto;
  padding: 0;
}
.entity-share-wx-dialog .modal-dialog {
  width: 250px;
  height: auto;
  margin-top: 150px;
}
.entity-share-wx-dialog .modal-dialog .modal-header {
  display: none;
}
.entity-share-wx-dialog .modal-dialog .qr-code-wrapper.qr-code-control {
  text-align: center;
}
.form-title {
  margin-bottom: 30px;
}
.form-horizontal .form-group .input-control {
  max-width: 400px;
}
.test {
  color: red;
}
