@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/widgets.less";

//common class
.store-row{
  margin-top:40px;
  margin-bottom:40px;
}

.store-body{
  .store-top-banner{
    margin-top:-30px;
    width:100%;
    height:120px;
    background-size: cover;
    background-repeat: no-repeat;
    //background-color: #ffffff;
    //background-position: center center;

}
  .latest-actions-wrapper{

  //授权用户动态边栏 复用原来的
  .latest-actions-sidebar-wrapper{
    height:100%;
    //overflow-y: auto;

    .latest-actions-list{
      .user-tag-list{
        border-bottom: 0 !important;
        .section-title.section-title-control{
          border-left-color:#ffffff;
        }
      }
      ul{
        li{
          margin-bottom: 10px;
          font-size:@smaller-primary;
          a{
            &:hover{
              cursor: pointer;
              color: #428bca;
            }
          }
        }
      }
    }

  }

  //授权用户最新一篇文章
  .user-latest-article-wrapper{
    .user-latest-article-intro-wrapper{
      height:52px;
      margin:25px 15px;
      overflow: hidden;

      .rect-decoration{
        float:left;
        margin-right:15px;

      }
      .user-latest-article-title-wrapper{
        margin-left:67px;
        min-height:52px;
        max-height:52px;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .user-info-section-title{
          font-size: @more-mini-size;
        }
        a{
          &.user-latest-article-title{
            font-size:@subtitle-size;
            color: @common-text-color;
          }
          &:hover{
              text-decoration: none;
              cursor: pointer;
            }
        }
      }
    }

  }

}
  .select-condition-wrapper .select-condition{
    //needs to adjust
    padding:0 10px;
    background-clip:content-box;
    background-color: #f3f3f3;
    #top_article_tags_container{
      margin-bottom: 0px;
    }
    .category-wrapper{
      margin:16px 0px 20px 20px;
    }
    .type-wrapper{
      margin:20px 0px 16px 20px;
    }
    .category-title,.category-item,.type-title,.type-item{
      display: inline-block;
  }

  }

  .consumption-report-wrapper{
    margin-bottom: -40px;
    width:100%;
    height:50px;
    line-height:50px;
    background-color: #ffffff;

    .consumption-report{
      margin-left:15px;
      float: right;
      &:after{
        content:"";

      }
    }

  }

}
