@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/widgets.less";


@section-title-size: 32px;
@common-text-shadow: 1px 1px 1px #333;
//reset
ol{
  padding:0;
}

@wechat-hover-color:#51C332;

@weibo-hover-color:#E90D24;

@qq-hover-color:#3199DD;

@download-intro-text-color:#414243;

@download-app-text-color:#4188DC;

@year-seller-share-btn-border-radius:30px;

@modal-weibo-share-btn-hover-bg:#F14460;
@modal-qq-share-btn-hover-bg:#58ABE1;

@year-seller-star-color:#FFD700;

.year-seller-modal-share-btn{
  width:200px;
  height:46px;
  line-height: 46px;
  text-align: center;
  color:#ffffff;
  font-size: @primary-size;
  border-radius: @year-seller-share-btn-border-radius;
}



//.white-space-fix{
//  margin-right:-4px;
//}

//year-selller page share-btn
@seller-btn-color:#4188DC;

//year-seller page common class
.fa-star-o-size{
  font-size:14px;
}

.seller-body{
  padding:0;
  //background-color: @very-light-gray;
  .top-ad{
    display:none;
  }
  .seller-cross-screen{
    //to make the white distance,so use padding instead of margin
    padding-top:90px;
    padding-bottom:20px;
    width:100%;
    height:auto;
    background-color: #fff;

    -webkit-background-size:contain;
    background-size:contain;
    background-position: 0 0;
    background-repeat: no-repeat;


   .seller-banner-wrapper{

    //solve the horizontal scroll bar
    margin:0;
    .banner-bgpic-wrapper{
      img{
        &.img-control{
          margin:0 auto;
          width:518px;
        }
      }
    }
    .share-btn-wrapper{
      margin-top:30px;
      text-align: center;
      a{
        &.share-btn{
          display:inline-block;
          width:120px;
          height:46px;
          line-height: 46px;
          text-align: center;
          border:1px solid @seller-btn-color;
          color:@seller-btn-color;
          border-radius:@year-seller-share-btn-border-radius;
          &:hover{
            text-decoration: none;
            color:#ffffff;
            background-color: @seller-btn-color;
            cursor: pointer;
          }
      }
      }

    }
    .sections-titles-wrapper{
      &.hidden_nav{
        display:none;
      }
      margin-top: 30px;
      &.detach{
            .acc-layer;
            position: fixed;
            background: #fff;
            z-index: 100;
            top: 0px;
            margin: 0;
            padding: 20px 0px 0px;
            .box-shadow(@global-box-shadow);
            box-shadow: 1px 1px 3px #ddd;
      }
      .sections-titles-nav{
        text-align:center;
        ul{
          li{
            display: inline-block;
            .section-title{

              color:@common-text-color;
              a{
                &:hover{
                  cursor: pointer;
                }
              }
            }
            span{
              padding: 0 10px;
              //color:#F8E71C;
            }
          }
        }
      }

    }
  }
}

//fixed share sidebar
.seller-sidebar-wrapper{
  .acc-layer;
  position:fixed;
  bottom:100px;
  right:0;
  width:60px;
  height:148px;
  background-color: #fff;
  padding:5px;
  z-index: 1000;
  //.border-radius;
  border-top-left-radius: @global-box-radius;
  border-bottom-left-radius: @global-box-radius;
  .drop-shadow;

  .seller-sidebar{
    width:100%;
    height:100%;
      .list-item{
        width:100%;
        height:46px;
        line-height: 46px;
        text-align: center;
        border-radius: 2px;
        &.list-item-weixin{
          a{
            color:@wechat-hover-color;
            &:hover{
              background-color: @wechat-hover-color;
            }
          }
        }
        &.list-item-weibo{
          a{
            color:@weibo-hover-color;
            &:hover{
            background-color: @weibo-hover-color;
          }
          }
        }
        &.list-item-qq{
          a{
            color:@qq-hover-color;
            &:hover{
              background-color: @qq-hover-color;
            }
          }
        }
        a{
          display: inline-block;
          width: 100%;
          .border-radius;
          &:hover{
            cursor:pointer;
            color:#fff;
            text-decoration: none;
          }
           i{
             font-size: @subtitle-size;
          }
        }

      }
 }
}



//main content's style

.seller-page-container{
  //为了横屏布局,只能覆盖BOOTSTRAP里的container
  width:100%;
  //padding-top:60px;
  background-color: @very-light-gray;
   .sections-item-wrapper{
     .sections-item-intro-wrapper{
       overflow: hidden;
       .section-intro-bg-layer{
//         transition: all 0.5s;
         position: absolute;
         left: 0;
         top: 0;
         width: 140%;
         height: 200%;
         .acc-layer;
         background-position: center;
         background-size:150%;
         background-repeat: no-repeat;
         //background-position-y: 0px;
       }



       position:relative;
       margin-bottom:30px;


       height:400px;
       color:#ffffff;

       .img-handle{
         position:absolute;
         left:0;
         top:0;
         width:100%;
         height:100%;

       }
         .sections-item-title{
           margin-top: 100px;
           text-align: center;
          h3{
           font-size: @section-title-size;
           text-decoration: none;
            text-shadow: @common-text-shadow;
         }
       }

       .sections-item-desc{
          margin-top:50px;
        p{
          margin: 0 auto;
          max-width:400px;
          font-size: @smaller-primary;
          text-shadow: @common-text-shadow;
        }
     }

     }


     .sections-item-goods-wrapper{
       margin-bottom: 50px;
       padding:0;
       .goods-container{

         ul{
           text-align: center;
           line-height:12px;
           li{
             display: inline-block;
             padding:2px;
             background-color:@very-light-gray;
             a{
               display: inline-block;
               width: 100%;
               height: 0;
               padding-bottom:100%;

               &:hover{
                 cursor: pointer;
               }
               img{


               }
             }
           }
       }

       }

     }
     .sellers-wrapper{
       //padding-left: 0px;
       padding-bottom:30px;
       a{
         display: inline-block;
         width:100%;
         height:auto;
         &:hover{
           cursor: pointer;
         }
         .sellers-logo{
           margin:0 auto;

         }

       }
       .sellers-desc{
         p{
           padding-top:10px;
           font-size: @smaller-primary;
           height:73px;
           max-width:245px;
           margin:0 auto;
           //solve several lines'texts overflow
           //only support webkit browser
           .multiple-text-overflow(3);
         }

       }
       .score{
         text-align: center;
         height:20px;
         margin-top:15px;
         margin-bottom: 20px;
         //ol & ul all have the user agent stylesheet:-webkit-padding-start:40px;
         //padding-right:40px;
         ol{
           li{
             display: inline-block;
             i{
               color: @year-seller-star-color;

             }
           }
         }
       }
       .sellers-share{
         height:20px;
         margin-top:15px;
         margin-bottom: 20px;
         text-align: center;
         ul{
           li{
             display: inline-block;
             a{
               i{
                 color:@light-gray;
                 margin-right: 5px;
                  &.fa-qq:hover{
                     &.qq-hover{
                      color: @qq-hover-color;

                 }

                   }
                  &.fa-weibo:hover{
                     &.weibo-hover{
                     color: @weibo-hover-color;

                 }

                   }
                 &.fa-wechat:hover{
                   &.wechat-hover{
                     color:@wechat-hover-color;
                 }

                 }
               }
             }
           }
         }
       }
     }
     .sellers-wrapper{
       &.sellers-wrapper-control{
         //padding-top:18px;
         //padding-bottom:40px;
         .sellers-desc p{
           height:50px;
           text-align: center;
           .multiple-text-overflow(2);
         }
       }
     }
   }

  //add sctions-item-background-pic

  .popular-shops-title-wrapper{
    margin-top:60px;
    margin-bottom: 50px;
    .popular-shops-title{
      p{
        font-size:24px;
        text-align: center;
      }

    }
  }

  .popular-shops-wrapper{
    margin-bottom:70px;
    .popular-shop-item-wrapper{
      margin-bottom: 30px;
      .popular-shop-item{
          .panel;
//        padding:10px 15px;
//        background-color: #ffffff;
//        background-clip: padding-box;
//        border-radius: 4px;
//        box-shadow: 0 0 2px @border-gray;
//        text-align: center;
      //padding:20px 30px;
      .popular-shop-logo-wrapper{
        display: inline-block;
        width:52px;
        height:52px;
        vertical-align: middle;
        .popular-shop-logo{
          margin:0 auto;
        }

      }
      .popular-shop-info{
        width:60%;
        float:right;
        height:52px;
        vertical-align: middle;
        margin-left: 15px;
        text-align: center;
        .popular-shop-name{
          //
          text-align:left;
          color:@common-text-color;
           text-overflow:ellipsis;
           overflow: hidden;
           white-space: nowrap;
        }
        .star-level{
         ol{
           text-align:left;
           li{
             display: inline-block;
             .popular-shop-star{
               color:@year-seller-star-color;
               font-size:14px;
             }
           }
         }
        }

      }
    }
      }
  }

  .download-intro-wrapper{
    .download-intro{
      text-align: center;
      font-size: @smaller-primary;
      color: @download-intro-text-color;
    }
  }

  .download-guoku-qrcode-wrapper{
    margin-top:20px;
    margin-bottom:30px;
    text-align: center;
    .download-guoku-qrcode{
      width:140px;
      height:140px;
    }
  }

  .download-app-intro-wrapper{
    .download-app-intro{
       text-align: center;
       font-size: @smaller-primary;
       color: @download-intro-text-color;
    }
  }

  .download-app-addr-wrapper{
    margin-bottom: 50px;
    .download-app-addr{
      text-align: center;
      ul{
        li{
          display: inline-block;
          font-size: @smaller-primary;
          color:@download-app-text-color;
          a{
            &:hover{
              text-decoration: none;
            }
          }
          span{
            padding:0 3px;
            color:@common-gray;
          }
        }
      }
    }

  }
}
}
.new-seller-body{
  &.new-seller-body-control{
    padding-top:50px;
    .category-sort-wrapper{
      margin-top:7px;
      margin-bottom:7px;
      box-shadow:none;
    }
  }
  #top_article_tags_container{
    .top-article-tag{
      margin-bottom:5px;
    }
    .tag-element {
        .new-hot-round-tag;
    }
  }
  #seller_2016_nav{
    .acc-layer;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:50px;
    line-height: 50px;
    background: #fff;
    z-index: 1000;
    .box-shadow(@global-box-shadow);
    box-shadow: 1px 1px 3px @border-gray;
    .logo-wrapper{
      display: inline-block;
      margin-right:98px;
    }
    .nav-wrapper{
      display: inline-block;
      text-align:center;
      ul{
        li{
          display: inline-block;
          margin-right:60px;
          &:last-child{
            margin-right:0;
          }
          &.active{
            .box-shadow(0 2px 0 0 rgba(33, 33, 33, 1));
            .section-title{
              color:@common-text-color;
            }
          }
          .section-title{
            color:@new-text-gray;
            text-decoration: none;
            &:hover{
              cursor: pointer;
              color:@common-text-color;
            }
          }
        }
      }
    }

  }
  .seller-cross-screen{
    padding-top:94px;
    padding-bottom: 0;
    .seller-banner-wrapper{
      .sections-titles-wrapper{
        margin-top:124px;
        height:50px;
        line-height: 50px;
        &.detach{
           padding:0;
           z-index:1000;
        }
        .sections-titles-nav ul{
          li{
          margin-right:60px;
            .section-title{
              text-decoration: none;
              color:@new-text-gray;
              span{
                padding:0;
              }
            }
            &.active{
              .box-shadow(0 2px 0 0 rgba(33, 33, 33, 1));
              .section-title{
                color:@common-text-color;
              }
            }
          }
          li:last-child{
            margin-right:0;
          }
        }
      }
    }
  }
  .seller-page-container{
    background-color: #ffffff;
    .sections-item-wrapper{
      .sections-item-intro-wrapper{
        &.shops-section-bg-wrapper{
          height:200px;
          margin-bottom:0;
          #index_shops_bg_wrapper{
            width:100%;
            height:100%;
            margin:0;
            .slick-prev:before, .slick-next:before {
              display: none;
            }
            .shops-bg{
              position: absolute;
              left: 0;
              top: 0;
              width: 140%;
              height:200px;
              .acc-layer;
              background-position: center;
              background-size:cover;
              background-repeat: no-repeat;
            }
          }
          .section-intro-bg-layer{
            width:100%;
            height:100%;
            background-size: cover;
          }
          .dark-bg-layer{
            .custom-bg-layer;
            background-color: rgba(0,0,0,0.1);
          }
          .sections-item-title{
            margin-top:0;
            position: absolute;
            top:50%;
            .transform(translateY(-50%));
            .title img{
              width: 310px;
              height:auto;
            }
            .see-all img{
              width:96px;
              height:auto;
              margin-top:16px;
            }
          }
          .shops-breadcrumb-container{
            margin-top:24px;
            #sort_header-wrapper{
              .category-breadcrumb-wrapper{
                a{
                  color:#ffffff;
                }
                ul li,.fa{
                  color:@gray-light;
                }
              }
            }
          }
        }
      }
      .new-sections-item-intro-wrapper{
        margin-top:80px;
        margin-bottom:40px;
        text-align: center;
          img.subtitle-pic{
            width:100%;
            max-width:780px;
            &.see-all-visible{
              display: none;
            }
          }
        .sections-item-title:hover{
          img.subtitle-pic{
            &.hidden-subtitle{
              display: none;
            }
            &.see-all-visible{
              display: inline-block;
            }
          }
        }
      }
      .shops-intro-wrapper{
        background-color: @very-light-gray;
        &.section-intro-wrapper{
          background-color: @panel-background-color;
        }
        p{
          width: 60%;
          max-width:780px;
          padding:42px 0;
          margin:0 auto;
          font-size: @smaller-primary;
          line-height: 24px;
        }
      } 
      .shops-slick-wrapper,.opinions-slick-wrapper,.columns-wrapper{
        overflow: hidden;
        .slick-prev:before,.slick-next:before{
          font-family: "FontAwesome";
          font-size: @primary-size;
          color:@common-text-color;
        }
        .slick-prev{
          left:0;
          &:before{
            content:"\f053";
          }
        }
        .slick-next{
          right:0;
          &:before{
            content:"\f054";
          }
        }
        .slick-list{
          overflow: hidden!important;
          .slick-slide{
            &:active,&:focus,&:hover{
              border: none!important;
              box-shadow: none!important;
              outline: none;
            }
            a{
              &link,&:active,&:hover,&:focus{
                border: none!important;
                box-shadow: none!important;
                outline: none;
              }
            }
          }
        }
      }
      .shops-slick-wrapper,.shops-wrapper{
        margin-top:40px;
      }
      .opinions-wrapper{
        .opinion-cell{
          padding-top:24px;
          text-align: center;
          a{
            color:@common-text-color;
          }
          .logo-wrapper{
            img{
              width:80px;
              height:80px;
              border-radius: 50%;
              border:1px solid @border-gray;
              margin:0 auto;
            }
          }
          p.name{
            margin:20px 0;
            //font-size:20px;
            line-height:1.2;
            text-align: center;
            .single-text-overflow;
          }
        }
      }
      .opinions-section{
        margin-bottom:40px;
        .opinions-section-title{
          font-size:20px;
          line-height:1.1;
          font-weight:@new-font-weight;
          margin-top:0;
          margin-bottom:0;
        }
      }
      .columns-wrapper{
        margin-bottom:88px;
        .slick-prev:before,.slick-next:before{
          font-size:48px;
        }
        .column-cell-wrapper{
          .column-cell{
            margin:0 auto;
            max-width: 780px;
            padding:24px 32px 40px;
            .column-main-content{
              overflow: hidden;
              .article-introduce-wrapper{
                width:50%;
                float:left;
                padding-right:32px;
                .article-title-wrapper{
                  margin-bottom:16px;
                  font-size:@big-title-size;
                  line-height:36px;
                  font-weight: @new-font-weight;
                  .multiple-text-overflow(2);
                  a{
                    color:@common-text-color;
                  }
                }
                .article-summary-wrapper{
                  .article-summary{
                    color: @new-text-gray;
                    font-size:@smaller-primary;
                    line-height: 22px;
                    .multiple-text-overflow(4);
                  }
                }
              }
              .article-cover-wrapper{
                width:50%;
                float:right;
                .article-cover{
                  .normal-scale-bg;
                }
              }
            }
          }
        }
        .more-info-wrapper{
          width:100%;
          height:40px;
          line-height:40px;
          font-size:@smaller-primary;
          .author-logo{
            width:40px;
            height:40px;border-radius: 50%;
            display: inline-block;
            margin-right:14px;
          }
          .time{
            color:@new-text-gray;
          }
        }
      }
      #top_article_tags_container{
        margin-bottom: 40px;
      }
    }
    .bottom-info-container{
      padding:60px 0 90px;
      background-color: @very-light-gray;
    }
    .download-app-addr-wrapper{
        margin-bottom:0;
      }
    .cooperate-media-wrapper{
      margin-top:60px;
      text-align: center;
      .cooperate-media-title{
        margin-bottom:20px;
        font-size: @smaller-primary;
      }
      .media-logo{
        margin-right:50px;
        text-decoration: none;
      }
      .media-logo:last-child{
        margin-right:0;
      }
    }
  }
  .topic-tag-desc-wrapper{
    .tag-desc{
      font-size:@more-mini-size;
      color:@new-text-gray;
    }
  }
  #guoku_footer{
    margin-top:0;
    background-color: #1D192D;
  }
}

//model style
.page-share-dialog{
  .modal-dialog{
    .modal-content{
      //bs's modal-content has 6px border-radius
      //to solve the background pic blocks the border-radius
      overflow:hidden;
      .modal-header{
        display: none;
      }
      .modal-body{
        padding:0px;
        .share-modal-wrapper{
          &.share-modal-wrapper-control{
            background-size: cover;
            //background-position:center;
            padding-top:190px;
            margin-bottom: 60px;
          .qr-code-wrapper{
            margin-bottom: 10px;
            &.qr-code-control{
              text-align: center;
            }

          }
          .weibo-share-btn-wrapper-control{
            .pg-weibo-share-btn{
              display: block;
              cursor:pointer;
              margin:0 auto;
              margin-bottom:10px;
              text-decoration: none;
              &:hover{
                color:white;
              }
            }
          }
          .qq-share-btn-wrapper-control{
            .pg-qq-share-btn{
              display:block;
              cursor: pointer;
              margin:0 auto;
              margin-bottom:20px;
              text-decoration: none;
              &:hover{
                color:white;
              }
            }
          }
          .share-btn-wrapper{
            .pg-weibo-share-btn{
              &.pg-weibo-share-btn-bgc{
                background-color: @weibo-hover-color;
                
                &:hover{
                  background-color: @modal-weibo-share-btn-hover-bg;
                }
              }

            }
            .pg-qq-share-btn{
              &.pg-qq-share-btn-bgc{
                background-color: @qq-hover-color;
                &:hover{
                  background-color: @modal-qq-share-btn-hover-bg;
                }
              }
            }
          }

          }
        }

      }
    }
  }

}

.seller-share-wx-dialog{
  .modal-dialog{
    width:250px;
    height:auto;
    margin-top:150px;

     .modal-header{
    display: none;
  }

     .qr-code-wrapper{

       &.qr-code-control{
         text-align:center;
       }
  }
  }

}


//put media query at bottom

@media screen and (min-width:992px) and (max-width:1200px){

  .seller-body{
    .seller-cross-screen{
      background-size:cover;
      -webkit-background-size:cover;
    }
  }

  .seller-page-container{
    width:970px;
    .sections-item-goods-wrapper,.sections-item-sellers-wrapper,.popular-shops-wrapper{
      //width:970px;
      margin:0 auto;
    }
  }
  .new-seller-body{
    #seller_2016_nav{
      .logo-wrapper{
        margin-right:32px;
      }
      .nav-wrapper ul li{
        margin-right: 16px;
      }
    }
  }
}

@media screen and (min-width:1200px){

  .seller-body{
    .seller-cross-screen{
      background-size:cover;
      -webkit-background-size:cover;
    }
  }

  .seller-page-container{
    //width:100%;
    //max-width:1280px;

    .sections-item-wrapper{
      .sections-item-goods-wrapper{
        width:100%;
        max-width:1280px;
        margin:0 auto;
        .goods-container{
            ul{
              width:100%;
              margin:0 auto;
              li{
                width:10%
                //width:107px;
                //height:107px;
                //width:110px;
                //height:110px;
                //margin-right: 5px;
                  }
                }
        }
      }

      .sections-item-sellers-wrapper{
        width:1170px;
        margin-left:auto;
        margin-right:auto;
        .sellers-wrapper{
          .sellers-logo{
            max-width: 245px;
          }
        }
      }
    }
    .popular-shops-wrapper,.opinions-wrapper,.opinions-section-title-wrapper,.columns-wrapper,#top_article_tags_container,#new_selection_article_list{
      max-width: 1170px;
      margin:0 auto;
    }
    //.popular-shops-title-wrapper{
    //  .popular-shops-title{
    //    p{
    //      letter-spacing: 12px;
    //    }
    //  }
    //}
  }

}

@media screen and (min-width:768px) and (max-width: 1200px){
   .seller-page-container{
    .sections-item-wrapper{
      .sections-item-goods-wrapper{
        .goods-container{
             ul{
              width:100%;
              li{
                width:10%;

                  }
             }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .seller-page-container{
    .sections-item-wrapper{
      .sections-item-goods-wrapper{
        .goods-container{
              ul{
              width:100%;
              margin:0 auto;
              li{
                width: 20%;
              }
            }
        }
      }
    }
  }

  //weixin modal dialog

  .seller-share-wx-dialog{
  .modal-dialog{
    margin:150px auto;
  }

  }
}

@media screen and (min-width:768px) {

    .section-title {
      &.section-first-title {
        &:after {
          content: " DELICACY";
        }
      }
      &.section-second-title {
        &:after {
          content: " CULTURE";
        }
      }
      &.section-third-title {
        &:after {
          content: " LOOKS";
        }
      }
      &.section-forth-title {
        &:after {
          content: " LIFESTYLE";
        }
      }

    }

  //   change the sellers style
    .seller-page-container{

       .sections-item-sellers-wrapper{
    .sellers-wrapper{
      .sellers-share-visible{
        display: none;
      }

      &:hover{
        .score-hidden{
          display: none;
        }

        .sellers-share-visible{
          display: block;
        }

      }
    }
  }
       .popular-shops-title-wrapper{
         .popular-shops-title{
           p{
             letter-spacing: 12px;
          }
        }
      }
    }

  }

@media screen and (max-width:768px){
    .seller-body{
      .sections-titles-wrapper{
        .section-title{
          color:@common-text-color;
          font-size: @smaller-primary;
        }
      }

       .seller-sidebar-wrapper{
      &.seller-sidebar-hidden{
        display: none;
      }
    }

       .seller-page-container{
       //background-color: @very-light-gray;
       //to solve the bug that max-width:768px ,the footer has margin-top:40px;the color is white,not light gray.
       margin-bottom: -40px;
       //use padding to make 40px light gray distance.
       padding-bottom: 40px;

      .sections-item-wrapper{
         padding-top: 0;
         margin-bottom: 30px;
        .sections-item-intro-wrapper{
          height:240px;
          .sections-item-title{
            margin-top:80px;
          }
          .sections-item-desc{
              p{
                padding:0px 30px;
                display :none;
              }

          }

        }

        .sections-item-goods-wrapper{

          margin-bottom:20px;



        }
        .sections-item-sellers-wrapper{
          .sellers-wrapper{
            .score-hidden{
              display: none;
            }
            .sellers-share-visible{
              display: block;
            }

          }
        }

      }

    }
    }
    .new-seller-body{
      .seller-cross-screen{
        background-size: 122%;
        background-position: 50% 0;
        .seller-banner-wrapper{
          .sections-titles-wrapper{
            margin-top:30px;
            .sections-titles-nav{
              ul li{
                margin-right:18px;
              }
            }
          }
        }
      }
      .seller-page-container{
        .sections-item-wrapper{
          .sections-item-intro-wrapper{
            &.shops-section-bg-wrapper{
              height:150px;
              .sections-item-title{
                .title img{
                  width:220px;
                }
              }
            }
          }
          .shops-intro-wrapper p{
            width:100%;
            padding:16px 0;
          }
          .new-sections-item-intro-wrapper{
            margin-top:0;
            margin-bottom:16px;
          }
          .columns-wrapper{
            margin-bottom:0;
          }
        }
        .shops-slick-wrapper{
          .slick-list{
            padding-right:90px;
          }
        }
        .opinions-slick-wrapper .slick-list{
          padding-right:75px;
          .opinion-cell{
            .logo-wrapper img{
              width:45px;
              height:45px;
            }
            p.name{
              font-size:@smaller-primary;
            }
          }
        }
      }
    }
}

 //fix popular shops responsive bug
@media screen and (min-width: 768px) and (max-width: 992px){
  .seller-body{
    .seller-page-container{
      .popular-shops-wrapper{
        .popular-shop-item-wrapper{
          .popular-shop-item{
            text-align: center;
            .popular-shop-info{
              margin-left:0;
              width:100%;
              .popular-shop-name{
                text-align: center;
              }
              .star-level{
                ol{
                  text-align: center;
                }
              }

            }

            .popular-shop-logo-wrapper{
              margin:0 auto;
              margin-top:10px;
            }
          }
        }
      }
    }
  }
  .new-seller-body{
    .seller-page-container{
      .opinions-wrapper .slick-list{
        padding-right:110px;
      }
    }
    #seller_2016_nav{
      .logo-wrapper{
        margin-right:32px;
      }
    }
  }
}

@media screen and (min-width: 580px) and (max-width: 768px){
  .seller-body{
    .seller-page-container{
      .popular-shops-wrapper{
        .popular-shop-item-wrapper{
          .popular-shop-item{
            padding:18px 35px;
          }
        }
      }
    }
  }

  //model style
.page-share-dialog{
  .modal-dialog{
    .modal-content{
      .modal-body{
        .share-modal-wrapper{
          &.share-modal-wrapper-control{
            padding-top:30%;
            margin-bottom: 10%;
          }
        }
      }
    }
  }
}
}

@media screen and (max-width: 580px){
  .seller-body{
    .seller-cross-screen{
      .seller-banner-wrapper{
        .sections-titles-wrapper{
          .sections-titles-nav{
            ul{
              li{
                span{
                  padding:0 1px;
                }
              }
            }
          }
        }
      }
    }
    .seller-page-container{
      .sections-item-desc{
         display:none;
      }
      .popular-shops-wrapper{
        .popular-shop-item-wrapper{
          .popular-shop-item{
            text-align: center;
            .popular-shop-info{
              margin-left:0;
              width:100%;
              .popular-shop-name{
                text-align: center;
              }
              .star-level{
                ol{
                  text-align: center;
                }
              }


            }

            .popular-shop-logo-wrapper{
              margin:0 auto;
              margin-top:10px;
            }
          }
        }
      }
    }
  }
  .new-seller-body{
    .seller-cross-screen{
      padding-top:35px;
      .seller-banner-wrapper{
        .banner-bgpic-wrapper img.img-control{
          width:222px;
        }
        .sections-titles-wrapper{
          margin-top:0;
        }
      }
    }
     #top_article_tags_container{
      margin-bottom: 0;
    }
    #seller_2016_nav .nav-wrapper ul li{
      margin-right:24px;
    }
    .seller-page-container{
      .sections-item-wrapper{
        .columns-wrapper .column-cell-wrapper .column-cell{
          padding:0 9px 32px;
          .column-main-content .article-introduce-wrapper .article-title-wrapper{
            font-size:@subtitle-size;
          }
        }
        .sections-item-intro-wrapper.shops-section-bg-wrapper{
          height:80px;
          .shops-breadcrumb-container{
            margin-top:8px;
            #sort_header-wrapper .category-breadcrumb-wrapper{
              font-size:@most-mini-size;
            }
          }
          .sections-item-title{
            .title img{
              width:124px;
            }
            .see-all img{
              width:44px;
              margin-top:0;
            }
          }
        }
      }
    }
  }
  //model style
.page-share-dialog{
  .modal-dialog{
    .modal-content{
      .modal-body{
        .share-modal-wrapper{
          &.share-modal-wrapper-control{
            padding-top:37%;
            margin-bottom: 14%;
            background-position:center top;
          }
        }
      }
    }
  }
}
}

.test{
  background-color: red;
}