@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/widgets.less";


//common class
.good-store-row{
  margin-top:40px;
  margin-bottom:40px;
}

.hidden-report{
  .animate-header;
  .transform(translateY(-40px));
}
.shown-report{
  .animate-header;
  .transform(translateY(0px));
}
//the scroll banner is use slick thirdparty.but this page's sroll banner structure is special,so the position is mistaken.
// but I don't plan to modify the slick-theme.css
//so this btn position change put here to protect the third party.
.store-body{
  padding-top:51px;
  #index-banners{
    .slick-prev, .slick-next{
      top:40%;
    }
  }
}


.store-body{
  .store-top-banner{
    margin-top:-30px;
    width:100%;
    height:120px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    //background-color: #ffffff;
    //background-position: center center;
    .store-banner-wrapper{
      display: inline-block;
      margin-top:30px;
      .banner-title-wrapper{
        font-size:@big-title-size;
        font-weight: bold;
        letter-spacing: 8px;
      }
      .banner-slogan-wrapper{
        margin-top:8px;
        font-size:@smaller-primary;
        letter-spacing: 3px;

      }
    }

}
  .latest-actions-wrapper{
    //40px - 17px(pannel's margin-bottom)
    //this may be not a good way
    margin-top:0;
    margin-bottom:23px;

  //授权用户动态边栏 复用原来的
  .latest-actions-sidebar-wrapper{
    height:100%;
    //overflow-y: auto;

    .latest-actions-list{
      height:100%;
      overflow-y: auto;
      background-color: #ffffff;
      padding: 18px;
      border-radius: 4px;
      background-clip: padding-box;
      box-shadow: 0 0 2px #ddd;
      .user-tag-list{
        height:100%;
        border-bottom: 0 !important;
        .section-title.section-title-control{
          border-left-color:#ffffff;
        }
        .section-content{
          //height:90%;
          //overflow-y: auto;
          .publish-time,.publish-info{
            display: table-cell;
          }
          .publish-time{
            min-width:81px;
            padding-right:10px;
          }
        }
      }
      ul{
        li{
          margin-bottom: 10px;
          font-size:@smaller-primary;
          a{
            color: @light-gray;
            &:hover{
              cursor: pointer;
              color: @common-text-color;
              text-decoration: underline;
            }
          }
        }
      }
    }

  }

  //授权用户最新文章
  .user-latest-article-wrapper{
    .user-latest-article-intro-wrapper{
      position:absolute;
      left:0;
      bottom:0;
      color:#ffffff;
      width:100%;
      height:52px;
      //margin:25px 15px;
      overflow: hidden;
      .user-latest-article-title-wrapper{
        margin-left:5px;
        margin-right:5px;
        background-color: rgba(0,0,0,0.6);
        min-height:52px;
        max-height:52px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .user-info-section-title{
          margin-top:5px;
          font-size: @more-mini-size;
          color:#ffffff;
        }
        a{
          &.user-latest-article-title{
            font-size:@subtitle-size;
            color: #ffffff;
          }
          &:hover{
              cursor: pointer;
            }
        }
      }
    }

  }

}
  .hot-section-wrapper{
    .hot-section-item{
      .article-panel{
        &:hover{
          .bg-layer{
            display: block;
          }
        }
        position:relative;
        .img-holder.img-holder-control{
          &:hover{
            opacity: 1;
          }
        }
        .bg-layer{
          display: none;
          width:100%;
          height:0;
          padding-bottom: 100%;
          position:absolute;
          top:0;
          left:0;
          background-color: rgba(0,0,0,0.18);
        }
        .new-user-action{
          display: none;
          position:absolute;
          top:10px;
          right:10px;
          //z-index:1000;
        }
        a{
          &:hover{
            cursor:pointer;
            //.bg-layer{
            //  display: block;
            //}
          }
        }
      }
    }
  }
  a.good-stores{
    color:@common-text-color;
    &:hover{
      color:@common-text-color;
    }

  }
  .select-condition-wrapper .select-condition{
    //needs to adjust
    padding:0 10px;
    background-clip:content-box;
    background-color: #f3f3f3;
    #top_article_tags_container{
      margin-bottom: 0px;
    }
    .category-wrapper{
      padding:16px 0 20px 20px;
    }
    .type-wrapper{
      padding:0px 0px 16px 20px;
    }
    .category-title,.category-item,.type-title,.type-item{
      display: table-cell;
  }
    .category-title,.type-title{
      min-width:35px;
    }
    .tag-element{
      background-color: @default-background;
      &:hover{
        cursor: pointer;
      }
    }

  }

  .select-result-wrapper{
    .result-item-wrapper{
      padding-left:20px;
       text-overflow:ellipsis;
       overflow: hidden;
       white-space: nowrap;
      a{
        color:@common-text-color;
        font-size:@smaller-primary;
        &:hover{
          cursor: pointer;
          color: @common-text-color;
          text-decoration: underline;
        }
      }
    }
  }

  .consumption-report-wrapper{
    &.fixed-ele{
      position:fixed;
      //why is 40 not 0?
      bottom:40px;
      left:0;
      .box-shadow(@global-box-shadow);
      z-index:1000;
    }
    margin-bottom: -40px;
    width:100%;
    height:50px;
    line-height:50px;
    background-color: #ffffff;

    a.consumption-report-item{
      color: @common-text-color;
      margin-left:15px;
      float: right;
      &:hover{
        color:@light-gray;
        text-decoration: none;
        cursor: pointer;
      }
    }

  }

}

@media (min-width:768px){
  .store-body .consumption-report-wrapper{
    margin-top:80px;
  }
}

@media (max-width:767px){
  .store-body{
    .store-page-container{
      .good-store-row.latest-actions-wrapper{
        margin-top:10px;
      }
    }
  }
}