@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/widgets.less";


//common class
.hidden{
  display: none;
}
.show{
  display: block;
}
.good-store-row{
  margin-top:40px;
  margin-bottom:40px;
}
.section-title-wrapper{
  margin-bottom:6px;
}
.hidden-report{
  .animate-header;
  .transform(translateY(-40px));
}
.shown-report{
  .animate-header;
  .transform(translateY(0px));
}
//the scroll banner is use slick thirdparty.but this page's sroll banner structure is special,so the position is mistaken.
// but I don't plan to modify the slick-theme.css
//so this btn position change put here to protect the third party.
//.store-body{
//  #index-banners{
//    .slick-prev, .slick-next{
//      top:40%;
//    }
//  }
//}


.store-body{
  padding-top:51px;
  //.store-top-banner{
  //  margin-top:-30px;
  //  width:100%;
  //  height:120px;
  //  background-size: cover;
  //  background-repeat: no-repeat;
  //  text-align: center;
  //  //background-color: #ffffff;
  //  //background-position: center center;
  //  .store-banner-wrapper{
  //    display: inline-block;
  //    margin-top:30px;
  //    .banner-title-wrapper{
  //      font-size:@big-title-size;
  //      font-weight: bold;
  //      letter-spacing: 8px;
  //    }
  //    .banner-slogan-wrapper{
  //      margin-top:8px;
  //      font-size:@smaller-primary;
  //      letter-spacing: 3px;
  //
  //    }
  //  }
  //
  //}
  .sellers-banner-container{
    overflow: hidden;
    .latest-actions-wrapper{
    //40px - 17px(pannel's margin-bottom)
    //this may be not a good way
    margin-top:0;
    margin-bottom:23px;

    //授权用户动态边栏 复用原来的
    .latest-actions-sidebar-wrapper{
      height:100%;
      //overflow-y: auto;

      .latest-actions-list{
        height:100%;
        overflow-y: auto;
        background-color: #ffffff;
        padding: 18px;
        border-radius: 4px;
        background-clip: padding-box;
        box-shadow: 0 0 2px #ddd;
        .user-tag-list{
          height:100%;
          border-bottom: 0 !important;
          .section-title.section-title-control{
            border-left-color:#ffffff;
          }
          .section-content{
            //height:90%;
            //overflow-y: auto;
            .publish-time,.publish-info{
              display: table-cell;
            }
            .publish-time{
              min-width:81px;
              padding-right:10px;
            }
          }
        }
        ul{
          li{
            margin-bottom: 10px;
            font-size:@smaller-primary;
            a{
              color: @light-gray;
              &:hover{
                cursor: pointer;
                color: @common-text-color;
                text-decoration: underline;
              }
            }
          }
        }
      }

    }


    //授权用户最新文章
    .user-latest-article-wrapper{
      .user-latest-article-intro-wrapper{
        position:absolute;
        left:0;
        bottom:0;
        color:#ffffff;
        width:100%;
        height:102px;
        //margin:25px 15px;
        overflow: hidden;
        .user-latest-article-title-wrapper{
          padding:25px 15px;
          margin-left:5px;
          margin-right:5px;
          background-color: rgba(0,0,0,0.6);
          min-height:102px;
          max-height:102px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          .user-info-section-title{
            margin-top:5px;
            font-size: @more-mini-size;
            color:#ffffff;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

          }
          a{
            &.user-latest-article-title{
              font-size:@subtitle-size;
              color: #ffffff;
            }
            &:hover{
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
    }

  }
    #index-banners{
      max-width:none;
      .slick-prev{
        left:12%;
        &:before{
          font-family: "FontAwesome";
          content:"\f053";
        }
      }
      .slick-next{
        right:12%;
         &:before{
           font-family: "FontAwesome";
           content:"\f054";
        }
      }
      .banner-image-cell .banner-image-wrapper{
        position:relative;
        padding-bottom: 55.56%;
      }
    }
  }

  #recommend_article_list{
    margin-bottom: 25px;
  }

  //一排两个banner 新品发布会section
  .middle-banner-wrapper{
    margin-bottom: 23px;
    .middle-banner-item{
      a{
        .section-panel{
          width:100%;
          .bg-pic{
            width:100%;
            height:0;
            padding-bottom: 33.33%;
            background-position: center center;
            background-size: cover;
            background-repeat:no-repeat;
           }
        }
      }
    }
  }

  //好店页推荐商品,横向滚动
  #recommend-entity-container{
    overflow: hidden;
    .slick-prev, .slick-next{
             top:40%;
    }
    .slick-prev{
        left:-5px;
    }
    .slick-next{
        right:-5px;
    }
    #recommend-entity-wrapper{
      li.recommend-entity-item{
        overflow: hidden;
        float: left;
        padding: 0 18px 0 18px;

        a:focus{
          outline: 0;
        }
        .section-panel{
          text-align: center;
          box-shadow:0 0 0 transparent;
          .border-radius(0px);
          .entity-pic{
            width:100%;
            height:0;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
          .seller-name{
            display: inline-block;
            width:100%;
            margin-top:18px;
            padding-left:2px;
            padding-right:2px;
            font-size:@more-mini-size;
            color:@common-text-color;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
  //好店页推荐商品,横向滚动icon
  #recommend-entity-container #recommend-entity-wrapper{

    .slick-prev:before,.slick-next:before{
    font-family: FontAwesome;
      color:@common-text-color;
      font-size:@primary-size;
  }
  .slick-prev{
    &:before{
    content:"\f053";
    }
  }
  .slick-next {
    &:before{
    content:"\f054";
    }
  }
  }

  #selection_article_list.hot-section-wrapper{
    .selection-article-item .article-panel{
      margin-bottom: 0;
    }
  }
  .hot-section-wrapper{
    margin-bottom:23px;
    .hot-section-item{
      .article-panel{
        margin-bottom: 0;
        &:hover{
          .bg-layer{
            display: block;
          }
        }
        position:relative;
        .img-holder.img-holder-control{
          &:hover{
            opacity: 1;
          }
        }
        .bg-layer{
          display: none;
          width:100%;
          height:0;
          padding-bottom: 100%;
          position:absolute;
          top:0;
          left:0;
          background-color: rgba(0,0,0,0.18);
        }
        .new-user-action{
          display: none;
          position:absolute;
          top:10px;
          right:10px;
          //z-index:1000;
        }
        a{
          &:hover{
            cursor:pointer;
            //.bg-layer{
            //  display: block;
            //}
          }
        }
      }
    }
  }
  a.good-stores{
    color:@common-text-color;
    &:hover{
      color:@common-text-color;
    }

  }

  //新 推荐关注
  .recommend-seller-wrapper{
    .recommend-seller-item .seller-panel{
      .seller-intro-wrapper{
        .clearfix;
        position: relative;
        .seller-logo-wrapper{
          width:33%;
          height:0;
          padding-bottom:33%;
          float:left;
          .seller-logo img{
            border-radius: 50%;
          }
        }
        .seller-info{
          //float:left;
          width:67%;
          position: absolute;
          top:50%;
          left:33%;
          .transform(translateY(-50%));
          padding-left:10px;
          a:link,a:visited,a:hover,a:focus{
            text-decoration: none;
          }
          .seller-name{
            color:@common-text-color;
            font-size:@big-title-size;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          span{
            a{
              color:@new-text-gray;
               font-size: @more-mini-size;
            }
          }
        }
      }
      .seller-entity-wrapper{
        margin:20px 0;
        .clearfix;
        .entity-item{
          float:left;
          padding:0 3px;
          width:33%;

        }
        img{
          border:0;
        }

      }
      .user-action-wrapper{
        .recommend-seller-follow{
          padding:0;
          width:100%;
          height:40px;
          line-height:40px;
          float:none;
        }

      }

    }

  }
  .select-condition-wrapper .select-condition{
    //needs to adjust
    padding:0 10px;
    background-clip:content-box;
    background-color: #f3f3f3;
    #top_article_tags_container{
      margin-bottom: 0px;
    }
    .category-wrapper{
      padding:16px 0 20px 20px;
    }
    .type-wrapper{
      padding:0px 0px 16px 20px;
    }
    .category-title,.category-item,.type-title,.type-item{
      display: table-cell;
    }
    .category-title,.type-title{
      min-width:35px;
    }
    .tag-element{
      background-color: @default-background;
      &:hover{
        cursor: pointer;
      }
    }

  }

  .select-result-wrapper{
    .result-item-wrapper{
      padding-left:20px;
      text-overflow:ellipsis;
      overflow: hidden;
      white-space: nowrap;
      a{
        color:@common-text-color;
        font-size:@smaller-primary;
        &:hover{
          cursor: pointer;
          color: @common-text-color;
          text-decoration: underline;
        }
      }
    }
  }

  .consumption-report-wrapper{
    &.fixed-ele{
      position:fixed;
      //why is 40 not 0?
      bottom:40px;
      left:0;
      .box-shadow(@global-box-shadow);
      z-index:1000;
    }
    margin-bottom: -40px;
    width:100%;
    height:50px;
    line-height:50px;
    background-color: #ffffff;

    a.consumption-report-item{
      color: @common-text-color;
      margin-left:15px;
      float: right;
      &:hover{
        color:@light-gray;
        text-decoration: none;
        cursor: pointer;
      }
    }

  }

}

@media (min-width:1200px){
  .store-body{
    #index-banners {
      .slick-prev:before,.slick-next:before{
        font-size:46px;
      }
    }
  }
}
@media (min-width:768px){
  .user-latest-article-wrapper{
    .user-latest-article-intro-wrapper{
      position:absolute;
      left:0;
      bottom:0;
      color:#ffffff;
      width:100%;
      height:102px;
      //margin:25px 15px;
      overflow: hidden;
      .user-latest-article-title-wrapper{
        padding:25px 15px;
        margin-left:5px;
        margin-right:5px;
        background-color: rgba(0,0,0,0.6);
        min-height:102px;
        max-height:102px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .user-info-section-title{
          margin-top:5px;
          font-size: @more-mini-size;
          color:#ffffff;
        }
        a{
          &.user-latest-article-title{
            font-size:@subtitle-size;
            color: #ffffff;
          }
          &:hover{
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width:767px){
  .store-body{
    //.store-page-container{
    //  .good-store-row.latest-actions-wrapper{
    //    margin-top:10px;
    //  }
    //}
    .sellers-banner-container{
      .latest-actions-wrapper{
        .user-latest-article-wrapper{
          .user-latest-article-intro-wrapper{
            height:60px;
            .user-latest-article-title-wrapper{
              min-height:60px;
              max-height:60px;
              margin:0;
              padding:4px 15px;
            }
          }
        }
      }
    }
    #index-banners{
      .slick-prev:before,.slick-next:before{
        display:none;
      }
    }
    .banner-image-cell .banner-image-cell-scrim{
      display: none;
    }

  }
}

.banner-image-cell{
  .user-latest-article-intro-wrapper{
    .transition(all 1s ease-in-out);
    .transform(translateY(102px));
  }
  .banner-image-cell-scrim{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.2);
    .transition(all 1s ease-in-out);
}

}

.gk-slide-current{
  .user-latest-article-intro-wrapper{
    .transform(translateY(0px))!important;
  }
  .banner-image-cell-scrim{
    background-color:transparent;
  }
}

.test{
  color: black;
}