@import "../lib/mixin.less";
@import "../lib/var.less";
@import "../lib/widgets.less";

//reset
ol{
  padding:0;
}

//.white-space-fix{
//  margin-right:-4px;
//}

//year-selller page share-btn
@seller-btn-color:#4188DC;

//year-seller page common class
.fa-star-o-size{
  font-size:14px;
}

.seller-body{
  padding:0;
  //background-color: @very-light-gray;

  .seller-cross-screen{
    //to make the white distance,so use padding instead of margin
    padding-top:60px;
    width:100%;
    height:auto;
    background-color: #fff;
   .seller-banner-wrapper{
    //solve the horizontal scroll bar
    margin:0;
    .banner-bgpic-wrapper{
      img{
        &.img-control{
          margin:0 auto;
        }
      }
    }
    .share-btn-wrapper{
      margin-top:30px;
      text-align: center;
      a{
        &.share-btn{
          display:inline-block;
          width:120px;
          height:46px;
          line-height: 46px;
          text-align: center;
          border:1px solid @seller-btn-color;
          color:@seller-btn-color;
          border-radius:30px;
          &:hover{
            text-decoration: none;
            color:#ffffff;
            background-color: @seller-btn-color;
            cursor: pointer;
          }
      }
      }

    }
    .sections-titles-wrapper{
      margin-top: 60px;
      &.detach{
            .acc-layer;
            position: fixed;
            background: #fff;
            z-index: 100;
            top: 0px;
            margin: 0;
            padding: 20px 0px 0px;
            .box-shadow(@global-box-shadow);
            box-shadow: 1px 1px 3px #ddd;
      }
      .sections-titles-nav{
        text-align:center;
        ul{
          li{
            display: inline-block;
            .section-title{
              color:@common-text-color;
              a{
                &:hover{
                  cursor: pointer;
                }
              }
            }
            span{
              padding: 0 10px;
              color:#F8E71C;
            }
          }
        }
      }

    }
  }
}

//fixed share sidebar
.seller-sidebar-wrapper{
  .acc-layer;
  position:fixed;
  bottom:100px;
  right:0;
  width:86px;
  height:240px;
  background-color: #fff;
  padding:5px;
  z-index: 1000;
  .border-radius;
  .drop-shadow;

  .seller-sidebar{
    width:100%;
    height:100%;
      .list-item{
        width:100%;
        height:46px;
        line-height: 46px;
        text-align: center;
        border-radius: 2px;
        &.list-item-google ,&.list-item-weibo{
          a{
            color: @like-color;
          }
        }

        a{
          display: inline-block;
          width: 100%;
          .border-radius;
          &:hover{
            cursor:pointer;
            color:#fff;
            background-color: @light-blue;
            text-decoration: none;
          }
           i{
             font-size: @subtitle-size;
             margin-right:10px;
          }
        }
      }
 }
}



//main content's style

.seller-page-container{
  padding-top:60px;
  background-color: @very-light-gray;
   .sections-item-wrapper{
     .sections-item-title-wrapper{
         .sections-item-title{
           text-align: center;
          h3{
           font-size: @title-size;
           text-decoration: underline;
         }
       }

     }

     .sections-item-desc-wrapper{
       margin-bottom: 50px;
       .sections-item-desc{
       p{
          margin: 0 auto;
          max-width:600px;
          padding-top:10px;
          font-size: @smaller-primary;
       }
     }

     }

     .sections-item-goods-wrapper{
       margin-bottom: 50px;
       padding:0;
       .goods-container{

         ul{
           text-align: center;
           line-height:12px;
           li{
             display: inline-block;
             padding:2px;
             background-color:@very-light-gray;
             a{
               display: inline-block;
               width: 100%;
               height:100%;
               &:hover{
                 cursor: pointer;
               }
               img{
                 width:100%;
                 height:100%;
               }
             }
           }
       }

       }

     }
     .sellers-wrapper{
       //padding-left: 0px;
       padding-bottom:30px;
       a{
         display: inline-block;
         width:100%;
         height:auto;
         &:hover{
           cursor: pointer;
         }
         .sellers-logo{
           margin:0 auto;

         }

       }
       .sellers-desc{
         p{
           padding-top:10px;
           font-size: @smaller-primary;
           height:73px;
           //solve several lines'texts overflow
           //only support webkit browser
           display: -webkit-box;
           -webkit-line-clamp: 3;
           -webkit-box-orient: vertical;
           overflow: hidden;

         }

       }
       .score{
         text-align: center;
         height:20px;
         margin-top:15px;
         margin-bottom: 20px;
         //ol & ul all have the user agent stylesheet:-webkit-padding-start:40px;
         //padding-right:40px;
         ol{
           li{
             display: inline-block;
             i{
               color: @common-gray;

             }
           }
         }
       }
       .sellers-share{
         display: block;
         height:20px;
         margin-top:15px;
         margin-bottom: 20px;
         text-align: center;
         ul{
           li{
             display: inline-block;
             a{
               &:hover{
                 cursor:pointer;
               }
               i{
                 color:@light-gray;
                 margin-right: 5px;
                                 &.fa-qq:hover{
                     &.qq-hover{
                      color: #3199DD;

                 }

                   }
                  &.fa-weibo:hover{
                     &.weibo-hover{
                     color: #E90D24;

                 }

                   }
                 &.fa-wechat:hover{
                   &.wechat-hover{
                   color: #51C332;
                 }

                 }



               }
             }
           }
         }
       }

     }
   }

  .popular-shops-title-wrapper{
    margin-top:60px;
    margin-bottom: 50px;
    .popular-shops-title{
      p{
        font-size:24px;
        text-align: center;
      }

    }
  }

  .popular-shops-wrapper{
    margin-bottom:60px;

    .popular-shop-item-wrapper{
      margin-bottom: 10px;
      .popular-shop-item{
          .panel;
//        padding:10px 15px;
//        background-color: #ffffff;
//        background-clip: padding-box;
//        border-radius: 4px;
//        box-shadow: 0 0 2px @border-gray;
//        text-align: center;
      //padding:20px 30px;
      .popular-shop-logo-wrapper{
        display: inline-block;
        width:52px;
        height:52px;
        vertical-align: middle;
        .popular-shop-logo{
          margin:0 auto;
        }

      }
      .popular-shop-info{
        width:60%;
        float:right;
        height:52px;
        vertical-align: middle;
        margin-left: 15px;
        text-align: center;
        .popular-shop-name{
          color:@common-text-color;
           text-overflow:ellipsis;
           overflow: hidden;
           white-space: nowrap;
        }
        .star-level{
         //margin-top:15px;
         //margin-bottom: 20px;
         ol{
           text-align: center;
           li{
             display: inline-block;
             .popular-shop-star{
               color:#FFD700;
               font-size:14px;
             }
           }
         }
        }

      }

    }
      }

  }

}

}

//put media query at bottom

@media screen and (min-width:1200px){
  .seller-page-container{
    .sections-item-wrapper{
      .sections-item-goods-wrapper{
        .goods-container{
            ul{
              width:1170px;
              margin:0 auto;


              li{
                width:107px;
                height:107px;
                //margin-right: 5px;

                  }
                }
        }
      }

      .sections-item-sellers-wrapper{
        .sellers-wrapper{
          .sellers-logo{
            max-width: 245px;
          }
        }
      }
    }
    #culture{
        background-image: url("/static/images/year-seller/delicacy.png");
        background-repeat: no-repeat;
    }
  }

}


@media screen and (min-width:768px) and(max-width: 1200px){
   .seller-page-container{
    .sections-item-wrapper{
      .sections-item-goods-wrapper{
        .goods-container{
             ul{
              width:100%;
              li{
                width:10%;

                  }
             }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .seller-page-container{
    .sections-item-wrapper{
      .sections-item-goods-wrapper{
        .goods-container{
              ul{
              width:100%;
              margin:0 auto;
              li{
                width: 20%;
              }
            }
        }
      }
      .sections-item-sellers-wrapper{
        .sellers-wrapper{
          .sellers-desc{
          p{
            width:100%;
            padding-left:4%;
            padding-right:4%;
          }
        }

        }

      }
    }
  }
}


@media screen and (min-width:768px) {

    .section-title {
      &.section-first-title {
        &:after {
          content: " DELICACY";
        }
      }
      &.section-second-title {
        &:after {
          content: " CULTURE";
        }
      }
      &.section-third-title {
        &:after {
          content: " LOOKS";
        }
      }
      &.section-forth-title {
        &:after {
          content: " LIFESTYLE";
        }
      }

    }

  //   change the sellers style
  .seller-body{
    .seller-page-container{

       .sections-item-sellers-wrapper{
    .sellers-wrapper{
      .sellers-share-visible{
        display: none;
      }

      &:hover{
        .score-hidden{
          display: none;
        }

        .sellers-share-visible{
          display: block;
        }

      }
    }
  }
    }
  }



  }


  @media screen and (max-width:768px){
    .sections-titles-wrapper{

      .section-title{
         color:@common-text-color;
         font-size: @smaller-primary;
      }

      span{
        padding:0 5px;
      }
    }

    .seller-sidebar-wrapper{
      &.seller-sidebar-hidden{
        display: none;
      }
    }

    .seller-page-container{
       //background-color: @very-light-gray;
       //to solve the bug that max-width:768px ,the footer has margin-top:40px;the color is white,not light gray.
       margin-bottom: -40px;
       //use padding to make 40px light gray distance.
       padding-bottom: 40px;

      .sections-item-wrapper{
         padding-top: 0;
         margin-bottom: 30px;

        .sections-item-goods-wrapper{

          margin-bottom:20px;



        }

      }

    }


}

 //fix popular shops responsive bug
 @media screen and (min-width: 768px) and (max-width: 992px){
   .seller-body{
     .seller-page-container{
       .popular-shops-wrapper{
         .popular-shop-item-wrapper{
           .popular-shop-item{
             text-align: center;
             .popular-shop-info{
               margin-left:0;
               width:100%;

             }

             .popular-shop-logo-wrapper{
               margin:0 auto;
               margin-top:10px;
             }
           }
         }
       }
     }
   }

 }

@media screen and (min-width: 580px) and (max-width: 768px){
  .seller-body{
    .seller-page-container{
      .popular-shops-wrapper{
        .popular-shop-item-wrapper{
          .popular-shop-item{
            padding:18px 35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px){
  .seller-body{
    .seller-page-container{
      .popular-shops-wrapper{
        .popular-shop-item-wrapper{
          .popular-shop-item{
            text-align: center;
            .popular-shop-info{
              margin-left:0;
              width:100%;

            }

            .popular-shop-logo-wrapper{
              margin:0 auto;
              margin-top:10px;
            }
          }
        }
      }
    }
  }

}