{% extends 'management/management_base.html' %}
{% load i18n %}


{% block content %}
    <div class="row">
        <h1 class="page-header">{% trans 'buy link' %}</h1>
{#    <h2 class="sub-header">{% trans 'all' %}</h2>#}

    </div>
    <div class="row" style="padding-bottom: 24px;">
        <ul class="nav nav-pills" role="tablist">
            <li {% ifequal status 2 %}class="active"{% endifequal %}><a href="{% url 'buy_link_list' %}?status=2">{% trans 'sale' %}</a></li>
            <li {% ifequal status 1 %}class="active"{% endifequal %}><a href="{% url 'buy_link_list' %}?status=1">{% trans 'soldout' %}</a></li>
            <li {% ifequal status 0 %}class="active"{% endifequal %}><a href="{% url 'buy_link_list' %}?status=0">{% trans 'remove' %}</a></li>
{#            <li {% ifequal status None %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}">{% trans 'all' %}</a></li>#}
{#            <li {% ifequal status '0' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=0">{% trans 'new' %}</a></li>#}
{#            <li {% ifequal status '-1' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=-1">{% trans 'freeze' %}</a></li>#}
{#            <li {% ifequal status '-2' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=-2">{% trans 'remove' %}</a></li>#}
        </ul>
    </div>

        {% include "management/buy_link/table.html" with buy_links=buy_links %}

    {% include "management/paginator.html" with objects=buy_links url=request.path %}
{% endblock %}