{% load i18n %}
{% load guoku %}

<div class="row">
    <div class="table-responsive product-table">
        <table class="table table-small-font table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'image' %}  <span class="info">点击图片看详情</span><</th>
{#                    <th>{% trans 'origin_id' %}</th>#}
                    <th>{% trans 'source' %}</th>
                    <th>{% trans 'price' %}</th>
                    <th>{% trans 'buy link' %}</th>
                    <th>{% trans 'shop link' %}</th>
                    <th>{% trans 'status' %}</th>
{#                    <th>{% trans 'creator' %}</th>#}
{#                    <th>{% trans 'category' %}</th>#}
{#                    <th>{% trans 'created_time' %}</th>#}
{#                    <th>{% trans 'price' %}</th>#}
{#                    <th>{% trans 'image' %} <span class="info">点击图片看详情</span></th>#}
{#                    <th>{% trans 'status' %} </th>#}

                    <th>{% trans 'operation' %}</th>


                </tr>
            </thead>
            <tbody>
                {% for row in buy_links %}
                    <tr>
                        <td>
                            <a href="{% url 'web_entity_detail' row.entity.entity_hash %}" target="_blank">
                                <img class="img-thumbnail img-responsive" src="{{ row.entity.chief_image|oss_resize:'310' }}" width="128" height="128">
                            </a>
                        </td>
{#                        <td>{{ row.origin_id }}</td>#}
                        <td>{{ row.origin_source }}</td>
                        <td>{{ row.price }}</td>
                        <td>{{ row.link }}</td>
                        <td>
                            {% if row.shop_link %}
                                <a href="{{ row.shop_link }}" target="_blank">去店铺</a>
                            {% endif %}
                        </td>
                        <td><span class="label {% if row.status == 2 %}label-info{% else %}label-danger{% endif %}">{{ row.get_status_display }}</span></td>
                        <td>
                                <div class="btn-group">
                                    {% if 'taobao' in row.origin_source or 'tmall' in row.origin_source %}
                                    <a class="btn btn-success" href="{% url 'management_check_buy_link' row.pk %}" target="_blank">{% trans 'check status' %}</a>
                                    {% endif %}
                                    <a class="btn btn-default" href="{% url 'management_entity_edit' row.entity.pk %}" target="_blank">{% trans 'edit' %}</a>
{#                                    {% if not buy_link.default %}#}
{#                                        <a class="btn btn-danger buy-link" data-index="{{ row.pk }}" href="javascript:;">&nbsp;{% trans 'remove' %}</a>#}
{#                                    {% endif %}#}
                                </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>