{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}


{% block content %}
    <h1 class="page-header" xmlns="http://www.w3.org/1999/html">{{ entity.title }}</h1>
    <div class="row placeholders" id="images">
        {% for index, image in entity.images|enumerate_list %}
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class="img-responsive img-thumbnail" alt="{{ entity.title }}" src="{{ image|oss_resize:'240' }}" width="240" height="240">
{#                {% if index != 0 %}#}
                <span class="text-muted">
{#                    <a class="btn btn-link" href="{% url 'management_remove_entity_image' entity.id %}">{% trans 'remove' %}</a>#}
                    <a class="btn btn-link" href="{% url 'management_remove_entity_image' entity.id %}" data-image="{{ image }}">{% trans 'remove' %}</a>
                </span>
{#                {% endif %}#}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <form class="form-horizontal well" action="" method="post">
        {% csrf_token %}
            <fieldset>
                {% for field in forms %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="control-label col-sm-2 " for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="col-sm-5">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'create' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}