{% load i18n static %}
{% load guoku %}
<script type="text/html" id="sku_attr_template">
        <tr class="attr-group">
            <td>
                <div class="input-group ">
                  <div class="input-group-btn">
                      <button type="button" class="btn btn-warning" >
                          属性名
                      </button>
                      </div>
                  <input type="text" class="form-control attr-name-input" >
                </div>
            </td>
            <td>
                <div class="input-group">
                  <div class="input-group-btn">
                      <button type="button" class="btn btn-warning">
                          属性值
                      </button>
                      </div>
                  <input type="text" class="form-control attr-value-input">
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-danger attr-remove">删除</button>
            </td>
        </tr>
    </script>

    <script src="{% static 'js/management/sku/sku_manage.js' %}"></script>