{% extends 'management/management_base.html' %}
{% load i18n static %}
{% load guoku %}
{% block content %}
 <section class="content-header">
        <h1>
            添加SKU
            <small></small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li class="active">添加SKU</li>
        </ol>
    </section>

    <section class="content" id="create-seller">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">SKU信息</h3>
                    </div>

                        <form class="form-horizontal" enctype="multipart/form-data" action="" method="post">
                            {% csrf_token %}
                            <div class="box-body">
                            {% for field in form %}

                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                                        <div class="col-sm-10">
                                            {{ field }}<span class="field-errors">{{ field.errors }}</span>
                                        </div>
{#                                        {{ field.errors }}#}
{#                                        {{ field.label_tag }} {{ field }}#}
{#                                        {% if field.help_text %}#}
{#                                            <p class="help">{{ field.help_text|safe }}</p>#}
{#                                        {% endif %}#}
                                    </div>
                                    <div class="form-error">

                                    </div>

                            {% endfor %}
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">SKU 属性编辑</label>
                                    <div class="col-sm-10">
                                         <div class="row">
                                             <div class="col-xs-4">
                                                  <div class="input-group">
                                                      <div class="input-group-btn">属性名</div>
                                                      <input type="text" class="form-control">
                                                  </div>
                                             </div>
                                             <div class="col-xs-4">
                                                  <div class="input-group">
                                                      <div class="input-group-btn">属性值</div>
                                                      <input type="text" class="form-control">
                                                  </div>
                                             </div>
                                         </div>
                                         <ul id="sku_attr_list">
                                             <li><span class="col-sm-3">属性名<input type="text" maxlength="30"></span><span class="col-sm-3">属性值<input type="text" maxlength="30"></span></li>
                                             <li><span class="col-sm-3">属性名</span><input type="text" maxlength="30"></li>
                                             <li><span class="col-sm-3">属性名</span><input type="text" maxlength="30"></li>
                                         </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="col-xs-10 col-sm-10 col-md-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>

                         </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block user_script %}
    <script type="text/html" id="sku_attr_template">

    </script>

    <script src="{% static 'js/management/sku/sku_manage.js' %}"></script>
{% endblock %}