{% extends 'management/management_base.html' %}
{% load i18n static %}


{% block content %}
    <section class="content-header">
        <h1>
            {{ entity.title }}
{#            <small>{{ entity }}</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#">{% trans 'entity' %}</a></li>
            <li><a href="#">{% trans 'skus' %}</a></li>
        </ol>


    <section class="content">
        <div class="row">
             <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header" id="images">
                        {% include "management/entities/partial/entity_images.html" with image=entity.chief_image %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    {% include 'management/entities/partial/sku_list.html' %}
                </div>

            </div>
        </div>

    </section>



    </section>



{% endblock %}


{% block user_script %}
{% endblock %}