{% extends "management/management_base.html" %}
{% load i18n %}


{% block content %}
    <h2 class="sub-header">{% trans 'entity' %}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'image' %}</th>
                    <th>{% trans 'brand' %}</th>
                    <th>{% trans 'title' %}</th>
                    <th>{% trans 'created_time' %}</th>
                    <th>{% trans 'price' %}</th>
                    <th>{% trans 'status' %}</th>
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td><img src="{{ entity.chief_image }}"></td>
                        <td>{{ entity.brand }}</td>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.created_time|date:'Y-m-d' }}</td>
                        <td>{{ entity.price }}</td>
                        <td>{{ entity.get_status_display }}</td>
                        <td><a class="btn btn-default" href="{% url 'management_entity_edit' entity.pk %}">{% trans 'edit' %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <ul class="pagination pagination-lg">
            {% if entities.has_previous %}
                <li><a href="{% url 'management_entity_list' %}?page={{ entities.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for num in page_range %}
                <li {% ifequal num entities.number %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?page={{ num }}">{{ num }} <span class="sr-only">(current)</span></a></li>
            {% endfor %}
{#            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>#}
            {% if entities.has_next %}
                <li><a href="{% url 'management_entity_list' %}?page={{ entities.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}