{% extends "management/management_base.html" %}
{% load i18n %}


{% block content %}
    <h1 class="page-header">{% trans 'entity' %}</h1>
{#    <h2 class="sub-header">{% trans 'all' %}</h2>#}
    <div class="row">
        <ul class="nav nav-pills" role="tablist">
{#        {{ status }}#}
            <li {% ifequal status None %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}">{% trans 'all' %}</a></li>
            <li {% ifequal status '1' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=1">{% trans 'selection' %}</a></li>
            <li {% ifequal status '0' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=0">{% trans 'new' %}</a></li>
            <li {% ifequal status '-1' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=-1">{% trans 'freeze' %}</a></li>
            <li {% ifequal status '-2' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=-2">{% trans 'remove' %}</a></li>
        </ul>
    </div>
{#    <h2 class="sub-header">{% trans 'all' %}</h2>#}
    {% include "management/entities/table.html" with entities=entities %}

    <div class="row">
        <ul class="pagination pagination-lg">
            {% if status %}
                {% if entities.has_previous %}
                    <li><a href="{% url 'management_entity_list' %}?status={{ status }}&page={{ entities.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for num in page_range %}
                    <li {% ifequal num entities.number %}class="active"{% endifequal %}>
                        <a href="{% url 'management_entity_list' %}?status={{ status }}&page={{ num }}">{{ num }} <span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}
                {% if entities.has_next %}
                    <li><a href="{% url 'management_entity_list' %}?status={{ status }}page={{ entities.next_page_number }}">&raquo;</a></li>
                {% endif %}
            {% else %}
                {% if entities.has_previous %}
                    <li><a href="{% url 'management_entity_list' %}?page={{ entities.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for num in page_range %}
                    <li {% ifequal num entities.number %}class="active"{% endifequal %}>
                        <a href="{% url 'management_entity_list' %}?page={{ num }}">{{ num }} <span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}
                {% if entities.has_next %}
                    <li><a href="{% url 'management_entity_list' %}?page={{ entities.next_page_number }}">&raquo;</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock %}