{% extends "management/management_base.html" %}
{% load i18n %}


{% block content %}
    <h2 class="sub-header">{% trans 'entity' %}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'image' %}</th>
                    <th>{% trans 'brand' %}</th>
                    <th>{% trans 'title' %}</th>
                    <th>{% trans 'price' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <th>{{ entity.id }}</th>
                        <th><img src="{{ entity.chief_image }}"></th>
                        <th>{{ entity.brand }}</th>
                        <th>{{ entity.title }}</th>
                        <th>{{ entity.price }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}