{#   <div class="row">#}
        <ul class="pagination pagination-lg">
            {% if status %}
                {% if page_obj.has_previous %}
                    <li><a href="{{ url }}?status={{ status }}&page={{ page_obj.previous_page_number }}&filterfield={{ filter }}&filtervalue={{ value }}">&laquo;</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range_ext %}
                    <li {% ifequal num entities.number %}class="active"{% endifequal %}>
                        <a href="{{ url }}?status={{ status }}&page={{ num }}&filterfield={{ filter }}&filtervalue={{ value }}">{{ num }} <span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="{{ url }}?status={{ status }}&page={{ page_obj.next_page_number }}&filterfield={{ filter }}&filtervalue={{ value }}">&raquo;</a></li>
                {% endif %}
            {% else %}
                {% if page_obj.has_previous %}
                    <li><a href="{{ url }}?page={{ page_obj.previous_page_number }}&filterfield={{ filter }}&filtervalue={{ value }}">&laquo;</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range_ext  %}
                    <li {% ifequal num page_obj.number %}class="active"{% endifequal %}>
                        <a href="{{ url }}?page={{ num }}&filterfield={{ filter }}&filtervalue={{ value }}">
                            {{ num }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="{{ url }}?page={{ page_obj.next_page_number }}&filterfield={{ filter }}&filtervalue={{ value }}">&raquo;</a></li>
                {% endif %}
            {% endif %}
        </ul>
{#    </div>#}