{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}


{% block content %}
    <h1 class="page-header">{{ entity.title }}</h1>
    <div class="row placeholders">
        {% for index, image in entity.images|enumerate_list %}
            <div class="col-xs-6 col-sm-3 placeholder">
                <img id="image-{{ index }}" class="img-responsive img-thumbnail" alt="240x240" src="{{ image }}" width="240" height="240">
{#                {% if index != 0 %}#}
                <span class="text-muted">
                    <a  href="{% url 'management_remove_entity_image' entity.id %}">{% trans 'remove' %}</a>
                </span>
{#                {% endif %}#}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <form class="form-horizontal" action="" method="post">
            <fieldset>

            </fieldset>
        </form>
    </div>
{% endblock %}