{% extends 'management/management_base.html' %}
{% load i18n static %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'chosen/chosen.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'EDM' %}
            {% if 'create' in request.path %}
                <small>{% trans 'add' %}</small>
            {% else %}
                <small>{% trans 'edit' %}</small>
                <span class="label label-default">{{ edm.status }}</span>
            {% endif %}

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}
            </a></li>
            <li><a href="#"><i class="fa fa-eye"></i>{% trans 'event' %}</a>
            </li>
            <li class="active">{% trans 'event' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <form class="form-horizontal" action="" enctype="multipart/form-data" method="POST" data-ajax="false">
                        {% csrf_token %}
                        <dvi class="box-body">
                            {% for field in form %}
                                <div class="form-group {% if field.label == 'is_on_top' %} hidden {% endif %}  {% if field.errors %}has-error{% endif %} ">
                                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    <div class="col-sm-5">
                                        {% ifequal field.name 'cover_image' %}
                                            <img src="{{ edm.cover }}">
                                        {% endifequal %}
                                        {{ field }}
                                    </div>
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </dvi>
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit"
                                        class="btn btn-primary btn-lg">{% trans 'submit' %}</button>
                                <button type="submit"
                                        class="btn btn-primary btn-lg">{% trans 'preview' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block manage_script %}
    {{ block.super }}
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"
            type="application/javascript"></script>
{% endblock %}
{% block user_script %}
    <script type="text/javascript">
        $(".chosen-select").chosen(
                {
                    no_results_text: "Oops, nothing found!",
                    width: "100%",
                    height: "34px",
                    search_contains: true,
                    max_selected_options: 5,
                    placeholder_text_multiple: "Select Title, You Can Also Search The Title Of An Article."
                }
        );
    </script>
{% endblock %}
