{% extends "management/management_base.html" %}
{% load i18n %}


{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'EDM' %}
            <small>{% trans 'EDM' %}</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}
            </a></li>
            <li class="active">{% trans 'EDM' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <form action="{% url 'check_edm_user_list' %}" id="check_edm_user_list_form" method="post">
                            {% csrf_token %}
                            <a target="_blank" class="btn btn-primary"
                               href="{% url 'management_edm_create' %}">{% trans 'add' %}</a>
                            <button type="submit" class="btn btn-primary" id="check_edm_button">{% trans 'check receivers' %}</button>
                        </form>
                    </div>
                    <div class="box-body table-responsive">
                        {% include "management/edm/table.html" with entities=entities %}
                    </div>
                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=entities url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block user_script %}
    <script type="text/javascript">
        $('#check_edm_user_list_form').on('submit', function (event) {
            event.preventDefault();
            $('#check_edm_button').text("{% trans 'checking...' %}");
            $.ajax({
                url: '{% url 'check_edm_user_list' %}', // the endpoint
                type: "POST", // http method
                data: {},
                success:function (json){
                    $('#post-text').val(''); // remove the value from the input
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },  // handle a non-successful response
                error : function (xhr, errmsg, err) {
                    $('#results').html(
                         "< div class='alert-box alert radius' data - alert > Oops! We have encountered an error: "
                         +errmsg+
                         " <a href='#' class='close'>&times;</a></div>"
                    );  // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText);  // provide a bit more info about the error to the console
                }
            });
        });
    </script>
{% endblock %}
