{% extends "management/management_base.html" %}
{% load i18n %}


{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'EDM' %}
            <small>{% trans 'EDM' %}</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li class="active">{% trans 'EDM' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <a target="_blank" class="btn btn-primary" href="{% url 'management_edm_create' %}">{% trans 'add' %}</a>
                    </div>
{#                    <div class="box-header">#}
{#                        <ul class="nav nav-pills" role="tablist">#}
{#                            <li {% ifequal status None %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}">{% trans 'all' %}</a></li>#}
{#                            <li {% ifequal status '0' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=0">{% trans 'new' %}</a></li>#}
{#                            <li {% ifequal status '-1' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=-1">{% trans 'freeze' %}</a></li>#}
{#                            <li {% ifequal status '-2' %}class="active"{% endifequal %}><a href="{% url 'management_entity_list' %}?status=-2">{% trans 'remove' %}</a></li>#}
{#                        </ul>#}
{#                    </div>#}
                    <div class="box-body table-responsive">
                        {% include "management/edm/table.html" with entities=entities %}
                    </div>
                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=entities url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
