{% load i18n staticfiles %}
{% load guoku %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{ edm.title }}</title>
    </head>
    <body>
        <table style="background: #ffffff;" align="center" border="0" cellpadding="20" cellspacing="0" width="900" style="border-collapse: collapse;">
            <tbody align="center">
                <tr>
                    <td align="center">
                        <img style="width: 17%; "
                            src="http://{{ host }}{% static 'images/edm/logo.png' %}">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table style="width: 98%">
                            <tr>
                                <td align="center">
                                    <a style="background-color: transparent; color: #428bca; text-decoration: none;"
                                        href="{{ edm.cover_hype_link }}?from=edm"
                                        target="_blank">
                                    <img src="{{ edm.cover }}" width="100%" style="max-width: 100%"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <p style="color: #9d9e9f; font-size: 14px; line-height: 20px; padding: 0; text-align: left;">
                                        {{ edm.cover_description }}
                                        <a style="background-color: transparent; color: #428bca; text-decoration: none; font-size: 14px"
                                            href="{{ edm.cover_hype_link }}?from=edm"
                                            target="_blank">
                                        &nbsp;阅读更多
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="43%" style="height: 1px; background-color: #dddddd">
                                </td>
                                <td style="line-height: 1px;text-align: center; color: #9d9e9f; font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; font-size: 14px;">
                                    热门图文
                                </td>
                                <td width="43%" style="height: 1px; background-color: #dddddd">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="6%">
                            {% for selection_article in edm.selection_articles.all %}
                            {% with article=selection_article.article %}
                            <tr>
                                <td rowspan="2" width="40%" align="left"
                                    valign="top">
                                    <a href="http://{{ host }}{% url 'web_article_page' article.id %}?from=edm"
                                        style="background-color: transparent; color: #428bca; text-decoration: none;"
                                        target="_blank">
                                    <img style="max-height: 98%; max-width: 98%;"
                                        src="{{ article.cover_url|resize:'350' }}"/>
                                    </a>
                                </td>
                                <td width="60%" height="35" valign="top">
                                    <a href="http://{{ host }}{% url 'web_article_page' article.id %}?from=edm"
                                        style="background-color: transparent; color: #424242; font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; font-size: 20px; font-weight: bolder; text-decoration: none;"
                                        target="_blank">
                                    {{ article.title|truncatechars:40 }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 14px">
                                    <p style="color: #9d9e9f; font-size: 100%; line-height:20px; text-align: left; margin: 0;">
                                        {{ article.content|striptags|truncatechars:150|cut:'　' }}
                                        <a href="http://{{ host }}{% url 'web_article_page' article.id %}?from=edm"
                                           style="background-color: transparent; color: #428bca; text-decoration: none; font-size: 14px"
                                           target="_blank">
                                            &nbsp;阅读更多
                                        </a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
                            </tr>
                            {% endwith %}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="43%" style="height: 1px; background-color: #dddddd">
                                </td>
                                <td style="line-height: 1px;text-align: center; color: #9d9e9f; font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; font-size: 14px;">
                                    热门商品
                                </td>
                                <td width="43%" style="height: 1px; background-color: #dddddd">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellpadding="10%" border="0" cellspacing="0" >
                            <tr>
                                {% for entity in popular_entities %}
                                {% if forloop.counter0|divisibleby:3 %}
                            <tr>
                                {% endif %}
                                <td width="30%" align="center">
                                    <table width="100%" cellpadding="0" cellspacing="1" border="0" style="border: 1px solid #dddddd; max-height: 313px;">
                                        <tr style="display:block; max-height: 260px; margin: 0;">
                                            <td align="center" width="100%" style="height: 0; margin: 0; display: block; max-height: 260px;
                                            padding-bottom: 99%; overflow: hidden; text-align: center;">
                                                <a href="http://{{ host }}{% url 'web_entity_detail' entity.entity_hash %}?from=edm" style="background-color: transparent; display: block; margin: 0; position: relative;" target="_blank">
                                                    <img src="{{ entity.chief_image|resize:'310'}}"
                                                         style="display: block;vertical-align: middle;height: auto;background-color: #f6f6f6; width: 100%; max-height: 100%; max-width: 100%; margin-right: auto;margin-left: auto;"/>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <br>
                                                <span style="color: #9d9e9f;">
                                                    <a href="http://{{ host }}{% url 'web_entity_detail' entity.entity_hash %}?from=edm" style="background-color: transparent; color: #424242; font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; font-size: 16px; text-decoration: none;" target="_blank">
                                                        {{ entity.title|truncatechars:18 }}
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <span style="color: #428bca; display: block; font-family: Georgia, serif; font-size: 14px;">￥{{ entity.price }}</span>
                                                <br>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                {% if forloop.counter|divisibleby:3 %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0; line-height: 0; border-bottom: 1px solid #dddddd" height="1">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="8" cellspacing="0">
                            <tr>
                                <td align="center" valign="middle" style="background: #80BEF3; border-radius: 30px; color: #ffffff; display: block; height: 18px; margin: 40px auto; padding: 10px; text-align: center; vertical-align: middle; width: 150px;">
                                    <a href="http://www.guoku.com?from=edm" style="background-color: transparent; color: #ffffff; text-decoration: none;" target="_blank">
                                    浏览更多
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td height="31" align="center" valign="top">
                                    <a href="http://weibo.com/guoku"
                                        style="background-color: transparent; color: #428bca; text-decoration: none;"
                                        target="_blank"><img
                                        style="height: 30px; margin: auto 3px; width: 30px;"
                                        src="http://{{ host }}{% static 'images/edm/sina@2x.png' %}"></a>
                                    <a href="http://site.douban.com/130280/"
                                        style="background-color: transparent; color: #428bca; text-decoration: none;"
                                        target="_blank"><img
                                        style="height: 30px; margin: auto 3px; width: 30px;"
                                        src="http://{{ host }}{% static 'images/edm/douban@2x.png' %}"></a>
                                    <a href="http://twitter.com/guokuapp"
                                        style="background-color: transparent; color: #428bca; text-decoration: none;"
                                        target="_blank"><img
                                        style="height: 30px; margin: auto 3px; width: 30px;"
                                        src="http://{{ host }}{% static 'images/edm/twitter@2x.png' %}"></a>
                                    <a href="http://www.facebook.com/172009339558352"
                                        style="background-color: transparent; color: #428bca; text-decoration: none;"
                                        target="_blank"><img
                                        style="height: 30px; margin: auto 3px; width: 30px;"
                                        src="http://{{ host }}{% static 'images/edm/facebook@2x.png' %}"></a>
                                    <a href="http://instagram.com/guoku/"
                                        style="background-color: transparent; color: #428bca; text-decoration: none;"
                                        target="_blank"><img
                                        style="height: 30px; margin: auto 3px; width: 30px;"
                                        src="http://{{ host }}{% static 'images/edm/instagram@2x.png' %}"></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <img style="margin-bottom: 7px; margin-top: 5px;"
                                        src="http://{{ host }}{% static 'images/edm/QR_DL.jpg' %}">
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span style="color: #424242; display: block; font-size: 14px;">
                                    下载果库客户端
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a style="background-color: transparent; color: #428bca; font-size: 14px; text-decoration: none;"
                                        href="http://itunes.apple.com/cn/app/id477652209?mt=8"
                                        target="_blank">iPhone</a> ·
                                    <a style="background-color: transparent; color: #428bca; font-size: 14px; text-decoration: none;"
                                        href="http://itunes.apple.com/cn/app/id450507565?mt=8"
                                        target="_blank">iPad</a> ·
                                    <a style="background-color: transparent; color: #428bca; font-size: 14px; text-decoration: none;"
                                        href="http://app.guoku.com/download/android/guoku-release.apk"
                                        target="_blank" bi="download_android"
                                        _hover-ignore="1"
                                        _orighref="http://app.guoku.com/download/android/guoku-release.apk"
                                        _tkworked="true">Android</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0; line-height: 0; border-bottom: 1px solid #dddddd"
                        height="1">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="10" cellspacing="0">
                            <tr>
                                <td align="center" height="20">
                                    <span style="color: #9d9e9f; font-size: 12px; ">如果不想继续接受此邮件，请点击 <a
                                        style="background-color: transparent; color: #428bca; text-decoration: none;"
                                        href="%%user_defined_unsubscribe_link%%">退订</a></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="20">
                                    <span style="color: #9d9e9f; font-size: 12px; "> © 果库 2015</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>