{% load i18n staticfiles %}
{% load common guoku %}

<div class="col-md-12 tips hidden-xs">
    <ul class="fs_16">
        <li class="fc_1"><a href="{% url 'web_selection_articles' %}">图文&nbsp;&nbsp;</a>
            <i class="fa fa-angle-right fc_angle_right"></i>&nbsp;&nbsp;</li>

        {% if article.first_tag %}
             <li class="fc_1">
              <a href="{% url 'tag_articles_url' article.first_tag_quoted %}">
                  {{ article.first_tag }}
              </a>
                <i class="fa fa-angle-right fc_angle_right"></i>&nbsp;&nbsp;</li>

        {% endif %}
        <li>{{ article.title }}</li>
    </ul>
</div>