{% extends 'base.html' %}
{% load survey_extras i18n static %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="header">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <h3>果库 2014 <br>年度用户调查</h3>
                </div>
                <div class="col-sm-6 col-xs-6" style="text-align:right;">
                	<div style="overflow:hidden;">
                    <img src="{% static '/media/img/header-question.png' %}">
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align:center;">
    	<div style="display:none;">
	    	Thanks! Your confirmation code is {{uuid}}. Use this to refer to your response. In case you have any questions, contact {{ email }}
	    </div>
	    <h1><span>THANKS</span></h1>
	    <hr>
	    <div style="text-align:left;">
	    	<div style="padding:0px 20px;text-indent:2em;">
		    	<br>
		    	<p>特别感谢你的参与和支持！</p>
		    	<p>果库将随机抽取 30 位小伙伴奉上精美礼包，陆续通过微博私信与邮件通知大家。</p>
				<p>点击「分享」按钮，邀请更多小伙伴参与，赢取更多礼包回家！</p>
			</div>
				<div style="text-align:center;">
				    <a class="btn btn-default btn-weibo" href="http://service.weibo.com/share/share.php?url=http://guoku.com/survey/&type=3&count=0&appkey=1459383851&title=参与果库 2014 年度用户调查，赢取年终礼品回家！&pic=http://static.guoku.com/media/img/weibo_share.gif&ralateUid=2179686555" target="_blank"><img src="{% static '/media/img/icon_weibo.png' %}"><span>分享到微博</span></a>

				  	<a class="btn btn-default btn-wechat" href="#" data-toggle="modal" data-target="#wechatShareModal" ><img src="{% static '/media/img/icon_wechat.png' %}"><span>分享到微信</span></a>
				  	<!-- Modal -->
					<div class="modal fade" id="wechatShareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
					        <h4 class="modal-title" id="myModalLabel">扫描二维码分享到微信</h4>
					      </div>
					      <div class="modal-body">
					        <img style="width:100px;height:100px;margin:20px;" src="{% static '/media/img/qrcode.png' %}">
					      </div>
					    </div>
					  </div>
					</div>
				</div>
	    </div>
    </div>
</div>
{% endblock %}