{% extends 'base.html' %}

{% block body %}
<div class="row">
    Thanks! Your confirmation code is {{uuid}}. Use this to refer to your response. In case you have any questions, contact {{ email }}
    
	感谢您对「果库 2014 年度用户调查」的参与和支持！
	最后一步，请您在下方完整填写微博昵称与邮箱，12 月 x 日 - x 日期间参与调查的小伙伴们，果库将随机抽取 xxx 位奉上精美礼品一份！
	同时，点击「分享」按钮，邀请更多小伙伴来参与调查，赢取更多礼品回家！
	果库 敬上
	2014 年
</div>
<div class="row">
    <div class="col-md-12" style="text-align:center;">
    	<div>
	    	
	    </div>
	    <h3><span style="margin-left:20px;">THANKS</span></h3>
	    <div style="text-align:left;text-indent:2em;">
	    	<br>
	    	<h5 style="font-size:18px;font-weight:600;">致所有果库的小伙伴们：</h5>
	    	<div style="padding-left:30px;">
		    	<br>
		    	<p>感谢您对「果库 2014 年度用户调查」的参与和支持！<p>
				<p>为了感谢大家的参与和支持，在 12 月 10 日 - 17 日期间，所有完成调查的用户请在最终页完整填写微博昵称与邮箱，「果库」从所有参与调查的小伙伴中随机抽取 50 位，奉上精美礼品一份！</p>
				<p>最后一步，请您在下方完整填写微博昵称与邮箱，12 月 10 日 - 17 日期间参与调查的小伙伴们，果库将随机抽取 50 位奉上精美礼品一份！
	同时，点击「分享」按钮，邀请更多小伙伴来参与调查，赢取更多礼品回家！</p>
				<br>
				<p style="text-align:right;">果库 敬上</p>
				<p style="text-align:right;">2014年12月</p>
	    	</div>
	    </div>
	    <div>
	    	<br>
	    	<br>
		    <a class="btn btn-default btn-lg" href="/survey/1" style="border:none;border-radius:0px;background-color:#343434;color:#fff;">开始答题</a>
		</div>
    </div>
</div>
{% endblock %}