{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <table class="table-responsive table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>tt</th>
                </tr>
            </thead>
            <tbody>
                {% for row in res %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.username }}</td>
                        <td>{{ row.email }}</td>
                        {% for a in row.answerbase_set.all %}
                            <td>{{ a.answerradio }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}