{% extends 'base.html' %}
{% load i18n static %}


{% block body %}

<div class="row">
    <div class="col-md-12" style="text-align:center;">
    	<div>
	    	
	    </div>
	    <h3><img style="width:60px;height:60px;" src="{% static '/media/img/icon.png' %}"><span style="margin-left:20px;">2014 年度调查问卷</span></h3>
	    <hr>
	    <div style="text-align:left;">
	    	<br>
	    	<h5 style="font-size:18px;font-weight:600;">致所有果库的小伙伴们：</h5>
	    	<div style="padding-left:30px;">
		    	<br>
		    	<p>大家好，我是发炎君。感谢大家一致以来对果库的支持！</p>
		    	<p>...</p>
	    	</div>
	    </div>
	    <div>
	    	<br>
	    	<br>
		    <a class="btn btn-default btn-lg" href="/survey/1" style="border:none;border-radius:0px;background-color:#343434;color:#fff;">开始答题</a>
		</div>
    </div>
</div>

{% endblock %}
