{% extends 'base.html' %}
{% load i18n static %}


{% block body %}

<div class="row">
    <div class="col-md-12" style="text-align:center;">
    	<div>
	    	
	    </div>
	    <h3><img style="width:60px;height:60px;" src="{% static '/media/img/icon.png' %}"><span style="margin-left:20px;">2014 年度调查问卷</span></h3>
	    <hr>
	    <div style="text-align:left;text-indent:2em;">
	    	<br>
	    	<h5 style="font-size:18px;font-weight:600;">致所有果库的小伙伴们：</h5>
	    	<div style="padding-left:30px;">
		    	<br>
		    	<p>更优质的商品推荐，更贴心的生活方式指南，以及更炫酷的使用体验，「果库」希望与大家一起来完成！希望大家能够真实、完整对本调查问卷进行作答。<p>
				<p>为了感谢大家的参与和支持，在 12 月 10 日 - 17 日期间，所有完成调查的用户请在最终页完整填写微博昵称与邮箱，「果库」从所有参与调查的小伙伴中随机抽取 50 位，奉上精美礼品一份！</p>
				<br>
				<p style="text-align:right;">果库 敬上</p>
				<p style="text-align:right;">2014年12月</p>
	    	</div>
	    </div>
	    <div>
	    	<br>
	    	<br>
		    <a class="btn btn-default btn-lg" href="/survey/1" style="border:none;border-radius:0px;background-color:#343434;color:#fff;">开始答题</a>
		</div>
    </div>
</div>

{% endblock %}
