{% extends 'base.html' %}
{% load survey_extras i18n %}

{% block body %}
<div class="row">
    <h1>{{survey.name|title}}</h1>
    <div class="survey-description">
	    {{survey.description|safe}}
    </div>
</div>



<div class="row">

{#    <div>#}
	    <form class="form-horizontal" action="/survey/{{survey.id}}/" method="post">{% csrf_token %}

            <fieldset>
                <div class="form-group">
                    {{ response_form.username.errors }}
                    <label class="control-label col-sm-2">{{ response_form.username.label_tag }}</label>
                    <div class="col-sm-10">
                        {{ response_form.username }}
                    </div>
                </div>

                <div class="form-group">
                    {{ response_form.email.errors }}
                    <label class="control-label col-sm-2">{{ response_form.email.label_tag }}</label>
                    <div class="col-sm-10">
                        {{ response_form.email }}
                    </div>
                </div>

{#		<div class="field-wrapper question-required">#}
{#			{{ response_form.interviewer.errors }}#}
{#			{{ response_form.email.label_tag }}#}
{#			<span class="form-help-text">{{ response_form.interviewer.help_text}}</span>#}
{#			<div class="form-field-body">#}
{#				{{ response_form.email }}#}
{#			</div>#}
{#		</div>#}

{#		<div class="field-wrapper question-required">#}
{#			{{ response_form.interviewee.errors }}#}
{#			<span class="asterix"> * </span>{{ response_form.interviewee.label_tag }}#}
{#			<span class="form-help-text">{{ response_form.interviewee.help_text}}</span>#}
{#			<div class="form-field-body">#}
{#				{{ response_form.interviewee }}#}
{#			</div>#}
{#		</div>#}

{#		<div class="field-wrapper">#}
{#			{{ response_form.conditions.errors }}#}
{#			{{ response_form.conditions.label_tag }}#}
{#			<span class="form-help-text">{{ response_form.conditions.help_text}}</span>#}
{#			<div class="form-field-body">#}
{#				{{ response_form.conditions }}#}
{#			</div>#}
{#		</div>#}
{##}
{#		<div class="field-wrapper">#}
{#			{{ response_form.comments.errors }}#}
{#			{{ response_form.comments.label_tag }}#}
{#			<span class="form-help-text">{{ response_form.comments.help_text}}</span>#}
{#			<div class="form-field-body">#}
{#				{{ response_form.comments }}#}
{#			</div>#}
{#		</div>#}
{#	</div>#}


		{% for category in categories %}
			<h3 class="collapsible">{{category|title}}</h3>
{#			<div class="category-container">#}
            <ol >
			{% for field in response_form %}
{#                <li>#}

{#                {{ field.field.widget.attrs.category  }}#}
				{% if field.field.widget.attrs.category == category %}
                    <div class="form-group">
{#					<li class="q-item" value="{% counter %}">#}
                    <li>
					{% if field.field.required %} 
{#					<div class="field-wrapper question-required">#}
						{{ field.errors }}
						<label class="checkbox-inline">{{ field.label }}</label>
					{% else %} 
{#					<div class="field-wrapper">#}
						{{ field.errors }}
						<label class="checkbox-inline">{{ field.label }}</label>
					{% endif %}
						<span class="form-help-text">{{ field.help_text}}</span>
{#						<div class="form-field-body">#}
{#                    {{ field.field.widget|klass }}#}
                        {% if field.field.widget|klass == 'RadioSelect' %}
                            <div class="radio">
                                {{ field }}
                            </div>
                        {% elif field.field.widget|klass == 'CheckboxSelectMultiple' %}
                            <div class="checkbox">
                                {% for radio in field %}
                                    <label class="checkbox-inline">
                                        {{ radio.tag }}
                                        {{ radio.choice_label }}
{#                                    {{ radio.tag }}#}
                                    </label>
{#                                    {{ radio }}#}
                                {% endfor %}
                            </div>
                        {% elif field.field.widget|klass == 'Select' %}
                            <div class="col-sm-12">
                                {{ field }}
                            </div>
                        {% else %}
						    <div>
                                {{ field }}
						    </div>
						{% endif %}
{#								{{ field }}#}
{#						    </div>#}
                    </li>
					</div>
{#					</li>#}
				{% endif %}
{#                </div>#}
{#                </li>#}
			{% endfor %}
            </ol>
{#			</div>#}
		{% endfor %}

        </fieldset>
{#		<div class="submit-button"><input type="submit" value="I'm done!"></div>#}

        <button class="btn btn-primary btn-lg">{% trans 'done' %}</button>
	</form>

</div>

{% endblock %}

{#{% block extrajs %}#}
{#	<script src="/media/js/jquery.collapsible.js"></script>	#}
{#	<script type="text/javascript">#}
{#		$(document).ready(function() {#}
{#			//collapsible management#}
{#			$('.collapsible').collapsible({defaultOpen: 'response_metadata'});#}
{#		});#}
{#	</script>#}
{#{% endblock %}#}
