{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}


{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'media' %}
            <small>{% trans 'media' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans 'media' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">

                    </div>

                    <div class="box-body table-responsive">
                        <table class="table table-striped" id="media">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'image' %}</th>
                                    <th>{% trans 'creator' %}</th>
                                    <th>{% trans 'content type' %}</th>
                                    <th>{% trans 'operation' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medium in media %}
                                    <tr>
                                        <td>{{ medium.pk }}</td>
                                        <td><img class="img-polaroid img-responsive" style="max-height:150px;max-width:150px;" src="{{ medium.file_url|oss_resize:'240' }}" width="120" height="120"></td>
                                        <td>
                                            {% if medium.creator %}
                                                 <a href="{% url 'management_user_edit' medium.creator_id %}">
                                                     {{ medium.creator.profile.nickname  }}
                                                 </a>
                                            {% endif %}

                                           </td>
                                        <td>{{ medium.content_type }}</td>
{#                                        <td></td>#}
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-default" href="#">{% trans 'copy link' %}</a>
                                                <a class="btn btn-danger btn-delete" medium-id="{{ medium.pk }}">{% trans 'delete' %}</a>
                                            </div>
                                        </td>
{#                                        <td><a class="btn btn-default" href="{% url 'management_banner_edit' banner.pk %}">{% trans 'edit' %}</a></td>#}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=media url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <h1 class="page-header">{% trans 'media' %}</h1>#}
{##}
{#    <div class="row">#}
{#    <div class="table-responsive">#}
{#        <table class="table table-striped" id="media">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>#</th>#}
{#                    <th>{% trans 'image' %}</th>#}
{#                    <th>{% trans 'creator' %}</th>#}
{#                    <th>{% trans 'content type' %}</th>#}
{#                    <th>{% trans 'operation' %}</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for medium in media %}#}
{#                    <tr>#}
{#                        <td>{{ medium.pk }}</td>#}
{#                        <td><img class="img-polaroid img-responsive" style="max-height:150px;max-width:150px;" src="{{ medium.file_url|oss_resize:'240' }}" width="120" height="120"></td>#}
{#                        <td>#}
{#                            {% if medium.creator %}#}
{#                                 <a href="{% url 'management_user_edit' medium.creator_id %}">#}
{#                                     {{ medium.creator.profile.nickname  }}#}
{#                                 </a>#}
{#                            {% endif %}#}
{##}
{#                           </td>#}
{#                        <td>{{ medium.content_type }}</td>#}
{#                        <td></td>#}
{#                        <td>#}
{#                            <div class="btn-group">#}
{#                                <a class="btn btn-default" href="#">{% trans 'copy link' %}</a>#}
{#                                <a class="btn btn-danger btn-delete" medium-id="{{ medium.pk }}">{% trans 'delete' %}</a>#}
{#                            </div>#}
{#                        </td>#}
{#                        <td><a class="btn btn-default" href="{% url 'management_banner_edit' banner.pk %}">{% trans 'edit' %}</a></td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    </div>#}
{#    {% include "management/paginator.html" with objects=media url=request.path %}#}
{% endblock %}