{% load i18n %}
{% load guoku %}
{% load static %}

<table class="new-table new-table-bordered new-table-hover">
    <thead>
    <tr>
        <th>
            {% trans 'entity' %}
        </th>
        <th>
            {% trans '单价' %}
        </th>
        <th>
            {% trans '数量' %}
        </th>
        <th>
            {% trans '实收款' %}
        </th>
        <th>
            {% trans '操作' %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for order in object_list %}
        <tr class="order-cell-header">
            <td colspan="5">
                订单号:{{ order.number }} &nbsp;&nbsp;创建时间:{{ order.Created_datetime|date:'Y-m-d H:i:s' }}
            </td>
        </tr>
        <tr>
            <td class="entity-cell">
                <div class="entity-container">
                    <div class="entity-wrapper">
                        <a href="{% url 'web_entity_detail' order.items.all.0.sku.entity.entity_hash %}" target="_blank">
                            <img src="{{ order.items.all.0.sku.entity.chief_image|resize:'128' }}" class="img-responsive">
                        </a>
                    </div>
                    <div class="entity-info-wrapper">
                        <p class="entity-title">
                            {{ order.items.all.0.title |truncatechars:40 }}
                        </p>
                        <p class="entity-sku">
                            {{ order.items.all.0.sku.attrs_display |truncatechars:40 }}
                        </p>
                    </div>
                </div>
            </td>
            <td>
                &yen;{{ order.items.all.0.sku_unit_promo_price }}
            </td>
            <td>
                {{ order.items.all.0.volume }}
            </td>
            <td class="no-border-cell">
                &yen;{{ order.order_total_value }}
            </td>
            <td class="no-border-cell">
                    已收款<br>
                    <a class="btn newest-btn-green" data-url="">{% trans '确认已收款' %}</a>
            </td>
        </tr>
        {% if order.count > 1 %}

            {% for item in order.itemslist %}
                <tr>
                <td class="entity-cell">
                    <div class="entity-container">
                        <div class="entity-wrapper">
                            <a href="{% url 'web_entity_detail' item.sku.entity.entity_hash %}" target="_blank">
                                <img src="{{ item.sku.entity.chief_image|resize:'128' }}" class="img-responsive">
                               </a>
                        </div>
                        <div class="entity-info-wrapper">
                            <p class="entity-title">
                                {{ item.title |truncatechars:40 }}
                            </p>
                            <p class="entity-sku">
                                {{ item.sku.attrs_display |truncatechars:40 }}
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    &yen;{{ item.sku_unit_promo_price }}
                </td>
                <td>
                    {{ item.volume }}
                </td>
                <td class="no-border-cell">
                    &nbsp;
                </td>
                <td class="no-border-cell">
                    &nbsp;
                </td>
            {% endfor %}
             </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{#            <table class="new-table new-table-bordered new-table-hover">#}
{#                <thead>#}
{#                    <tr>#}
{#                        <th>#}
{#                            {% if sort_by == 'dnumber' %}#}
{#                                <a href="{% url  'web_my_order_list' %}?sort_by=unumber">#}
{#                            {% else %}#}
{#                                <a href="{% url  'web_my_order_list' %}?sort_by=dnumber">#}
{#                            {% endif %}#}
{#                                {% trans '订单号' %}#}
{#                            {%  if sort_by == 'dnumber' %}<i class="fa fa-arrow-circle-down"></i>#}
{#                            {% elif sort_by == 'unumber' %}<i class="fa fa-arrow-circle-up"></i>#}
{#                            {% endif %}</a>#}
{#                        <input class="guoku_search_input" data-search-field="number" type="text" ></th>#}
{#                        <th>#}
{#                        <a href="{% url  'web_seller_management_order_list' %}?sort_by=status">#}
{#                            {% trans 'status' %}#}
{#                        {%  if sort_by == 'status' %}<i class="fa fa-arrow-circle-down"></i>{% endif %}</a></th>#}
{#                        <th>#}
{#                            {% if sort_by == 'dprice' %}#}
{#                                <a href="{% url  'web_my_order_list' %}?sort_by=uprice">#}
{#                            {% else %}#}
{#                                <a href="{% url  'web_my_order_list' %}?sort_by=dprice">#}
{#                            {% endif %}#}
{#                                {% trans 'price' %}#}
{#                            {%  if sort_by == 'dprice' %}<i class="fa fa-arrow-circle-down"></i>#}
{#                            {% elif sort_by == 'uprice' %}<i class="fa fa-arrow-circle-up"></i>#}
{#                            {% endif %}</a></th>#}
{#                        <th>{% trans '商品概要' %}</th>#}
{#                        <th>{% trans '操作' %}#}
{#                        </th>#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                    {% for order in object_list %}#}
{#                        <tr>#}
{#                            <td>#}
{#                                {{ order.number }}</td>#}
{#                            <td>{{ order.get_status_display }}</td>#}
{#                            <td>{{ order.order_total_value }}</td>#}
{#                            <td>{% for sku in order.skus %}{{ sku.entity|truncatechars:12 }}  {{ sku.attrs_display }}<br>{% endfor %}</td>#}
{#                            <td>#}
{#                                <div class="btn-group">#}
{#                                    状态: {{ order.get_status_display }}<br>#}
{#                                    <a class="btn btn-primary" href="{% url 'my_order_detail_management' order.id %}" target="_blank">{% trans '订单详情' %}</a>#}
{#                                    <a class="btn btn-danger " href="{% url 'my_order_delete_management' order.id %}">{% trans '删除订单' %}</a>#}
{#                                </div>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                </tbody>#}
{#            </table>#}

{% block user_script %}

{% endblock %}