{% load i18n %}
{% load guoku %}
{% load static %}

<table class="new-table new-table-bordered new-table-hover">
    <thead>
    <tr>
        <th>
            {% trans 'entity' %}
        </th>
        <th>
            {% trans '单价' %}
        </th>
        <th>
            {% trans '数量' %}
        </th>
        <th>
            {% trans '实收款' %}
        </th>
        <th>
            {% trans '操作' %}
        </th>
    </tr>
    </thead>
    <tbody>

    {% for order in object_list %}
        <tr class="order-cell-header">
            <td colspan="5">
                订单号:{{ order.number }} &nbsp;&nbsp;创建时间:{{ order.Created_datetime|date:'Y-m-d H:i:s' }}
            </td>
        </tr>
        <tr>
            <td class="entity-cell">
                <div class="entity-container">
                    <div class="entity-wrapper">
                        <a href="{% url 'web_entity_detail' order.items.all.0.sku.entity.entity_hash %}" target="_blank">
                            <img src="{{ order.items.all.0.sku.entity.chief_image|resize:'128' }}" class="img-responsive">
                        </a>
                    </div>
                    <div class="entity-info-wrapper">
                        <p class="entity-title">
                            {{ order.items.all.0.title |truncatechars:40 }}
                        </p>
                        <p class="entity-sku">
                            {{ order.items.all.0.sku.attrs_display |truncatechars:40 }}
                        </p>
                    </div>
                </div>
            </td>
            <td>
                &yen;{{ order.items.all.0.sku_unit_promo_price }}
            </td>
            <td>
                {{ order.items.all.0.volume }}
            </td>
            <td class="no-border-cell">
                &yen;{{ order.order_total_value }}
            </td>
            <td class="no-border-cell">
                {% if order.status == 3 %}
                    已收款<br>
                {% else %}
                  <a class="btn newest-btn-green check-order-status" data-order-id="{{ order.id }}" data-url="{% url 'checkout_done' %}">{% trans '确认已收款' %}</a>
                {% endif %}
            </td>
        </tr>
        {% if order.count > 1 %}

            {% for item in order.itemslist %}
                <tr>
                <td class="entity-cell">
                    <div class="entity-container">
                        <div class="entity-wrapper">
                            <a href="{% url 'web_entity_detail' item.sku.entity.entity_hash %}" target="_blank">
                                <img src="{{ item.sku.entity.chief_image|resize:'128' }}" class="img-responsive">
                               </a>
                        </div>
                        <div class="entity-info-wrapper">
                            <p class="entity-title">
                                {{ item.title |truncatechars:40 }}
                            </p>
                            <p class="entity-sku">
                                {{ item.sku.attrs_display |truncatechars:40 }}
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    &yen;{{ item.sku_unit_promo_price }}
                </td>
                <td>
                    {{ item.volume }}
                </td>
                <td class="no-border-cell">
                    &nbsp;
                </td>
                <td class="no-border-cell">
                    &nbsp;
                </td>
            {% endfor %}
             </tr>
        {% endif %}
    {% endfor %}
     {% if not object_list %}
    <tr >没用找到相应的订单</tr>
    {% endif %}
    </tbody>
</table>

{% block user_script %}

{% endblock %}