{% extends 'web/base.html' %}
{% load i18n staticfiles %}
{% load guoku %}
{% block content %}

    <div class="guoku-content container brand-page">

        <div class='brand-info'>
            <div class="brand-icon">
                <img class="img-responsive" src="{{ brand.icon_url }}"/>
            </div>

            <div class="brand-name">
                <span class="nick">{{ brand.name }}</span>
            </div>

            <div class="brand-basic-info">
                <ul>
                    <li>又名:&nbsp;{{ brand.alias }}&nbsp;|</li>
                    <li>&nbsp;国家:&nbsp;{{ brand.country }}&nbsp;|</li>
                    <li>&nbsp;官网:&nbsp;<a href="" target="_blank">&nbsp;{{ brand.website }}</a></li>
                </ul>
            </div>

            <div class="brand-intro-wrapper">
                <p>{{ brand.intro }}</p>
                <br>
            </div>
        </div>

        <div class="row entity-wrapper">
            {% for entity in entities %}
                {% include 'web/main/partial/entity.html' with entity=entity.object %}
            {% endfor %}
         </div>

    </div>

{% endblock %}

{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/brand_page_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}