{% extends 'web/base.html' %}
{% load i18n staticfiles %}
{% load guoku %}
{% block content %}

    <div class="guoku-content container brand-page">
        {% url 'web_brand_detail' pk as sort_url %}

{#        <div>#}
{#            <span class="dropdown-toggle category-action pull-right">#}
{#                <a href="#" class="dropdown-toggle" data-toggle="dropdown"#}
{#                   aria-haspopup="false" role="button" aria-expanded="false">#}
{#                    {% if sort_method == 'pub_time' %}#}
{#                        时间#}
{#                    {% else %}#}
{#                        喜爱#}
{#                    {% endif %}#}
{#                    <span class="caret"></span>#}
{#                </a>#}
{#                <ul  id="sort_dropdown" class="dropdown-menu" role="menu"  >#}
{#                    <li ><a href="{{ sort_url }}">时间</a></li>#}
{#                    <li  class="divider"></li>#}
{#                    <li ><a href="{{ sort_url }}olike/">喜爱</a></li>#}
{#                </ul>#}
{#            </span>#}
{#        </div>#}

        <div class='brand-info'>
            <div class="brand-icon">
                {% if brand.icon_url %}<img class="img-responsive" src="{{ brand.icon_url }}"/>{% endif %}
            </div>

            <div class="brand-name">
                {% if brand.name %}<span class="nick">{{ brand.name }}</span>{% endif %}
            </div>

            <div class="brand-basic-info">
                <ul>
                    {% if brand.alias %}<li>又名:&nbsp;{{ brand.alias }}&nbsp;|</li>{% endif %}
                    {% if brand.country %}<li>&nbsp;国家:&nbsp;{{ brand.country }}&nbsp;|</li>{% endif %}
                    {% if brand.website %}<li>&nbsp;官网:&nbsp;<a href="{{ brand.website }}" target="_blank">&nbsp;{{ brand.website }}</a></li>{% endif %}
                </ul>
            </div>

            <div class="brand-intro-wrapper">
                {% if brand.intro %}<p>{{ brand.intro }}</p>{% endif %}
                <br>
            </div>
        </div>
        <div class="row sorting-wrapper">
             <div class="col-md-12">
                <div class="category-header category-header-control">
                    <span class="dropdown-toggle category-action pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           aria-haspopup="false" role="button" aria-expanded="false">
                            {% if sort_method == 'pub_time' %}
                                按时间
                            {% else %}
                                按喜爱
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul  id="sort_dropdown" class="dropdown-menu dropdown-menu-control" role="menu"  >
                            <li ><a href="{{ sort_url }}">按时间</a></li>
                            <li  class="divider"></li>
                            <li ><a href="{{ sort_url }}olike/">按喜爱</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>

        <div class="row entity-wrapper">
            {% for entity in entities %}
                {% include 'web/main/partial/entity.html' with entity=entity.object %}
            {% endfor %}
        </div>

    </div>

    {% include 'web/main/partial/number_paginator.html' with objects=page_obj url=request.path %}

{% endblock %}

{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/brand_page_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}