{% extends 'web/base.html' %}
{% load i18n static %}
{% load common %}

{% block title %}果库专题列表{% endblock %}
{% block keyword %}果库专题,打折促销,福利优惠,抽奖免费送,淘宝网购物,淘宝网精选专辑{% endblock %}
{% block description %}果库专题，超实用的网络购物专辑，发现好物更便捷，闪购商品更迅速。品质生活，你值得拥有。{% endblock %}

{% block h1 %}果库专题列表{% endblock %}

{% block content %}
        {% block bg %}
        {% endblock %}
    <div class="container">
        {% block headevent %}
        {% endblock %}

        {% block tag %}
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-home" role="tablist">
                    <li>专题</li>
                    <li>｜</li>
                    <li>往期专题</li>
                </ul>
            </div>
        </div>
        {% endblock %}


        <div class="row" id="event_list">
            {% for event in event_list %}
                {% include "web/events/partial/event_list_item.html" with event=event %}
            {% endfor %}
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>



    </div>
{% endblock %}


{% block script %}
{% endblock %}


