{% extends 'web/base.html' %}
{% load i18n static %}
{% load common %}

 {% block meta-og %}
    <meta property="og:title" content="果库往期专题 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库的专题页，针对网友们关注的日常生活话题，进行深入报道，从精选的图文、商品，关联的品牌、标签，并配合网友们的经验分享，全方位多维度地解读消费文化和现象。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="专题 | 精英消费指南 | 果库">
    <meta name="keywords" content="往期专题,专题,消费专题,编辑推荐,精选图文,精选商品,{% for event in event_list %}{{ event.title }},{% endfor %}果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="{% for event in event_list %}{{ event.title}},{% endfor %}果库专题针对网友们关注的日常生活话题展开，精选的图文、商品，关联的品牌、标签，深度解读网友们感兴趣的消费文化和现象。">
{% endblock %}
{% block title %}专题 | 精英消费指南 | 果库{% endblock %}


{#{% block title %}果库专题列表{% endblock %}#}
{#{% block keyword %}果库专题,打折促销,福利优惠,抽奖免费送,淘宝网购物,淘宝网精选专辑{% endblock %}#}
{#{% block description %}果库专题，超实用的网络购物专辑，发现好物更便捷，闪购商品更迅速。品质生活，你值得拥有。{% endblock %}#}
{% block h1 %}果库专题列表{% endblock %}

{% block content %}
        {% block bg %}
        {% endblock %}
    <div class="container " id="event_list_page">
        {% block headevent %}
        {% endblock %}

        {% block tag %}
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-home" role="tablist">
                    <li>专题</li>
                    <li>｜</li>
                    <li>往期专题</li>
                </ul>
            </div>
        </div>
        {% endblock %}


        <div class="row" id="event_list">
            {% for event in event_list %}
                {% include "web/events/partial/event_list_item.html" with event=event %}
            {% endfor %}
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>



    </div>
{% endblock %}


{% block basic_script %}
{#<script data-main="{% static 'js/web/app/article_list_app.js' %}" src="{% static 'js/web/app/require.js' %}"></script>#}
    <script data-main="{% static 'js/web/jsbuild/event_page_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>

{% endblock %}


