{% extends 'web/seller_management/seller_management_base.html' %}
{% load i18n %}
{% load staticfiles i18n %}
{% block content %}
    <section class="content-header">
        <ol class="new-breadcrumb">
            <li><a href="{% url 'web_seller_management' %}" class="new-blue-link">{% trans '卖家中心' %}</a></li>
            <li><a href="{% url 'web_seller_management_order_list' %}" class="new-blue-link">{% trans 'order' %}</a></li>
            <li><a >{% trans '订单详情' %}</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="new-box">
                    <div class="new-box-body">
                        {% include 'web/seller_management/order_detail_table.html' %}
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        创建时间:{{ order.created_datetime|date:'Y-m-d H:i:s' }}
                    </li>
                    <li>
                        结账时间:{{ order.updated_datetime|date:'Y-m-d H:i:s' }}
                    </li>
                    <li>
                        结账路径:
                    </li>
                    <li>
                        实收款:&yen;{{ promo_total_price }}
                    </li>
                    <li>
                        交易号:
                    </li>
                    <li>
                        <a href="{% url 'web_seller_management_order_list' %}" class="new-blue-link">
                            <i class="fa fa-caret-left"></i>&nbsp;&nbsp;返回
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}

{% block user_script %}
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>
    <script src="{% static 'js/management/moment.js' %}"></script>

{#     <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>#}
    <script src="{% static 'js/management/manage_search.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/seller_management/entity_save.js' %}" type="application/javascript"></script>
{% endblock %}

