{% load i18n %}
{% load static %}
{% load guoku %}
{#<div>#}
{#    <span >#}
{#                    订单号:{{order.number }}#}
{#    </span>#}
{#    <span style="float:right">#}
{##}
{#                    订单状态:{{order.get_status_display }}#}
{#    </span>#}
{#</div>#}
<table class="new-table new-table-bordered new-table-hover">

                <thead>
                    <tr>
                      <th>
                            {% trans 'entity' %}
                        </th>
                        <th>
                            {% trans '单价' %}
                        </th>
                        <th>
                            {% trans '数量' %}
                        </th>
                        <th>
                            {% trans '实收款' %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr class="order-cell-header">
                    <td colspan="5">
                        订单号:{{order.number }} &nbsp;&nbsp;交易状态:{{order.get_status_display }}&nbsp;&nbsp;成交时间:here need time
                    </td>
                </tr>

                    {% for order in order_item %}
                        <tr>
                            <td>
                                <div>
                                    <img src = {{ order.sku.entity.chief_image|resize:'128' }} width="54px" height="54px">
                                </div>
                                <div>
                                    {{ order.title }}
                                </div>
                                <div>
                                     {{ order.sku.attrs_display }}
                                </div>
                            </td>
                            <td>
                                &yen;{{ order.grand_total_price }}
                                 &yen;{{ order.promo_total_price }}
                            </td>
                            <td>
                                {{ order.volume }}
                            </td>
                            <td>
                                {{ promo_total_price }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
</table>



