{% load i18n %}
{% load static %}
<div>
    <span >
                    订单号:{{order.number }}
    </span>
    <span style="float:right">

                    订单状态:{{order.get_status_display }}
    </span>
</div>
<table class="table table-bordered table-hover">

                <thead>
                    <tr>
                        <th>
                            {% trans '商品名称' %}
                        </th>
                        <th>{% trans 'sku名称' %}</th>
                        <th>{% trans '商品图' %}</th>
                        <th>{% trans '原价' %}</th>
                        <th>{% trans '促销价' %}</th>
                        <th>{% trans '数量' %}</th>
                    </tr>
                </thead>
                <tbody>

                    {% for order in order_item %}
                        <tr>
                            <td>
                                {{ order.title }}</td>
                            <td>{{ order.sku.attrs }}</td>
                            <td class="product-thumb-img">
                                {# <div class="thumbnail">#}
                                   <img class="img-responsive img-thumbnail" src = {{ order.sku.entity.images.0 }} width="80" height="80">
                                 {#   <div class="caption">#}
                                {#    </div>#}
                              {#  </div> #}
                            </td>

                            <td>{{ order.grand_total_price }}</td>
                            <td>{{ order.promo_total_price }}</td>
                            <td>
                                {{ order.volume }}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="float:right">
                结账时间 :           结账路径:      总价:{{ promo_total_price }} (原价: {{ origin_total_price }})
            </div>



