{% extends 'web/seller_management/seller_management_base.html' %}
{% load i18n %}
{#{% load guoku %}#}


{% block content %}

    <section class="content-header">
        <h1>
            {{ entity.title }}
        </h1>
    </section>

    <section class="content">
        <div class="row placeholders" id="images">
            {% include 'management/entities/partial/all_entity_images.html'%}
        </div>
        <div class="row">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
{#                {{ forms }}#}
                {% for field in forms %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        <div class="col-sm-5">
                            {{ field }}
                        </div>
                        <div class="col-sm-5">
                            <span>{{ field.help_text }}</span>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>
                </div>
            </div>
        </form>
    </div>
    </section>

{% endblock %}