{% load i18n %}
{% load static %}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>

                        <th>{% trans 'name' %}
                        <input class="guoku_search_input" data-search-field="title" type="text" ></th>
                        <th><a href="{% url  'web_seller_management' %}?sort_by=price">
                            {% trans 'price' %}
                        {%  if sort_by == 'price' %}<i class="fa fa-arrow-circle-down"></i>{% endif %}</a></th>
                        <th>{% trans '库存' %}</th>
                        <th>{% trans 'skus' %}</th>
                        <th>
{#                            {% trans '商品<br>数量' %}{%  if sort_by == 'entity' %}<i class="fa fa-arrow-circle-down"></i>{% endif %}#}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in object_list %}
                        <tr>
                            <td>{{ entity.title }}</td>
                            <td>{{ entity.price }}</td>
                            <td>{{ entity.stock }}</td>
                            <td>{% for sku in entity.sku_list %} {{ sku.attrs_display }}<br>{% endfor %}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'sku_list_management' entity.id %}" target="_blank">{% trans 'SKU管理' %}</a>
                                    <a class="btn btn-default" href="{% url 'web_seller_management_entity_edit' entity.pk %}" target="_blank">{% trans 'edit' %}</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>