{% extends 'web/seller_management/seller_management_base.html' %}
{% load i18n %}
{% load staticfiles i18n %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'entity' %}
            <a href="{% url 'web_seller_management_entity_add' %}"><i class="fa fa-plus" style="font-size:18px;"></i></a>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard">{% trans "home" %}</i></a></li>
            <li class="active">{% trans 'entity' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                    </div>
                    <div class="box-body table-responsive">
                        {% include 'web/seller_management/seller_management_entity_list.html' %}
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block user_script %}
     <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/manage_search.js' %}" type="application/javascript"></script>
{% endblock %}
