{% extends 'web/seller_management/seller_management_base.html' %}
{% load i18n %}
{% load staticfiles i18n %}

{% block content %}
    <section class="content-header">
            <a class="btn seller-mng-btn" href="{% url 'web_seller_management_entity_add' %}">
                <i class="fa fa-plus"></i>
                 添加商品
            </a>
            {% if current_url == '/seller_management/' %}
                <a class="btn  seller-mng-btn" href="{{ current_url }}?print=true" target="_blank">
                    <i class="fa fa-qrcode"></i>
                    {% trans '打印二维码' %}
                </a>
            {% else %}
                <a class="btn  seller-mng-btn" href="{{ current_url }}&print=true" target="_blank">
                    <i class="fa fa-qrcode"></i>
                    {% trans '打印二维码' %}
                </a>
            {% endif %}
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="new-box">
                    <div class="new-box-body table-responsive">
                        {% include 'web/seller_management/seller_management_entity_list.html' %}
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block user_script %}
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>
    <script src="{% static 'js/management/moment.js' %}"></script>
    <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/manage_search.js' %}" type="application/javascript"></script>
{#    <script src="{% static 'js/management/seller_management/sku_save.js' %}" type="application/javascript"></script>#}

    <script>
{#    along write begin #}
    $("div.entity_price").hover(function(){
        if (!$(this).html().match("input")){
{#            $(this).append("<div id='edit' onclick='changeContent()'><i class='fa fa-pencil-square'></i></div>");#}
             $(this).append("<i class='fa fa-pencil-square' id='edit' onclick='changeContent()'></i>");
        }
        }, function(){

        $(this).children("i").remove();
        });

    function changeContent(){
            var parent = document.getElementById("edit").parentNode;
            var result = parent.innerHTML.split('<i')[0];
            console.log(parent);
            parent.innerHTML = "<input style='height:34px;' type='text'"  + "data-entity-id='"+ parent.id + "'value='" + result + "'/>" +
                    '<button type="submit" id="test_button" class="btn btn-success sku-save-btn" onclick="update_price(event)">保存</button>';

}

    function update_price(event){
        var button = event.currentTarget;
        var input = button.previousSibling;
        var parent = button.parentNode;
        var entity_id = input.getAttribute('data-entity-id');
        var sku_id = parent.getAttribute('data-sku-id');
        var price = Number(input.value.split('¥')[1]);
        console.log(sku_id);
        console.log(price);
        var url = '/seller_management/' + entity_id + '/save/';
        $.when($.ajax({
            url: url,
            method: 'POST',
            data:{
                'sku_id':JSON.stringify(sku_id),
                'price':JSON.stringify(price),
            }
            })).then(function (data) {
            var status = parseInt(data.status);
            if (status > 0) {
                bootbox.alert('更新成功');
            }
            input.parentNode.innerHTML = '¥' + price;

        }, function () {
            bootbox.alert('更新失败');

        });
    }
{#    along write end #}

{# luoqian copy ,should refactor these codes #}

    $("div.entity-stock").hover(function(){
        if (!$(this).html().match("input")){
             $(this).append("<i class='fa fa-pencil-square' id='stock_edit' onclick='changeStockContent()'></i>");
        }
        }, function(){

        $(this).children("i").remove();
        });

        function changeStockContent(){
            var parent = document.getElementById("stock_edit").parentNode;
            alert(parent.innerHTML);
            var result = parent.innerHTML.split('<i')[0];
            parent.innerHTML = "<input style='height:34px;' type='text'"  + "data-entity-id='"+ parent.id + "'value='" + result + "'/>" +
                    '<button type="submit" class="btn btn-success sku-save-btn" onclick="update_stock(event)">保存</button>';
        }
      function update_stock(event){
        var button = event.currentTarget;
        var input = button.previousSibling;var parent = button.parentNode;
        var entity_id = input.getAttribute('data-entity-id');
        var sku_id = parent.getAttribute('data-sku-id');
        var stock = Number(input.value);
        var url = '/seller_management/' + entity_id + '/save/';
          console.log(sku_id);
          console.log(input.value);
        $.when($.ajax({
            url: url,
            method: 'POST',
            data:{
                'sku_id':JSON.stringify(sku_id),
                'stock':JSON.stringify(stock)
            }
            })).then(function (data) {
            var status = parseInt(data.status);
            if (status > 0) {
                bootbox.alert('更新成功');
            }
            input.parentNode.innerHTML = stock;

        }, function () {
            bootbox.alert('更新失败');

        });
    }


    </script>


{% endblock %}
