{% load i18n static %}
{% load guoku %}
{#{% block content %}#}
 <section class="content-header">
        <h1>
            添加SKU
            <small></small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li class="active">添加SKU</li>
        </ol>
    </section>

    <section class="content" id="create-seller">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">SKU信息</h3>
                    </div>

                        <form class="form-horizontal" id="sku_form" enctype="multipart/form-data" action="" method="post">
                            {% csrf_token %}
                            <div class="box-body">
                            {% for field in form %}

                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                                        <div class="col-sm-10">
                                            {{ field }}<span class="field-errors">{{ field.errors }}</span>
                                        </div>
{#                                        {{ field.errors }}#}
{#                                        {{ field.label_tag }} {{ field }}#}
{#                                        {% if field.help_text %}#}
{#                                            <p class="help">{{ field.help_text|safe }}</p>#}
{#                                        {% endif %}#}
                                    </div>
                                    <div class="form-error">

                                    </div>

                            {% endfor %}
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">SKU 属性编辑</label>
                                    <div class="col-sm-6">
                                        <table class="table table-striped attr-table">

                                            <tr class="attr-add-tr">
                                                <td COLSPAN="2">
                                                    <button type="button" class="btn btn-success attr-add">
                                                        添加属性
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>


                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <center>
                                    <table>
                                        <td>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                                <button type="submit" class="btn btn-primary btn-lg save-sku"> 保存 SKU</button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                                <button class="btn btn-primary btn-lg" href="{% url 'sku_list_management' entity_id %}">返回SKU列表</button>
                                            </div>
                                        </td>
                                    </table>
                                </center>

                            </div>

                         </form>

                </div>
            </div>
        </div>
    </section>
{#{% endblock %}#}

