{% load i18n %}
{% load static %}
{% load guoku %}

<table class="new-table new-table-bordered new-table-hover" id="seller_management_entity_price">
    <thead>
    <tr>
        <th class="entity-search">
            {% trans 'entity' %}
            <input class="guoku_search_input" data-search-field="title" type="text">
            <i class="fa fa-search">
            </i>
        </th>
        <th>
            {% trans 'SKU属性' %}
        </th>
        <th>
            {% trans 'price' %}
        </th>

        <th>{% if sort_by == 'dstock' %}
            <a href="{% url  'web_seller_management' %}?sort_by=ustock">
        {% else %}
            <a href="{% url  'web_seller_management' %}?sort_by=dstock">
        {% endif %}
            {% trans '库存' %}
            {%  if sort_by == 'dstock' %}<i class="fa fa-arrow-circle-down"></i>
            {% elif sort_by == 'ustock' %}<i class="fa fa-arrow-circle-up"></i>
            {% endif %}
            </a>

        </th>
        <th>{% if sort_by == 'dupdated_time' %}
            <a href="{% url  'web_seller_management' %}?sort_by=uupdated_time">
        {% else %}
            <a href="{% url  'web_seller_management' %}?sort_by=dupdated_time">
        {% endif %}
            {% trans '最后修改时间' %}
            {%  if sort_by == 'dupdated_time' %}<i class="fa fa-arrow-circle-down"></i>
            {% elif sort_by == 'uupdated_time' %}<i class="fa fa-arrow-circle-up"></i>
            {% endif %}</a></th>
        <th>
            {% trans '操作' %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for entity in object_list %}
        <tr>
            <td class="entity-cell">
                <a href="{% url 'web_entity_detail' entity.entity_hash %}" target="_blank">
                    <img src="{{ entity.chief_image|resize:'128' }}" width="54" height="54">
                </a>
                {{ entity.title }}
            </td>
            <td class="sku-cell">
                 {% for sku in entity.sku_list %}
                    {% if sku.attrs_display %}
                        <div class="sku-item">
                         {{ sku.attrs_display }}
                        </div>
                    {% else %}
                        默认
                    {% endif %}
                {% endfor %}

            </td>
            <td class="price-wrapper">
{#                <div class="entity_price" id="{{ entity.id }}">#}
                    {% for sku in entity.sku_list %}
                        <div class="sku-item entity_price" id="{{ entity.id }}">
                          &yen;{{ sku.promo_price }}
                        </div>
                    {% endfor %}
{#                </div>#}
            </td>
            <td>
                {% for sku in entity.sku_list %}
{#                    {% if sku.attrs_display %}#}
{#                        {{ sku.attrs_display }}#}
{#                    {% else %}#}
{#                        缺省SKU#}
{#                    {% endif %}#}
{#                    <form>#}
{#                        <input id="{{ sku.id }}_price" type="text" style="width:80px; height:30px" name="{{ sku.id }}" value="{{ sku.promo_price }}">#}
{#                        <input id="{{ sku.id }}_stock" type="text" style="width:80px; height:30px" name="{{ sku.id }}" value="{{ sku.stock }}">#}
{#                        <span class="btn newest-btn-primary"  id="{{ sku.id }}" target="_blank">{% trans 'update' %}</span>#}
{#                    </form>#}
                     <div class="sku-item">
                          {{ sku.stock }}
                     </div>
                {% endfor %}
            </td>
            <td class="update-time-cell">
                {{ entity.updated_time|date:'Y-m-d' }}
                <br>
                {{ entity.updated_time|date:'H:i:s' }}
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn newest-btn-primary" href="{% url 'sku_list_management' entity.id %}" target="_blank">
                        {% trans 'SKU管理' %}
                    </a>
                    <br>
                    <a class="new-blue-link" href="{% url 'web_seller_management_entity_edit' entity.pk %}" target="_blank">
                        {% trans '编辑商品信息' %}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>