{% extends 'web/seller_management/seller_management_base.html' %}
{% load i18n %}
{% load staticfiles i18n %}

{% block content %}
    <section class="content-header">
            <a id="add_entity_bookmark" class="btn seller-mng-btn" href="javascript:window.open(%27http://www.guoku.com/seller_management/import_entity/%3Furl%3D%27 %2BencodeURIComponent(location.href), %27_blank%27)%3B"
               onclick="javascript:bootbox.alert('请把这个按钮拖到你的浏览器书签栏');return false;"
            >
                <i class="fa fa-star"></i>
                 添加商品书签
            </a>
            <a class="btn seller-mng-btn" href="{% url 'web_seller_management_entity_add' %}">
                <i class="fa fa-plus"></i>
                 手工添加商品
            </a>
            {% if current_url == '/seller_management/' %}
                <a id="checked_print_qrcode" class="btn seller-mng-btn" href="#" data-url="{% url 'web_seller_management_qrcode_list' %}" target="_blank">
                    <i class="fa fa-qrcode"></i>
                    {% trans '打印二维码' %}
                </a>
            {% else %}
                <a id="checked_print_qrcode" class="btn seller-mng-btn" href="#" data-url="{% url 'web_seller_management_qrcode_list' %}" target="_blank">
                    <i class="fa fa-qrcode"></i>
                    {% trans '打印二维码' %}
                </a>
            {% endif %}
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="new-box">
                    <div class="new-box-body">
                        {% include 'web/seller_management/seller_management_entity_list.html' %}
                    </div>

                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block user_script %}
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>
    <script src="{% static 'js/management/moment.js' %}"></script>
    <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/manage_search.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/seller_management/sku_stock_update.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/seller_management/print_checked_entity.js' %}" type="application/javascript"></script>
{#    <script src="{% static 'js/management/seller_management/sku_save.js' %}" type="application/javascript"></script>#}
{% endblock %}