{% extends 'web/seller_management/seller_management_base.html' %}
{% load i18n %}
{% load guoku %}
{% load staticfiles i18n %}

{% block content %}
    <section class="content-header">
        <ol class="new-breadcrumb">
            <li><a href="{% url 'web_seller_management' %}">{% trans '卖家中心' %}</a></li>
            <li><a href="{% url 'web_seller_management' %}">{% trans 'entity' %}</a></li>
            <li><a >{% trans 'SKU管理' %}</a></li>
        </ol>
        <h1>
            {{ entity.title }}
        </h1>
    </section>

    <section class="content">
        <div class="row">
             <div class="col-xs-12">
{#                 {% include "management/entities/partial/entity_images.html" %}#}
                  <img class="img-responsive" alt="{{ entity.title }}" src="{{ entity.chief_image|resize:'320' }}" width="240" height="240">
            </div>
        </div>

        <div class="row" style="margin-top:32px;margin-bottom: 16px;">
            <div class="col-xs-12">
                 <a id="add_sku_trigger" class="btn newest-btn-primary" data-url="{% url 'sku_add_box' entity.id %}">添加SKU</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="new-box">
                    {% include 'web/seller_management/partial/skus_list.html' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block user_script %}
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>

    <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/seller_management/sku_switch.js' %}" type="application/javascript"></script>

    {% include 'management/entities/create_sku_script_template.html' %}

    <script src="{% static 'js/management/seller_management/sku_add.js' %}" type="application/javascript"></script>
     <script src="{% static 'js/management/seller_management/sku_edit.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/seller_management/sku_delete.js' %}" type="application/javascript"></script>


{% endblock %}

