{% load i18n %}
{% load static %}
{% load guoku %}
            <table class="new-table new-custom-table-bordered new-table-hover">
                <thead>
                    <tr>
                        <th>
                            {% trans 'entity' %}
                        <input class="guoku_search_input" data-search-field="title" type="text" >
                        </th>

                        <th>
                            SKU属性
                        </th>
                        <th>
                            {% if sort_by == 'dsold_count' %}
                                <a class="new-blue-link" href="{% url  'web_seller_management_sold_entity_list' %}?sort_by=usold_count">
                            {% else %}
                                <a class="new-blue-link" href="{% url  'web_seller_management_sold_entity_list' %}?sort_by=dsold_count">
                            {% endif %}
                                {% trans '售出数量' %}
                            {%  if sort_by == 'dsold_count' %}<i class="fa fa-arrow-down"></i>
                            {% elif sort_by == 'usold_count' %}<i class="fa fa-arrow-up"></i>
                            {% endif %}</a>
                        </th>
                        <th>{% if sort_by == 'dstock' %}
                                <a class="new-blue-link" href="{% url  'web_seller_management_sold_entity_list' %}?sort_by=ustock">
                            {% else %}
                                <a class="new-blue-link" href="{% url  'web_seller_management_sold_entity_list' %}?sort_by=dstock">
                            {% endif %}
                                {% trans '库存数量' %}
                            {%  if sort_by == 'dstock' %}<i class="fa fa-arrow-down"></i>
                            {% elif sort_by == 'ustock' %}<i class="fa fa-arrow-up"></i>
                            {% endif %}</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for sku in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'web_entity_detail' sku.entity.entity_hash %}" target="_blank">
                                <img src="{{ sku.entity.chief_image|resize:'128' }}" width="54px" height="54px">
                                </a>
                                {{ sku.title }}
                            </td>
                            <td>
                                {% if sku.attrs_display %}
                                    {{ sku.attrs_display }}
                                {% else %}
                                    缺省SKU
                                {% endif %}
                            </td>
                            <td>
                                {{ sku.sold_count }}
                            </td>
                            <td>
                                {{ sku.stock }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>