{% extends 'web/base.html' %}

{% load i18n staticfiles %}


{% block meta-og %}
    <meta property="og:title" content="果库精选商品 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="果库精选商品 | 精英消费指南 | 理想生活主张">
    <meta name="keywords" content="精选商品,精选,尽收世上好物,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% block title %}没想到你是这种猴{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/happy.css' %}">
{% endblock %}

{% block body_class %} gray-body happy-body {% endblock %}

{% block weixin_share_img %}
{% endblock %}


{% block header %}

{% endblock %}

{% block content %}

    <div class="bg-layer" style="background-image: url({% static 'images/chunjie/pattn.jpg' %})"></div>

    <div class="container-fluid happy-layer" id="first-layer">
        <h3 id="theme-title">没想到你是这种猴</h3>
        <div class="form-wrapper">
            <form id="form" method="get" action="" onsubmit="return validate_form(this);">
                <input type="text" name="username" id="username" placeholder="在这里输入你的名字">
                <input type="hidden" name="monkeyIndex" id="monkeyIndex" value="0">
                <input type="hidden" name="status" id="status" value="0">
                <input type="submit" name="submit" class="happy-common-btn happy-btn-control" value="去看看">
            </form>
        </div>
    </div>

    <div class="container-fluid happy-layer user-icon-responsive" id="second-layer">
{#        <a href="" target="_self" id="share" class="happy-common-btn happy-btn-control">分享给好友</a>#}
        <a href="" target="_self" id="go-back" class="happy-common-btn happy-btn-control">去看看</a>

    </div>

{% endblock %}

{% block footer %}

{% endblock %}

{% block basic_script %}

    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/web/site.js' %}"></script>
{% endblock %}

{% block script %}
    <script>
        (function() {
            var currentUserName = getQueryVariable("username");
            var i = parseInt(getQueryVariable("monkeyIndex"));
            var currentStatus = getQueryVariable("status");

            if(currentUserName.length !=0){
                var currentLayer = document.getElementById("first-layer");
                currentLayer.style.display = "none";
                var nextLayer = document.getElementById("second-layer");
                nextLayer.style.display = "block";

                var monkeyName,wish,monkeyIntro;
                var monkeyLists = ["kangkang","bingshenhou","noritake","fuluhou","mujihou"];
                var currentMonkey = document.createElement('img');

                switch (i) {
                    case 0:
                        monkeyName="康康";
                        monkeyIntro = "来自某某笔下的猴";
                        wish="「回顾旧日的生活经历，描绘新年的美好愿景。」";
                        break;
                    case 1:
                        monkeyName="丙申猴";
                        monkeyIntro = "来自某某笔下的猴";
                        wish="「回顾旧日的生活经历，描绘新年的美好愿景。」";
                        break;
                    case 2:
                        monkeyName="noritake";
                        monkeyIntro = "来自某某笔下的猴";
                        wish="「回顾旧日的生活经历，描绘新年的美好愿景。」";
                        break;
                    case 3:
                        monkeyName="福禄猴";
                        monkeyIntro = "来自某某笔下的猴";
                        wish="「回顾旧日的生活经历，描绘新年的美好愿景。」";
                        break;
                    case 4:
                        monkeyName="奇怪猴";
                        monkeyIntro = "来自MUJI中国官网的猴";
                        wish="「回顾旧日的生活经历，描绘新年的美好愿景。」";
                        break;
                }
                currentMonkey.src = "{% static 'images/chunjie/'%}"+monkeyLists[i]+".jpg";
                var currentIntro = document.createElement('p');
                var introNode = document.createTextNode(monkeyIntro);
                currentIntro.appendChild(introNode);
                var decoration = document.createTextNode('──');
                var currentWish = document.createElement('p');
                var wishNode = document.createTextNode(wish);
                currentWish.appendChild(wishNode);
                var goback = document.getElementById("go-back");
                goback.href=document.referrer;
                nextLayer.insertBefore(currentMonkey,goback);
                nextLayer.insertBefore(currentIntro,goback);
                nextLayer.insertBefore(decoration,goback);
                nextLayer.insertBefore(currentWish,goback);
            }
        })();

        //a method to get url variables'value
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
        }

        function validate_form(thisform)
        {
            var userName= document.getElementById('username').value;
            var status = document.getElementById('status');
            var monkeyIndex = document.getElementById('monkeyIndex');

            if(userName.length === 0){
                alert('亲爱的果库粉,请输入你的大名~');
                return false;
            }
            else{
                status.value = 1;

                var monkeyLists = ["kangkang","bingshenhou","noritake","fuluhou","mujihou"];
                var i = Math.floor(Math.random() * monkeyLists.length+ 1)-1;
                monkeyIndex.value = i;
            }
        }

    </script>
{% endblock %}

