{% extends 'web/base.html' %}

{% load i18n staticfiles %}


    {% block meta-og %}
        <meta property="og:title" content="果库精选商品 | 精英消费指南 | 理想生活主张" >
        <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
        <meta property="og:description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
    {% endblock %}

    {% block meta-common %}
        <meta name="title"  content="果库精选商品 | 精英消费指南 | 理想生活主张">
        <meta name="keywords" content="精选商品,精选,尽收世上好物,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
        <meta name="description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
    {% endblock %}




    {% block css %}
    {% endblock %}


{% block weixin_share_img %}
{% endblock %}


{% block header %}

{% endblock %}

{% block content %}
    <h1>WELCOME!</h1>
    <hr>
    <div class="container-fluid" id="first-layer">
        <div class="form-wrapper">
            <form id="form" method="get" action="" onsubmit="return validate_form(this);">
                <p>What is your name?</p>
                <input type="text" name="username" id="username">
                <p>Say something to your friends?</p>
                <input type="text" name="wish" id="wish">
                <input type="submit" name="submit" class="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="container-fluid" id="second-layer">
        <a href="" target="_self" id="go-back">我要去制作个性新年祝福</a>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}

{% block basic_script %}

    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/web/site.js' %}"></script>
{% endblock %}

{% block script %}
    <script>

        (function() {
            var currentUserName = getQueryVariable("username");
            var currentWish = getQueryVariable("wish");

            if(currentUserName.length !=0){
                var currentLayer = document.getElementById("first-layer");
                currentLayer.style.display = "none";

                var nextLayer = document.getElementById("second-layer");
                nextLayer.style.display = "block";
                var currentWish = document.createTextNode(currentUserName+"给您送上新年祝福:"+currentWish);
                var goback = document.getElementById("go-back");
                goback.href=document.referrer;
                nextLayer.insertBefore(currentWish,goback);

                document.title = currentUserName+"给您送上新年祝福";
            }
        })();

        //a method to get url variables'value
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
        }

        function validate_form(thisform)
        {
            {#         var userName= document.getElementById('username').value;#}
            {#         var userWish = document.getElementById('wish').value;#}
            {#         if(userName.length === 0){#}
            {#             alert('please enter your name.');#}
            {#             return false;#}
            {#         }#}
            {#         var total = userName+"给你写了一份新年祝福:"+userWish;#}
            {#         alert(total);#}
        }



    </script>
{% endblock %}

</body>
</html>
