{% load i18n staticfiles %}
{% load common guoku %}
<div class="col-md-12 tips hidden-xs">
                <ul>
                   {% if entity.is_in_selection %}
                    <li >
                        <a href="{% url 'web_selection' %}">
                            {% trans 'selection' %}
                        </a>&nbsp;&nbsp;
                        <i class="fa fa-angle-right fc_angle_right"></i>&nbsp;&nbsp;</li>
                    {% endif %}
                    <li><a href="{% url 'web_category_group' entity.category.group.pk %}">{{ entity.category.group.title }}</a>&nbsp;&nbsp;<i class="fa fa-angle-right fc_angle_right"></i>&nbsp;&nbsp;</li>
                    <li><a href="{% url 'web_category_detail' entity.category_id %}">{{ entity.category.title|show_category }}</a>&nbsp;&nbsp;<i class="fa fa-angle-right fc_angle_right"></i>&nbsp;&nbsp;</li>
                    <li >{% if entity.brand|length != 0 %}{{ entity.brand }} - {% endif %}{{ entity.title }}</li>
                </ul>
            </div>