{% load i18n staticfiles %}
{% load common guoku %}
{# 如果品牌已经发布，CLASS="brand published"#}
<div class="brand" itemprop="brand">{{ entity.brand }}</div>
<div class="entity-title" itemprop="name">{{ entity.title }}</div>
<div class="price-tag"><span itemprop="price">&#65509;{{ entity.price }}</span></div>
<div class="entity-status">
    <ul>
        <li><i class="fa fa-heart"></i>{{ entity.like_count }}</li>
        <li class="seperator">|</li>
        <li><i class="fa fa-edit"></i>{{ entity.note_count }}</li>
    </ul>
</div>

{% if tags|length > 0 %}
    <div class="entity-tags">
        <ul>
            {% for row in tags %}
{#                {{ tag }}#}
                 <li><a href="{% url "tag_entities_url" row.tag__hash %}" target="_blank">{{ row.tag__name|truncatechars:8 }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<div class="button-wrapper container-fluid">
   <div class="row">
       <div class="col-xs-12 col-sm-10 guoku-button like-btn">
           {% if like_status %}
            <a class="like-action fc_333" href="javascript:;" rel="nofollow" data-target-status="{{ like_status }}" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'unlike', '{{ entity.title }}']);">
                <i class="fa fa-heart fc_heart"></i>&nbsp;&nbsp;{% trans 'Like' %}&nbsp;
{#                <span class="like-count">#}
{#                    {% if entity.like_count > 0 %}#}
{#                      {{ entity.like_count  }}#}
{#                    {% endif %}#}
{#                </span>#}
            </a>
        {% else %}
            <a class="like-action fc_333" href="javascript:;" rel="nofollow" data-target-status="{{ like_status }}" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'like', '{{ entity.title }}']);">
                <i class="fa fa-heart-o "></i>&nbsp;&nbsp;{% trans 'Like' %}&nbsp;
{#                <span class="like-count">#}
{#                    {% if entity.like_count > 0 %}#}
{#                      {{ entity.like_count  }}#}
{#                    {% endif %}#}
{#                </span>#}
            </a>
        {% endif %}
       </div>
   </div>
   <div class="row ">
{#            {% for row in entity.buy_links.all %}#}
               {% with row=entity.default_buy_link %}
                {% if row.status == 2 %}
                     <div class="col-xs-12 col-sm-10  guoku-button buy-btn">
                     {% if row.origin_source == "taobao.com" or row.origin_source == "tmail.com" %}
{#                {% if row.status != 0 %}#}
                        <a class="buy-button" rel="nofollow" href="http://detail.tmall.com/item.htm?id={{ row.origin_id }}" target="_blank" biz-itemid="{{ row.origin_id }}" _hover-ignore="1" id="buy-btn" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-taobao', '{{ entity.title }}-taobao'])">
        {#                    <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;{% trans 'Buy' %}<span itemprop="price"></span>#}
                            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;{% trans 'Buy' %}<span itemprop="price"></span>
                        </a>
{#                {% endif %}#}
{#                    {% elif row.origin_source == "jd.com"%}#}
{#                        <a class="buy-button" rel="nofollow" href="{% url 'web_entity_buy_url' row.id %}" target="_blank" _hover-ignore="1" id="buy-btn" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-jd', '{{ entity.title }}-jd'])">#}
{#                            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;{% trans 'Buy' %}<span itemprop="price"></span>#}
{#                        </a>#}
{#                    {% elif "amazon" in row.origin_source %}#}
{#                        <a class="buy-button" rel="nofollow" href="{% url 'web_entity_buy_url' row.id %}" target="_blank" _hover-ignore="1" id="buy-btn" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-amazon', '{{ entity.title }}-amazon'])">#}
{#                            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;{% trans 'Buy' %}<span itemprop="price"></span>#}
{#                        </a>#}
                    {% else %}
                        <a class="buy-button" rel="nofollow" href="{% url 'web_entity_buy_url' row.id %}" target="_blank" _hover-ignore="1" id="buy-btn" onclick="_hmt.push(['_trackEvent', 'entity', 'buy', '{{ entity.title }}-{{ row.origin_souce }}'])">
                            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;{% trans 'Buy' %}<span itemprop="price"></span>
                        </a>
                    {% endif %}
                    </div>
                {% else %}
                    <div class="col-xs-12 col-sm-10 guoku-button gray-button disabled-button">
                        {% trans 'Sold Out' %}
                    </div>
                {% endif %}
                {% endwith %}
{#                {% if row.status == 1 %}#}
{#                    <div class="col-sm-10  guoku-button gray-button disabled-button">#}
{#                        {% trans 'Sold Out' %}#}
{#                    </div>#}
{#                {% endif %}    #}
{#                {% if row.status == 0 %}#}
{#                    <div class="col-sm-10  guoku-button gray-button disabled-button">#}
{#                       {% trans 'product removed' %}#}
{#                    </div>#}
{#                {% endif %}#}
{#                 {% if row.shop_link %}#}
{#                     <div class="col-sm-10  guoku-button buy-btn seller-button">#}
{#                      <a class="buy-button"  biz-sellerid="{{ row.seller }}" href="{{ row.shop_link }}" target="_blank">#}
{#                       {% trans 'seller' %}#}
{#                      </a>#}
{#                    </div>#}
{#                 {% endif %}#}

{#        {% endfor %}#}


   </div>

  {% if is_entity_detail and entity.like_count > 0 %}

      <div class="row">
       <div class="col-xs-12 hidden-sm hidden-md hidden-lg clear-fix">
            <div class="title-wrapper">
                <span class="liker-counter">{{ entity.like_count }}</span>人喜爱
                <span class="pull-right link-all">

                    <a href="{% url 'web_entity_likers_list' entity.entity_hash %}">
                    <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
                    </a>
                </span>
            </div>
            <ul class="user-like-list bb-list-container user-icon-list clear-fix">

            </ul>
       </div>

        </div>

  {% endif %}



{#    <div class="row">#}
{#        {% for row in entity.buy_links.all %}#}
{#            {% if "taobao" in row.origin_source %}#}
{#                <a class="btn btn-success"  biz-sellerid="{{ row.seller }}" data-type="1" href="{{ row.shop_link }}" target="_blank" >店铺</a>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </div>#}
</div>
