{% load i18n %}
{% load static %}
{% load guoku %}
{#<div class="detail_right right_part">#}
{#    <div class="type">#}
{#        <p class="fc_2 fs_14 share">分享</p>#}
{#        <ul class="right_list fc_3 fs_14 ">#}
{#            <li class="detail-share"><a href="javascript:;">新浪微博</a></li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
{% if article %}
    <ul class="section-list">
        <li class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="writer-avatar col-sm-2">
                        <div class="avatar-wrapper">
                            <a href="{% url 'web_user_index' article.creator.pk %}">
                                <img src="{{ article.creator.profile.avatar_url|resize:'180' }}">
                            </a>
                        </div>
                    </div>
                    <div class="writer-intro col-sm-10">
                        <div class="writer-nick">
                            <a href="{% url 'web_user_index' article.creator.pk %}">
                                {{ article.creator.profile.nickname }}
                            </a>

                            <div class="writer-bio">
                                {{ article.creator.profile.bio|truncatechars:60 }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    </ul>
{% endif %}

<ul class="section-list">
    {% if request.user.is_staff  and is_entity_detail %}
        <li class="section need-bottom-border">
            <div class="section-content">
                <a href="{% url 'management_entity_edit' entity.id %}" target=_blank>
                    <i class="fa fa-pencil-square-o"></i>
                    &nbsp;&nbsp;编辑商品
                </a>
            </div>
        </li>
    {% endif %}

    {% if request.user.is_staff  and  is_article_detail %}
        <li class="section need-bottom-border">
            <div class="section-content">
                <a href="{% url 'web_editor_article_edit' article.pk %}" target=_blank>
                    <i class="fa fa-pencil-square-o"></i>
                    &nbsp;&nbsp;编辑文章
                </a>
            </div>
        </li>
    {% endif %}
    <li class="section  need-bottom-border">
        <div class="section-title">热门品类</div>
        <div class="section-content">
            <ul class="cate-list-all">
                {% for cate in pop_categories %}
                    <li>
                        <a href="{% url 'web_category_group' cate.id %}">{{ cate.title_cn }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    <li class="section">
        <div class="section-title">热门商品</div>
        <ul class="pop-entity-list">
            {% for ent in pop_entities %}
                <li>
                    <div class="pop-entity-wrapper">
                        <div class="entity-content">
                            <div class="entity-name">
                                <a href="{% url 'web_entity_detail' ent.entity_hash %}">
                                    {{ ent.title|truncatechars:20 }}
                                </a>
                            </div>
                            {#                            <div class="entity-intro">#}
                            {#                                <a href="{% url 'web_entity_detail' ent.entity_hash %}">#}
                            {#                                    {{ ent.top_note|truncatechars:42 }}#}
                            {#                                </a>#}
                            {#                            </div>#}
                        </div>
                        <div class="img-holder">
                            <a href="{% url 'web_entity_detail' ent.entity_hash %}">
                                <div class="img-frame" style="background-image:url({{ ent.chief_image|resize:'128' }})"></div>
{#                                <img width="52px" height="52px" src="{{ ent.chief_image|resize:'128' }}"/>#}
                            </a>
                        </div>

                    </div>
                </li>
            {% endfor %}
            <li class="more-entity-wrapper">
                <div class="more-popular-entity">
                    <a href="{% url 'web_popular' %}">
                        查看更多&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        </ul>
    </li>

    <li class="section">
        <div class="section-title">热门图文</div>
        <ul class="pop-article-list">
            {% for sla in pop_articles %}
                {% with sla.article as h_article %}
                    <li class="pop-article">
                        <div class="pop-article-wrapper">

                            <div class="article-content">

                                <div class="article-title">
                                    <a href="{% url 'web_article_page' h_article.pk %}">
                                        {{ h_article.title|truncatechars:32 }}
                                    </a>
                                </div>
                                {#                                <div class="article-digest">#}
                                {#                                    {% autoescape off %}#}
                                {#                                    {{ h_article.content|striptags|truncatechars:50 }}#}
                                {#                                    {% endautoescape %}#}
                                {#                                </div>#}
                            </div>
                             <div class="img-holder">
                                <a href="{% url 'web_article_page' h_article.pk %}">
                                    <div class="img-frame" style="background-image:url({{ h_article.cover_url|resize:'100' }})"></div>
{#                                    <img width="269"  src="{{ h_article.cover|resize:'270' }}"/>#}
                                </a>
                            </div>
                        </div>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </li>

    <li class="section banner-holder">
        <div class="section-banner">
            <a class="banner-link" target="_blank " href="http://www.guoku.com/articles/573/#from=sidebar">
                <img class="img-responsive" src="{% static 'images/side_bar/interview_827.jpg' %}">
            </a>
        </div>
    </li>
    <li class="section banner-holder">
        <div class="section-banner">
            <a class="banner-link" target="_blank " href="http://www.guoku.com/detail/2e3af27d/#from=sidebar">
                <img src="{% static 'images/side_bar/item_827.jpg' %}">
            </a>
        </div>
    </li>
    <li class="section banner-holder">
        <div class="section-banner">
            <a class="banner-link" target="_blank " href="http://www.guoku.com/event/20150821/#from=sidebar">
                <img src="{% static 'images/side_bar/event_827.jpg' %}">
            </a>
        </div>
    </li>
    <li class="section banner-holder">
        <div class="section-banner">
            <a class="banner-link" target="_blank " href="http://www.guoku.com/articles/301/#from=sidebar">
                <img src="{% static 'images/side_bar/article_827.jpg' %}">
            </a>
        </div>
    </li>
    <li class="section need-bottom-border">
        <div class="section-title">微信公众号订阅</div>
        <div class="section-content">
            <div class="text-holder">
                扫描左侧二维码，<BR/>或搜索「guokuapp」<BR/>立刻关注。
            </div>
            <div class="icon-holder">
                <a >
                    <div class="img-frame" style="background-image:url({% static "images/side_bar/QRcode64.jpg" %})"></div>
{#                <img width="64px" src="{% static "images/side_bar/QRcode64.jpg" %}"/>#}
                </a>
            </div>

        </div>
    </li>

    <li class="section need-bottom-border">
        <div class="section-title">{% trans 'Download App' %}</div>
        <div class="section-content">
            <div class="text-holder">
                精英消费指南，生活不一样。
                 <span class="download-link">
                     <a href="{% url "web_download" %}">
                         查看详情&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
                     </a>
                 </span>
            </div>
            <div class="icon-holder">
                <a href="{% url "web_download" %}">
                    <div class="img-frame" style="background-image:url({% static "images/side_bar/icon64.png" %})"></div>
{#                    <img width="64px" src="{% static "images/side_bar/icon64.png" %}"/>#}
                </a>
            </div>

        </div>
    </li>



    {#    <li class="section need-bottom-border">#}
    {#        <div class="section-title">喜爱</div>#}
    {#        <div class="section-content">#}
    {#            <ul class="user-icon-list">#}
    {#                {% for liker in likers %}#}
    {#                    <li>#}
    {#                        <a href="{% url 'web_user_index' liker.user_id %}" target="_blank">#}
    {#                            <img src="{{ liker.user.profile.avatar_url|resize:'50' }}" alt="{{ liker.user.profile.nickname }}" title="{{ liker.user.profile.nickname }}" width="25" height="25">#}
    {#                        </a>#}
    {#                    </li>#}
    {#                {% endfor %}#}
    {##}
    {#            </ul>#}
    {#        </div>#}
    {#    </li>#}

    {#    remove pop tags wait for tag system refactor  #}
    {#    <li class="section" >#}
    {#        <div class="section-title">热门标签</div>#}
    {#        <div class="section-content">#}
    {#            <ul class="tag-list-all">#}
    {#                {% for tag in pop_tags %}#}
    {#                    <li><a href="{% url "web_tag_detail" tag.hash %}">{{ tag.title }}</a></li>#}
    {##}
    {#                {% endfor %}#}
    {##}
    {#            </ul>#}
    {#        </div>#}
    {#    </li>#}
</ul>
<ul class="section-list" id="sidebar_fix">
        <li class="section  need-bottom-border">
        <div class="section-title">热门品类</div>
        <div class="section-content">
            <ul class="cate-list-all">
                {% for cate in pop_categories %}
                    <li>
                        <a href="{% url 'web_category_group' cate.id %}">{{ cate.title_cn }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    <li class="section remove-ready">
        <div class="section-title">热门商品</div>
        <ul class="pop-entity-list">
            {% for ent in pop_entities %}
                <li>
                    <div class="pop-entity-wrapper">
                        <div class="entity-content">
                            <div class="entity-name">
                                <a href="{% url 'web_entity_detail' ent.entity_hash %}">
                                    {{ ent.title|truncatechars:20 }}
                                </a>
                            </div>
                            {#                            <div class="entity-intro">#}
                            {#                                <a href="{% url 'web_entity_detail' ent.entity_hash %}">#}
                            {#                                    {{ ent.top_note|truncatechars:42 }}#}
                            {#                                </a>#}
                            {#                            </div>#}
                        </div>
                        <div class="img-holder">
                            <a href="{% url 'web_entity_detail' ent.entity_hash %}">
                                <div class="img-frame" style="background-image:url({{ ent.chief_image|resize:'128' }})"></div>
{#                                <img width="52px" height="52px" src="{{ ent.chief_image|resize:'128' }}"/>#}
                            </a>
                        </div>

                    </div>
                </li>
            {% endfor %}
            <li class="more-entity-wrapper">
                <div class="more-popular-entity">
                    <a href="{% url 'web_popular' %}">
                        查看更多&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        </ul>
    </li>
</ul>

