{% load static %}
{% load guoku %}
<div class="other-pics ">
      {% if entity.detail_images %}
        <div class="other-pic-list">
            <a href="javascript:;" class="">
                <img class="img-responsive" src="{{ entity.chief_image|oss_resize:'310'|smart_scheme:is_secure }}" alt="{{ entity.title }}">
            </a>
        </div>
        {% for img in entity.detail_images %}
            <div class="other-pic-list">
            <a href="javascript:;" class="">
               <img class="img-responsive" src="{{ img|oss_resize:'310'|smart_scheme:is_secure }}" alt="{{ entity.title }}">
                </a>
            </div>
        {% endfor %}
     {% endif %}
</div>