{% load static %}
{% load guoku %}

 {% for row in entity.buy_links.all %}
        {% if row.origin_source == "taobao.com" %}
            <a class="btn {% if row.default %}btn-primary{% else %}btn-default{% endif %} btn-buy"
               href=href="http://detail.tmall.com/item.htm?id={{ row.origin_id }}" target="_blank"
               biz-itemid="{{ row.origin_id }}"
               _hover-ignore="1" id="buy-btn"
               onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-taobao', '{{ entity.title }}-taobao'])">

                <i class="fa fa-shopping-cart fc_blue"></i>
                <meta itemprop="currency" content="RMB" />购买<span itemprop="price">&#65509;{{ entity.price }}</span>
            </a>
        {% elif row.origin_source == "jd.com"%}
            <a class="btn btn-primary btn-buy" href="{{ row.link }}" target="_blank" _hover-ignore="1" id="buy-btn"
               onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-jd', '{{ entity.title }}-jd'])">
                <i class="fa fa-shopping-cart fc_blue"></i>
                <meta itemprop="currency" content="RMB" />购买<span itemprop="price">&#65509;{{ row.price }}</span>
            </a>
        {% else %}
            <a class="btn btn-primary btn-buy" href="{{ row.link }}" target="_blank" _hover-ignore="1" id="buy-btn" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-jd', '{{ entity.title }}-kaola'])">
                <i class="fa fa-shopping-cart fc_blue"></i>
                <meta itemprop="currency" content="RMB" />购买<span itemprop="price">&#65509;{{ row.price }}</span>
            </a>
        {% endif %}
 {% endfor %}