{% extends 'web/base.html' %}
{% load i18n staticfiles %}
{% load common guoku %}

{% block title %}
    {% if entity.brand|length != 0 %}{% block subtitle %}{{ entity.brand }} - {% endblock %}{% endif %}{{ entity.title }}
{% endblock %}

{% block description %}
{#    {{ entity.category }},#}
    {{ entity.category }},
    {{ entity.title }}
    {% if entity.intro|length > 0 %}
    {{ entity.intro }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container" id="detail" xmlns="http://www.w3.org/1999/html">
        <h2 class="hidden">{{ entity.title }}</h2>
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-home"></i></li>
                    {% if selection_note %}
                        <li><a href="{% url 'web_selection' %}">{% trans 'selection' %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'web_category_detail' entity.category_id %}">{{ entity.category.title|show_category }}</a></li>
                    <li class="active">{% if entity.brand|length != 0 %}{{ entity.brand }} - {% endif %}{{ entity.title }}</li>
                </ol>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-8 col-md-8" itemscope itemtype="http://data-vocabulary.org/Product">
                <div class="thumbnail entity-detail">
{#                <div id="carousel-guoku" class="carousel slide" data-ride="carousel" style="border:5px solid #eee; color;: #fff;">#}
{#                    <ol class="carousel-indicators">#}
{#                        {% for index, item in entity.images|enumerate_list %}#}
{#                            <li data-target="#carousel-guoku" data-slide-to="{{ index }}" {% if 0 == index %}class="active"{% endif %}></li>#}
{#                        {% endfor %}#}
{#                    </ol>#}
{#                    <div class="carousel-inner" role="listbox">#}
{#                        {% for index, image in entity.images|enumerate_list %}#}
{#                            <div class="item {% if 0 == index %}active{% endif %}">#}
{#                            {% if entity.default_buy_link.origin_source == "taobao.com" %}#}
{#                                <a id="buy-btn-img" href="http://item.taobao.com/item.htm?id={{ entity.default_buy_link.origin_id }}" target="_blank" biz-itemid="{{ entity.default_buy_link.origin_id }}" _hover-ignore="1" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-taobao', '{{ entity_context.title }}-taobao'])">#}
{#                                    <img itemprop="image" src="{{ image|resize:'640' }}" alt="{{ entity_context.title }}" class="img-responsive" width="640" height="640">#}
{#                                </a>#}
{#                            {% else %}#}
{#                                <a id="buy-btn-img" href="http://item.jd.com/{{ entity.default_buy_link.origin_id }}.html" target="_blank"  _hover-ignore="1" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-jd', '{{ entity_context.title }}-jd'])">#}
{#                                    <img itemprop="image" src="{{ image|resize:'640' }}" alt="{{ entity_context.title }}" class="img-responsive" width="640" height="640">#}
{#                                </a>#}
{#                            {% endif %}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                    {% if entity.images|length > 1 %}#}
{#                    <a class="left carousel-control" href="#carousel-guoku" role="button" data-slide="prev">#}
{#                        <span class="glyphicon glyphicon-chevron-left"></span>#}
{#                        <span class="sr-only">Previous</span>#}
{#                    </a>#}
{#                    <a class="right carousel-control" href="#carousel-guoku" role="button" data-slide="next">#}
{#                        <span class="glyphicon glyphicon-chevron-right"></span>#}
{#                        <span class="sr-only">Next</span>#}
{#                    </a>#}
{#                    {% endif %}#}
{#                </div>#}
                    {% if entity.default_buy_link.origin_source == "taobao.com" %}
                        <a id="buy-btn-img" href="http://item.taobao.com/item.htm?id={{ entity.default_buy_link.origin_id }}" target="_blank" biz-itemid="{{ entity.default_buy_link.origin_id }}" _hover-ignore="1" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-taobao', '{{ entity_context.title }}-taobao'])">
                            <img itemprop="image" src="{{ entity.chief_image|resize:'640' }}" alt="{{ entity_context.title }}" class="img-responsive" width="640" height="640">
                        </a>
                    {% else %}
                        <a id="buy-btn-img" href="http://item.jd.com/{{ entity.default_buy_link.origin_id }}.html" target="_blank"  _hover-ignore="1" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-jd', '{{ entity_context.title }}-jd'])">
                            <img itemprop="image" src="{{ entity.chief_image|resize:'640' }}" alt="{{ entity_context.title }}" class="img-responsive" width="640" height="640">
                        </a>
                    {% endif %}

                    <div class="caption" style="border:0">
                        <h4 class="entity-title">{% if entity.brand|length != 0 %}
                            <span itemprop="brand">{{ entity.brand }}</span> - {% endif %}<span itemprop>{{ entity.title }}</span>
                        </h4>
{#                        <div class="col-sm-6">#}

                            {% if like_status %}
                                <a class="btn btn-like-detail" href="javascript:;" rel="nofollow" data-target-status="{{ like_status }}" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'unlike', '{{ entity.title }}']);">
                                  <i class="fa fa-heart"></i>&nbsp;{% trans 'likes' %}&nbsp;<span class="like-count">{{ entity.like_count }}</span>
                                </a>
                            {% else %}
                                <a class="btn btn-like-detail" href="javascript:;" rel="nofollow" data-target-status="{{ like_status }}" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'like', '{{ entity.title }}']);">
                                    <i class="fa fa-heart-o"></i>&nbsp;{% trans 'likes' %}&nbsp;<span class="like-count">{{ entity.like_count }}</span>
                                </a>
                            {% endif %}

                        <div class="hidden-sm hidden-md hidden-lg pull-right">
                            {% if entity.default_buy_link.origin_source == "taobao.com" %}
                                <a id="buy-btn-mobile" class="btn btn-primary" href="http://item.taobao.com/item.htm?id={{ entity.default_buy_link.origin_id }}" target="_blank" biz-itemid="{{ entity.default_buy_link.origin_id }}" _hover-ignore="1" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-taobao', '{{ entity_context.title }}-taobao'])">
                                    <meta itemprop="currency" content="RMB" />购买<span itemprop="price">&#65509;{{ entity.price }}</span>
                                </a>
                            {% else %}
                                <a id="buy-btn-mobile" class="btn btn-primary" href="http://item.jd.com/{{ entity.default_buy_link.origin_id }}.html" target="_blank"  _hover-ignore="1" onclick="_hmt.push(['_trackEvent', 'entity', 'buy-to-jd', '{{ entity_context.title }}-jd'])">
                                    <meta itemprop="currency" content="RMB" />购买<span itemprop="price">&#65509;{{ entity.price }}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>

                    {% if entity.has_top_note %}
                    <div class="row selection-note">
                        <div class="media">
                            <a class="pull-left"  href="{% url 'web_user_index' entity.top_note.user.pk %}" target="_blank" >
                                <img class="media-object img-circle" src="{{ entity.top_note.user.profile.avatar_url }}" alt="{{ entity.top_note.user.profile.nickname }}" width="50" height="50">
                            </a>
                            <div class="media-body note-content">
                                <p class="media-heading">
                                    <a href="{% url 'web_user_index' entity.top_note.user.pk %}" target="_blank">{{ entity.top_note.user.profile.nickname }}</a>
                                </p>
                                <div class="note-text">
                                    <p class="with-tag content" >{{ entity.top_note.note|escape }}</p>
                                        {% if note.user == request.user %}
                                            <form class="form-horizontal update-note-form" action="{% url 'web_update_entity_note' note.pk %}" method="POST" style="display: none;">
                                            {% csrf_token %}
                                                <fieldset>
{#                            <textarea class="form-control" name="note_text" rows="4" style="resize: none;">{{ note_context.content }}</textarea>#}
                                                    {% for field in note_forms %}
                                                        {{ field }}
                                                    {% endfor %}
                                                </fieldset>
                                                <div class="control-group" style="margin-bottom:10px;">
                                                    <div class="col-sm-offset-9">
                                                        <button class="btn btn-default btn-cancel" style="margin-right:10px;" type="button">取消</button>
                                                        <button class="btn btn-primary btn-post" type="submit">修改</button>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}
                                    <p>
                                        <a href="javascript:;" class="poke{% if entity.top_note.id in user_pokes %} active {% endif %}" data-note="{{ entity.top_note.id }}">
                                            <i class="fa fa-thumbs-o-up"></i>&nbsp;
                                        {% if entity.top_note.poke_count > 0 %}
                                            <span>{{ entity.top_note.poke_count }}</span>
                                        {% endif %}
                                        </a>
                                        <a href="javascript:;" class="add-comment" data-note="{{ entity.top_note.id }}"><i class="fa fa-comment-o"></i>&nbsp;
                                        {% if entity.top_note.comment_count > 0 %}
                                            <span>{{ entity.top_note.comment_count }}</span>
                                        {% endif %}
                                        </a>
                                        {% if entity.top_note.user == request.user %}
                                            <a class="update-note"><i class="fa fa-pencil-square-o"></i></a>
                                        {% endif %}
                                        <span class="pull-right create-time">{{ entity.top_note.post_time|format_time }}</span>
                                        <i class="fa fa-star fa-lg pull-right" style="margin: 5px 5px 0 0;"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% include "web/entity/partial/detail_note.html" with notes=entity.notes %}
                </div>
                {% if request.user.is_blocked %}
                    <div class="row" style="background-color: #fbfbfb; margin: 0;">
                        <div class="media" style="padding: 15px">
                            <div class="pull-left">
                                <i class="fa fa-exclamation-triangle fa-5x"></i>
                            </div>
                            <div class="media-body post-note">
                                <p>果库倡导友好、宽容和理性的对待不同的看法和意见，尊重他人。</p>
                                <p>你的帐号因多次违规，已被禁言。可通过 hi@guoku.com 联系管理员</p>
                            </div>
                        </div>
                    </div>
                {% elif request.user.is_authenticated and  not user_post_note %}
{#                    {% if not user_post_note %}#}
                    <div class="row" style="background-color: #fbfbfb; margin: 0;">
                        <div class="media" style="padding: 15px">
                            <div class="pull-left">
                                <img class="media-object img-circle" src="{{ user.profile.avatar_url }}" alt="{{ user.profile.nickname }}" width="50" height="">
                            </div>
                            <div class="media-body post-note">
                                <form class="form-horizontal" action="{% url 'web_post_entity_note' entity.pk %}" method="POST" role="form">
                                    {% csrf_token %}
                                    <fieldset>
                                        {% for field in note_forms %}
                                            {{ field }}
                                        {% endfor %}
{#                                        <textarea class="form-control" name="note_text" style="resize: none;" placeholder="写点评 ＃贴标签"></textarea>#}
                                    </fieldset>
                                    <div class="action pull-right" style="margin-top:10px;">
                                        <button class="btn btn-default btn-cancel" style="margin-right:10px;" type="button">取消</button>
                                        <button class="btn btn-primary btn-post" type="submit">点评</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
{#                    {% endif %}#}
                {% endif %}

               <div class="row" style="margin-top: 20px">
                    <div class="col-md-12"><h4>相似推荐</h4></div>
                    {% for entity in guess_entities %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="thumbnail">
                                <div class="img-box">
                                    <a href="{% url 'web_entity_detail' entity.entity_hash %}" target="_blank">
                                        <img class="img-responsive" src="{{ entity.chief_image|resize:'240' }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-4" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
                {% include "web/entity/partial/detail_side.html" %}
            </div>


        </div>
    </div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        }
        var o = {
            pid: "mm_28514026_4132785_24810648",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "21419640",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: ""/*自定义统计字段*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>
{#<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>#}

{% endblock %}
