{% extends 'web/base.html' %}
{% load i18n staticfiles %}

{% block title %}
    {% if entity.brand|length != 0 %}{% block subtitle %}{{ entity.brand }} - {% endblock %}{% endif %}{{ entity.title }}
{% endblock %}

{% block description %}
    {{ entity.category }},
    {{ entity.category }},
    {{ entity.title }}
    {% if entity.intro|length > 0 %}
    {{ entity.intro }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container" id="detail" xmlns="http://www.w3.org/1999/html">
        <h2 class="hidden">{{ entity.title }}</h2>
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-home fa-lg"></i></li>
                    {% if selection_note %}
                        <li><a href="{% url 'web_selection' %}">{% trans 'selection' %}</a></li>
                    {% endif %}
{#                    <li><a href="{% url 'web_category' entity.category_id %}">{{ entity.category }}</a></li>#}
                    <li class="active">{% if entity.brand|length != 0 %}{{ entity.brand }} - {% endif %}{{ entity.title }}</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        }
        var o = {
            pid: "mm_28514026_4132785_24810648",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "21419640",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: ""/*自定义统计字段*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>
{% endblock %}
