{% extends 'web/base.html' %}
{% load i18n staticfiles %}
{% load common guoku %}

{% block meta-og %}
    <meta property="og:title" content="果库商品 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库的商品详情页，网友们参与分享的互联网上可购买得到的商品信息，罗列商品相关的品牌介绍、分类属性、客观中立的点评及精彩评论、被贴上的人气标签、关联的消费图文、相似商品及图文推荐。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="{%  if entity.brand|length != 0 %}{{ entity.brand }} - {% endif %}{{ entity.title }} - {{ entity.category }} - {{ entity.category.group }}| 精英消费指南 | 果库">
    <meta name="keywords" content="果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐、{%  if entity.brand|length != 0 %}{{ entity.brand }}、{% endif %}{{ entity.category }}、{{ entity.category.group }}、{{ entity.title }}、{% if tags|length > 0 %}{% for row in tags %}{{ row.tag__name|truncatechars:8 }}、{% endfor %}{% endif %}">
    <meta name="description" content="{%  if entity.brand|length != 0 %}{{ entity.brand }},{% endif %}{{ entity.title }},{% if entity.has_top_note %}{{ entity.top_note.note }}{% endif %}  ，由果库网友分享的互联网上可购买得到的商品信息，透过网友们自发的喜爱、客观中立的点评，帮助你更便捷地发现好物，更高效地做出消费决策。">
{% endblock %}

{% block title %}{%  if entity.brand|length != 0 %}{{ entity.brand }} - {% endif %}{{ entity.title }} - {{ entity.category }} - {{ entity.category.group }} | 精英消费指南 | 果库{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
{% endblock %}

{% block body_class %}
    gray-body entity-body
{% endblock %}
{% block keyword %}{% if entity.brand|length != 0 %}{{ entity.brand }},{% endif %}{{ entity.title }},{{ entity.category }}{% endblock %}
{% block description %}
    {#    {{ entity.category }},#}
    {{ entity.category }},
    {{ entity.title }}
    {% if entity.intro|length > 0 %}
        {{ entity.intro }}
    {% endif %}
{% endblock %}

{% block h1 %}{% if entity.brand|length > 0 %}{{ entity.brand }},{% endif %}{{ entity.title }}{% if tags|length > 0 %}{% for row in tags %},{{ row.tag__name }}{% endfor %}{% endif %}{% endblock %}

{% block content %}
    {% spaceless %}<h2 class="sr-only">{{ entity.title }}{% if tags|length > 0 %}{% for tag in tags %},{{ tag.tag.name }}{% endfor %}{% endif %}</h2>{% endspaceless %}
    <div class="container goods_detail" id="detail" xmlns="http://www.w3.org/1999/html">
        <div class="row" id="detail_breadcrumb">
            {% include "web/entity/partial/detail_breadcrumb.html" %}
        </div>
        <div class="row" id="detail_content">

            <div id="detail_content_left" class="container-fluid col-lg-8 col-md-8 col-sm-11 col-xs-12" itemscope itemtype="http://data-vocabulary.org/Product">

                <div class="entity-wrapper">
                    <div class="row">
                        <div class="detail-pic-left col-xs-12 col-sm-6 col-md-7 col-lg-7">
                            {% include "web/entity/partial/detail_pic.html" %}
                            {% include 'web/entity/partial/entity_other_pic.html' %}
                        </div>

                        <div class="detail-info-center col-xs-12 col-sm-6 col-md-5 col-lg-5">
                            {% include "web/entity/partial/detail_info_center.html" %}
                        </div>
                    </div>
                    <div class="share-wrapper share-wrapper-short">
                        <div class="report-wrapper" id="report_trigger" report-url="/entity/{{ entity.pk }}/report/">
                            <i class="fa fa-flag-o"></i>
                        </div>

                        <div class="jiathis_style">
                            <a class="jiathis_button_tsina"></a>
                            <a class="jiathis_button_weixin"></a>
                            <a class="jiathis_button_qzone"></a>
                            <a class="jiathis_button_tqq"></a>
                            <a class="jiathis_button_tieba"></a>
                            <a href="http://www.jiathis.com/share?uid=2038803" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                        </div>
                        <span class="share-intro-entity">分享到&nbsp;&nbsp;</span>
                    </div>
                    <div class="divider"></div>

                    {#                    {% if entity_brand and entity_brand.intro %}#}
                    {#                        <div class="brand-intro">#}
                    {#                            <div class="brand-name">#}
                    {#                                {{ entity_brand.name }}#}
                    {#                            </div>#}
                    {#                            <div class="brand-intro-words">#}
                    {#                                {% autoescape off %}#}
                    {#                                    {{ entity_brand.intro|striptags|handle_brand_intro }}#}
                    {#                                {% endautoescape  %}#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    <div class="divider"></div>#}
                    {#                    {% endif %}#}


                </div>

                <div class="note-wrapper-title">
                    用户点评
                </div>

                <div class="note-wrapper">
                    <div  class="row comment_list">
                        <ul class="common-note-list">
                            {% include "web/entity/partial/detail_comment_head.html" %}
                            {% include "web/entity/partial/detail_note.html" with notes=entity.notes note_forms=note_forms %}
                        </ul>
                    </div>

                    <div class="row" id="login_user_comment">
                        {% include "web/entity/partial/detail_user_comment.html" %}
                    </div>
                </div>

                {% if entity.selected_related_articles %}

                    <div class="related-article-wrapper-title">
                        关联图文
                    </div>
                    <div class="related-article-wrapper">
                        {% for selection_article  in entity.selected_related_articles %}
                            {% with  selection_article.article as r_article %}
                                {% include 'web/article/partial/article_recommend_item.html' %}
                            {% endwith %}
                        {% endfor %}
                    </div>

                {% endif %}



                <div class="guess-title">{% trans 'Related Items' %}</div>

                <div class="guess-wrapper">
                    <div class="row" id="guess_list">
                        {% for entity in guess_entities %}
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 guess-img">

                                <div class="img-holder">
                                    <a href="{% url 'web_entity_detail' entity.entity_hash %}#from=recommend" target="_blank" class="">
                                        <div class="img-frame" style="background-image:url({{ entity.chief_image|resize:'240' }})"></div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

{#            hide baichuan recom for now #}
{#                <div class="guess-title" id="baichuan_guess_title">{{ '猜你喜爱' }}</div>#}

                <div class="guess-wrapper" id="baichuan_list">

                </div>

            </div>
            <div  id="detail_content_right" class="hidden-print   col-lg-4 col-md-4 hidden-sm hidden-xs">
                {% include "web/entity/partial/detail_side.html" %}
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>

    </div>
    <div id="ReportModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="ReportModal" aria-hidden="true">
        <div class="modal-dialog report">
            <div class="modal-content" style="border-radius: 0"></div>
        </div>
    </div>


    {#  ===  template for js  ===#}
    {% if is_entity_detail %}
        <script language="javascript">
            var current_entity_id="{{ entity.pk }}";
            var current_entity_origin_source = "{{ entity.default_buy_link.origin_source }}";
            var current_entity_taobao_id = "{{ entity.default_buy_link.origin_id }}";
            var current_entity_title="{{ entity.title }}";
        </script>
        <script type="text/html" id="baichuan_entity_list_template">

            <div class="row" id="guess_list">
                <% for (var i= 0 ; i< list.length ; i++) { %>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 guess-img">
                    <div class="img-holder">
                        <a href="http://detail.tmall.com/item.htm?id=<%=list[i].itemId%>" target="_blank" title="<%=list[i].itemName%>" class="">
                            <div class="img-frame" style="background-image:url(<%=list[i].pic2%>)"></div>
                        </a>
                    </div>
                </div>
                <% } %>


            </div>

        </script>
        <script type="text/html" id="user_cell_template">
            <a class='user-link' href="<%=user.absolute_url%>">
                <img class="img-responsive" src="<%=user.avatar_url%>">
            </a>
        </script>
    {% endif %}
    {#  ===  template for js  end ===#}

{% endblock %}

{% block basic_script %}
    {#<script data-main="{% static 'js/web/app/article_list_app.js' %}" src="{% static 'js/web/app/require.js' %}"></script>#}
    <script data-main="{% static 'js/web/jsbuild/entity_detail_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        (function(win,doc){
            var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
            if (!win.alimamatk_show) {
                s.charset = "gbk";
                s.async = true;
                s.src = "http://a.alimama.cn/tkapi.js";
                h.insertBefore(s, h.firstChild);
            }
            var o = {
                pid: "mm_28514026_4132785_24810648",/*推广单元ID，用于区分不同的推广渠道*/
                appkey: "12313170",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
                unid: "", /*自定义统计字段*/
                {#            type:"click"#}
            };
            win.alimamatk_onload = win.alimamatk_onload || [];
            win.alimamatk_onload.push(o);
        })(window,document);
    </script>
    {#<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>#}


    <script type="text/javascript">
        var jiathis_config = {
            url: "http://www.guoku.com{{ request.path }}",
            title: "{{ entity.selection_hover_word }}：",
            appkey:{
                "tsina":'2830558576',
            },
            imageWidth:150,
            marginTop:150,
            pic:"{{ entity.chief_image  }}",
            summary:"{{ entity.top_note.note|truncatechars:50}} （分享自 @果库）",
            data_track_clickback:'true'
        };
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2038803" charset="utf-8"></script>
{% endblock %}
