{% load i18n staticfiles %}
{% load common guoku %}

<div guoku_ele="True" class="guoku-card container-fluid hover-light" data_entity_hash="{{ entity.entity_hash }}">
    {% if isFromMobile %}
        <a class="mobile-entity-link" href="{{ entity.mobile_url }}">
    {% else %}
        <a href="{{ entity.absolute_url }}">
    {% endif %}
    <img src="{{ entity.chief_image|resize:'240' }}" >
    <p class="entity-brand info">
            <span>
            {% if entity.brand|length != 0 %}{{ entity.brand }}{% endif %}
            </span>
    </p>
    <p class="entity-title info">
        <span>{{ entity.title }}</span>
    </p>
    <p class="entity-price info">
            <span>
            &#65509;{{ entity.price }}
            </span>
    </p>
    </a>
    {% if isFromMobile %}
        <a class="mobile-entity-link" href="{{ entity.mobile_url }}">
    {% else %}
        <a href="{{ entity.absolute_url }}">
    {% endif %}
    <p class="entity-link">查看详情</p>
    </a>

</div>
