{% extends 'web/base.html' %}
{% load i18n static %}
{% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="添加商品 | 精英消费指南 | 果库">
    <meta name="keywords" content="添加商品,分享商品,网友爆料,精英消费指南,果库">
    <meta name="description" content="添加商品,添加商品入库,网友爆料,选择货真价实，有用、有趣、有价值的好商品,一件商品，你愿意让家人使用或与朋友分享，也许这就应该是件不错的东西。果库网友均可参与分享商品入库，目前支持淘宝、天猫、亚马逊、京东等互联网电商网站。">
{% endblock %}

{% block title %}添加商品 | 精英消费指南 | 果库{% endblock %}


{% block content %}
    <div class="container">
{#        <h1 class="sr-only">添加商品</h1>#}
        <div class="row">
            <h3 class="col-sm-12">添加商品入库</h3>
            <div class="col-sm-8">
                <div class="well create-entity" style="border-radius: 0;margin-bottom: 0;">
                    <p>选择货真价实，有用、有趣、有价值的好商品</p>
                    <p id="url_error_msg"></p>
                     <form class="form-horizontal" method="post" action="{% url 'web_load_item_info' %}">
                     {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                {% for field in url_forms %}
                                <div class="col-xs-8 col-sm-8">
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <div class="col-xs-4 col-sm-4">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus fa-lg"></i>&nbsp; 载入</button>
                                </div>
                            </div>
                        </fieldset>
                     </form>
                     <div class="row entity-exist">
                        <label class="col-sm-3">该商品已经存在</label>
                        <a class="btn btn-primary" href="#" target="_blank"><i class="fa fa-link fa-lg"></i>&nbsp; 查看</a>
                     </div>

                    <div class="row add-entity">
                        <div class="col-sm-4">
                            <label>品牌</label>
                            <input class="form-control" type="text" name="brand" placeholder="如果有">
                        </div>
                        <div class="col-sm-8">
                            <label>商品名称</label>
                            <input class="form-control" type="text" name="title" />
                        </div>

                        <h4 class="col-sm-12"><span class="brand"></span><span class="title"></span></h4>
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <img class="img-responsive entity-chief-img" src="">
                            </div>
                        </div>
                        <div class="image-thumbnails"></div>
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div class="media add-entity-note">
                    <a class="pull-left" href="#" style="padding: 20px 0 0 20px; margin: 0;"><img class="img-circle media-object" width="60" height="60" src=""></a>
                    <div class="media-body">
{#                        <h4 class="media-heading"></h4>#}
                        <form class="form-horizontal" action="{% url 'web_entity_create' %}" method="POST" style="padding-top: 20px;">
                            {% csrf_token %}
                            <fieldset>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-10">
                                    <textarea class="form-control" name="note_text" style="resize: none;" rows="4" placeholder="来说说你的评价吧？欢迎真实、有用、有趣的商品点评。"></textarea>
                                </div>
                            </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-sm-offset-9 col-sm-3">
                                <button class="btn btn-primary" type="submit">发表</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>



            <div class="hidden-xs col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="border:none;">
                        <h4>果库全是好商品</h4>
                    </div>
                    <div class="panel-body">
                        <p>如果，一件商品，<br />
                    你愿意让家人使用或与朋友分享，也许这就应该是件不错的东西。</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="border:none;">
                        <h4>创建人信息</h4>
                    </div>
                    <div class="panel-body">
                        <p>作为第一个把商品推荐到果库的人，你将被永久记录在商品页。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/entity_create_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}
