{% load i18n %}
            <div class="modal-body report_area" id="report_form_wrapper">
                <p class="title fc_1 fs_14">请选择举报原因</p>
                <form  role="form" method="post" action="{% url 'web_entity_report' entity.pk %}">
                    {% csrf_token %}
                    {% for field in form %}
                         {% if field.html_name == "type" %}
                             <ul class="list">
                             {% for radio in field %}
                                <li>
                                    {{ radio.tag }}
                                    <span class="fs_16 fc_2 list_detail">{{ radio.choice_label }}</span>
                                </li>
                             {% endfor %}
                             </ul>
                         {% else %}
                             <p class="fc_1 fs_14 add_other">补充说明</p>
                             {{ field }}
                         {% endif %}
                    {% endfor %}
                </form>
            </div>
{#            <div class="modal-footer footer">#}
{#                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> -->#}
{#                <button type="button" class="btn btn-primary report_submit">{% trans 'submit' %}</button>#}
{#            </div>#}
