{% extends 'web/base.html' %}
{% load i18n static %}
{% load guoku %}


 {% block meta-og %}
    <meta property="og:title" content="果库发现 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库的发现页，追踪当日、当周最具人气的热门商品、消费图文，以及参与热议的人气标签，按照推荐品类细分浏览，搜索商品，寻找好物不再盲目。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="发现 | 精英消费指南 | 果库">
    <meta name="keywords" content="推荐品类,热门商品,热门图文,推荐品牌,推荐用户,热门标签,搜索,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐,精选商品,精选图文,热门商品,推荐品类,消费专题">
    <meta name="description" content="果库旨在帮助你发现互联网上最有趣、最人气、最实用的好商品，恪守选品标准和美学格调，开拓精英视野与生活想象。每日精选秉持理想生活哲学的消费图文、推荐国内外最优质的商品信息，涵盖女装、男装、配饰、母婴、美容、居家、科技、户外、保健、文化、美食、玩乐等类别，为追求生活质量的消费者提供更高效的消费决策。">
{% endblock %}

{% block title %}发现 | 精英消费指南 | 果库{% endblock %}

{% block content %}
    <div class="container">
{##}
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <p>推荐用户</p>#}
{#            </div>#}
{##}
{#            <div class=""></div>#}
{#        </div>#}



        <div class="row guoku-normal-row">
            <div class="col-sm-12">
                <p>推荐品类</p>
            </div>
{#            <div class="col-md-10 col-xs-12" >#}
{#            {% for category in categories %}#}
{#                <div class="col-xs-4 col-sm-2">#}
{#                    <div class="thumbnail category category-control">#}
{#                        <a href="{% url 'web_category_detail' category.id %}">#}
{#                            <img class="img-responsive" alt="{{ category.title }}" src="{{ category.icon_large_url }}"  width="64" height="64">#}
{#                            <p>{{ category.title|show_category }}</p>#}
{#                            <p>复合维生素</p>#}
{##}
{#                        </a>#}
{#                    {{ category }}#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}


            <div class="col-xs-3 col-sm-2 guoku-normal-col">
                    <div class="thumbnail category category-control">
                        <a href="">
                             <img class="img-responsive" alt="" src="http://imgcdn.guoku.com/images/200/72dcb2ff03a5a36aaec445595d0693ec.png"  width="64" height="64">
                            <p>复合维生素</p>

                        </a>
                    </div>
                </div>

            <div class="col-xs-3 col-sm-2 guoku-normal-col">
                    <div class="thumbnail category category-control">
                        <a href="">
                             <img class="img-responsive" alt="" src="http://imgcdn.guoku.com/images/200/72dcb2ff03a5a36aaec445595d0693ec.png"  width="64" height="64">
                            <p>复合维生素</p>

                        </a>
                    </div>
                </div>

            <div class="col-xs-3 col-sm-2 guoku-normal-col">
                    <div class="thumbnail category category-control">
                        <a href="">
                             <img class="img-responsive" alt="" src="http://imgcdn.guoku.com/images/200/72dcb2ff03a5a36aaec445595d0693ec.png"  width="64" height="64">
                            <p>复合维生素</p>

                        </a>
                    </div>
                </div>

            <div class="col-xs-3 col-sm-2 guoku-normal-col">
                    <div class="thumbnail category category-control">
                        <a href="">
                             <img class="img-responsive" alt="" src="http://imgcdn.guoku.com/images/200/72dcb2ff03a5a36aaec445595d0693ec.png"  width="64" height="64">
                            <p>复合维生素</p>

                        </a>
                    </div>
                </div>

            <div class="col-xs-3 col-sm-2 guoku-normal-col">
                    <div class="thumbnail category category-control">
                        <a href="">
                             <img class="img-responsive" alt="" src="http://imgcdn.guoku.com/images/200/72dcb2ff03a5a36aaec445595d0693ec.png"  width="64" height="64">
                            <p>复合维生素</p>

                        </a>
                    </div>
                </div>

            <div class="col-xs-3 col-sm-2 guoku-normal-col">
                    <div class="thumbnail category category-control">
                        <a href="">
                             <img class="img-responsive" alt="" src="http://imgcdn.guoku.com/images/200/72dcb2ff03a5a36aaec445595d0693ec.png"  width="64" height="64">
                            <p>复合维生素</p>

                        </a>
                    </div>
                </div>

            <div class="col-xs-3 col-sm-2 guoku-normal-col">
                    <div class="thumbnail category category-control">
                        <a href="">
                             <img class="img-responsive" alt="" src="http://imgcdn.guoku.com/images/200/72dcb2ff03a5a36aaec445595d0693ec.png"  width="64" height="64">
                            <p>复合维生素</p>

                        </a>
                    </div>
                </div>

            <div class="col-xs-3 col-sm-2 guoku-normal-col">
                    <div class="thumbnail category category-control">
                        <a href="">
                             <img class="img-responsive" alt="" src="http://imgcdn.guoku.com/images/200/72dcb2ff03a5a36aaec445595d0693ec.png"  width="64" height="64">
                            <p>复合维生素</p>

                        </a>
                    </div>
                </div>

            <div class="col-xs-3 col-sm-2 guoku-normal-col">
                <div class="thumbnail category">
                    <a href="{% url 'web_category_list' %}">
                        <img class="img-responsive" src="{% static 'images/more.png' %}" width="64" height="64">
                        <p>查看全部</p>
                    </a>
                </div>
            </div>
        </div>


        <div class="row " id="discover_entity_list">
            <div class="col-sm-12">
                <p>热门商品</p>
            </div>
            {% for entity in entities %}
                {% include 'web/main/partial/entity.html' with entity=entity%}
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/discover_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}

