{% extends 'web/base.html' %}
{% load i18n static %}
{% load guoku %}


{% block prefix %}果库 - {% endblock %}{% block title %}{% trans 'discover' %}{% endblock %}


{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <p>推荐品类</p>
            </div>
{#            <div class="col-md-10 col-xs-12" >#}
            {% for category in categories %}
                <div class="col-xs-4 col-sm-2">
                    <div class="thumbnail category">
                        <a href="{% url 'web_category_detail' category.id %}">
                            <img class="img-responsive" alt="{{ category.title }}" src="{{ category.icon_large_url }}"  width="64" height="64">
                            <p>{{ category.title|show_category }}</p>
                        </a>
{#                    {{ category }}#}
                    </div>
                </div>
            {% endfor %}
            <div class="col-xs-4 col-sm-2">
                <div class="thumbnail category">
                    <a href="{% url 'web_category_list' %}">
                        <img class="img-responsive" src="{% static 'images/more.png' %}" width="64" height="64">
                        <p>查看全部</p>
                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <p>热门商品</p>
            </div>
            {% for entity in entities %}
                {% include 'web/main/partial/entity.html' with entity=entity%}
            {% endfor %}
        </div>
    </div>

{% endblock %}