{% extends 'web/base.html' %}
{% load i18n %}
{% load guoku %}
 {% block meta-og %}
    <meta property="og:title" content="果库热门商品 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库的热门商品页，精选中的精选，结合网友们对商品的喜爱及点评，按每日、每周的热度进行推荐，懒人包帮助你迅速掌握果库最新、最热的商品。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="热门商品 | 精英消费指南 | 果库">
    <meta name="keywords" content="热门商品,日热门,周热门,人气喜爱,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库热门商品，追踪当日、当周最具人气的热门商品，结合网友们对商品的喜爱及点评，按每日、每周的热度进行推荐，精选中的精选，最新、最热的懒人包，帮助你紧跟消费潮流，永不落伍。">
{% endblock %}
{% block title %}热门商品 | 精英消费指南 | 果库{% endblock %}
{% block body_class %} gray-body popular-entity-page {% endblock %}

{% block content %}
    <div class="container popular-entity-container">
        <div class="row">
            {% for entity in object_list %}
                {% include 'web/main/partial/entity.html' with entity=entity %}
            {% endfor %}
        </div>
    </div>
{% endblock %}