{% extends 'web/base.html' %}
{% load i18n %}
 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="{{ keyword }}搜索结果 | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ keyword }},商品,图文,用户,标签,精英消费指南,果库">
    <meta name="description" content="关于{{ keyword }}的所有搜索结果，涵盖与<搜索词>有关的所有商品、图文、用户、标签等。">
{% endblock %}

{% block title %}{{ keyword }}搜索结果 | 精英消费指南 | 果库{% endblock %}


{% block content %}
    <div class="container">
        <div class="row search-header">
            <h2><span>「{{ keyword }}」</span>的搜索结果</h2>
        </div>
        <nav class="navbar navbar-search navbar-static-top" role="navigation">
            <div class="container">
{#                <div class="navbar-collapse collapse">#}
                    <ul class="nav navbar-nav">
{#                        {% for row in results %}#}
                            <li {% if type == 'e' %}class="active"{% endif %}>
                                <a href="{% url 'web_search' %}?q={{ keyword }}&t=e">{% trans 'entity' %}&nbsp;<strong>{{ entity_count }}</strong></a>
                            </li>
                            <li {% if type == 'u' %}class="active"{% endif %}>
                                <a href="{% url 'web_search' %}?q={{ keyword }}&t=u">{% trans 'user' %}&nbsp;<strong>{{ user_count }}</strong></a>
                            </li>
                            <li {% if type == 't' %}class="active"{% endif %}>
                                <a href="{% url 'web_search' %}?q={{ keyword }}&t=t">{% trans 'tags' %}&nbsp;<strong>{{ tag_count }}</strong></a>
                            </li>
{#                        {% endfor %}#}
                    </ul>
{#                </div>#}
            </div>
        </nav>

        <div class="row">
            {% if type == 'u' %}
                {% for user in results %}
                    {% include 'web/main/partial/user.html' with user_context=user %}
                {% endfor %}
            {% elif type == 't' %}
                {% for tag in results %}
                    {% include 'web/main/partial/tags.html' with tag_context=tag %}
                {% endfor %}
            {% else %}
                {% for entity in results %}
                    {% include 'web/main/partial/entity.html' with entity=entity %}
                {% endfor %}
            {% endif %}
        </div>

        {% if objects %}
            {% include "web/main/partial/search/paginator.html" with objects=objects type=type url=request.path keyword=keyword %}
        {% endif %}

    </div>
{% endblock %}