{% extends 'web/base.html' %}
{% load i18n %}

{% block title %}{% trans "selection" %}{% endblock %}{% block suffix %} - 果库{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="sr-only">精选，精英消费指南</h2>
        <div class="row" id="selection" data-refresh="{{ refresh_datetime }}">
            {% for selection in selections %}
                {% include "web/main/partial/selection_item_list.html" with entity=selection.entity %}
            {% endfor %}
        </div>

        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>

        {% if paginator %}
            {% include "web/main/partial/selection_paginator.html" with objects=selections paginator=paginator url=request.path %}
        {% endif %}
    </div>
{% endblock %}