{% extends 'web/base.html' %}
{% load i18n staticfiles %}

 {% block meta-og %}
    <meta property="og:title" content="果库精选商品 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="精选商品 | 精英消费指南 | 果库">
    <meta name="keywords" content="精选商品,精选,尽收世上好物,果库、guoku、果库网、果库应用、精英消费指南、消费指南、精品导购应用、导购、购物指南、购物分享、淘宝网购物、淘宝网精选、精品推荐">
    <meta name="description" content="果库精选商品每日更新，恪守选品标准和美学格调，推荐有趣、有用、有价值的国内外优质优惠的网购商品。尽收世上好物。">
{% endblock %}

{% load i18n %}

{% block title %}精选商品 | 精英消费指南 | 果库{% endblock %}

{% block h1 %}果库,精选,精英消费指南{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="sr-only">精选商品，精英消费指南</h2>
        <div class="row" id="selection" data-refresh="{{ refresh_datetime }}">
            {% for selection in selections %}
                {% include "web/main/partial/selection_item_list.html" with entity=selection.entity %}
            {% endfor %}
        </div>
        <div class="row" >
            <div class="col-xs-12 loading-icon">
                <img src="{% static 'images/widgets/loading.gif' %}" height="64px" width="64px">
            </div>

        </div>

        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>

        {% if paginator %}
            {% include "web/main/partial/selection_paginator.html" with objects=selections paginator=paginator url=request.path %}
        {% endif %}
    </div>
{% endblock %}

{% block basic_script %}
{#    <script src="{% static 'js/web/app/libs/jquery-1.11.1.min.js' %}"></script>#}
{#    <script src="{% static 'js/web/app/libs/bootstrap.min.js' %}"></script>#}
    <script data-main="{% static 'js/web/app/selection_entity_app' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}