{% extends 'web/base.html' %}

{% block title %}网站地图{% endblock %}{% block suffix %} - 果库{% endblock %}

{% block h1 %}网站地图{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <h3>网站地图</h3>
        </div>
        <div class="row">
            {% for row in object_list %}
                <a class="label label-info" href="{% url 'web_category_detail' row.id %}" target="_blank">{{ row.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}