{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}

{% block content %}
    <section class="content-header">
        <h1>
           {{ selection.entity }}
            <small>{{ selection.entity.title }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Forms</a></li>#}
            <li class="active">{% trans 'selection entity' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info-circle"></i>{% trans 'published datetime' %}!!!</h4>
                    发布时间 {{ selection.pub_time|date:'Y-m-d H:i:s' }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        {% for image in selection.entity.images %}
                            <div class="col-xs-6 col-sm-3 placeholder">
                                <img class="img-responsive img-thumbnail" src="{{ image|oss_resize:'240' }}" width="240" height="240">
                            </div>
                        {% endfor %}
                    </div>

                    {% include 'management/lib/forms.html' with forms=forms url=request.path %}
                </div>
            </div>
        </div>
    </section>
{#    <div class="row placeholders">#}
{#        {% for image in selection.entity.images %}#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img class="img-responsive img-thumbnail" src="{{ image|oss_resize:'240' }}" width="240" height="240">#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        <div class="panel panel-default">#}
{#            <div class="panel-heading">{{ selection.entity }}</div>#}
{#            <ul class="list-group">#}
{#                <li class="list-group-item">发布时间 {{ selection.pub_time|date:'Y-m-d H:i:s' }}</li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        {% include 'management/lib/forms.html' with forms=forms url=request.path %}#}
{#    </div>#}
{% endblock %}