{% extends 'management/management_base.html' %}
{% load i18n %}


{% block content %}
    <div class="row">
        <h1 class="page-header">{% trans 'selection' %}</h1>
        <a href="{% url 'management_set_publish_datetime' %}" class="btn btn-primary pull-right" data-toggle="modal" data-target="#SelectionEntityModal">精选排时间</a>
    </div>

{#    <div>#}
{#    <h2 class="sub-header">{% trans 'all' %}</h2>#}
        <div class="row" style="padding-bottom: 24px;">
            <ul class="nav nav-pills" role="tablist">
                {% url 'management_selection_published' as management_selection_published_url %}
                {% url 'management_selection_pending' as management_selection_pending_url %}
                {% url 'management_selection_popular' as management_selection_popular_url %}
                <li {% if management_selection_published_url in request.path %}class="active"{% endif %}>
                    <a href="{{ management_selection_published_url }}">{% trans 'published' %}</a>
                </li>

                <li {% if management_selection_pending_url in request.path %}class="active"{% endif %}>
                    <a href="{{ management_selection_pending_url }}">{% trans 'pending' %}&nbsp;({{ pending_count }})</a>
                </li>

                <li {% if management_selection_popular_url in request.path %}class="active"{% endif %}>
                    <a href="{{ management_selection_popular_url }}">{% trans 'popular' %}</a>
                </li>
            </ul>
        </div>
{#    </div>#}

    {% include "management/selection/table.html" with entities=selections %}

    {% include "management/paginator.html" with objects=selections url=request.path %}

    <div id="SelectionEntityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EntityNoteModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}