{% extends 'management/management_base.html' %}
{% load i18n static %}

{% block css %}
        <link href="{% static 'js/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% url 'management_selection_published' as management_selection_published_url %}
    {% url 'management_selection_pending' as management_selection_pending_url %}
    {% url 'management_selection_popular' as management_selection_popular_url %}
    {% url 'management_selection_pending_and_removed' as management_selection_pending_and_removed_url %}
    <section class="content-header">
        <h1>
            {% trans 'selection entity' %}
            <small>{% trans 'selection' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans 'selection' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="btn-group pull-right">
                            <a href="{% url 'management_set_publish_datetime' %}" class="btn btn-primary" data-toggle="modal" data-target="#SelectionEntityModal">精选排时间</a>
                            <a href="#" class="btn btn-success" id="publish2u">发布到U站</a>
                            {% if management_selection_pending_url in request.path %}
                                <a href="#" class="btn btn-warning" id="btn_batch_selection_prepare" batch_url="{% url 'management_batch_selection_prepare' %}">小批量发布</a>{% endif %}
                            {% if management_selection_published_url in request.path %}
                                <a href="#" class="btn btn-danger" id="btn_batch_selection_remove" batch_url="{% url 'management_batch_selection_remove' %}">批量移出发布</a>
                            {% endif %}
                        </div>

                        <ul class="nav nav-pills" role="tablist">
                            <li {% if management_selection_published_url in request.path %}class="active"{% endif %}>
                                <a href="{{ management_selection_published_url }}">{% trans 'published' %}</a>
                            </li>
                            <li {% if management_selection_pending_url in request.path %}class="active"{% endif %}>
                                <a href="{{ management_selection_pending_url }}">{% trans 'pending' %}&nbsp;({{ pending_count }})</a>
                            </li>
                            <li {% if management_selection_pending_and_removed_url in request.path %}class="active"{% endif %}>
                                <a href="{{ management_selection_pending_and_removed_url }}">{% trans 'pending and removed' %}&nbsp;({{ pending_and_removed_count }})</a>
                            </li>
                            <li {% if management_selection_popular_url in request.path %}class="active"{% endif %}>
                                <a href="{{ management_selection_popular_url }}">{% trans 'popular' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-body table-responsive">
                        {% include "management/selection/table.html" with entities=selections %}
                    </div>
                    <div class="box-footer">
                        {% include "management/paginator.html" with objects=selections url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <div class="row">#}
{#        <h1 class="page-header">{% trans 'selection' %}</h1>#}
{#        <div class="btn-group pull-right">#}
{#            <a href="{% url 'management_set_publish_datetime' %}" class="btn btn-primary" data-toggle="modal" data-target="#SelectionEntityModal">精选排时间</a>#}
{#            <a href="#" class="btn btn-success" id="publish2u">发布到U站</a>#}
{#            {% if management_selection_pending_url in request.path %}#}
{#                <a href="#" class="btn btn-warning" id="btn_batch_selection_prepare" batch_url="{% url 'management_batch_selection_prepare' %}">小批量发布</a>#}
{#            {% endif %}#}
{#            {% if management_selection_published_url in request.path %}#}
{#                <a href="#" class="btn btn-danger" id="btn_batch_selection_remove" batch_url="{% url 'management_batch_selection_remove' %}">批量移出发布</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div>#}
{#    <h2 class="sub-header">{% trans 'all' %}</h2>#}
{#        <div class="row" style="padding-bottom: 24px;">#}
{#            <ul class="nav nav-pills" role="tablist">#}
{##}
{#                <li {% if management_selection_published_url in request.path %}class="active"{% endif %}>#}
{#                    <a href="{{ management_selection_published_url }}">{% trans 'published' %}</a>#}
{#                </li>#}
{##}
{#                <li {% if management_selection_pending_url in request.path %}class="active"{% endif %}>#}
{#                    <a href="{{ management_selection_pending_url }}">{% trans 'pending' %}&nbsp;({{ pending_count }})</a>#}
{#                </li>#}
{##}
{#                <li {% if management_selection_popular_url in request.path %}class="active"{% endif %}>#}
{#                    <a href="{{ management_selection_popular_url }}">{% trans 'popular' %}</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{##}
{#    {% include "management/selection/table.html" with entities=selections %}#}
{##}
{#    {% include "management/paginator.html" with objects=selections url=request.path %}#}

    <div id="SelectionEntityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EntityNoteModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}
{% block user_script %}
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>
    <script src="{% static 'js/management/moment.js' %}"></script>
    <script src="{% static 'js/management/batch_selection.js' %}"></script>
    <script type="text/html" id="template_batch_selection_item">
        <ul class="content-list container-fluid">
         <li class="publish-options">
            <div class="gap-wrapper">
                发布间隔（秒）<input id="publish_gap" type="text" size="10" value="600">
            </div>
       </li>
       </ul>
       <ul class="content-list batch-selection-list container-fluid">

       <% for(var i=0 , len=data.entities.length ;i<len; i++){  %>
           <li class="entity_item row">
                <div class="entity-img col-xs-2"><img class="img-responsive" src="<%=data.entities[i].chief_image%>"></div>
                <div class="entity-info-wrapper col-xs-5">
                    <div class="entity-name"><%=data.entities[i].title%></div>
                    <div class="entity-note"><%=data.entities[i].top_note_string%></div>
                </div>
               <div class="category col-xs-2">
                    <div class="entity-category-name"><%=data.entities[i].category_name%></div>
               </div>
               <div class="entity-action-wrapper col-xs-2">
                   <div class="entity-pub-time"><input type="text" size="16" entity_id="<%=data.entities[i].id%>" name="pub_time"></div>
               </div>
            </li>
       <% }%>
       </ul>
       <ul class="content-list  container-fluid">
       <li class="entity_item last_published row">
                <div class="entity-img col-xs-2"><img class="img-responsive" src="<%=data.last_published_entity.chief_image%>"></div>
                <div class="entity-info-wrapper col-xs-5">
                    <div class="entity-name"><%=data.last_published_entity.title%></div>
                    <div class="entity-note">to be implement </div>
                </div>
                <div class="category col-xs-2">
                    <div class="entity-category-name"><%=data.last_published_entity.category_name%></div>
                </div>
                <div class="entity-action-wrapper col-xs-2">
                    <div class="entity-pub-time"><input id="last_publish_time" disabled type="text" size="16" name="pub_time" value="<%=data.last_published_entity.pub_time%>"></div>
                </div>

       </li>
    </ul>
    </script>

{% endblock %}
{#{% block js %}#}
{#   #}
{#{% endblock %}#}