{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'popular' %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="#">{% trans 'selection' %}</a></li>
            <li class="active">{% trans 'popular' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-pills" role="tablist">
                            {% url 'management_selection_published' as management_selection_published_url %}
                            {% url 'management_selection_pending' as management_selection_pending_url %}
                            {% url 'management_selection_popular' as management_selection_popular_url %}
                            {% url 'management_selection_pending_and_removed' as management_selection_pending_and_removed_url %}

                            <li {% if management_selection_published_url in request.path %}class="active"{% endif %}>
                                <a href="{% url 'management_selection_list' %}">{% trans 'published' %}</a>
                            </li>
                            <li {% if management_selection_pending_url in request.path %}class="active"{% endif %}>
                                <a href="{% url 'management_selection_pending' %}">{% trans 'pending' %}&nbsp;({{ pending_count }})</a>
                            </li>
                            <li {% if management_selection_pending_and_removed_url in request.path %}class="active"{% endif %}>
                                <a href="{{ management_selection_pending_and_removed_url }}">{% trans 'pending and removed' %}&nbsp;({{ pending_and_removed_count }})</a>
                            </li>
                            <li {% if management_selection_popular_url in request.path %}class="active"{% endif %}>
                                <a href="{{ management_selection_popular_url }}">{% trans 'popular' %}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="box-body table-responsive">
                        <table class="table table-small-font table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'image' %}</th>
                                    <th>{% trans 'brand' %}</th>
                                    <th>{% trans 'title' %}</th>
                                    <th>{% trans 'count' %}</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for like in popular_entity_list %}
                                    <tr>
                                        <td>{{ like.entity.id }}</td>
                                        <td>
                                            <img class="img-thumbnail img-responsive" src="{{ like.entity.chief_image|resize:'240' }}" width="120" height="120">
                                        </td>
                                        <td>{{ like.entity.brand }}</td>
                                        <td>{{ like.entity.title }}</td>
                                        <td>{{ like.lcount }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <div class="row">#}
{#        <h1 class="page-header">{% trans 'selection' %}</h1>#}
{#        <a href="{% url 'management_set_publish_datetime' %}" class="btn btn-primary pull-right" data-toggle="modal" data-target="#SelectionEntityModal">精选排时间</a>#}
{#    </div>#}
{##}
{#        <div class="row" style="padding-bottom: 24px;">#}
{#            <ul class="nav nav-pills" role="tablist">#}
{#                {% url 'management_selection_published' as management_selection_published_url %}#}
{#                {% url 'management_selection_pending' as management_selection_pending_url %}#}
{#                {% url 'management_selection_popular' as management_selection_popular_url %}#}
{##}
{#                <li {% if management_selection_published_url in request.path %}class="active"{% endif %}>#}
{#                    <a href="{% url 'management_selection_list' %}">{% trans 'published' %}</a>#}
{#                </li>#}
{##}
{#                <li {% if management_selection_pending_url in request.path %}class="active"{% endif %}>#}
{#                    <a href="{% url 'management_selection_pending' %}">{% trans 'pending' %}&nbsp;({{ pending_count }})</a>#}
{#                </li>#}
{##}
{#                <li {% if management_selection_popular_url in request.path %}class="active"{% endif %}>#}
{#                    <a href="{{ management_selection_popular_url }}">{% trans 'popular' %}</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{##}
{#<div class="row">#}
{#    <div class="table-responsive">#}
{#        <table class="table table-small-font table-hover table-bordered">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>#</th>#}
{#                    <th>{% trans 'image' %}</th>#}
{#                    <th>{% trans 'brand' %}</th>#}
{#                    <th>{% trans 'title' %}</th>#}
{#                    <th>{% trans 'count' %}</th>#}
{##}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for like in popular_entity_list %}#}
{#                    <tr>#}
{#                        <td>{{ like.entity.id }}</td>#}
{#                        <td>#}
{#                            <img class="img-thumbnail img-responsive" src="{{ like.entity.chief_image|resize:'240' }}" width="120" height="120">#}
{#                        </td>#}
{#                        <td>{{ like.entity.brand }}</td>#}
{#                        <td>{{ like.entity.title }}</td>#}
{#                        <td>{{ like.lcount }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{# </div>#}
{% endblock %}