{% load i18n %}
{% load guoku %}

<div class="row">
    <div class="table-responsive">
        <table class="table table-small-font table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'image' %}</th>
                    <th>{% trans 'brand' %}</th>
                    <th>{% trans 'title' %}</th>
                    <th>{% trans 'user' %}</th>
                    <th>{% trans 'category' %}</th>
                    <th>{% trans 'published time' %}</th>
                    <th>{% trans 'price' %}</th>
{#                    <th>{% trans 'status' %}</th>#}
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for selection in selections %}
                    <tr>
                        <td>{{ selection.entity.id }}</td>
                        <td>
{#                          <div class="col-xs-2">#}
                                <img class="img-thumbnail img-responsive" src="{{ selection.entity.chief_image|resize:'128' }}" width="128" height="128">
{#                          </div>#}
                        </td>
                        <td>{{ selection.entity.brand }}</td>
                        <td>{{ selection.entity.title }}</td>
                        <td>{{ selection.entity.top_note.user.profile.nickname }}</td>
                        <td><a href="#">{{ selection.entity.category }}</a></td>
                        <td>{{ selection.entity.selection_entity.pub_time|date:'Y-m-d H:i:s' }}</td>
                        <td>{{ selection.entity.price }}</td>
{#                        <td>{{ entity.get_status_display }}</td>#}
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="{% url 'management_entity_edit' selection.entity.pk %}" target="_blank">{% trans 'edit' %}</a>
{#                            <a class="btn btn-primary">{{ selection.entity.pk }}</a>#}
                                <a class="btn btn-primary" href="{% url 'management_selection_edit_publish' selection.pk %}" target="_blank">{% trans 'edit datetime' %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>