{% load i18n %}
{% load guoku %}

<div class="head_pic">
        <img class="img-responsive img-circle img-frame" id='user-avatar' style="background-image: url({{ user_context.profile.avatar_url|resize:"120" }})" width="120" height="120">
</div>
<div class="change_head bg_c_blue fs_16 fc_4">
    						点击选择图片
    <input id="fileupload" type="file" multiple="" name="avatar_file" data-url="{% url 'web_user_upload_avatar' %}">
{#						<input type="file"/>#}
</div>
{#<form class="form-horizontal clearfix" enctype="multipart/form-data"#}
{#      action="{% url 'web.views.account.update_avatar' %}" method="POST">#}
{#    {% csrf_token %}#}

{#    <br />#}
{#    <span class="btn btn-primary fileinput-button">#}
{#        <label class="col-sm-4 control-label">点击选择图片</label>#}
{#        <a href="javascript:;">点击选择图片</a><span></span>#}
{#        <div class="col-sm-4">#}
{#            <span>点击选择图片</span>#}
{#            <input id="fileupload" type="file" multiple="" name="avatar_file" data-url="{% url 'web_user_upload_avatar' %}">#}
{#        </div>#}
{#    </span>#}
{#    </div>#}
{#<div>#}
{#    <p>支持 JPG、GIF、PNG 格式，不超过 2MB。</p>#}
{#    <div class="form-group">#}
{#        <button type="submit" class="btn btn-primary form-control">{% trans "upload again" %}</button>#}
{#    </div>#}
{#</form>#}
{#</div>#}