{#<div class="panel panel-default hidden-print hidden-xs">#}
{#    <div class="list-group">#}
{#        {% url 'web_user_settings' as web_user_settings_url %}#}
{#        {% url 'web_user_change_password' as web_user_change_password_url %}#}
{#        {% url 'web_user_bind_sns' as web_user_bind_sns_url %}#}
{#        <div class="list-group-item {% if web_user_settings_url in request.path %}active{% endif %}">#}
{#            <a href="{{ web_user_settings_url }}">编辑个人资料</a>#}
{#        </div>#}
{#        <div class="list-group-item {% if web_user_change_password_url in request.path %}active{% endif %}">#}
{#            <a href="{{ web_user_change_password_url }}">更改密码</a>#}
{#        </div>#}
{#        <div class="list-group-item {% if web_user_bind_sns_url in request.path %}active{% endif %}">#}
{#            <a href="{{ web_user_bind_sns_url }}">绑定设置</a>#}
{#        </div>#}
{#        <div class="list-group-item">#}
{#            <a href="#">通知设置</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

        {% url 'web_user_settings' as web_user_settings_url %}
        {% url 'web_user_change_password' as web_user_change_password_url %}
        {% url 'web_user_bind_sns' as web_user_bind_sns_url %}
				<ul class="fs_14 fc_2">
					<li {% if web_user_settings_url in request.path %}class="check"{% endif %}>
                        <a href="{{ web_user_settings_url }}" class="fc_2"><i class="fa fa-arrow-circle-right fc_5"></i>&nbsp;编辑个人资料</a>
                    </li>
					<li {% if web_user_change_password_url in request.path %}class="check"{% endif %}>
                         <a href="{{ web_user_change_password_url }}" class="fc_2"><i class="fa fa-arrow-circle-right fc_5"></i>&nbsp;更改密码</a>
                    </li>
					<li {% if web_user_bind_sns_url in request.path %}class="check"{% endif %}>
                        <a href="{{ web_user_bind_sns_url }}" class="fc_2"><i class="fa fa-arrow-circle-right fc_5"></i>&nbsp;绑定设置</a>
                    </li>
{#					<li><i class="fa fa-arrow-circle-right fc_5"></i>&nbsp;通知设置</li>#}
				</ul>