<div class="panel panel-default hidden-print hidden-xs">
    <div class="list-group">
        {% url 'web_user_settings' as web_user_settings_url %}
        {% url 'web_user_change_password' as web_user_change_password_url %}

        <div class="list-group-item {% if web_user_settings_url in request.path %}active{% endif %}">
            <a href="{{ web_user_settings_url }}">编辑个人资料</a>
        </div>
        <div class="list-group-item {% if web_user_change_password_url in request.path %}active{% endif %}">
            <a href="{{ web_user_change_password_url }}">更改密码</a>
        </div>
        <div class="list-group-item">
            <a href="#">绑定设置</a>
        </div>
        <div class="list-group-item">
            <a href="#">通知设置</a>
        </div>
    </div>
</div>