{% load i18n %}
{% load common guoku %}
{% load static %}

<ul class="section-list user-right">
   {%  if followings %}
    <li class="section user-following">
        <div class="section-title">{% trans 'Following' %}<span class="more-link"><a href="{% url 'web_user_followings' current_user.pk %}">{% trans 'All' %}&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></span></div>
        <div class="section-content">
            <ul class="following-list user-icon-list">
                {% for f in followings %}
                    <li><a href="{% url 'web_user_index' f.followee.id  %}"><img class="img-responsive" src="{{ f.followee.avatar_url|resize:'50'  }}"></a></li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endif %}
    {% if  fans %}
    <li class="section user-fans">
        <div class="section-title">{% trans 'Fans' %}<span class="more-link"><a href="{% url 'web_user_fans' current_user.pk %}">{% trans 'All' %}&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></span></div>
        <div class="section-content">
            <ul class="fans-list user-icon-list">
                {% for f in fans %}
                    <li><a href="{% url 'web_user_index' f.follower.id %}"><img class="img-responsive" src="{{ f.follower.avatar_url|resize:'50'  }}"></a></li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endif %}

    {% if tags %}
    <li class="section user-tag-list">
        <div class="section-title">{% trans 'Contributed Tags' %}<span class="more-link"><a href="{% url 'web_user_tag' current_user.pk %}">{% trans 'All' %}&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></span></div>
        <div class="section-content">
            <ul class="tag-list">
                {% for tag in tags %}
                    <li><a href="{% url 'tag_entities_url' tag.hash %}">
                        #{{ tag.name }}
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endif %}
{#like articles list#}
    {% if current_user_like_articles %}
    <li class="section user-tag-list">
        <div class="section-title">赞过的图文<span class="more-link"><a href="{% url 'web_user_article_like' current_user.pk %}">{% trans 'All' %}&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></span></div>
        <div class="section-content">
            {% for article in current_user_like_articles %}
            <ul class="tag-list">
                <li>
                    <a href="{% url 'web_article_page' article.pk %}#from=recommend"">
                        {{ article.title }}
                    </a>
                </li>
            </ul>
            {% endfor %}
        </div>
    </li>
    {% endif %}

    <li class="section section-download">
        <div class="section-title">{% trans "Download App" %}</div>
        <div class="section-content">
            <div class="text-holder">
                精英消费指南，生活不一样。
                                 <span class="download-link">
                                     <a href="{% url "web_download" %}">
                                         查看详情&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
                                     </a>
                                 </span>
            </div>
            <div class="icon-holder">
                <a href="{% url "web_download" %}">
                    <div class="img-frame" style="background-image:url({% static "images/side_bar/icon64.png" %})"></div>
{#                    <img width="64px" src="{% static "images/side_bar/icon64.png" %}"/>#}
                </a>
            </div>
        </div>
    </li>
</ul>