{% extends 'management/users/user_edit_base.html' %}
{% load i18n static %}
{% block css %}
     <link href="{% static 'css/management/offline_shop.css' %}" rel="stylesheet">
{% endblock %}
{% block user_edit_block %}
    <div class="box box-info">
        <div class="box-header">
            {% trans 'Offline Shop Info'  %}
        </div>
        <div class="box-body">
            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'management_user_edit'  current_user.pk %}">{% trans 'Back To User Info Edit' %}</a>
            </div>
            <div class="box-pane">&nbsp;</div>
            <div >
                <form class="form-horizontal" enctype="multipart/form-data" action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}

                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {{ field }}<span class="field-errors">{{ field.errors }}</span>
                            </div>
                            {#                                        {{ field.errors }}#}
                            {#                                        {{ field.label_tag }} {{ field }}#}
                            {#                                        {% if field.help_text %}#}
                            {#                                            <p class="help">{{ field.help_text|safe }}</p>#}
                            {#                                        {% endif %}#}
                        </div>
                        <div class="form-error">

                        </div>

                    {% endfor %}
                    <div class="box-footer">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <button type="submit" class="btn btn-primary btn-lg">Update</button>
                        </div>
                    </div>
                </form>
                <div class="shop-pics-wrapper">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="add-shop-pic-btn" id="add_pic_button">
                                <i class="fa fa-plus">添加图片</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="allmap" style="width:100%;height:500px;">

                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="add_pic_modal_content">
        <div class="add-pic-modal-wrapper">
            <input id="file_image" type="file" name="file"/>
            <button class="btn btn-primary" type="button" data-url="" id="file_upload_btn">确认上传图片</button>
        </div>
    </script>
{% endblock %}
{% block user_script %}
    {#    switchery css is already in AdminLTE#}
    <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/user/user.js' %}" type="application/javascript"></script>

    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nINvMpu8HVgLI5O8Hw5lBsAM91WiOnFQ"></script>
    <script src="{% static 'js/management/user/offline_shop/invoke_baidu_map.js' %}" type="application/javascript"></script>

    <script src="{% static 'js/management/user/offline_shop/upload_shop_pics.js' %}" type="application/javascript"></script>

{% endblock %}