{% extends 'management/management_base.html' %}
{% load i18n static %}
{% block content %}
    <div class="box box-info">
        <div class="box-header">
            {% trans '上传线下商店图片'  %}
        </div>
        <div class="box-body">
            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'management_user_offline_shop_info' request.user.pk %}">{% trans '去线下商店信息编辑页' %}</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block user_script %}
    {#    switchery css is already in AdminLTE#}
    <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/user/user.js' %}" type="application/javascript"></script>
{% endblock %}