{% extends 'management/management_base.html' %}
{% load i18n static %}
{% block content %}
    <div class="box box-info">
        <div class="box-header">
            {% trans '上传线下商店图片'  %}
        </div>
        <div class="box-body">
            <div class="btn-group">
                <a class="btn btn-success" id="add_pic_button">{% trans '添加商店图片' %}</a>
{#                <a class="btn btn-primary" href="{% url 'management_user_offline_shop_info' request.user.pk %}">{% trans '去线下商店信息编辑页' %}</a>#}
            </div>
        </div>
    </div>

        <script type="text/html" id="add_pic_modal_content">
        <div class="add-pic-modal-wrapper">
            <div class="pics-wrapper">
                upload pic btn
            </div>

        </div>
    </script>
{% endblock %}
{% block user_script %}
    {#    switchery css is already in AdminLTE#}
    <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/user/user.js' %}" type="application/javascript"></script>

    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>
    <script src="{% static 'js/management/user/offline_shop/upload_shop_pics.js' %}" type="application/javascript"></script>

{% endblock %}