{% extends 'management/management_base.html' %}
{% load i18n static %}
{% block content %}
    <div class="box box-info">
        <div class="box-header">
            {% trans '上传线下商店图片'  %}
        </div>
        <div class="box-body">
            <div class="btn-group">
                <a class="btn btn-success" id="add_pic_button">{% trans '添加商店图片' %}</a>
{#                <a class="btn btn-primary" href="{% url 'management_user_offline_shop_info' request.user.pk %}">{% trans '去线下商店信息编辑页' %}</a>#}
            </div>
            <div class="add-pic-modal-wrapper">

                <form id="uploadForm" action="" method="post" enctype="multipart/form-data">
                    <div class="upload_box">
                        <div class="upload_main">
                            <div class="upload_choose">
                                <input id="fileImage" type="file" size="30" name="fileselect[]" multiple />
                            </div>
                            <div id="preview" class="upload_preview">

                            </div>
                        </div>
                        <div class="upload_submit">
                            <button class="btn btn-primary upload_submit_btn" type="button" id="fileSubmit">确认上传图片</button>
                        </div>
                        <div id="uploadInf" class="upload_inf"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>

        <script type="text/html" id="add_pic_modal_content">
            <div class="add-pic-modal-wrapper">

                <form id="uploadForm" action="" method="post" enctype="multipart/form-data">
                    <div class="upload_box">
                        <div class="upload_main">
                            <div class="upload_choose">
                                <input id="fileImage" type="file" size="30" name="fileselect[]" multiple />
                            </div>
                            <div id="preview" class="upload_preview">

                            </div>
                        </div>
                        <div class="upload_submit">
                            <button class="btn btn-primary upload_submit_btn" type="button" id="fileSubmit">确认上传图片</button>
                        </div>
                        <div id="uploadInf" class="upload_inf"></div>
                    </div>
                </form>

            </div>
    </script>
{% endblock %}
{% block user_script %}
    {#    switchery css is already in AdminLTE#}
    <script src="{% static 'js/utils/switchery.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/user/user.js' %}" type="application/javascript"></script>

    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/management/util.js' %}"></script>

    <script src="{% static 'js/management/user/offline_shop/file_upload_helper.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/management/user/offline_shop/upload_shop_pics.js' %}" type="application/javascript"></script>
    <script>
      // begin for pic upload
        var params = {
            fileInput: $("#fileImage").get(0),
            dragDrop: $("#fileDragArea").get(0),
            upButton: $("#fileSubmit").get(0),
            url: $("#uploadForm").attr("action"),
            filter: function(files) {
                var arrFiles = [];
                for (var i = 0, file; file = files[i]; i++) {
                    if (file.type.indexOf("image") == 0) {
                        if (file.size >= 512000) {
                            bootbox.alert('您这张"'+ file.name +'"图片大小过大，应小于500k');
                        } else {
                            arrFiles.push(file);
                        }
                    } else {
                        bootbox.alert('文件"' + file.name + '"不是图片。');
                    }
                }
                return arrFiles;
            },
            onSelect: function(files) {
                var html = '', i = 0;
                $("#preview").html('<div class="upload_loading"></div>');
                var funAppendImage = function() {
                    file = files[i];
                    if (file) {
                        console.log('file exist >>>');
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            html = html + '<div id="uploadList_'+ i +'" class="upload_append_list"><p><strong>' + file.name + '</strong>'+
                                '<a href="javascript:" class="upload_delete" title="删除" data-index="'+ i +'">删除</a><br />' +
                                '<img id="uploadImage_' + i + '" src="' + e.target.result + '" class="upload_image" /></p>'+
                                '<span id="uploadProgress_' + i + '" class="upload_progress"></span>' +
                                '</div>';

                            i++;
                            funAppendImage();
                        };
                        reader.readAsDataURL(file);
                    } else {
                        console.log('file none >>>>');
                        $("#preview").html(html);
                        if (html) {
                            //删除方法
                            $(".upload_delete").click(function() {
                                ZXXFILE.funDeleteFile(files[parseInt($(this).attr("data-index"))]);
                                return false;
                            });
                            //提交按钮显示
                            $("#fileSubmit").show();
                        } else {
                            //提交按钮隐藏
                            $("#fileSubmit").hide();
                        }
                    }
                };
                funAppendImage();
            },
            onDelete: function(file) {
                $("#uploadList_" + file.index).fadeOut();
            },
            onDragOver: function() {
                $(this).addClass("upload_drag_hover");
            },
            onDragLeave: function() {
                $(this).removeClass("upload_drag_hover");
            },
            onProgress: function(file, loaded, total) {
                var eleProgress = $("#uploadProgress_" + file.index), percent = (loaded / total * 100).toFixed(2) + '%';
                eleProgress.show().html(percent);
            },
            onSuccess: function(file, response) {
                $("#uploadInf").append("<p>上传成功，图片地址是：" + response + "</p>");
            },
            onFailure: function(file) {
                $("#uploadInf").append("<p>图片" + file.name + "上传失败！</p>");
                $("#uploadImage_" + file.index).css("opacity", 0.2);
            },
            onComplete: function() {
                //提交按钮隐藏
                $("#fileSubmit").hide();
                //file控件value置空
                $("#fileImage").val("");
                $("#uploadInf").append("<p>当前图片全部上传完毕，可继续添加上传。</p>");
            }
        };
        ZXXFILE = $.extend(ZXXFILE, params);
        ZXXFILE.init();
        //end for pic upload
    </script>

{% endblock %}