{% extends 'management/management_base.html' %}
{% load i18n static %}
{% load  common guoku %}


{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'draft article' %}
            <small>{% trans 'draft article' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard">{% trans 'home' %}</i></a></li>
            <li><a href="#">{% trans 'article' %}</a></li>
            <li class="active">{% trans 'draft' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                <div class="box-header">
                    {% include 'management/article/partial/list_nav.html' %}

                    </div>
                    <div class="box-body table-responsive action-table">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="id">#</th>
                                    <th class="title">{% trans 'title' %}</th>
                                    <th class="person-link" >{% trans 'author' %}</th>
                                    <th class="cell-boolean" >文章状态</th>
                                    <th class="date-time">最后修改时间</th>
                                    <th class="edit-operation">{% trans 'operation' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in articles %}
                                    <tr>
                                        <td>{{ row.pk }}</td>
                                        <td>{{ row.title }}</td>
                                        <td><a href="{% url 'management_user_edit' row.creator_id %}" target="_blank">{{ row.creator.profile.nickname }}</a></td>
                                        <td>{{ row.get_publish_display  }}</td>
                                        <td>{{ row.updated_datetime|format_time}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-default" href="{% url 'management_article_edit' row.pk %}">{% trans 'edit' %}</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer">
                        {% include "management/entities/paginator_new.html" with page_obj=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <h1 class="page-header">{% trans 'draft article' %}</h1>#}
{##}
{##}
{##}
{#    <div class="table-responsive action-table">#}
{#        <table class="table table-striped">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th class="id">#</th>#}
{#                    <th class="title">{% trans 'title' %}</th>#}
{#                    <th class="person-link" >{% trans 'author' %}</th>#}
{#                    <th class="cell-boolean" >文章状态</th>#}
{#                    <th class="date-time">最后修改时间</th>#}
{#                    <th class="edit-operation">{% trans 'operation' %}</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for row in articles %}#}
{#                    <tr>#}
{#                        <td>{{ row.pk }}</td>#}
{#                        <td>{{ row.title }}</td>#}
{#                        <td><a href="{% url 'management_user_edit' row.creator_id %}" target="_blank">{{ row.creator.profile.nickname }}</a></td>#}
{#                        <td>{{ row.get_publish_display  }}</td>#}
{#                        <td>{{ row.updated_datetime|format_time}}</td>#}
{#                        <td>#}
{#                            <div class="btn-group">#}
{#                                <a class="btn btn-default" href="{% url 'management_article_edit' row.pk %}">{% trans 'edit' %}</a>#}
{#                            </div>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{##}
{#    {% include "management/entities/paginator_new.html" with page_obj=page_obj url=request.path %}#}
{% endblock %}