{% extends 'management/management_base.html' %}
{% load i18n staticfiles %}
{% load guoku %}


{% block css %}
    <link href="{% static 'summernote/summernote.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/jquery.fileupload.css' %}">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ article.title }}
            <small>{% trans 'edit article' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'management_dashboard' %}"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
            <li><a href="{% url 'management_article_list'  %}">{% trans 'articles' %}</a></li>
            <li class="active">{% trans 'edit article' %}</li>
        </ol>
    </section>

    <section class="content mng-article-edit">
        <div class="row management-wrapper article-management">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="col-sm-6 col-sm-offset-3">
                            <img class="img-responsive" id='article-cover' src="{{ article.cover_url|resize:'600' }}" width="" height="">
                        </div>
{#                        <span class="btn btn-primary fileinput-button pull-right">#}
{#                            <i class="fa fa-plus fa-lg"></i>&nbsp; <span>点击选择图片</span>#}
{#                            <input id="fileupload" type="file" multiple="" name="cover_file" data-url="{% url 'management_article_cover_upload' article.pk %}">#}
{#                        </span>#}
                    </div>

                    <form class="form-horizontal article-form" method="post" >
                    {% csrf_token %}
                        <div class="box-body">
                            {% for field in forms %}

                                {% if field.name  == 'content' %}
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    <div class="col-sm-10">
                                        <a class="btn btn-success " href="{% url 'web_article_page' article.pk %}" target="_blank">GOTO</a>
                                        <a class="btn btn-primary " href="{% url 'web_editor_article_edit' article.pk %}" target="_blank">编辑文章内容</a>
                                        <div class="">
                                            {% autoescape off %}
                                             {{ field.data|striptags }}
                                            {% endautoescape %}
                                        </div>
                                        <div class="hidden">
                                            {{ field }}
                                        </div>
                                    </div>
                                </div>
                                {% elif field.name == 'cover' %}
{#                                     pass for cover now#}
                                {% elif field.name == 'tags' %}
                                    <div class="form-group">
                                       <label class="col-sm-2 control-label"> 备选 tags</label>
                                       <div class="col-sm-10" id="tag_btn_list">
                                       </div>

                                    </div>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    <div class="col-sm-10">
                                        {{ field }}
                                    </div>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    <div class="col-sm-10">
                                        {{ field }}
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'save' %}</button>
                                    <a class="btn btn-info btn-lg" target="_blank" href="{% url 'management_article_preview' article.pk %}">{% trans 'preview' %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block user_script %}
    <script language="javascript">
    var tag_url = "{{ tag_url }}";
    </script>

  <script language="javascript" src="{% static 'js/management/article/article_tag.js' %}">

  </script>
{% endblock %}