{% extends 'management/management_base.html' %}
{% load i18n %}
{% load guoku %}

{% block content %}
{#    <h1>#}
    <div class="row placeholders">
{#        {% for image in sal.article.cor %}#}
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class="img-responsive img-thumbnail" src="{{ sla.article.cover_url|oss_resize:'240' }}" width="240" height="240">
            </div>
{#        {% endfor %}#}
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{{ sla.article }}</div>
            <ul class="list-group">
                <li class="list-group-item">发布时间 {{ sla.pub_time|date:'Y-m-d H:i:s' }}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        {% include 'management/lib/forms.html' with forms=form url=request.path %}
    </div>
{% endblock %}