{% extends 'management/management_base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="page-header">{% trans 'article' %}</h1>

    <div class="row">
        <ul class="nav nav-pills" role="tablist">
            <li><a class="btn btn-primary" target="_blank" href="{% url 'management_article_create' %}">{% trans 'add' %}</a></li>
        </ul>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'title' %}</th>
                    <th>{% trans 'author' %}</th>
                    <th>{% trans 'is publish' %}</th>
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in articles %}
                    <tr>
                        <td>{{ row.pk }}</td>
                        <td>{{ row.title }}</td>
                        <td><a href="{% url 'management_user_edit' row.creator_id %}" target="_blank">{{ row.creator }}</a></td>
                        <td>{{ row.get_publish_display  }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="{% url 'management_article_edit' row.pk %}">{% trans 'edit' %}</a>
                                <a class="btn btn-primary" href="{% url 'management_article_preview' row.pk %}"> 加入精选</a>
                                <a class="btn btn-success" href="{% url 'management_article_preview' row.pk %}">{% trans 'preview' %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}