{% extends 'management/management_base.html' %}
{% load i18n staticfiles %}
{% load common guoku %}

{% block content %}
    <div class="row management-wrapper article-management">
         <div class="manage-section article-info-container col-xs-12">
             <div class="section-header">文章基本信息</div>
             <div class="section-content container-fluid">
                 <div class="row">
                     <div class="content-left col-xs-4">
                         <div class="article-cover">
    {#                         add article cover here #}
                             <img class="img-responsive" src="{{ article.cover_url }}">
                         </div>
                         <div class="edit-button-wrapper">
                             <a href="{% url 'web_editor_article_edit' article.pk %}">
                             <span class="guoku-btn-blue">编辑内容</span>
                             </a>
                         </div>
                     </div>
                     <div class="content-right col-xs-8">
                         <div class="article-status-wrapper container-fluid">
                            <div class="row">
                                <div class="article-title col-xs-12">
                                    {{ article.title }}
                                </div>
                            </div>
                             <div class="row">
                                 <table class="status-table col-xs-12 table-striped">
                                     <tr class="status-row">
                                         <td class="status-title">发布</td>
                                         <td class="status">
                                             {% if article.is_published %}
                                                <i class="fa fa-check"></i>
                                             {% else %}
                                                 <i class="fa fa-times"></i>
                                             {% endif %}
                                         </td>
                                         <td class="status-action"></td>
                                     </tr>
                                     <tr class="status-row">
                                         <td class="status-title">精选</td>
                                         <td class="status">
                                             {% if article.is_selection %}
                                             <i class="fa fa-check"></i>
                                             {% else %}
                                              <i class="fa fa-times" ></i>
                                             {% endif %}
                                         </td>
                                         <td class="status-action"></td>
                                     </tr>
                                     <tr class="status-row">
                                         <td class="status-title">入精选次数</td>
                                         <td class="status">{{ article.selection_count }}</td>
                                         <td class="status-action"></td>
                                     </tr>
                                     <tr class="status-row">
                                         <td class="status-title">上次入精选时间</td>
                                         <td class="status">{{ article.last_selection_time|format_time }}</td>
                                         <td class="status-action"></td>
                                     </tr>

                                 </table>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="manage-section article-status-container col-xs-12">
             <div class="section-header">文章属性设置</div>
             <div class="section-content container-fluid">
                 <div class="row">
                     <table class="action-table col-xs-12" >
                                     <tr class="action-row">
                                         <td class="action-title">文章阅读数</td>
                                         <td class="action-input"><input type="text" id="article_read_count"  name="article_read_count" size="28" maxlength="64" value="66"> </td>
                                         <td class="action-button"><span class="guoku-btn-blue">修改</span></td>
                                     </tr>
                                     <tr class="action-row">
                                         <td class="action-title">文章Tag</td>
                                         <td class="action-input"><textarea  id="article_tags" rows="2" name="article_tags" size="28" maxlength="64" >中国，日本，台湾，马来</textarea> </td>
                                         <td class="action-button"><span class="guoku-btn-blue">修改</span></td>
                                     </tr>
                                     <tr class="action-row">
                                          <td class="action-title">文章作者</td>
                                          <td class="action-input">
                                              <select>
                                                  <option value="1"> 毛泽东</option>
                                                  <option value="2"> 邓稼先</option>
                                                  <option value="3"> 博古</option>
                                                  <option value="4"> 李德 </option>
                                          </select></td>
                                         <td class="action-button"><span class="guoku-btn-blue">修改</span></td>
                                     </tr>
                     </table>

                     <div class="article-status col-xs-12"></div>
                     <div class="action col-xs-12"></div>
                 </div>
             </div>
         </div>
         <div class="manage-section article-status-container col-xs-12">
             <div class="section-header">精选管理</div>
             <div class="section-content container-fluid">
                 <div class="row">
                     <table class="action-table col-xs-12">
                         <tr class="action-row">
                             <td>精选发布时间</td>
                             <td>精选操作</td>
                         </tr>
                         <tr class="action-row">
                             <td class="action-input"><input type="text"  value="2015-05-21  19:23" ></td>
                             <td><span class="guoku-btn-blue">更新精选时间</span></td>
                             <td><span class="guoku-btn-blue">移除精选</span></td>
                         </tr>
                         <tr class="action-row">
                             <td class="action-input"><input type="text"  value="2015-05-21  19:23" ></td>
                             <td><span class="guoku-btn-blue">更新精选时间</span></td>
                             <td><span class="guoku-btn-blue">移除精选</span></td>
                         </tr>
                         <tr class="action-row">
                             <td class="action-input"><input type="text"  value="2015-05-21  19:23" ></td>
                             <td><span class="guoku-btn-blue">更新精选时间</span></td>
                             <td><span class="guoku-btn-blue">移除精选</span></td>
                         </tr>

                     </table>
                 </div>
             </div>
         </div>


    </div>

   <div class="management-form">
   <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
    </form>

   </div>
{% endblock %}

{% block js %}

{% endblock %}