{% extends 'management/management_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img class="img-responsive" src="{{ article.cover_url }}">
            </div>
        </div>
        <div class="row">
            <h2>{{ article.title }}</h2>
            <p class="pull-left">{{ article.creator.profile.nickname }}</p>
            <p class="pull-right">{{ article.created_datetime|date:'Y-m-d H:i:s' }}</p>
            <div class="col-sm-12">
            {% autoescape off %}
                {{ article.content }}
            {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}