{% extends 'management/management_base.html' %}
{% load i18n static %}
{% load  common guoku %}

{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'selection articles' %}
            <small>{% trans 'selection articles' %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans 'selection articles' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-pills" role="tablist">
                            <li {% if request.path == '/management/article/selections/' %}class="active"{% endif %}><a href="{% url 'management_selection_article_list' %}">{% trans 'published' %}</a></li>
                            <li {% if request.path == '/management/article/selections/pending/' %}class="active"{% endif %}><a href="{% url 'management_selection_pending_article_list' %}">{% trans 'pending' %}</a></li>
                        </ul>
                    </div>

                    <div class="box-body table-responsive">
                        <table class="table table-bordered table-hover action-table">
                            <thead>
                                <tr>
                                    <th class="id">#</th>
                                    <th class="cover">{% trans 'cover' %}</th>
                                    <th class="title">{% trans 'title' %}</th>
                                    <th class="person-link" >{% trans 'author' %}</th>
                                    <th class="read-count">文章阅读数</th>
                                    <th class="tags">文章标签</th>
                                    <th class="cell-boolean" >文章状态</th>
                                    <th class="date-time">入精选时间</th>
                                    <th>该文章入精选次数</th>
                                    <th>上次精选发布时间</th>

                                    <th>{% trans 'operation' %}</th>

                                    {% if request.path == '/management/article/selections/pending/' %}
                                    <th>精选操作</th>
                                    <th>精选发布</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for sla in selection_article_list %}
                                    <tr>
                                        <td>{{ sla.pk }}</td>
                                        <td><a href="{% url 'web_article_page' sla.article.pk %}" target="_blank"><img class="img-thumbnail img-responsive" src="{{ sla.article.cover_url|resize:'90' }}"></a></td>
                                        <td>{{ sla.article.title }}</td>
                                        <td>
                                            <a href="{% url 'management_user_edit' sla.article.creator_id %}" target="_blank">
                                            {{ sla.article.creator.profile.nickname }}
                                            </a>
                                        </td>
                                        <td>{{ sla.article.read_count }}</td>
                                        <td> {{ sla.article|article_tag_string }}</td>
                                        <td>{{ sla.article.get_publish_display }}</td>

                                        <td>{{ sla.create_time|format_time}}</td>
                                        <td>{{ sla.article.selection_count}}</td>
                                        <td>{{ sla.article.last_selection_time|date:'Y-m-d H:i:s' }}</td>

                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-default"
                                                   href="{% url 'management_article_edit' sla.article.pk %}" target="_blank">
                                                    {% trans 'edit' %}
                                                </a>
{#                                                {% if request.path == '/management/article/selections/pending/' %}#}
                                                <a class="btn btn-primary"
                                                   href="{% url 'management_selection_article_edit' sla.pk %}" target="_blank">
                                                    {% trans 'edit publish datetime' %}
                                                </a>
{##}
                                            </div>
                                        </td>

                                        {% if request.path == '/management/article/selections/pending/' %}
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-danger remove-selection"
                                                    url = "{% url 'management_remove_selection_article' sla.pk %}"
                                                    selection_article_id="{{  sla.pk }}">
                                                    移除精选
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary selection-publish">
                                                    发布文章到前端精选流
                                                </a>
{#                                                <a class="btn btn-primary"#}
{#                                                   href="{% url 'management_selection_article_edit' sla.pk %}" target="_blank">#}
{#                                                    {% trans 'edit publish datetime' %}#}
{#                                                </a>#}
                                            </div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer">
                        {% include "management/entities/paginator_new.html" with page_obj=page_obj url=request.path %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <h1 class="page-header">精选文章</h1>#}
{##}
{#    <div class="row">#}
{#        <ul class="nav nav-pills" role="tablist">#}
{#            <li {% if request.path == '/management/article/selections/' %}class="active"{% endif %}><a href="{% url 'management_selection_article_list' %}">{% trans 'published' %}</a></li>#}
{#            <li {% if request.path == '/management/article/selections/pending/' %}class="active"{% endif %}><a href="{% url 'management_selection_pending_article_list' %}">{% trans 'pending' %}</a></li>#}
{#        </ul>#}
{#    </div>#}
{##}
{#    <div class="table-responsive">#}
{#        <table class="table table-striped action-table">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th class="id">#</th>#}
{#                    <th class="cover">{% trans 'cover' %}</th>#}
{#                    <th class="title">{% trans 'title' %}</th>#}
{#                    <th class="person-link" >{% trans 'author' %}</th>#}
{#                    <th class="read-count">文章阅读数</th>#}
{#                    <th class="tags">文章标签</th>#}
{#                    <th class="cell-boolean" >文章状态</th>#}
{#                    <th class="date-time">入精选时间</th>#}
{#                    <th>该文章入精选次数</th>#}
{#                    <th>上次精选发布时间</th>#}
{##}
{#                    <th>{% trans 'operation' %}</th>#}
{##}
{#                    {% if request.path == '/management/article/selections/pending/' %}#}
{#                    <th>精选操作</th>#}
{#                    <th>精选发布</th>#}
{#                    {% endif %}#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for sla in selection_article_list %}#}
{#                    <tr>#}
{#                        <td>{{ sla.pk }}</td>#}
{#                        <td><img class="img-thumbnail img-responsive" src="{{ sla.article.cover_url|resize:'90' }}"></td>#}
{#                        <td>{{ sla.article.title }}</td>#}
{#                        <td>#}
{#                            <a href="{% url 'management_user_edit' sla.article.creator_id %}" target="_blank">#}
{#                            {{ sla.article.creator.profile.nickname }}#}
{#                            </a>#}
{#                        </td>#}
{#                        <td>{{ sla.article.read_count }}</td>#}
{#                        <td> {{ sla.article|article_tag_string }}</td>#}
{#                        <td>{{ sla.article.get_publish_display }}</td>#}
{##}
{#                        <td>{{ sla.create_time|format_time}}</td>#}
{#                        <td>{{ sla.article.selection_count}}</td>#}
{#                        <td>{{ sla.article.last_selection_time|date:'Y-m-d H:i:s' }}</td>#}
{##}
{#                        <td>#}
{#                            <div class="btn-group">#}
{#                                <a class="btn btn-default"#}
{#                                   href="{% url 'management_article_edit' sla.article.pk %}" target="_blank">#}
{#                                    {% trans 'edit' %}#}
{#                                </a>#}
{#                                {% if request.path == '/management/article/selections/pending/' %}#}
{#                                <a class="btn btn-primary"#}
{#                                   href="{% url 'management_selection_article_edit' sla.pk %}" target="_blank">#}
{#                                    {% trans 'edit publish datetime' %}#}
{#                                </a>#}
{#                                {% endif %}#}
{#                                <a class="btn btn-success"#}
{#                                   href="{% url 'web_article_page' sla.article.pk %}" target="_blank">#}
{#                                    {% trans 'goto' %}</a>#}
{#                            </div>#}
{#                        </td>#}
{##}
{#                        {% if request.path == '/management/article/selections/pending/' %}#}
{#                        <td>#}
{#                            <div class="btn-group">#}
{#                                <a class="btn btn-danger remove-selection"#}
{#                                    url = "{% url 'management_remove_selection_article' sla.pk %}"#}
{#                                    selection_article_id="{{  sla.pk }}">#}
{#                                    移除精选#}
{#                                </a>#}
{#                            </div>#}
{#                        </td>#}
{#                        <td>#}
{#                            <div class="btn-group">#}
{#                                <a class="btn btn-primary selection-publish">#}
{#                                    发布文章到前端精选流#}
{#                                </a>#}
{#                            </div>#}
{#                        </td>#}
{#                        {% endif %}#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    {% include "management/entities/paginator_new.html" with page_obj=page_obj url=request.path %}#}


{% endblock %}