{% load i18n staticfiles %}
{% load common guoku %}
{#{% load highlight %}#}

 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 selection-article-item article-compact">
        <div class="article-panel">
            <a class="img-link" href="{% url 'web_article_page' obj.article_id %}" data-article="{{ obj.article_id }}" data-article-title="{{ obj.title|truncatechars:32 }}">
{#                {{ obj.object }}#}
            <div class="img-holder" style="background-image: url({{ obj.object.cover_url|resize:'450' }})"></div>
            </a>

            <div class="article-title" data-article="{{ obj.article_id }}" data-article-title="{{ obj.title|truncatechars:32 }}">
                <a  href="{% url 'web_article_page' obj.article_id   %}">
                {{ obj.title|truncatechars:32 }}
                </a>
            </div>
            <div class="article-intro">
                {% autoescape off %}
                {{ obj.object.content|striptags|truncatechars:60 }}
                {% endautoescape %}
            </div>
            <div class="article-info">
                 <span class="create-time">
                    <i class="fa fa-clock-o"></i>{{obj.object.updated_datetime|format_time}}
                 </span>
            </div>
        </div>
 </div>