{% extends 'web/user/user_base_new.html' %}
{% load i18n staticfiles%}
{% load common guoku %}
{% load static %}

{% block meta-og %}
    <meta property="og:title" content="{{ current_user.profile.nick }}果库页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="{{ current_user.profile.nick }}果库的个人页，展现个人的兴趣爱好、消费倾向及擅长领域，包括个人在果库喜爱过、点评过的商品、为商品贴过的标签、撰写过、赞过的图文等。">
{% endblock %}
{% block meta-common %}
    <meta name="title"  content="{{ current_user.profile.nick }} | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ current_user.profile.nick }},个人主页,喜爱,点评,标签,图文,消费经验,擅长领域,精英消费指南,果库">
    <meta name="description" content="{{ current_user.profile.nick }},{{ current_user.profile.bio|truncatechars:'50' }},喜爱过的商品、点评过的商品、撰写过的图文、为商品贴过的标签，做理想消费精英，提理想生活主张，个人兴趣爱好、消费倾向及擅长领域，做消费的自己。">
{% endblock %}
{% block title %}{{ current_user.profile.nick }} | 精英消费指南 | 果库{% endblock %}
{% block body_class %} gray-body authorized-seller-body {% endblock %}

        {% block user_header %}
            <div class='authorized_author_info'>
                    <div class="user-icon">
                        <img src="{{ current_user.avatar_url|resize:'180' }}"/>
                    </div>
                    <div class="user-nick">
                         <span class="nick">{{ current_user.nickname }}</span>
                         <img src="{% static 'images/author/seller.png' %}" width="16px" height="24px" class="official-media seller-media"/>
                    </div>
                    <div class="user-action">
                          {% if current_user.is_blocked %}
                                <a  class="guoku-button button-disabled" href="#"><i class="fa fa-exclamation-triangle"></i>&nbsp;{% trans 'Blocked User' %} </a>
                            {% elif current_user == request.user %}
                                <a class="guoku-button button-blue" href="{% url 'web_user_settings' %}">
                                    <i class="fa fa-cog"></i>&nbsp;{% trans _('Edit Profile') %}</a>
                            {% elif request.user.id in current_user.concren %}
                                <a class="follow guoku-button btn-cancel" data-status="1" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-exchange"></i>&nbsp; {% trans 'Unfollow' %}</a>
                            {% elif request.user.id in current_user.fans_list %}
                                <a class="follow guoku-button btn-cancel" data-status="1" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-check"></i>&nbsp; {% trans 'Unfollow' %}</a>
                            {% else %}
                                <a class="follow guoku-button button-blue" data-status="0" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-plus" ></i>&nbsp; {% trans 'Follow' %}</a>
                            {% endif %}

                          <a class="guoku-button button-blue" href="{{ current_user.main_shop_link }}" target="_blank">
                              去店铺
                          </a>
                    </div>
                    <div class="user-bio-wrapper">
                        <span class="user-bio">
                            {{ current_user.bio|truncatechars:200 }}
                        </span>
                    </div>

                    {% if current_user.weibo %}
                     <div class="user-binding">
                             <a href="{{ current_user.weibo.weibo_link }}" target="_blank"><i class="fa fa-weibo user-binding-icon"></i></a>
                     </div>
                        {% endif %}
                    <div class="user-social-wrapper">
                        <p class="user-social">
                        <a style="color: #414243" href="{{ web_user_followings_url }}">
                        <span>{% trans 'Following' %}&nbsp; <span class="user-count">{{ current_user.following_count }}</span></span>
                         </a>
                        <span style="margin-left: 15px; margin-right: 15px;">|</span>
                        <a style="color: #414243" href="{{ web_user_fans_url }}">
                        <span>{% trans 'Fans' %}&nbsp; <span class="user-count">{{ current_user.fans_count }}</span></span>
                        </a>
                    </p>
                    </div>
            </div>
       {% endblock %}

{% block user_content_detail %}
    <div class="row more-nav-wrapper">
        <div class="col-sm-12 more-nav">
            <ul>
                 {% if recent_likes %}
                <li class="nav-list-item">
                    <a href="{% url 'web_user_entity_like' current_user.pk %}" target="_blank">{{ pronoun }}{% trans 'Like' %}&nbsp;<i class="fa fa-caret-right"></i></a>
                </li>
                {% endif %}

            {% if recent_notes %}
                <li class="nav-list-item">
                    <a href="{% url 'web_user_post_note' current_user.pk %}" target="_blank">{{ pronoun }}{% trans 'Note' %}&nbsp;<i class="fa fa-caret-right"></i></a>
                </li>
            {% endif %}

            {% if tags %}
                <li class="nav-list-item">
                    <a href="{% url 'web_user_tag' current_user.pk %}" target="_blank">参与的标签&nbsp;<i class="fa fa-caret-right"></i></a>
                </li>
            {% endif %}
{#                <li class="nav-list-item">#}
{#                    <a href="{% url 'web_user_article_like' current_user.pk %}" target="_blank">赞过的图文&nbsp;<i class="fa fa-caret-right"></i></a>#}
{#                </li>#}
            </ul>
        </div>

    </div>

    <div class="row section-title-wrapper">
      <div class="col-sm-12 section-title">
          <p class="section-name">商品</p>
          {% if seller_entities %}
           <div class="more-link">
               <a href="{% url 'web_user_entities' current_user.pk %}">
                   {% trans 'All' %}&nbsp;<i class="fa fa-caret-right"></i>
               </a>
          </div>
          {% endif %}
      </div>
    </div>

    <div class="row entity-wrapper">
        {% for entity in seller_entities %}
            <div class="col-xs-6 col-sm-3 search-entity-item">
                <div class="new-thumbnail entity-four">
                    <div class="img-box">
                        <a href="{{ entity.absolute_url }}" target="_blank">
                            <img class="img-responsive" alt="{{ entity.title }}" title="{{ entity.title }}" src="{{ entity.chief_image|resize:'310'}}">
                        </a>
                    </div>
                    <div class="entity-four-info">
                        <div class="caption">
                            <div class="brand">
                                {{ entity.brand|truncatechars:12 }}&nbsp;
                            </div>
                            <div class="title">
                                <a href="{% url 'web_entity_detail' entity.entity_hash %}" target="_blank">
                                    {{ entity.title|truncatechars:12 }}
                                </a>
                            </div>
                            <div class="price">
                                &#65509;{{ entity.default_buy_link.price }}
                            </div>
                        </div>
                        <div class="action">
                            <div class="info">
                                {% if entity.id in user_entity_likes %}
                                    <a class="btn btn-like" href="javascript:;" rel="nofollow" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'unlike', '{{ entity.title }}']);">
                                    <i class="fa fa-heart"></i>
                                {% else %}
                                    <a class="btn btn-like" href="javascript:;" rel="nofollow" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'like', '{{ entity.title }}']);">
                                    <i class="fa fa-heart-o"></i>
                                {% endif %}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-xs-6 col-sm-3 search-entity-item new-empty-panel-content">
                <span>暂无商品</span>
            </div>
        {% endfor %}
    </div>


    <div class="row section-title-wrapper">
      <div class="col-sm-12 section-title">
          <p class="section-name">图文</p>
          {% if author_articles_main_page %}
           <div class="more-link">
               <a href="{% url 'web_user_article_published' current_user.pk %}">
                   {% trans 'All' %}&nbsp;<i class="fa fa-caret-right"></i>
               </a>
           </div>
          {% endif %}
      </div>
    </div>

    <div class="row user-article-wrapper">
     {% for article in author_articles_main_page  %}
         {% include 'web/user/partial/author_article_item.html' %}
         {% empty %}
            <div class="col-xs-6 col-sm-3 search-entity-item new-empty-panel-content">
                <span>暂无图文</span>
            </div>
     {% endfor %}
    </div>

{% endblock %}

{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/seller_page_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        (function(win,doc){
            var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
            if (!win.alimamatk_show) {
                s.charset = "gbk";
                s.async = true;
                s.src = "http://a.alimama.cn/tkapi.js";
                h.insertBefore(s, h.firstChild);
            }
            var o = {
                pid: "mm_28514026_4132785_24810648",/*推广单元ID，用于区分不同的推广渠道*/
                appkey: "12313170",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
                unid: "", /*自定义统计字段*/
                {#            type:"click"#}
            };
            win.alimamatk_onload = win.alimamatk_onload || [];
            win.alimamatk_onload.push(o);
        })(window,document);
    </script>
{% endblock %}