{% extends 'web/user/user_base_new.html' %}
{% load i18n staticfiles%}
{% load common guoku %}
{% load static %}

{% block meta-og %}
    <meta property="og:title" content="{{ current_user.profile.nick }}果库页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="{{ current_user.profile.nick }}果库的个人页，展现个人的兴趣爱好、消费倾向及擅长领域，包括个人在果库喜爱过、点评过的商品、为商品贴过的标签、撰写过、赞过的图文等。">
{% endblock %}
{% block meta-common %}
    <meta name="title"  content="{{ current_user.profile.nick }} 的商品 | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ current_user.profile.nick }},商品,发布过的商品,精英消费指南,果库">
    <meta name="description" content="{{ current_user.profile.nick }},商品,发布过的商品,精英消费指南,果库">
{% endblock %}
{% block title %}{{ current_user.profile.nick }} | 精英消费指南 | 果库{% endblock %}
{% block body_class %} gray-body authorized-seller-body {% endblock %}

{% block user_header %}
    <div class='authorized_author_info'>
        <div class="user-icon">
            <img src="{{ current_user.avatar_url|resize:'180' }}"/>
        </div>
        <div class="user-nick">
            <span class="nick">{{ current_user.nickname }}</span>
            <img src="{% static 'images/author/seller.png' %}" width="16px" height="24px" class="official-media seller-media"/>
        </div>
        <div class="user-action">
            {% if current_user.is_blocked %}
                <a  class="guoku-button button-disabled" href="#"><i class="fa fa-exclamation-triangle"></i>&nbsp;{% trans 'Blocked User' %} </a>
                {% elif current_user == request.user %}
                <a class="guoku-button button-blue" href="{% url 'web_user_settings' %}">
                    <i class="fa fa-cog fa-lg"></i>&nbsp;{% trans _('Edit Profile') %}</a>
                {% elif request.user.id in current_user.concren %}
                <a class="follow guoku-button btn-cancel" data-status="1" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-exchange fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
                {% elif request.user.id in current_user.fans_list %}
                <a class="follow guoku-button btn-cancel" data-status="1" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-check fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
            {% else %}
                <a class="follow guoku-button button-blue" data-status="0" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-plus" ></i>&nbsp; {% trans 'Follow' %}</a>
            {% endif %}
        </div>
        <div class="user-bio-wrapper">
                        <span class="user-bio">
                            {{ current_user.bio|truncatechars:200 }}
                        </span>
        </div>

        {% if current_user.weibo %}
            <div class="user-binding">
                <a href="{{ current_user.weibo.weibo_link }}" target="_blank"><i class="fa fa-weibo user-binding-icon"></i></a>
            </div>
        {% endif %}
        <div class="user-social-wrapper">
            <p class="user-social">
                <a style="color: #414243" href="{{ web_user_followings_url }}">
                    <span>{% trans 'Following' %}&nbsp; <span class="user-count">{{ current_user.following_count }}</span></span>
                </a>
                <span style="margin-left: 15px; margin-right: 15px;">|</span>
                <a style="color: #414243" href="{{ web_user_fans_url }}">
                    <span>{% trans 'Fans' %}&nbsp; <span class="user-count">{{ current_user.fans_count }}</span></span>
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block user_content_detail %}
    <div class="row content-wrapper" id="user-main-content">
        <div class="content-right col-xs-12 hidden-sm hidden-md hidden-lg" id="detail_content_right" >
            {% include "web/user/partial/user_detail_sidebar.html" %}
        </div>
        <div class="content-left col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="container-fluid content-panel" id="user-like-panel">
                <div class="row panel-content-wrapper ">
                    {% for entity in seller_entities %}
                        {#            <div class="col-xs-6 col-sm-3 search-entity-item">#}
                        {#                <div class="new-thumbnail entity-four">#}
                        {#                    <div class="img-box">#}
                        {#                        <a href="{{ entity.absolute_url }}" target="_blank">#}
                        {#                            <img class="img-responsive" alt="{{ entity.title }}" title="{{ entity.title }}" src="{{ entity.chief_image|resize:'310'}}">#}
                        {#                        </a>#}
                        {#                    </div>#}
                        {#                    <div class="entity-four-info">#}
                        {#                        <div class="caption">#}
                        {#                            <div class="brand">#}
                        {#                                {{ entity.brand|truncatechars:12 }}&nbsp;#}
                        {#                            </div>#}
                        {#                            <div class="title">#}
                        {#                                <a href="{% url 'web_entity_detail' entity.entity_hash %}" target="_blank">#}
                        {#                                    {{ entity.title|truncatechars:12 }}#}
                        {#                                </a>#}
                        {#                            </div>#}
                        {#                            <div class="price">#}
                        {#                                &#65509;{{ entity.default_buy_link.price }}#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="action">#}
                        {#                            <div class="info">#}
                        {#                                {% if entity.id in user_entity_likes %}#}
                        {#                                    <a class="btn btn-like" href="javascript:;" rel="nofollow" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'unlike', '{{ entity.title }}']);">#}
                        {#                                    <i class="fa fa-heart"></i>#}
                        {#                                {% else %}#}
                        {#                                    <a class="btn btn-like" href="javascript:;" rel="nofollow" data-entity="{{ entity.id }}" onclick="_hmt.push(['_trackEvent', 'entity', 'like', '{{ entity.title }}']);">#}
                        {#                                    <i class="fa fa-heart-o"></i>#}
                        {#                                {% endif %}#}
                        {#                                </a>#}
                        {#                            </div>#}
                        {##}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                </div>#}
                        {#            </div>#}
                        {% include 'web/main/partial/entity.html' with entity=entity%}
                        {% empty %}
                        <div class="col-xs-6 col-sm-3 search-entity-item new-empty-panel-content">
                            <span>暂无商品</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pager-wrapper">
                {% include 'web/user/partial/pager.html'  %}
            </div>
        </div>
        <div class="content-right hidden-xs col-sm-4 col-md-4 col-lg-4" id="detail_content_right" >
            {% include "web/user/partial/user_detail_sidebar.html" %}
        </div>
    </div>




{% endblock %}

{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/seller_page_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}