{% extends 'web/user/settings.html' %}

 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="帐号绑定设置 | 精英消费指南 | 果库">
    <meta name="keywords" content="帐号,绑定设置,精英消费指南,果库,微博、微信、淘宝">
    <meta name="description" content="设置/绑定 社交网络账号、微博、微信、淘宝">
{% endblock %}

{% block title %}帐号绑定设置 | 精英消费指南 | 果库{% endblock %}


{% block main %}
    <div class="col-sm-9 col-xs-9">
        <p class="fs_24 fc_2 tab_way">&nbsp;绑定设置<span class="bind-problem"><a href="/faq/#account_bind">绑定有问题？</a></span></p>
        <div class="edit_info binding">
            <ul>
                <li class="fs_16 fc_2 table">

                    {% if user.weibo.screen_name %}
                     <div class="td">
                        <i class="fa fa-weibo icon fc_weibo td"></i>
                        <span class="id_name fs_16 fc_1">@{{ user.weibo.screen_name }}</span>
{#                            <p class="col-xs-4 col-sm-4">@{{ user.weibo.screen_name }}</p>#}
                    </div>
                    <div class="binding_btn td">
                        <a href="{%url 'web_unbind_by_weibo' %}"><button  class="bg_c_gray fs_16 fc_3">取消绑定</button></a>
                    </div>  
                    {% else %}
                    <div class="td">
                            <i class="fa fa-weibo icon fc_weibo td"></i>
                            <span class="id_name fs_16 fc_1"></span>
                    </div>
                    <div class="binding_btn td">
                        <a href="{% url 'web_bind_by_weibo' %}"><button  class="fs_16 newest-btn-primary">绑定微博</button></a>
                    </div>
                    {% endif %}
                </li>

                <li class="fs_16 fc_2 table">
                    
                    {% if user.taobao.screen_name %}
                    <div class="td">
                        <span class="icon_taobao"></span>
                        <span class="id_name fs_16 fc_1">@{{ user.taobao.screen_name }}</span>
                    </div>
                    <div class="binding_btn td">
                        <a href="{%url 'web_unbind_by_taobao' %}"><button  class="bg_c_gray fs_16 fc_3">取消绑定</button></a>
                    </div>
                    {% else %}
                    <div class="td">
                        <span class="icon_taobao"></span>
                        <span class="id_name fs_16 fc_1"></span>
                    </div>
                    <div class="binding_btn td">
                        <a href="{%url 'web_bind_by_taobao' %}"><button class="fs_16 newest-btn-primary" >绑定淘宝</button></a>
                    </div>
                    {% endif %}
                </li>

                <li class="fs_16 fc_2 table">

                    {% if user.weixin.unionid %}
                    <div class="td">
{#                        <span class="icon_taobao"></span>#}
                        <i class="fa fa-wechat fa-lg" style="color: #56AB2D; font-size: 34px;margin-right: 40px;"></i>
                        <span class="id_name fs_16 fc_1">@{{ user.weixin.nickname }}</span>
                    </div>
                    <div class="binding_btn td">
                        <a href="{%url 'web_unbind_by_weixin' %}"><button  class="bg_c_gray fs_16 fc_3">取消绑定</button></a>
                    </div>
                    {% else %}
                    <div class="td">
                        <i class="fa fa-wechat fa-lg" style="color: #56AB2D;font-size: 34px;margin-right: 40px;"></i>
{#                        <span class="icon_taobao"></span>#}
                        <span class="id_name fs_16 fc_1"></span>
                    </div>
                    <div class="binding_btn td">
                        <a href="{%url 'web_bind_by_weixin' %}"><button class="fs_16 newest-btn-primary" >绑定微信</button></a>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
<script language="javascript">
    var sns_bind_page_visited_key = 'SNS_BIND_PAGE_VISITED';
    $.cookie(sns_bind_page_visited_key , 'visited' , { expires: 60, path: '/' });
</script>
{% endblock %}
{#{% block main %}#}
{#    <h2>绑定设置</h2>#}
{#    <br />#}
{#    <div class="row">#}
{#            <label class="col-sm-4 control-label">新浪微博</label>#}
{#            {% if user.weibo.screen_name %}#}
{#                <p class="col-xs-4 col-sm-4">@{{ user.weibo.screen_name }}</p>#}
{#                <div class="col-xs-4 col-sm-4">#}
{#                    <a href="{%url 'web_unbind_by_weibo' %}" class="btn btn-cancel">取消绑定</a>#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="col-sm-offset-4 col-sm-4">#}
{#                    <a href="{% url 'web_bind_by_weibo' %}" class="btn btn-primary">绑定微博</a>#}
{#                </div>#}
{#            {% endif %}#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#            <label class="col-sm-4 control-label">淘宝网</label>#}
{#            {% if user.taobao.screen_name %}#}
{#                <p class="col-xs-4 col-sm-4">@{{ user.taobao.screen_name }}</p>#}
{#                <div class="col-xs-4 col-sm-4">#}
{#                   <a href="{%url 'web_unbind_by_taobao' %}">取消绑定</a>#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="col-sm-offset-4 col-sm-4">#}
{#                    <a class="btn btn-primary" href="{%url 'web_bind_by_taobao' %}">绑定淘宝</a>#}
{#                </div>#}
{#            {% endif %}#}
{#    </div>#}
{#{% endblock %}#}