{% extends 'web/user/settings.html' %}


{% block main %}
    <h2>绑定设置</h2>
    <br />
    <div class="row">
            <label class="col-sm-4 control-label">新浪微博</label>
            {% if user.weibo.screen_name %}
                <p class="col-xs-4 col-sm-4">@{{ user.weibo.screen_name }}</p>
                <div class="col-xs-4 col-sm-4">
                    <a href="{%url 'web_unbind_by_weibo' %}" class="btn btn-cancel">取消绑定</a>
                </div>
            {% else %}
                <div class="col-sm-offset-4 col-sm-4">
                    <a href="{% url 'web_bind_by_weibo' %}" class="btn btn-primary">绑定微博</a>
                </div>
            {% endif %}
    </div>

    <div class="row">
            <label class="col-sm-4 control-label">淘宝网</label>
            {% if user.taobao.screen_name %}
                <p class="col-xs-4 col-sm-4">@{{ user.taobao.screen_name }}</p>
                <div class="col-xs-4 col-sm-4">
                   <a href="{%url 'web_unbind_by_taobao' %}">取消绑定</a>
                </div>
            {% else %}
                <div class="col-sm-offset-4 col-sm-4">
                    <a class="btn btn-primary" href="{%url 'web_bind_by_taobao' %}">绑定淘宝</a>
                </div>
            {% endif %}
    </div>
{% endblock %}