{% extends 'web/user/settings.html' %}


{% block main %}
    <h2>更改密码</h2>
    <br />
    <div class="row">
        <form method="post" action="{% url 'web_user_change_password' %}" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="col-xs-8 col-sm-6">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">确认修改</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}