{% extends 'web/user/settings.html' %}

 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="帐号密码设置 | 精英消费指南 | 果库">
    <meta name="keywords" content="帐号,密码设置,精英消费指南,果库">
    <meta name="description" content="设置/修改密码">
{% endblock %}

{% block title %}帐号密码设置 | 精英消费指南 | 果库{% endblock %}
{% block main %}
    <div class="col-sm-9 col-xs-9">
        <p class="fs_24 fc_2 tab_way">&nbsp;更改密码</p>
        <div class="edit_info password">
            <form method="post" action="{% url 'web_user_change_password' %}" class="form-horizontal">
                {% csrf_token %}
{#                {% for field in form %}#}
{#                    <div class="form-group">#}
{#                        <label class="col-xs-2">{{ field.label }}</label>#}
{#                         <div class="col-xs-10">#}
{#                             {{ field }}#}
{#                         </div>#}
{#                         <label class="col-xs-2">&nbsp</label>#}
{#                         <label class="col-xs-10">{{ field.errors }}</label>#}
{#                    </div>#}
{#                {% endfor %}#}

                <ul class="pass_input">
                     {% for field in form %}
                         <li class="fs_16 fc_2 table">
                            <div class="row">
{#                                 <span class="title td">{{ field.label }}</span>#}
                                 <span class="input-item" > {{ field }}</span>
                            </div>
                             <div class="row">
                                  <span class="input_error_msg td">{{ field.errors }}</span>
                             </div>
{#                            <i class="fa fa-check password_right"></i>#}
                         </li>
                     {% endfor %}
                </ul>
                <div class="submit_info">
					<button class="button_loca newest-btn-primary">确认修改</button>
				</div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}]

{#{% block main %}#}
{#    <h2>更改密码</h2>#}
{#    <br />#}
{#    <div class="row">#}
{#        <form method="post" action="{% url 'web_user_change_password' %}" class="form-horizontal">#}
{#            {% csrf_token %}#}
{#            <fieldset>#}
{#                {% for field in form %}#}
{#                    <div class="form-group{% if field.errors %} has-error{% endif %}">#}
{#                        <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                        <div class="col-xs-8 col-sm-6">#}
{#                            {{ field }}#}
{#                        </div>#}
{#                        {% if field.errors %}#}
{#                            {% for error in field.errors %}#}
{#                                <span class="help-block">{{ error }}</span>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </fieldset>#}
{#            <div class="form-group">#}
{#                <div class="col-sm-offset-2 col-sm-4">#}
{#                    <button type="submit" class="btn btn-primary">确认修改</button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}