{% extends 'web/user/user_base.html' %}
{% load i18n static %}
{% block list %}
    <div class="row">
        {% for f in fans %}
            <div class="col-sm-12 col-xs-12 col-md-6">
                <div class="thumbnail" style="padding: 10px;padding-top:20px;height: 100px;">
                    <div class="media">
                        <a class="pull-left" href="{% url 'web_user_entity_like' f.follower_id %}" target="_blank">
                            <img class="media-object img-circle" src="{{ f.follower.profile.avatar_url }}" width="60" height="60" style="width:60px;height:60px;">
                        </a>
                    {% if f.follower_id == request.user.id %}
                        <a href="#" class="guoku-button button-disabled disabled-button"><b>{% trans 'Myself' %}</b></a>
                    {% elif f.follower_id in request.user.concren %}
                        <a data-status="1" data-user-id="{{ f.follower_id }}" href="javascript:;" class="follow is-fan btn btn-cancel pull-right"><i class="fa fa-exchange fa-lg" style="color: #ccc"></i>&nbsp; <b>{% trans "Unfollow" %}</b></a>
{#                        <a href="#" class="follow is-fan btn btn-primary pull-right"><i class="fa fa-plus fa-lg" style="color: #fff"></i>&nbsp; <b>关注</b></a>#}
                    {% elif f.follower_id in request.user.following_list %}
                        <a data-status="1" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow btn btn-cancel pull-right"><i class="fa fa-check fa-lg" style="color: #ccc"></i>&nbsp; <b>{% trans "Unfollow" %}</b></a>
                    {% elif f.follower_id in request.user.fans_list %}
                        <a data-status="0" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow btn btn-primary pull-right"><i class="fa fa-plus fa-lg" style="color: #fff"></i>&nbsp; <b>{% trans 'Follow' %}</b></a>
                    {% else %}
                        <a data-status="0" data-user-id="{{ f.follower_id }}" href="javascript:;" class="follow btn btn-primary pull-right"><i class="fa fa-plus fa-lg" style="color: #fff"></i>&nbsp; <b>{% trans 'Follow' %}</b></a>
                    {% endif %}

                    <div class="media-body" style="padding-top:5px;">
                        <h4 class="media-heading">{{ f.follower.profile.nick }}</h4>
                        <p>
                            <span>{{ f.follower.fans_count }}</span>&nbsp;{% trans 'Fans' %}
                            <span>{{ f.follower.following_count }}</span>&nbsp;{% trans 'Followed' %}
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'web/main/partial/paginator.html' with objects=fans url=request.path %}
{% endblock %}