{% extends 'web/user/user_base.html' %}

{% block list %}
    <div class="row">
        {% for f in fans %}
            <div class="col-sm-12 col-xs-12 col-md-6">
                <div class="thumbnail" style="padding: 10px;padding-top:20px;height: 100px;">
                    <div class="media">
                        <a class="pull-left" href="#" target="_blank">
                            <img class="media-object img-circle" src="{{ f.follower.profile.avatar_url }}" width="60" height="60" style="width:60px;height:60px;">
                        </a>

                    {% if f.follower_id in user.concren %}
                        <a href="#" class="follow is-fan btn btn-cancel pull-right"><i class="fa fa-exchange fa-lg" style="color: #ccc"></i>&nbsp; <b>取消关注</b></a>
{#                        <a href="#" class="follow is-fan btn btn-primary pull-right"><i class="fa fa-plus fa-lg" style="color: #fff"></i>&nbsp; <b>关注</b></a>#}
                    {% else %}
                        <a href="#" class="follow btn btn-primary pull-right"><i class="fa fa-plus fa-lg" style="color: #fff"></i>&nbsp; <b>关注</b></a>
                    {% endif %}

                    <div class="media-body" style="padding-top:5px;">
                        <h4 class="media-heading">{{ f.follower.profile.nickname }}</h4>
                        <p>
                            <span>{{ f.follower.fans_count }}</span>&nbsp;粉丝
                            <span>{{ f.follower.following_count }}</span>&nbsp;关注
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'web/main/partial/paginator.html' with objects=fans url=request.path %}
{% endblock %}