{% extends 'web/user/user_base.html' %}
{% load i18n static %}
{% block list %}
    <div class="row">
        {% for f in followings %}
            <div class="col-sm-12 col-xs-12 col-md-6">
                <div class="thumbnail" style="padding: 10px;padding-top:20px;height: 100px;">
                    <div class="media">
                        <a class="pull-left" href="{% url 'web_user_entity_like' f.followee_id %}" target="_blank">
                            <img class="media-object img-circle" src="{{ f.followee.profile.avatar_url }}" width="60" height="60" style="width:60px;height:60px;">
                        </a>
{#                    {{ reqeust.user }}#}
                    {% if f.followee_id == request.user.id %}
                        <a href="#" class="guoku-button button-disabled disabled-button"><b>{% trans 'Myself' %}</b></a>
                    {% elif f.followee_id in request.user.concren %}
                        <a data-status="1" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow is-fan btn btn-cancel pull-right"><i class="fa fa-exchange fa-lg" style="color: #ccc"></i>&nbsp; <b>{% trans 'Unfollow' %}</b></a>
                    {% elif f.followee_id in request.user.following_list %}
{#                    {% elif f.followee_id in request.user.following_list  %}#}
                        <a data-status="1" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow btn btn-cancel pull-right"><i class="fa fa-check fa-lg" style="color: #ccc"></i>&nbsp; <b>{% trans 'Unfollow' %}</b></a>
                    {% elif f.followee_id in request.user.fans_list %}
                        <a data-status="0" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow btn btn-primary pull-right"><i class="fa fa-plus fa-lg" style="color: #fff"></i>&nbsp; <b>{% trans 'Follow' %}</b></a>
                    {% else %}
                        <a data-status="0" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow btn btn-primary pull-right"><i class="fa fa-plus fa-lg" style="color: #fff"></i>&nbsp; <b>{% trans 'Follow' %}</b></a>
                    {% endif %}


                    <div class="media-body" style="padding-top:5px;">
                        <h4 class="media-heading">{{ f.followee.profile.nickname }}</h4>
                        <p>
                            <span>{{ f.followee.fans_count }}</span>&nbsp;{% trans 'Fans' %}
                            <span>{{ f.followee.following_count }}</span>&nbsp;{% trans 'Followed' %}
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'web/main/partial/paginator.html' with objects=followings url=request.path %}
{% endblock %}