{% extends 'web/user/user_base.html' %}

{% block list %}
    <div class="row">
        {% for user in followings %}
            <div class="col-sm-12 col-xs-12 col-md-6">
                <div class="thumbnail" style="padding: 10px;padding-top:20px;height: 100px;">
                    <div class="media">
                        <a class="pull-left" href="#" target="_blank">
                            <img class="media-object img-circle" src="{{ user.followee.profile.avatar_url }}" width="60" height="60" style="width:60px;height:60px;">
                        </a>
{#                    </div>#}
                    <div class="media-body" style="padding-top:5px;">
                        <h4 class="media-heading">{{ user.followee.profile.nickname }}</h4>
                        <p>
                            <span>{{ user.followee.fans_count }}</span>&nbsp;粉丝
                            <span>{{ user.followee.following_count }}</span>&nbsp;关注
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}