{% extends "web/user/user_base.html" %}
{% load i18n %}
{% load guoku common %}

{% block list %}
    <div class="row">
        {% for note in notes %}
            <div class="col-xs-12 col-sm-6">
                <div class="row" style="border: 1px solid #e6e6e6; margin: 0 0 20px 0;">
                <div class="col-xs-6 col-sm-6" style="padding: 0;">
                    <div class="img-box">
                        <a class="pull-left" href="{% url 'web_entity_detail' note.entity.entity_hash %}" target="_blank">
                            <img class="img-responsive" alt="{{ note.entity.title }}" src="{{ note.entity.chief_image|resize:'240' }}" width="233" height="233">
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <p style="margin-left: 10px;margin-top: 32px; margin-right: 10px;">{{ note.note|truncatechars:"40" }}</p>
                    <p class="post-time" style="position: absolute; top: 182px; right: 24px">
                        <i class="fa fa-clock-o" style="padding: 5px"></i>
                        <span style="color: #9D9E9F">{{ note.post_time|format_time|cut:" " }}</span>
                    </p>
                </div>
                </div>
            </div>
{#            </div>#}
        {% endfor %}
    </div>

    {% include 'web/main/partial/paginator.html' with objects=notes url=request.path %}
{% endblock %}