{% extends 'web/base.html' %}
{% load i18n static %}


 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="帐号设置 | 精英消费指南 | 果库">
    <meta name="keywords" content="帐号,设置,精英消费指南,果库">
    <meta name="description" content="果库用户、果库个人资料、账户信息编辑。">
{% endblock %}

{% block title %}帐号设置 | 精英消费指南 | 果库{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/jquery.fileupload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
{% endblock %}

{% block content %}
    {% url 'web_user_settings' as web_user_settings_url %}
    {% url 'web_user_change_password' as web_user_change_password_url %}
    {% url 'web_user_bind_sns' as web_user_bind_sns_url %}

    {% if web_user_change_password_url in request.path %}
    <div class="container  change_password">
    {% elif web_user_bind_sns_url in request.path %}
    <div class="container binding_page">
    {% else %}
    <div class="container  edit_profile" id="settings">
{#    {% elif  %}    #}
    {% endif %}
        <div class="row">
            <div class="col-sm-3 col-xs-12 slide">
                {% include 'web/user/partial/settings_slide.html' %}
            </div>
            {% block main %}
            <div class="col-sm-9 col-xs-12 introduce">

                    <p class="fs_24 fc_2 tab_way">编辑个人资料</p>
                    <div class="head">
                        {% include 'web/user/partial/avatar_upload.html' with user_context=user %}
                    </div>
{#                {% if profile_form.errors %}#}
{#                    {{ profile_form.errors.as_ul }}#}
{#                {% endif %}#}
                    <form method="post" action="{% url 'web_user_settings' %}" class="form-horizontal">{% csrf_token %}
                        <div class="edit_info_area">
                            <div class="edit_info clear container-fluid">
                                <div class="form-group" style="display: none;">
                                    <p id="default_location_value">{{ profile_form.location.value }}</p>
                                    <p id="default_city_value">{{ profile_form.city.value }}</p>
                                </div>

                                <div class="row">
                                    <span class="input-title col-xs-12 col-sm-3">
                                        {{ profile_form.nickname.label }}
                                    </span>
                                    <span class="input-element col-xs-12 col-sm-7">
                                        {{ profile_form.nickname }}
                                    </span>
                                    <span class="input-info col-xs-12 col-sm-2">
                                         {{ profile_form.nickname.errors }}
                                    </span>
                                </div>

                                <div class="row">
                                 <span class="input-title col-xs-12 col-sm-3">
                                        {{ profile_form.email.label }}
                                    </span>
                                    <span class="input-element col-xs-10 col-sm-7">
                                         {{ profile_form.email }}
                                    </span>
                                    {% if user.need_verify_mail %}
                                    <span class=" col-xs-2 col-sm-2">
                                        <span class="guoku-button button-blue button-sharp mail-verify-button">验证邮箱</span>
                                    </span>
                                    {% else %}
                                        <span class=" col-xs-2 col-sm-2 verify-info">
                                            <span class="">
                                             邮箱已验证
                                            </span>
                                        </span>
                                    {% endif %}

                                        <span class="input-info col-xs-12">
                                           {{ profile_form.email.errors }}
                                        </span>

                                </div>


                                <div class="row ">
                                 <span class="input-title col-xs-12 col-sm-3">
                                        {{ profile_form.bio.label }}
                                    </span>
                                    <span class="input-element col-xs-12 col-sm-7">
                                        {{ profile_form.bio }}
                                    </span>
                                    <span class="input-info col-xs-12">
                                        {{ profile_form.bio.errors }}
                                    </span>
                                </div>

                                <div class="row ">
                                    <span class="input-title col-xs-12 col-sm-3">
                                        {{ profile_form.location.label }}
                                    </span>
                                    <span class="input-element col-xs-12 col-sm-7">
                                         {{ profile_form.location }}
                                         {{ profile_form.city }}
                                    </span>
                                </div>

                                <div class="row">
                                    <span class="input-title col-xs-12 col-sm-3">
                                        {{ profile_form.gender.label  }}
                                    </span>
                                    <span class="input-element col-xs-12 col-sm-7">
                                         {{ profile_form.gender }}
                                    </span>
                                </div>

                                <div class="row">
                                    <span class="input-title col-xs-12 col-sm-3">

                                    </span>

                                    <span class="input-element col-xs-12 col-sm-7">
                                    <button type="submit" class="guoku-button button-blue button-sharp submit-button">{% trans "update profile" %}</button>
                                    </span>
                                </div>

                            </div>
                        </div>

                     </form>
                </div>

            </div>
            {% endblock %}
        </div>
{#    </div>#}
{% endblock %}

{% block script %}
{#    <script src="https://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>#}
    <script src="{% static 'js/web/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/web/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/web/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/bootbox.js' %}"></script>
    <script src="{% static 'js/web/account.js' %}"></script>
    <script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator && navigator.userAgent),
        imageMaxWidth: 800,
        imageMaxHeight: 800,
        imageCrop: true, // Force cropped images
        done: function (e, data) {
            $('#user-avatar').attr('src', data.result.avatar_url);
        }
    });
});
</script>

<script language="javascript">

</script>

{% endblock %}