{% extends 'web/base.html' %}
{% load i18n static %}


 {% block meta-og %}
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="帐号设置 | 精英消费指南 | 果库">
    <meta name="keywords" content="帐号,设置,精英消费指南,果库">
    <meta name="description" content="果库用户、果库个人资料、账户信息编辑。">
{% endblock %}

{% block title %}帐号设置 | 精英消费指南 | 果库{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/jquery.fileupload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/style.css' %}">
{% endblock %}

{% block content %}
    {% url 'web_user_settings' as web_user_settings_url %}
    {% url 'web_user_change_password' as web_user_change_password_url %}
    {% url 'web_user_bind_sns' as web_user_bind_sns_url %}

    {% if web_user_change_password_url in request.path %}
    <div class="container  change_password">
    {% elif web_user_bind_sns_url in request.path %}
    <div class="container binding_page">
    {% else %}
    <div class="container  edit_profile" id="settings">
{#    {% elif  %}    #}
    {% endif %}
        <div class="row">
            <div class="col-sm-3 col-xs-3 slide">
                {% include 'web/user/partial/settings_slide.html' %}
            </div>
            {% block main %}
            <div class="col-sm-9 col-xs-9 introduce">

                    <p class="fs_24 fc_2 tab_way">编辑个人资料</p>
                    <div class="head">
                        {% include 'web/user/partial/avatar_upload.html' with user_context=user %}
                    </div>
{#                {% if profile_form.errors %}#}
{#                    {{ profile_form.errors.as_ul }}#}
{#                {% endif %}#}
                    <form method="post" action="{% url 'web_user_settings' %}" class="form-horizontal">{% csrf_token %}
                        <div class="edit_info_area">
                            <div class="edit_info clear">
                                <div class="form-group" style="display: none;">
                                    <p id="default_location_value">{{ profile_form.location.value }}</p>
                                    <p id="default_city_value">{{ profile_form.city.value }}</p>
                                </div>
                                <ul>
                                    <li class="fs_16 fc_2 table">
                                        <span class="title td">{{ profile_form.nickname.label }}</span>
                                        {{ profile_form.nickname }}
                                    </li>
                                    <li class="error-msg" id="username_error_msg">
                                        {{ profile_form.nickname.errors }}
                                    </li>
                                    <li class="fs_16 fc_2 table">
                                        <span class="title td">{{ profile_form.email.label }}</span>
                                        {{ profile_form.email }}
                                    </li>
                                    <li class="error-msg">
                                         {{ profile_form.email.errors }}
                                    </li>
                                    <li class="fs_16 fc_2 intor table">
                                        <span class="title td">{{ profile_form.bio.label }}</span>
                                        {{ profile_form.bio }}
                                    </li>
                                    <li class="error-msg" id="bio_error_msg">
                                        {{ profile_form.bio.errors }}
                                    </li>


                                    <li class="fs_16 fc_2 address table"><span class="title td">{{ profile_form.location.label }}</span>
                                        <div class="select_area td">
                                            {{ profile_form.location }}
                                            {{ profile_form.city }}
                                        </div>
                                    </li>
                                    <li class="fs_16 fc_2 table"><span class="title td">{{ profile_form.gender.label  }}</span>
                                        {{ profile_form.gender }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="submit_info clear">
                            <button type="submit" class="bg_c_blue fs_16 fc_4 button_loca">{% trans "update profile" %}</button>
                        </div>
                     </form>
                </div>

            </div>
            {% endblock %}
        </div>
{#    </div>#}
{% endblock %}

{% block script %}
{#    <script src="https://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>#}
    <script src="{% static 'js/web/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/web/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/web/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/web/account.js' %}"></script>
    <script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator && navigator.userAgent),
        imageMaxWidth: 800,
        imageMaxHeight: 800,
        imageCrop: true, // Force cropped images
        done: function (e, data) {
            $('#user-avatar').attr('src', data.result.avatar_url);
        }
    });
});
</script>
{% endblock %}