{% extends 'web/user/user_base.html' %}

{% block list %}
<div class="row">
    {% for tag in tags %}
        <div class="col-xs-6 col-sm-3 col-md-3">
            <a  href="#">
                <div class="thumbnail">
                    <p style="padding:10px;margin-bottom: 0;"><strong>#{{ tag_context.tag|truncatechars:'13' }}</strong></p>
                    <div class="caption">
                        <p><span>{{ tag.tcount }}</span>&nbsp; 件商品</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}