{% extends 'web/user/user_base.html' %}
{% load tags %}


{% block list %}
<div class="row">
    {% for tag in tags %}
        <div class="col-xs-6 col-sm-3 col-md-3">
            <a href="{% url 'web_user_tag_detail' user.id tag.tag %}" target="_blank">
                <div class="thumbnail">
                    <p style="padding:10px;margin-bottom: 0;"><strong>#{{ tag.tag|truncatechars:'10' }}</strong></p>
                    <div class="img-box">
                        {% display_tags_entity tag.tag_id user.id %}
                    </div>
                    <div class="caption">
                        <p><span>{{ tag.entity_count }}</span>&nbsp; 件商品</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% include 'web/main/partial/paginator.html' with objects=tags url=request.path %}
{% endblock %}