{% extends 'web/base.html' %}
{% load i18n static %}
{% load guoku common %}
{% block meta-og %}
    <meta property="og:title" content="{{ current_user.profile.nick }}果库页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="{{ current_user.profile.nick }}果库的个人页，展现个人的兴趣爱好、消费倾向及擅长领域，包括个人在果库喜爱过、点评过的商品、为商品贴过的标签、撰写过、赞过的图文等。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="{{ current_user.profile.nick }} | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ current_user.profile.nick }},个人主页,喜爱,点评,标签,图文,消费经验,擅长领域,精英消费指南,果库">
    <meta name="description" content="{{ current_user.profile.nick }},{{ user.profile.bio|truncatechars:'50' }},喜爱过的商品、点评过的商品、撰写过的图文、为商品贴过的标签，做理想消费精英，提理想生活主张，个人兴趣爱好、消费倾向及擅长领域，做消费的自己。">
{% endblock %}
{% block title %}{{ current_user.profile.nick }} | 精英消费指南 | 果库{% endblock %}
{% block content %}
     {% url 'web_user_followings' current_user.pk as web_user_followings_url %}
     {% url 'web_user_fans' current_user.pk as web_user_fans_url %}
    <div class="guoku-content container user-page">
        <div class="row user-info-wrapper">
            <div class="col-xs-12 col-sm-3 user-icon">
                <img src="{{ current_user.avatar_url|resize:'180' }}"/>
            </div>
            <div class="col-xs-12 col-sm-9 user-info">
                <div class="user-nick-block">
                    <div class="center-wrapper">
                        <span class="nick">{{ current_user.nickname }}</span>
                             {% if current_user.is_blocked %}
                                <a  class="guoku-button button-disabled" href="#"><i class="fa fa-exclamation-triangle"></i>&nbsp;{% trans 'Blocked User' %} </a>
                            {% elif current_user == request.user %}
                                <a class="guoku-button button-blue" href="{% url 'web_user_settings' %}">
                                    <i class="fa fa-cog fa-lg"></i>&nbsp;{% trans _('Edit Profile') %}</a>
                            {% elif request.user.id in current_user.concren %}
                                <a class="follow guoku-button btn-cancel" data-status="1" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-exchange fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
                            {% elif request.user.id in current_user.fans_list %}
                                <a class="follow guoku-button btn-cancel" data-status="1" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-check fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
                            {% else %}
                                <a class="follow guoku-button button-blue" data-status="0" data-user-id="{{ current_user.id }}" href="javascript:;"><i class="fa fa-plus" ></i>&nbsp; {% trans 'Follow' %}</a>
                            {% endif %}
{#                        <span class="action guoku-button button-white"><i class="fa fa-edit"></i>编辑个人资料</span>#}
                    </div>
                </div>
                <div class="user-bio"><span class="bio-text">{{ current_user.bio|truncatechars:200}}</span></div>
                {% if current_user.weibo %}
                <div class="user-binding">
                    <a href="{{ current_user.weibo.weibo_link }}" target="_blank"><i class="fa fa-weibo user-binding-icon"></i></a>
                </div>
                {% endif %}
                <div class="user-social-info">
                    <p class="user-social">
                        <a style="color: #414243" href="{{ web_user_followings_url }}">
                        <span>{% trans 'Following' %}&nbsp; <span class="count">{{ current_user.following_count }}</span></span>
                         </a>
                        <span style="margin-left: 15px; margin-right: 15px;">|</span>
                        <a style="color: #414243" href="{{ web_user_fans_url }}">
                        <span>{% trans 'Fans' %}&nbsp; <span class="count">{{ current_user.fans_count }}</span></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>
       {% if request.user.is_staff %}
        <div class="row user-admin-link-wrapper">
            <a href="{% url 'management_user_edit' current_user.id %}" target="_blank"><i class="fa fa-edit"></i></a>
        </div>
        {% endif %}
      {% block user_content_detail %}
      {% endblock %}
    </div>
{% endblock %}
{% block basic_script %}
    <script data-main="{% static 'js/web/jsbuild/gkuser_profile_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>
{% endblock %}
