{% extends 'web/user/user_base_new.html' %}
{% load i18n %}
{% load common guoku %}

{% block meta-og %}
    <meta property="og:title" content="{{ user.profile.nick }}果库页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="{{ user.profile.nick }}果库的个人页，展现个人的兴趣爱好、消费倾向及擅长领域，包括个人在果库喜爱过、点评过的商品、为商品贴过的标签、撰写过、赞过的图文等。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="{{ user.profile.nick }} | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ user.profile.nick }},个人主页,喜爱,点评,标签,图文,消费经验,擅长领域,精英消费指南,果库">
    <meta name="description" content="{{ user.profile.nick }},{{ user.profile.bio|truncatechars:'50' }},喜爱过的商品、点评过的商品、撰写过的图文、为商品贴过的标签，做理想消费精英，提理想生活主张，个人兴趣爱好、消费倾向及擅长领域，做消费的自己。">
{% endblock %}


{% block title %}{{ user.profile.nick }} | 精英消费指南 | 果库{% endblock %}

{% block user_content_detail %}
        <div class="row content-wrapper" id="user-main-content">
            <div class="content-left col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="container-fluid content-panel" id="user-like-panel">
                        <div class="row panel-header">
                            <div class="panel-name">我的喜爱</div>
                            <div class="more-link">
                                <a href="">
                                查看全部
                                <i class="fa fa-angle-right"></i>
                                <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row panel-content-wrapper ">
                                {% for elike in recent_likes %}
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 entity-cell cell">
                                   <div class="img-box">
                                       <a href="">
                                           <img class="img-responsive" src="{{ elike.entity.chief_image|resize:'320'}}" />
                                       </a>
                                   </div>
                                </div>
                                {% endfor %}

                        </div>
                </div>
                <div class="container-fluid content-panel" id="user-note-panel">
                        <div class="row panel-header">
                            <div class="panel-name">我的点评</div>
                            <div class="more-link">
                                <a href="">
                                查看全部
                                <i class="fa fa-angle-right"></i>
                                <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row panel-content-wrapper ">
                                {% for noteObj in recent_notes %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 note-cell cell">
                                   <div class="note-wrapper">
                                       <div class="note-content-wrapper">
                                           <div class="note-text">
                                               {{ noteObj.note|truncatechars:'20' }}
                                           </div>
                                           <div class="note-info">
                                               {{ noteObj.updated_time|format_time }}
                                           </div>
                                       </div>
                                       <div class="note-entity-img-wrapper">
                                           <div class="img-box">
                                               <a href="">
                                                   <img class="img-responsive" src="{{ noteObj.entity.chief_image|resize:'320'}}" />
                                               </a>
                                           </div>
                                       </div>
                                   </div>


                                </div>
                                {% endfor %}
                        </div>
                </div>
            </div>
            <div class="content-right hidden-xs hidden-sm col-md-4 col-lg-3"></div>

        </div>

        <div>{{ current_user.profile.nick }}</div>

        <div>
            <ul>
                {% for noteObj in recent_notes %}
                    <li>{{ noteObj.note }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                {% for article in articles %}
                    <li>{{  article.title }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                {% for tag in tags %}
                    <li>{{ tag.tag }}</li>
                {% endfor %}
            </ul>
        </div>

        <div></div>

{% endblock %}