{% extends 'web/base.html' %}
{% load i18n %}
{% load guoku %}

{% block title %}{{ user.profile.nickname }}{% endblock %}
{% block keyword %}果库,{{ user.profile.nickname }}{% endblock %}
{% block description %}果库,{{ user.profile.nickname }},{{ user.profile.bio }}{% endblock %}


{% block content %}
    {% url 'web_user_entity_like' as web_user_likes_url %}
    {% url 'web_user_post_note' user.pk as web_user_notes_url %}
    {% url 'web_user_followings' user.pk as web_user_followings_url %}
    {% url 'web_user_fans' user.pk as web_user_fans_url %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="media" style="border: 1px solid #eee; padding: 20px;">
                    <a class="pull-left" href="#">
                        <img class="media-object img-responsive" src="{{ user.profile.avatar_url|resize:'200' }}" alt="{{ user.profile.nickname }}" width="100" height="100" />
                    </a>
                    {% if user == request.user %}
                        <a class="btn btn-default pull-right" href="{% url 'web_user_settings' %}"><i class="fa fa-cog fa-lg"></i>&nbsp; {% trans 'settings' %}</a>
                    {% endif %}
                    <div class="media-body">
                        <h4 class="media-heading">{{ user.profile.nickname }}</h4>
                        <p>{{ user.profile.bio }}</p>
                        <address>{{ user.profile.location }}  {{ user.profile.city }}</address>
                    </div>

                    {% if request.user.is_staff %}
                        <a class="btn btn-default pull-right" href="{% url 'management_user_edit' user.id %}" target="_blank"><i class="fa fa-edit fa-lg"></i></a>
                    {% endif %}
                </div>


                <div class="navbar nav-user-index" style="margin-left: 0;margin-right: 0; margin-bottom: 20px;">
                    <ul class="nav nav-pills pull-left" role="tablist">
                        <li role="presentation" {% if web_user_likes_url in request.path %}class="active"{% endif %}>
                            <a href="{{ web_user_likes_url }}">{% trans 'likes' %}&nbsp; <strong>{{ user.like_count }}</strong></a>
                        </li>
                        <li role="presentation" {% if web_user_notes_url in request.path %}class="active"{% endif %}>
                            <a href="{{ web_user_notes_url }}">{% trans 'notes' %}&nbsp; <strong>{{ user.post_note_count }}</strong></a>
                        </li>
                        <li role="presentation" {% if web_user_tags_url in request.path %}class="active" {% endif %}>
                            <a href="{{ web_user_tags_url }}">{% trans 'tags' %}&nbsp; <strong>{{ user.tag_count }}</strong></a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills pull-right hidden-xs" role="tablist">
                        <li role="presentation" {% if web_user_followings_url in request.path %}class="active"{% endif %}>
                            <a href="{{ web_user_followings_url }}">关注了&nbsp; <strong>{{ user.following_count }}</strong>人</a>
                        </li>
                        <li role="presentation" {% if web_user_fans_url in request.path %}class="active"{% endif %}>
                            <a href="{{ web_user_fans_url }}">关注者&nbsp; <strong>{{ user.fans_count }}</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    {% block list %}

    {% endblock %}
    </div>


{% endblock %}