{% extends 'web/user/user_base_new.html' %}
{% load i18n %}
{% load common guoku %}
{% load static %}

{% block meta-og %}
    <meta property="og:title" content="{{ current_user.profile.nick }}果库页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="{{ current_user.profile.nick }}果库的个人页，展现个人的兴趣爱好、消费倾向及擅长领域，包括个人在果库喜爱过、点评过的商品、为商品贴过的标签、撰写过、赞过的图文等。">
{% endblock %}
{% block meta-common %}
    <meta name="title"  content="{{ current_user.profile.nick }} | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ current_user.profile.nick }},个人主页,喜爱,点评,标签,图文,消费经验,擅长领域,精英消费指南,果库">
    <meta name="description" content="{{ current_user.profile.nick }},{{ current_user.profile.bio|truncatechars:'50' }},喜爱过的商品、点评过的商品、撰写过的图文、为商品贴过的标签，做理想消费精英，提理想生活主张，个人兴趣爱好、消费倾向及擅长领域，做消费的自己。">
{% endblock %}
{% block title %}{{ current_user.profile.nick }} | 精英消费指南 | 果库{% endblock %}

{% block user_content_detail %}

{# begin #}
            <div class="row user-latest-actions-wrapper">

                <div class="user-article-cell latest-actions-sidebar-wrapper col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
                    <ul class="section-list user-right latest-actions-list">
                       <li class="section user-tag-list">
                          <div class="section-title">
                              最近更新
                          </div>
                          <div class="section-content">
                           <ul class="tag-list">
                               <li>
                                   <span>
                                       2015.12.22 | 点评了商品
                                   </span>
                                   <a>
                                       黑法师 teapigs 茶猪猪 Rooibos Caramel 路易博士奶油焦糖茶
                                   </a>
                               </li>
                               <li>
                                   <span>
                                       2015.12.22 | 喜爱了商品
                                   </span>
                                   <a>
                                      终于等到万圣节,黑法师糖果好派起来了!
                                   </a>
                               </li>
                               <li>
                                   <span>
                                       2015.12.22 | 发布了商品
                                   </span>
                                   <a>
                                       黑法师 teapigs 茶猪猪 Rooibos Caramel 路易博士奶油焦糖茶
                                   </a>
                               </li>
{#                               <li>#}
{#                                   <span>#}
{#                                       2015.12.22 | 点评了图文#}
{#                                   </span>#}
{#                                   <a>#}
{#                                       这周有个黑色星期五#}
{#                                   </a>#}
{#                               </li>#}
{#                               <li>#}
{#                                   <span>#}
{#                                       2015.12.22 | 点评了图文#}
{#                                   </span>#}
{#                                   <a>#}
{#                                       这周有个黑色星期五#}
{#                                   </a>#}
{#                               </li>#}
{#                               <li>#}
{#                                   <span>#}
{#                                       2015.12.22 | 点评了商品#}
{#                                   </span>#}
{#                                   <a>#}
{#                                       终于等到万圣节,黑法师糖果好派起来了!#}
{#                                   </a>#}
{#                               </li>#}
{#                               <li>#}
{#                                   <span>#}
{#                                       2015.12.22 | 点评了商品#}
{#                                   </span>#}
{#                                   <a>#}
{#                                       黑法师 teapigs 茶猪猪 Rooibos Caramel 路易博士奶油焦糖茶#}
{#                                   </a>#}
{#                               </li>#}
{#                               <li>#}
{#                                   <span>#}
{#                                       2015.12.22 | 关注了#}
{#                                   </span>#}
{#                                   <a>#}
{#                                       GUOKU#}
{#                                   </a>#}
{#                               </li>#}
{#                               <li>#}
{#                                   <span>#}
{#                                       2015.12.22 | 点评了图文#}
{#                                   </span>#}
{#                                   <a>#}
{#                                       这周有个黑色星期五#}
{#                                   </a>#}
{#                               </li>#}
{#                               <li>#}
{#                                   <span>#}
{#                                       2015.12.22 | 点评了商品#}
{#                                   </span>#}
{#                                   <a>#}
{#                                       终于等到万圣节,黑法师糖果好派起来了!#}
{#                                   </a>#}
{#                               </li>#}
{#                               <li>#}
{#                                   <span>#}
{#                                       2015.12.22 | 点评了商品#}
{#                                   </span>#}
{#                                   <a>#}
{#                                       黑法师 teapigs 茶猪猪 Rooibos Caramel 路易博士奶油焦糖茶#}
{#                                   </a>#}
{#                               </li>#}
{#                               <li>#}
{#                                   <span>#}
{#                                       2015.12.22 | 关注了#}
{#                                   </span>#}
{#                                   <a>#}
{#                                       GUOKU#}
{#                                   </a>#}
{#                               </li>#}
                           </ul>
                         </div>
                       </li>
                    </ul>
            </div>

                <div class="user-article-cell user-latest-article-wrapper col-xs-12 col-sm-8 col-md-8 col-lg-8">
                  <div class="user-article-panel">
                      <a>
                        <div class="hover-light user-article-img" style="background-image: url({% static 'images/year-seller/delicacy.jpg' %})">
                        </div>
                    </a>

                      <div class="user-latest-article-intro-wrapper">
                        <div class="rect-decoration">
                            NEW
                        </div>

                         <div class="user-latest-article-title-wrapper">
                             <div class="user-info-section-title">
                                 最新图文
                             </div>
                             <a class="user-latest-article-title">
                                 黑法师 × KREUZZZ 联合出品，Artist 系列马卡龙上架最新图文1
                             </a>
                         </div>

                    </div>
                  </div>
            </div>
            </div>

            <div class="row user-article-wrapper">
                <div class="user-article-item-wrapper user-article-cell col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="user-article-panel">
                    <a>
                        <div class="hover-light user-article-img" style="background-image: url({% static 'images/year-seller/delicacy.jpg' %})">
                        </div>

                    </a>

                    <div class="user-article-title-wrapper">
                        <a>果库专访 | 黑法师：欢迎来到黑暗世界</a>
                    </div>

                    <div class="user-article-intro-wrapper">
                        <p class="user-article-intro">
                            这里黑暗而不阴恹。这里有最黑的牛轧糖、最黑的马卡龙、
                            最黑的西饼，以及最酷的创意。黑法师背后的黑法师是 zhuyi
                            和 dewpearl 夫妇，从品牌创意到完成整...
                        </p>

                    </div>

                    <div class="user-article-info-wrapper">
                        <span class="user-article-time">
                            <i class="fa fa-clock-o"></i>刚刚发布
                        </span>
                    </div>

                </div>
            </div>
                <div class="user-article-item-wrapper user-article-cell col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="user-article-panel">
                    <a>
                        <div class="hover-light user-article-img" style="background-image: url({% static 'images/year-seller/delicacy.jpg' %})">
                        </div>

                    </a>

                    <div class="user-article-title-wrapper">
                        <a>这周有个黑色星期五</a>
                    </div>

                    <div class="user-article-intro-wrapper">
                        <p class="user-article-intro">
                            对于中国喜欢收藏的 sneakerhead 来说，平时和同好们的交流大都集中在网上，
                            很难有机会能够面对面的交流。但在国外，一年一度的 Sneaker Con 可说是鞋
                            很多年后，他和JJ为了怀念少年时用的超级8摄影机，拍摄...
                        </p>

                    </div>

                    <div class="user-article-info-wrapper">
                        <span class="user-article-time">
                            <i class="fa fa-clock-o"></i>刚刚发布
                        </span>
                    </div>

                </div>
            </div>
                <div class="user-article-item-wrapper user-article-cell col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="user-article-panel">
                    <a>
                        <div class="hover-light user-article-img" style="background-image: url({% static 'images/year-seller/delicacy.jpg' %})">
                        </div>

                    </a>

                    <div class="user-article-title-wrapper">
                        <a>终于等到万圣节,黑法师糖果好派起来了!</a>
                    </div>

                    <div class="user-article-intro-wrapper">
                        <p class="user-article-intro">
                            斯皮尔伯格的电影人生始于8岁时，父亲送给他一部8毫米布朗尼摄影机作为生日礼物。
                            这种眷恋体现在很多年后，他和JJ为了怀念少年时用的超级8摄影机，拍摄...
                        </p>

                    </div>

                    <div class="user-article-info-wrapper">
                        <span class="user-article-time">
                            <i class="fa fa-clock-o"></i>刚刚发布
                        </span>
                    </div>

                </div>
            </div>
                <div class="user-article-item-wrapper user-article-cell col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="user-article-panel">
                    <a>
                        <div class="hover-light user-article-img" style="background-image: url({% static 'images/year-seller/delicacy.jpg' %})">
                        </div>

                    </a>

                    <div class="user-article-title-wrapper">
                        <a>果库专访 | 黑法师：欢迎来到黑暗世界</a>
                    </div>

                    <div class="user-article-intro-wrapper">
                        <p class="user-article-intro">
                            这里黑暗而不阴恹。这里有最黑的牛轧糖、最黑的马卡龙、
                            最黑的西饼，以及最酷的创意。黑法师背后的黑法师是 zhuyi
                            和 dewpearl 夫妇，从品牌创意到完成整...
                        </p>

                    </div>

                    <div class="user-article-info-wrapper">
                        <span class="user-article-time">
                            <i class="fa fa-clock-o"></i>刚刚发布
                        </span>
                    </div>

                </div>
            </div>
                <div class="user-article-item-wrapper user-article-cell col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="user-article-panel">
                    <a>
                        <div class="hover-light user-article-img" style="background-image: url({% static 'images/year-seller/delicacy.jpg' %})">
                        </div>

                    </a>

                    <div class="user-article-title-wrapper">
                        <a>这周有个黑色星期五</a>
                    </div>

                    <div class="user-article-intro-wrapper">
                        <p class="user-article-intro">
                            对于中国喜欢收藏的 sneakerhead 来说，平时和同好们的交流大都集中在网上，
                            很难有机会能够面对面的交流。但在国外，一年一度的 Sneaker Con 可说是鞋
                            很多年后，他和JJ为了怀念少年时用的超级8摄影机，拍摄...
                        </p>

                    </div>

                    <div class="user-article-info-wrapper">
                        <span class="user-article-time">
                            <i class="fa fa-clock-o"></i>刚刚发布
                        </span>
                    </div>

                </div>
            </div>
                <div class="user-article-item-wrapper user-article-cell col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="user-article-panel">
                    <a>
                        <div class="hover-light user-article-img" style="background-image: url({% static 'images/year-seller/delicacy.jpg' %})">
                        </div>

                    </a>

                    <div class="user-article-title-wrapper">
                        <a>终于等到万圣节,黑法师糖果好派起来了!</a>
                    </div>

                    <div class="user-article-intro-wrapper">
                        <p class="user-article-intro">
                            斯皮尔伯格的电影人生始于8岁时，父亲送给他一部8毫米布朗尼摄影机作为生日礼物。
                            这种眷恋体现在很多年后，他和JJ为了怀念少年时用的超级8摄影机，拍摄...
                        </p>

                    </div>

                    <div class="user-article-info-wrapper">
                        <span class="user-article-time">
                            <i class="fa fa-clock-o"></i>刚刚发布
                        </span>
                    </div>

                </div>
            </div>

            </div>

            <div class="row content-wrapper" id="user-main-content">
              <div class="content-left col-xs-12 user-article-cell">
                <div class="container-fluid content-panel" id="user-like-panel">
                        <div class="row panel-header">
                            <div class="panel-name">喜爱商品</div>
                            <div class="more-link">
                                <a>
                                   更多
                                </a>
                            </div>
                        </div>
                        <div class="row panel-content-wrapper ">
                             <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 entity-cell cell">
                                   <div class="img-box">
                                       <a>
                                           <img class="img-responsive" src="http://gd2.alicdn.com/bao/uploaded/i2/17128028521422598/T11Ym7FfNbXXXXXXXX_!!0-item_pic.jpg" />
                                       </a>
                                   </div>
                                </div>
                             <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 entity-cell cell">
                                   <div class="img-box">
                                       <a>
                                           <img class="img-responsive" src="http://gd2.alicdn.com/bao/uploaded/i2/17128028521422598/T11Ym7FfNbXXXXXXXX_!!0-item_pic.jpg" />
                                       </a>
                                   </div>
                                </div>
                             <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 entity-cell cell">
                                   <div class="img-box">
                                       <a>
                                           <img class="img-responsive" src="http://gd2.alicdn.com/bao/uploaded/i2/17128028521422598/T11Ym7FfNbXXXXXXXX_!!0-item_pic.jpg" />
                                       </a>
                                   </div>
                                </div>
                             <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 entity-cell cell">
                                   <div class="img-box">
                                       <a>
                                           <img class="img-responsive" src="http://gd2.alicdn.com/bao/uploaded/i2/17128028521422598/T11Ym7FfNbXXXXXXXX_!!0-item_pic.jpg" />
                                       </a>
                                   </div>
                                </div>
                             <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 entity-cell cell">
                                   <div class="img-box">
                                       <a>
                                           <img class="img-responsive" src="http://gd2.alicdn.com/bao/uploaded/i2/17128028521422598/T11Ym7FfNbXXXXXXXX_!!0-item_pic.jpg" />
                                       </a>
                                   </div>
                                </div>
                             <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 entity-cell cell">
                                   <div class="img-box">
                                       <a>
                                           <img class="img-responsive" src="http://gd2.alicdn.com/bao/uploaded/i2/17128028521422598/T11Ym7FfNbXXXXXXXX_!!0-item_pic.jpg" />
                                       </a>
                                   </div>
                                </div>
                        </div>
                </div>
            </div>
            </div>

{# end #}

        <div class="row content-wrapper" id="user-main-content">
            <div class="content-right col-xs-12 hidden-sm hidden-md hidden-lg" id="detail_content_right" >
                {% include "web/user/partial/user_index_sidebar.html" %}
            </div>
            <div class="content-left col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="container-fluid content-panel" id="user-like-panel">
                        <div class="row panel-header">
                            <div class="panel-name">{{ pronoun }}{% trans 'Like' %}</div>
                            <div class="more-link">
                                {% if recent_likes %}
                                <a href="{% url 'web_user_entity_like' current_user.pk %}">
                                    {% trans 'All' %}&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if recent_likes %}
                        <div class="row panel-row" >

                            <div class="col-xs-12 category-list-wrapper">
                                    <ul class="category-list">
                                       {% for top_category in user_like_top_categories  %}
                                           <li class="category-filter-item {% if current_category == top_category %}current{% endif %}">
                                            <a href="{% url 'web_user_entity_like_by_category' current_user.pk top_category.pk %}">
                                               {{ top_category.title_cn }}
                                            </a>
                                           </li>
                                       {% endfor %}
                                    </ul>
                            </div>
                       </div>
                        {% endif %}
                        <div class="row panel-content-wrapper ">
                                {% for elike in recent_likes %}
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 entity-cell cell">
                                   <div class="img-box">
                                       <a href="{{ elike.entity.absolute_url }}">
                                           <img class="img-responsive" title="{{ elike.entity.title }}" src="{{ elike.entity.chief_image|resize:'240'}}" />
                                       </a>
                                   </div>
                                </div>
                                {% empty %}
                                    <div class="empty-panel-content">
                                        <span>暂无喜爱</span>
                                    </div>
                                {% endfor %}
                        </div>
                </div>
                <div class="container-fluid content-panel" id="user-note-panel">
                        <div class="row panel-header">
                            <div class="panel-name">{{ pronoun }}{% trans 'Note' %}</div>
                            <div class="more-link">
                                {% if recent_notes %}
                                <a href="{% url 'web_user_post_note' current_user.pk %}">
                                    {% trans 'All' %}&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row panel-content-wrapper ">
                                {% for noteObj in recent_notes %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 note-cell cell">
                                   <div class="note-wrapper">
                                       <div class="note-content-wrapper">
                                           <div class="note-text">
                                               {{ noteObj.note|truncatechars:'46' }}
                                           </div>
                                           <div class="note-info">
                                               {{ noteObj.updated_time|date:"Y-m-d"|cut:" " }}
                                           </div>
                                       </div>
                                       <div class="note-entity-img-wrapper">
                                           <div class="img-box">
                                               <a href="{{ noteObj.entity.absolute_url }}">
                                                   <img class="img-responsive" src="{{ noteObj.entity.chief_image|resize:'128'}}" />
                                               </a>
                                           </div>
                                       </div>
                                   </div>
                                </div>
                                 {% empty %}
                                    <div class="empty-panel-content">
                                        <span>暂无点评</span>
                                    </div>
                                {% endfor %}
                        </div>

                </div>
                {% if articles %}
                <div class="container-fluid content-panel" id="user-article-panel">
                        <div class="row panel-header">
                            <div class="panel-name">{{ pronoun }}{% trans 'Articles' %}</div>
                            <div class="more-link">
                                {% if articles %}
                                    <a href="{% url 'web_user_article_selection' current_user.pk %}">
                                    {% trans 'All' %}&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row panel-content-wrapper ">
                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 article-cell cell">
                                   {% for article in articles %}
                                    {% with article as r_article %}
                                            {% include 'web/user/partial/user_article_item.html' %}
                                    {% endwith  %}
                                     {% empty %}
                                    <div class="empty-panel-content">
                                        <span>暂无文章</span>
                                    </div>
                                  {% endfor %}
                          </div>
                        </div>
                </div>
                {% endif %}
            </div>
            <div class="content-right hidden-xs col-sm-4 col-md-4 col-lg-4" id="detail_content_right" >
                 {% include "web/user/partial/user_index_sidebar.html" %}
            </div>
        </div>
{% endblock %}