{% extends 'web/user/user_base_new.html' %}
{% load i18n %}
{% load common guoku %}
{% load static %}

{% block meta-og %}
    <meta property="og:title" content="{{ current_user.profile.nick }}果库页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="{{ current_user.profile.nick }}果库的个人页，展现个人的兴趣爱好、消费倾向及擅长领域，包括个人在果库喜爱过、点评过的商品、为商品贴过的标签、撰写过、赞过的图文等。">
{% endblock %}
{% block meta-common %}
    <meta name="title"  content="{{ current_user.profile.nick }} | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ current_user.profile.nick }},个人主页,喜爱,点评,标签,图文,消费经验,擅长领域,精英消费指南,果库">
    <meta name="description" content="{{ current_user.profile.nick }},{{ current_user.profile.bio|truncatechars:'50' }},喜爱过的商品、点评过的商品、撰写过的图文、为商品贴过的标签，做理想消费精英，提理想生活主张，个人兴趣爱好、消费倾向及擅长领域，做消费的自己。">
{% endblock %}

{% block title %}{{ current_user.profile.nick }} | 精英消费指南 | 果库{% endblock %}
{% block user_content_detail %}
    <div class="row content-wrapper" id="user-main-content">
        <div class="content-right col-xs-12 hidden-sm hidden-md hidden-lg" id="detail_content_right" >
            {% include "web/user/partial/user_detail_sidebar.html" %}
        </div>
        <div class="content-left col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="container-fluid content-panel" >
                <div class="row panel-header">
                    <div class="panel-name">关注</div>
                    {#                            <div class="more-link">#}
                    {#                                <a href="">#}
                    {#                                查看全部#}
                    {#                                <i class="fa fa-angle-right"></i>#}
                    {#                                <i class="fa fa-angle-right"></i>#}
                    {#                                </a>#}
                    {#                            </div>#}
                </div>
                <div class="row panel-content-wrapper social-list ">

                    {% for f in current_user_followings  %}

                        <div class="social-cell col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="clearfix user-item" >
                                <div class="media clearfix">
                                    <a class="pull-left user-icon" href="{% url 'web_user_index' f.followee_id %}" target="_blank">
                                        <img class="media-object img-circle" src="{{ f.followee.profile.avatar_url|resize:'180' }}">
                                    </a>
                                    {#                    {{ reqeust.user }}#}


                                    <div class="media-body user-info-wrapper clearfix" style="padding-top:5px;">
                                        <h4 class="media-heading user-name">
                                            <a href="{{ f.followee.absolute_url }}">
                                            {{ f.followee.profile.nickname }}
                                            </a>
                                        </h4>
                                        <p class="user-social-status">
                                            {% trans 'Following' %}&nbsp;<span>{{ f.followee.following_count }}</span>
                                            &nbsp;
                                            {% trans 'Fans' %}&nbsp;<span>{{ f.followee.fans_count }}</span>

                                        </p>

                                        {% if f.followee_id == request.user.id %}
                                            <a href="#" class="btn btn-cancel disabled">&nbsp; <b>{% trans 'Myself' %}</b></a>
                                        {% elif f.followee_id in request.user.concren %}
                                            <a data-status="1" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow is-fan guoku-button btn-cancel "><i class="fa fa-exchange fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
                                        {% elif f.followee_id in request.user.following_list %}
                                            {#                    {% elif f.followee_id in request.user.following_list  %}#}
                                            <a data-status="1" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow guoku-button btn-cancel "><i class="fa fa-check fa-lg"></i>&nbsp; {% trans 'Unfollow' %}</a>
                                        {% elif f.followee_id in request.user.fans_list %}
                                            <a data-status="0" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow guoku-button button-blue "><i class="fa fa-plus fa-lg"></i>&nbsp; {% trans 'Follow' %}</a>
                                        {% else %}
                                            <a data-status="0" data-user-id="{{ f.followee_id }}" href="javascript:;" class="follow guoku-button button-blue "><i class="fa fa-plus fa-lg"></i>&nbsp; {% trans 'Follow' %}</a>
                                        {% endif %}

                                    </div>
                                    <div class="entity-list clearfix">
                                        {% for entity_like in f.followee.recent_likes.all %}
                                            <div class="entity-item" style="background-image:url('{{  entity_like.entity.chief_image|resize:'128' }}')">
                                              <a href="{{ entity_like.entity.absolute_url }}" target="_blank">
                                              <img class="transparent-holder" src="{% static 'images/trans.png' %}" alt="{{ entity_like.entity.title }}"  title="{{ entity_like.entity.title }}" >
                                              </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pager-wrapper">
                {% include 'web/user/partial/pager.html'  %}
            </div>
        </div>
        <div class="content-right hidden-xs col-sm-4 col-md-4 col-lg-4" id="detail_content_right" >
            {% include "web/user/partial/user_detail_sidebar.html" %}
        </div>
    </div>
{% endblock %}