{% extends 'web/user/user_base_new.html' %}
{% load i18n %}
{% load guoku %}

{% block meta-og %}
    <meta property="og:title" content="{{ user.profile.nick }}果库页 | 精英消费指南 | 理想生活主张" >
    <meta property="og:url"   content="{{ request.build_absolute_uri }}" >
    <meta property="og:description" content="{{ user.profile.nick }}果库的个人页，展现个人的兴趣爱好、消费倾向及擅长领域，包括个人在果库喜爱过、点评过的商品、为商品贴过的标签、撰写过、赞过的图文等。">
{% endblock %}

{% block meta-common %}
    <meta name="title"  content="{{ user.profile.nick }} | 精英消费指南 | 果库">
    <meta name="keywords" content="{{ user.profile.nick }},个人主页,喜爱,点评,标签,图文,消费经验,擅长领域,精英消费指南,果库">
    <meta name="description" content="{{ user.profile.nick }},{{ user.profile.bio|truncatechars:'50' }},喜爱过的商品、点评过的商品、撰写过的图文、为商品贴过的标签，做理想消费精英，提理想生活主张，个人兴趣爱好、消费倾向及擅长领域，做消费的自己。">
{% endblock %}


{% block title %}{{ user.profile.nick }} | 精英消费指南 | 果库{% endblock %}

{% block user_content_detail %}

        <div class="row content-wrapper">
            <div class="content-left col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="user-like-panel content-panel">
                    <
                </div>
                <div class="user-note-panel content-panel"></div>
                <div class="user-article-panel content-panel"></div>
            </div>
            <div class="content-right hidden-xs hidden-sm col-md-4 col-lg-3"></div>

        </div>

        <div>{{ current_user.profile.nick }}</div>

        <div>
            <ul>
                {% for elike in recent_likes %}
                    <li>{{ elike.entity.title  }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                {% for noteObj in recent_notes %}
                    <li>{{ noteObj.note }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                {% for article in articles %}
                    <li>{{  article.title }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                {% for tag in tags %}
                    <li>{{ tag.tag }}</li>
                {% endfor %}
            </ul>
        </div>

        <div></div>

{% endblock %}