{% extends 'management/management_base.html' %}
{% load i18n %}


{% block content %}
    <h1 class="page-header">{% trans 'wechat robots' %}</h1>

    <div class="row">
        <ul class="nav nav-pills" role="tablist">
            <li><a class="btn btn-primary" href="{% url 'management_wechat_msg_create' %}">{% trans 'add' %}</a></li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'accept' %}</th>
                    <th>{% trans 'type' %}</th>
                    <th>{% trans 'content' %}</th>
{#                    <th>{% trans 'gender' %}</th>#}
{#                    <th>{% trans 'is_admin' %}</th>#}
                    <th>{% trans 'operation' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.pk }}</td>
{#                        <td><img src="{{ user.profile.avatar_url }}" width="50" height="50"></td>#}
{#                        <td>{{ user.email }}</td>#}
{#                        <td>{{ user.profile.nickname }}</td>#}
{#                        <td>{{ user.profile.get_gender_display }}</td>#}
{#                        <td>{{ user.is_staff|yesno }}</td>#}
{#                        <td>#}
{#                            <a class="btn btn-primary" href="#">{% trans 'post message' %}</a>#}
{#                            <a class="btn btn-default" href="{% url 'management_user_edit' user.pk %}" target="_blank">{% trans 'edit' %}</a>#}
{#                        </td>#}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}