{% extends 'management/management_base.html' %}
{% load i18n %}


{% block content %}
    <section class="content-header">
        <h1>
            {% trans 'wechat' %}
            <small>{% trans 'robots' %}</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{% trans 'home' %}</a></li>
{#            <li><a href="#">Tables</a></li>#}
            <li class="active">{% trans 'wechat robots' %}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <a class="btn btn-primary" href="{% url 'management_wechat_reply_create' %}">{% trans 'add' %}</a>
                    </div>
                    <div class="box-body">
{#                    {% include 'management/users/table.html' with users=users %}#}
                        <div class="box-body table-responsive">
                            <table class="table table-bordered table-hover" id="wechat">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{% trans 'accept' %}</th>
                                        <th>{% trans 'type' %}</th>
                                        <th>{% trans 'contents' %}</th>
                                        <th>{% trans 'created datetime' %}</th>
                                        <th>{% trans 'operation' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in object_list %}
                                        <tr>
                                            <td>{{ row.pk }}</td>
                                            <td>{{ row.accept }}</td>
                                            <td>{{ row.get_type_display }}</td>
                                            <td>{{ row.content }}</td>
                                            <td>{{ row.created_datetime|date:'Y-m-d H:i:s'  }}</td>
                                            <td><a class="btn btn-primary" href="{% url 'management_wechat_reply_edit' row.pk %}">{% trans 'edit' %}</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
